In [1]:
import pandas as pd

import datetime
from datetime import date

In [2]:
df = pd.read_csv('data/data_fmt_readme.csv')
df.head()

,number,abbreviation,item_eng,item_kor,explanation,etc
0,1,date,date,거래일자,NaN,NaN
1,2,ixic,IXIC,나스닥지수,전일 지수,NaN
2,3,ixic_cr,IXIC_change_rate,나스닥지수_변동률,전일 변동률,1주 변동률 추이 검토
3,4,ixic_f,IXIC_future,나스닥선물지수,NaN,NaN
4,5,ixic_f_cr,IXIC_future_change_rate,나스닥선물지수_변동률,NaN,NaN

In [3]:
name = 'ixic_f'
print(df[df['abbreviation'].isin([name])].index.values)

[3]

In [4]:
def get_index(df, abbr):
    if df['abbreviation'].isin([abbr]).any():
        ix = df[df['abbreviation'].isin([abbr])].index[0]
    else :
        ix = None
    return ix

In [5]:
def get_item_name(df, ix):
    item_eng = df.loc[ix, "item_eng"]
    item_kor = df.loc[ix, "item_kor"]
    print(item_eng, item_kor)

In [6]:
get_item_name(df, 0)

date 거래일자

In [ ]:
ix = get_index(df, 'ixic_f')
if not ix :
    print('There is no name')
else:
    print(ix)

In [7]:
df[df['item_kor'].str.contains('10')]

,number,abbreviation,item_eng,item_kor,explanation,etc
20,21,bond_usa_10,10_YEAR_BOND_YIELD_usa,미국10년만기국채수익률,NaN,NaN
23,24,bond_kor_10,10_YEAR_BOND_YIELD_korea,미국10년만기국채수익률,NaN,NaN