## combine change ratios for company data
#### investors, historical(매일 거래량 등) and 분류항목 합치기

In [3]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.4.1.post1-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\kange\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.12.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.4 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.4 kB ? eta -:--:--
     ---------------------------------------- 60.4/60.4 kB 1.1 MB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.3.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.4.1.post1-cp312-cp312-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   -- ------------------------------------- 0.8/10.6 MB 16.3 MB/s eta 0:00:01
   ------- -------------------------------- 1.9/10.6 MB 20.2 MB/s eta 0:00:01
   ------------ --------------------------- 3.3/10.6 MB 23.2 MB/s eta 0:00:01
   ----------------- ---------------------- 4.6/10.6 MB 24.3 MB/s eta 0:00:01
   ------------------- -------------------- 5.3/10.6 MB 22.4 MB/s eta 0:00:01
   ------------------------ --------------- 6.6/10.6 MB 23.4 MB/s eta 0:00:01
   ----------------------------- ---------- 7.9/10.6 MB 24.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.1/10.6 MB 25.2 MB/s eta 0:00:01
   ------------------------------------- -- 9.9/10.6 MB 24.4 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 23.3 MB/s eta 0:00:00
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   --------------------------------------- 302.2/302.2 kB 18.2 MB/s eta 0:00:00
Downloading scipy-1.12.0-cp312-cp312-win_amd64.whl (45.8 MB)
   ---------------------------------------- 0.0/45.8 MB ? eta -:--:--
   - -------------------------------------- 1.2/45.8 MB 38.6 MB/s eta 0:00:02
   -- ------------------------------------- 2.6/45.8 MB 33.1 MB/s eta 0:00:02
   --- ------------------------------------ 3.9/45.8 MB 31.0 MB/s eta 0:00:02
   ---- ----------------------------------- 5.1/45.8 MB 29.8 MB/s eta 0:00:02
   ----- ---------------------------------- 6.3/45.8 MB 28.7 MB/s eta 0:00:02
   ------ --------------------------------- 7.6/45.8 MB 28.6 MB/s eta 0:00:02
   ------- -------------------------------- 9.0/45.8 MB 28.7 MB/s eta 0:00:02
   -------- ------------------------------- 10.2/45.8 MB 28.3 MB/s eta 0:00:02
   ---------- ----------------------------- 11.7/45.8 MB 28.5 MB/s eta 0:00:02
   ----------- ---------------------------- 13.0/45.8 MB 28.4 MB/s eta 0:00:02
   ------------ --------------------------- 14.4/45.8 MB 28.4 MB/s eta 0:00:02
   ------------- -------------------------- 15.9/45.8 MB 29.7 MB/s eta 0:00:02
   --------------- ------------------------ 17.4/45.8 MB 31.2 MB/s eta 0:00:01
   ---------------- ----------------------- 18.7/45.8 MB 31.2 MB/s eta 0:00:01
   ----------------- ---------------------- 20.2/45.8 MB 31.1 MB/s eta 0:00:01
   ------------------ --------------------- 21.7/45.8 MB 31.2 MB/s eta 0:00:01
   -------------------- ------------------- 23.0/45.8 MB 31.2 MB/s eta 0:00:01
   --------------------- ------------------ 24.5/45.8 MB 31.2 MB/s eta 0:00:01
   ---------------------- ----------------- 25.7/45.8 MB 29.7 MB/s eta 0:00:01
   ----------------------- ---------------- 26.8/45.8 MB 29.7 MB/s eta 0:00:01
   ------------------------ --------------- 28.1/45.8 MB 29.7 MB/s eta 0:00:01
   ------------------------- -------------- 29.4/45.8 MB 28.4 MB/s eta 0:00:01
   -------------------------- ------------- 30.7/45.8 MB 28.4 MB/s eta 0:00:01
   --------------------------- ------------ 31.9/45.8 MB 27.3 MB/s eta 0:00:01
   ---------------------------- ----------- 33.2/45.8 MB 27.3 MB/s eta 0:00:01
   ------------------------------ --------- 34.5/45.8 MB 27.3 MB/s eta 0:00:01
   ------------------------------- -------- 35.7/45.8 MB 28.5 MB/s eta 0:00:01
   -------------------------------- ------- 36.8/45.8 MB 28.5 MB/s eta 0:00:01
   --------------------------------- ------ 37.9/45.8 MB 27.3 MB/s eta 0:00:01
   ---------------------------------- ----- 39.3/45.8 MB 27.3 MB/s eta 0:00:01
   ----------------------------------- ---- 40.6/45.8 MB 27.3 MB/s eta 0:00:01
   ------------------------------------ --- 42.1/45.8 MB 28.4 MB/s eta 0:00:01
   ------------------------------------- -- 43.3/45.8 MB 27.3 MB/s eta 0:00:01
   ---------------------------------------  44.7/45.8 MB 27.3 MB/s eta 0:00:01
   ---------------------------------------  45.8/45.8 MB 28.4 MB/s eta 0:00:01
   ---------------------------------------  45.8/45.8 MB 28.4 MB/s eta 0:00:01
   ---------------------------------------- 45.8/45.8 MB 22.5 MB/s eta 0:00:00
Downloading threadpoolctl-3.3.0-py3-none-any.whl (17 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.4.1.post1 scipy-1.12.0 threadpoolctl-3.3.0

In [1]:
import datetime
import time
from datetime import date
import os
import sys

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [2]:
module_path = os.path.abspath(os.path.join('.')) 
sys.path.append(module_path+"\\data\\constant")

from constants import COMPANY_CODE

In [3]:
global previous_days, opening_days_filter

In [19]:
# 거래일과 거래일 바로 이전일의 변화율을 계산함.
def find_ratio(df_o, date_current):
    df_o_trans = df_o.transpose()
    df_o_trans.columns = ['before', 'after']

    # df_o_trans['before'][df_o_trans['before'] == 0] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
    print("OOO", df_o_trans.info())
    print("PPP", df_o_trans)
    df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

    df_o_trans[date_current] = (df_o_trans['after'] - df_o_trans['before']) / df_o_trans['before']
    df_o_trans[date_current] = df_o_trans[date_current].apply(lambda x: float(f'{x:.5f}')) # 5 소수점까지
    df_o_trans[date_current] = df_o_trans[date_current].apply(lambda x: np.inf if x > 1e+10 else -np.inf if x < -1e+10 else x)
    # -inf, +inf로 대체함.
    return df_o_trans.transpose()

In [5]:
# 변화율(historical, investors), weekday를 계산하고 합하여 return함
def combine_data(opening_days_filter, df_inv, df_his):
    # df_inv : df_investor, df_his: df_historical
    investor_rate = pd.DataFrame()
    historical_rate = pd.DataFrame()
    date_weekday = pd.DataFrame()
    
    skip_num = 4 # -3 거래일전(-1 & -2 비교와 -1 & -3 비료)까지 계산하기 위하여 계산 시작은 4일째부터 시작

    for date_current in opening_days_filter[skip_num:]:
            
        date_previous_c = previous_days[0][date_current] # 이전 거래일(-1) 찾기

        # 거래 전날 요일 구하기 -------------------
        date_temp = {'date': date_current, 'weekday' : date_previous_c.weekday()}
        df_temp = pd.DataFrame(date_temp, index=[0]).set_index('date')
        date_weekday = pd.concat([date_weekday, df_temp], axis=0)
        # -----------------------------------------------
        
        # 거래 전날, 전전날을 확인하고 변화정도 계산하기(find_ratio)
        date_previous_1 = previous_days[0][date_previous_c]
        df_inv_comp_1 = df_inv.loc[[date_previous_1, date_previous_c]]
        df_his_comp_1 = df_his.loc[[date_previous_1, date_previous_c]]
    
    
        # 거래 전전일(-2일) 날짜 구하기
        date_previous_2 = previous_days[0][date_previous_1]
        # 거래 전전날(-2일째) 요일 구하기  -- 2일전 요일은 의미 없을 것 같아서 추가하지 않음.
#         date_temp_2 = {'date': date_current, 'weekday' : date_previous_2.weekday()}
#         df_temp_2 = pd.DataFrame(date_temp_2, index=[0]).set_index('date')
#         date_weekday = pd.concat([date_weekday, df_temp_2], axis=0)
        # 거래 전날(-1일), 전전날(-3일)을 확인하고 변화정도 계산하기(find_ratio)
        df_inv_comp_2 = df_inv.loc[[date_previous_2, date_previous_c]]
        df_his_comp_2 = df_his.loc[[date_previous_2, date_previous_c]]
            
        # 전날 -전전날 ratio, 전날 - 전전전날 ratio, column확대
        df_inv_concat_2 = pd.concat([find_ratio(df_inv_comp_1, date_current).iloc[[-1]],
                                 find_ratio(df_inv_comp_2, date_current).iloc[[-1]]], axis=1)
        df_his_concat_2 = pd.concat([find_ratio(df_his_comp_1, date_current).iloc[[-1]],
                                 find_ratio(df_his_comp_2, date_current).iloc[[-1]]], axis=1)
        
        investor_rate = pd.concat([investor_rate,  df_inv_concat_2], axis=0)
        historical_rate = pd.concat([historical_rate, df_his_concat_2], axis=0)

    total = pd.concat([investor_rate, historical_rate, date_weekday], axis=1)

    return total

In [6]:
# 개장일(date)과 이전 개장일(date_p1), 이전이전 개장일(date_p2)을 dict로 구성
def get_previous_days():
    base_data_directory = './data/base_data/stock_market_holydays/'
    opening_days_kor = pd.read_pickle(base_data_directory+'opening_days_kor.pkl') # 한국 개장일 데이터 
    df = pd.DataFrame(opening_days_kor)
    df['date_1'] = df['date'].shift(1)
    df['date_2'] = df['date'].shift(2)
    df['date_3'] = df['date'].shift(3)
    c_p1_dict = df.set_index('date').to_dict()['date_1'] # date로 date_p1 찾기
    c_p2_dict = df.set_index('date').to_dict()['date_2'] # date로 date_p2 찾기
    p1_c_dict = df.set_index('date_1').to_dict()['date'] # date_p1로 date 찾기
    p2_c_dict = df.set_index('date_2').to_dict()['date'] # date_p2로 date 찾기
    return c_p1_dict, c_p2_dict, p1_c_dict, p2_c_dict

In [7]:
code = COMPANY_CODE

# code = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'],
#                  '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}
# code = {'005930': ['삼성전자', 'sec'], '000660': ['SK하이닉스', 'skhynix']}
# code = {'302440': ['SK바이오사이언스', 'skbio']}

In [8]:
# hist_column = [ 'date', 'open', 'high', 'low', 'close', 'close_cr', 'vol']
hist_column_m = [ 'date', 'open', 'high', 'low', 'close', 'vol'] # close_cr 제외하고 사용. divided by zero 회피용

In [9]:
# get stock market opening days
previous_days = get_previous_days()
opening_days_kor = list(previous_days[0].keys())

In [10]:
def find_start_date(df_investors_temp):
    start_date = datetime.date(2022, 1, 1) # 2022년 01월 01일 자료 있음. 추후 이전날짜 추가시 수정 필요
    for i in range(0, 360):
        sd_com = df_investors_temp['retail'].iloc[i]
        if sd_com != 0:
            start_date_com = df_investors_temp['date'].iloc[i] # 투자자별 자료가 있는 시작 날짜
            break
            
    if start_date <= start_date_com :
        return start_date_com
    else:
        return start_date

In [11]:
def is_opening_day(opening_day, date):
    if date in opening_day:
        return True
    else:
        return False

In [12]:
def get_previous_opening_day(opening_day, date):
    if date in opening_day:
        id = opening_day.index(date)
        return opening_day[id-1]
    else:
        p_date = date
        for _ in opening_day:
            p_date = p_date + datetime.timedelta(days=-1)
            if p_date in opening_day:
                return p_date
    raise("the date is not in the opening day")

In [13]:
# dd = datetime.date(2021,3,10)
# is_opening_day(opening_days_kor, dd)

In [14]:
# get_previous_opening_day(opening_days_kor, dd)

In [15]:
# opening_days_kor

In [20]:
# investor.pkl, historical.pkl. 읽기

directory_for_predict = './data/data_for_ml/predict/'
pkl_directory = './data/company_pkl/'
# base_data_directory = './data/base_data/stock_market_holydays/'
# opening_days_kor = pd.read_pickle(base_data_directory+'opening_days_kor.pkl') # 한국 개장일 데이터 
modification_time_his = pd.read_pickle(pkl_directory + 'modification_time_company_his.pkl')
modification_time_inv = pd.read_pickle(pkl_directory + 'modification_time_company_inv.pkl')

total = len(code)

for i, (key, val) in enumerate(code.items()):
 
    pkl_name= '{}_historical.pkl'.format(val[1])
    df_historical_temp = pd.read_pickle(pkl_directory + pkl_name)
    df_historical_temp = df_historical_temp[hist_column_m]
    
    # ---------historical 데이터 취득 날짜 시간 확인-------   
    dt_m_his = modification_time_his.loc[pkl_name][0] 
    # print("ppp", modification_time_his.loc[pkl_name])
    # print("dmf", dt_m_his)
    hour_his = dt_m_his.hour
    minute_his = dt_m_his.minute
    #-------------------------------------------------------
    
    # close_cr 행을 없앰(변동이 없는 경우가 빌생하여 divided zero error 발생), close_cr은 target column에서 재 계산하여사용
    df_historical_temp['date'] = df_historical_temp['date'].dt.date # change to datetime
    
    pkl_name= '{}_investors.pkl'.format(val[1])
    df_investors_temp = pd.read_pickle(pkl_directory + pkl_name)
    df_investors_temp['date'] = df_investors_temp['date'].dt.date # change to datetime
    
    # ---------investors 데이터 취득 날짜 시간 확인-------   
    dt_m_inv = modification_time_inv.loc[pkl_name][0]
    hour_inv = dt_m_inv.hour
    minute_inv = dt_m_inv.minute
    # ------------------------------------------    
    
    # ******** 시작 일자, 마지막 일자  지정 ***********
#     start_date = datetime.date(2022, 1, 1) # 2022년 01월 01일 자료 있음. 추후 이전날짜 추가시 수정 필요
    start_date = find_start_date(df_investors_temp)
    end_date = df_investors_temp['date'].iloc[-1]  # 투자자별 자료가 있는 마지막 날짜
    if not is_opening_day(opening_days_kor, end_date):
        end_date = get_previous_opening_day(opening_days_kor, end_date)
        
    today = datetime.date.today()
    
    if ((end_date <= today) & (hour_his >= 16) & (hour_inv >= 16)): 
        # 그 이전에 common data를 받아 놓아야 함.
        end_date = opening_days_kor[opening_days_kor.index(end_date)+1] # 예측이 필요한 다가오는 개장일
    else:
        end_date = today
        
    # 실제 개장일로만 진행하기 위하여 date_range_ts를 재설정
    
    date_range_ts = pd.date_range(start=start_date, end=end_date).date #use .date fo convert timestamp to date.
    opening_days_filter = [item for item in date_range_ts if item in opening_days_kor] # 범위내에서 실제 거래일만 추출
    df_base = pd.DataFrame(pd.Series(opening_days_filter, name='date'))

    df_combined_temp = combine_data(opening_days_filter, 
                                             df_investors_temp.set_index('date'), 
                                             df_historical_temp.set_index('date'),
                                             )

    # column nama change according to the newly added columns
    column_name_change = ['retail_1', 'foreigner_1', 'institution_1', 'financial_1', 'invtrust_1', 'pension_1', 
          'privequity_1', 'bank_1', 'insurance_1', 'financeetc_1', 'corporateetc_1', 'foreigneretc_1', 
          'retail_2', 'foreigner_2', 'institution_2', 'financial_2', 'invtrust_2', 'pension_2', 
          'privequity_2', 'bank_2', 'insurance_2', 'financeetc_2', 'corporateetc_2', 'foreigneretc_2', 
          'open_1', 'high_1', 'low_1', 'close_1', 'vol_1', 
          'open_2', 'high_2', 'low_2', 'close_2', 'vol_2', 'weekday' ]
      
    df_combined_temp.columns = column_name_change
    
    df_combined_temp['temp'] = df_combined_temp['close_1'].shift(-1) # 현재날짜 증감을 확인하기 위하여 임시 컬럼 추가
    
    # 마지막 row의 temp는 None이기 때문에 0으로 처리하여 진행 (예측시 사용하지 않아 무관)
    # None을 0으로 변환, None을 남겨두면 무슨문제가 발생하나? 
    #       -> float와 비교가 되지 않아 에러발생
    ctemp = df_combined_temp['temp'].copy() 
    ctemp[-1] = 0
    df_combined_temp['temp'] = ctemp 
    # ------------------------------------

    min_rate = 0.0 # +로 끝난 상황을 알기 위함
    df_combined_temp['cr_00'] = df_combined_temp['temp'].map(lambda x : 1 if x > min_rate else 0)
    min_rate = 0.005 # 수수료등 비용 0.2672% 이상 확인하기 위함, 0.5% 상승 마감
    df_combined_temp['cr_05'] = df_combined_temp['temp'].map(lambda x : 1 if x >= min_rate else 0)
    min_rate = 0.010 # 1.0% 상승 마감
    df_combined_temp['cr_10'] = df_combined_temp['temp'].map(lambda x : 1 if x >= min_rate else 0)
    min_rate = 0.015 # 1.5% 상승 마감
    df_combined_temp['cr_15'] = df_combined_temp['temp'].map(lambda x : 1 if x >= min_rate else 0)
    min_rate = 0.020 # 2.0% 상승 마감
    df_combined_temp['cr_20'] = df_combined_temp['temp'].map(lambda x : 1 if x >= min_rate else 0)
    
    df_combined_temp.drop(columns='temp', inplace=True) # 사용후 삭제
    
    column_selected = column_name_change
    column_selected.extend(['cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20'])  # 아래 class column 이 변경에 따라 수정해야 함
    
    globals()['df_{}_combined'.format(val[1])] = df_combined_temp.copy()
    globals()['df_{}_sel'.format(val[1])] = df_combined_temp[column_selected]
    
    # write company analysis data
    # globals()['df_{}_sel'.format(val[1])].to_pickle(directory_for_predict + 'df_{}_company.pkl'.format(val[1]))
    # globals()['df_{}_sel'.format(val[1])].to_csv(directory_for_predict + 'df_{}_company.csv'.format(val[1]))
    
    print(val[1], f'{i+1}/{total}', end=', ') # 진행상황 확인용

    if i==1:
        break

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\2296567472.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dt_m_his = modification_time_his.loc[pkl_name][0]
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\2296567472.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dt_m_inv = modification_time_inv.loc[pkl_name][0]

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 288.0+ bytes
OOO None
PPP                 before     after
retail        649420.0   -3255.0
foreigner     -45785.0  170804.0
institution  -598004.0 -171751.0
financial    -382375.0 -106154.0
invtrust       -6363.0   13986.0
pension       -61256.0  -25225.0
privequity   -117518.0  -13284.0
bank            -430.0  -23282.0
insurance     -30197.0  -18062.0
financeetc       135.0     271.0
corporateetc   -8063.0    3977.0
foreigneretc    2432.0     225.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail         91959.0   -3255.0
foreigner     112018.0  170804.0
institution  -206327.0 -171751.0
financial    -242045.0 -106154.0
invtrust        7151.0   13986.0
pension         5136.0  -25225.0
privequity     20127.0  -13284.0
bank             858.0  -23282.0
insurance       2197.0  -18062.0
financeetc       249.0     271.0
corporateetc    1909.0    3977.0
foreigneretc     442.0     225.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 120.0+ bytes
OOO None
PPP          before     after
open      78800     76700
high      79000     77600
low       76400     76600
close     77400     76900
vol    25470640  12931954
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open      78800     76700
high      79200     77600
low       78300     76600
close     78700     76900
vol    12427416  12931954
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail         -3255.0 -171572.0
foreigner     170804.0  340429.0
institution  -171751.0 -165044.0
financial    -106154.0 -140362.0
invtrust       13986.0    6467.0
pension       -25225.0  -50417.0
privequity    -13284.0   11568.0
bank          -23282.0   -1074.0
insurance     -18062.0    6251.0
financeetc       271.0    2523.0
corporateetc    3977.0   -3881.0
foreigneretc     225.0      68.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail        649420.0 -171572.0
foreigner     -45785.0  340429.0
institution  -598004.0 -165044.0
financial    -382375.0 -140362.0
invtrust       -6363.0    6467.0
pension       -61256.0  -50417.0
privequity   -117518.0   11568.0
bank            -430.0   -1074.0
insurance     -30197.0    6251.0
financeetc       135.0    2523.0
corporateetc   -8063.0   -3881.0
foreigneretc    2432.0      68.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open      76700     78100
high      77600     78400
low       76600     77400
close     76900     78300
vol    12931954  15163757
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open      78800     78100
high      79000     78400
low       76400     77400
close     77400     78300
vol    25470640  15163757
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail       -171572.0  -17957.0
foreigner     340429.0  110220.0
institution  -165044.0  -94246.0
financial    -140362.0  -48445.0
invtrust        6467.0   -7239.0
pension       -50417.0  -28581.0
privequity     11568.0  -11127.0
bank           -1074.0       5.0
insurance       6251.0    1140.0
financeetc      2523.0       0.0
corporateetc   -3881.0    1411.0
foreigneretc      68.0     571.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail         -3255.0  -17957.0
foreigner     170804.0  110220.0
institution  -171751.0  -94246.0
financial    -106154.0  -48445.0
invtrust       13986.0   -7239.0
pension       -25225.0  -28581.0
privequity    -13284.0  -11127.0
bank          -23282.0       5.0
insurance     -18062.0    1140.0
financeetc       271.0       0.0
corporateetc    3977.0    1411.0
foreigneretc     225.0     571.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before    after
open      78100    78100
high      78400    78100
low       77400    77100
close     78300    78000
vol    15163757  9947422
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before    after
open      76700    78100
high      77600    78100
low       76600    77100
close     76900    78000
vol    12931954  9947422
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail        -17957.0 -242142.0
foreigner     110220.0  287135.0
institution   -94246.0  -36364.0
financial     -48445.0  -29794.0
invtrust       -7239.0   15151.0
pension       -28581.0   -9408.0
privequity    -11127.0   -2243.0
bank               5.0     -35.0
insurance       1140.0   -9970.0
financeetc         0.0     -65.0
corporateetc    1411.0   -7705.0
foreigneretc     571.0    -924.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail       -171572.0 -242142.0
foreigner     340429.0  287135.0
institution  -165044.0  -36364.0
financial    -140362.0  -29794.0
invtrust        6467.0   15151.0
pension       -50417.0   -9408.0
privequity     11568.0   -2243.0
bank           -1074.0     -35.0
insurance       6251.0   -9970.0
financeetc      2523.0     -65.0
corporateetc   -3881.0   -7705.0
foreigneretc      68.0    -924.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before     after
open     78100     78400
high     78100     79000
low      77100     78000
close    78000     78900
vol    9947422  13221123
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open      78100     78400
high      78400     79000
low       77400     78000
close     78300     78900
vol    15163757  13221123
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail       -242142.0  -65788.0
foreigner     287135.0  -38568.0
institution   -36364.0  101839.0
financial     -29794.0  157330.0
invtrust       15151.0   -5747.0
pension        -9408.0  -20720.0
privequity     -2243.0  -21314.0
bank             -35.0      82.0
insurance      -9970.0   -7981.0
financeetc       -65.0     188.0
corporateetc   -7705.0    2921.0
foreigneretc    -924.0    -405.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail        -17957.0  -65788.0
foreigner     110220.0  -38568.0
institution   -94246.0  101839.0
financial     -48445.0  157330.0
invtrust       -7239.0   -5747.0
pension       -28581.0  -20720.0
privequity    -11127.0  -21314.0
bank               5.0      82.0
insurance       1140.0   -7981.0
financeetc         0.0     188.0
corporateetc    1411.0    2921.0
foreigneretc     571.0    -405.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open      78400     79500
high      79000     79600
low       78000     78600
close     78900     78900
vol    13221123  11000502
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before     after
open     78100     79500
high     78100     79600
low      77100     78600
close    78000     78900
vol    9947422  11000502
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail        -65788.0  126482.0
foreigner     -38568.0   -1486.0
institution   101839.0 -127152.0
financial     157330.0  -50032.0
invtrust       -5747.0   -7081.0
pension       -20720.0  -61503.0
privequity    -21314.0    6506.0
bank              82.0       0.0
insurance      -7981.0  -14991.0
financeetc       188.0     -51.0
corporateetc    2921.0    1783.0
foreigneretc    -405.0     374.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail       -242142.0  126482.0
foreigner     287135.0   -1486.0
institution   -36364.0 -127152.0
financial     -29794.0  -50032.0
invtrust       15151.0   -7081.0
pension        -9408.0  -61503.0
privequity     -2243.0    6506.0
bank             -35.0       0.0
insurance      -9970.0  -14991.0
financeetc       -65.0     -51.0
corporateetc   -7705.0    1783.0
foreigneretc    -924.0     374.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open      79500     79300
high      79600     79300
low       78600     77900
close     78900     77900
vol    11000502  13889401
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open      78400     79300
high      79000     79300
low       78000     77900
close     78900     77900
vol    13221123  13889401
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail        126482.0  108537.0
foreigner      -1486.0   75104.0
institution  -127152.0 -189985.0
financial     -50032.0 -139193.0
invtrust       -7081.0   -7441.0
pension       -61503.0  -30656.0
privequity      6506.0   -6930.0
bank               0.0     846.0
insurance     -14991.0   -3773.0
financeetc       -51.0   -2839.0
corporateetc    1783.0    5613.0
foreigneretc     374.0     731.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before     after
retail        -65788.0  108537.0
foreigner     -38568.0   75104.0
institution   101839.0 -189985.0
financial     157330.0 -139193.0
invtrust       -5747.0   -7441.0
pension       -20720.0  -30656.0
privequity    -21314.0   -6930.0
bank              82.0     846.0
insurance      -7981.0   -3773.0
financeetc       188.0   -2839.0
corporateetc    2921.0    5613.0
foreigneretc    -405.0     731.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open      79300     77700
high      79300     78100
low       77900     77100
close     77900     77300
vol    13889401  10096725
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open      79500     77700
high      79600     78100
low       78600     77100
close     78900     77300
vol    11000502  10096725
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before    after
retail        108537.0  -6737.0
foreigner      75104.0  58505.0
institution  -189985.0 -54424.0
financial    -139193.0  -5899.0
invtrust       -7441.0  -7327.0
pension       -30656.0 -34418.0
privequity     -6930.0  -1070.0
bank             846.0      0.0
insurance      -3773.0  -5829.0
financeetc     -2839.0    119.0
corporateetc    5613.0   2855.0
foreigneretc     731.0   -198.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                 before    after
retail        126482.0  -6737.0
foreigner      -1486.0  58505.0
institution  -127152.0 -54424.0
financial     -50032.0  -5899.0
invtrust       -7081.0  -7327.0
pension       -61503.0 -34418.0
privequity      6506.0  -1070.0
bank               0.0      0.0
insurance     -14991.0  -5829.0
financeetc       -51.0    119.0
corporateetc    1783.0   2855.0
foreigneretc     374.0   -198.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before    after
open      77700    77600
high      78100    77800
low       77100    76900
close     77300    77500
vol    10096725  8785122
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before    after
open      79300    77600
high      79300    77800
low       77900    76900
close     77900    77500
vol    13889401  8785122
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     float64
 1   after   12 non-null     float64
dtypes: float64(2)
memory usage: 588.0+ bytes
OOO None
PPP                before    after
retail        -6737.0  49716.0
foreigner     58505.0  -6807.0
institution  -54424.0 -38444.0
financial     -5899.0  -3354.0
invtrust      -7327.0 -14546.0
pension      -34418.0 -12430.0
privequity    -1070.0   1608.0
bank              0.0      0.0
insurance     -5829.0  -9743.0
financeetc      119.0     21.0
corporateetc   2855.0  -4904.0
foreigneretc   -198.0    438.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\2296567472.py:81: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  ctemp[-1] = 0
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\2296567472.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dt_m_his = modification_time_his.loc[pkl_name][0]
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\2296567472.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dt_m_inv = modification_time_inv.loc[pkl_name][0]
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

sec 1/52, <class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 288.0+ bytes
OOO None
PPP               before   after
retail       -223227 -263041
foreigner      86701   59143
institution   136369  209214
financial      11556    9130
invtrust       13375   25043
pension        72120   94000
privequity     17415   65834
bank            1317    2825
insurance      20158   17094
financeetc       427   -4712
corporateetc    1144   -4073
foreigneretc    -987   -1242
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        237846 -263041
foreigner    -390927   59143
institution   145454  209214
financial     -12566    9130
invtrust        8202   25043
pension       143925   94000
privequity    -10066   65834
bank              61    2825
insurance      17708   17094
financeetc     -1810   -4712
corporateetc    4541   -4073
foreigneretc    3086   -1242
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 120.0+ bytes
OOO None
PPP         before    after
open    458000   476500
high    495500   505000
low     441000   476000
close   477000   504000
vol    2918435  2088996
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    476000   476500
high    483000   505000
low     445000   476000
close   450000   504000
vol    4559773  2088996
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail       -263041 -202659
foreigner      59143   62414
institution   209214  142537
financial       9130   46046
invtrust       25043   22598
pension        94000   47508
privequity     65834   24581
bank            2825     205
insurance      17094    3759
financeetc     -4712   -2160
corporateetc   -4073    1221
foreigneretc   -1242   -3512
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail       -223227 -202659
foreigner      86701   62414
institution   136369  142537
financial      11556   46046
invtrust       13375   22598
pension        72120   47508
privequity     17415   24581
bank            1317     205
insurance      20158    3759
financeetc       427   -2160
corporateetc    1144    1221
foreigneretc    -987   -3512
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    476500   520000
high    505000   548000
low     476000   511000
close   504000   548000
vol    2088996  1911176
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    458000   520000
high    495500   548000
low     441000   511000
close   477000   548000
vol    2918435  1911176
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -202659 -53111
foreigner      62414 -26286
institution   142537  89490
financial      46046  16753
invtrust       22598  50947
pension        47508  27871
privequity     24581   1514
bank             205    829
insurance       3759  -7045
financeetc     -2160  -1378
corporateetc    1221 -10325
foreigneretc   -3512    232
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -263041 -53111
foreigner      59143 -26286
institution   209214  89490
financial       9130  16753
invtrust       25043  50947
pension        94000  27871
privequity     65834   1514
bank            2825    829
insurance      17094  -7045
financeetc     -4712  -1378
corporateetc   -4073 -10325
foreigneretc   -1242    232
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    520000   554000
high    548000   577000
low     511000   524000
close   548000   542000
vol    1911176  2583335
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    476500   554000
high    505000   577000
low     476000   524000
close   504000   542000
vol    2088996  2583335
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -53111  40228
foreigner     -26286   9553
institution    89490 -45403
financial      16753  -7952
invtrust       50947   4920
pension        27871  12620
privequity      1514 -42127
bank             829    154
insurance      -7045 -11231
financeetc     -1378  -1787
corporateetc  -10325  -4117
foreigneretc     232   -261
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -202659  40228
foreigner      62414   9553
institution   142537 -45403
financial      46046  -7952
invtrust       22598   4920
pension        47508  12620
privequity     24581 -42127
bank             205    154
insurance       3759 -11231
financeetc     -2160  -1787
corporateetc    1221  -4117
foreigneretc   -3512   -261
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    554000   550000
high    577000   557000
low     524000   505000
close   542000   511000
vol    2583335  2070704
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    520000   550000
high    548000   557000
low     511000   505000
close   548000   511000
vol    1911176  2070704
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         40228  276636
foreigner       9553 -154990
institution   -45403 -126216
financial      -7952  -60467
invtrust        4920   -7393
pension        12620   16603
privequity    -42127  -71472
bank             154     447
insurance     -11231   -3476
financeetc     -1787    -457
corporateetc   -4117    5239
foreigneretc    -261    -669
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -53111  276636
foreigner     -26286 -154990
institution    89490 -126216
financial      16753  -60467
invtrust       50947   -7393
pension        27871   16603
privequity      1514  -71472
bank             829     447
insurance      -7045   -3476
financeetc     -1378    -457
corporateetc  -10325    5239
foreigneretc     232    -669
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    550000   507000
high    557000   507000
low     505000   471500
close   511000   474500
vol    2070704  2306815
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    554000   507000
high    577000   507000
low     524000   471500
close   542000   474500
vol    2583335  2306815
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        276636  28296
foreigner    -154990  26824
institution  -126216 -57439
financial     -60467 -30164
invtrust       -7393  10728
pension        16603  -9014
privequity    -71472 -28568
bank             447      0
insurance      -3476   -102
financeetc      -457   -319
corporateetc    5239   2125
foreigneretc    -669    194
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         40228  28296
foreigner       9553  26824
institution   -45403 -57439
financial      -7952 -30164
invtrust        4920  10728
pension        12620  -9014
privequity    -42127 -28568
bank             154      0
insurance     -11231   -102
financeetc     -1787   -319
corporateetc   -4117   2125
foreigneretc    -261    194
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    507000   463500
high    507000   484000
low     471500   457000
close   474500   482000
vol    2306815  1411055
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    550000   463500
high    557000   484000
low     505000   457000
close   511000   482000
vol    2070704  1411055
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         28296  -25163
foreigner      26824  126062
institution   -57439 -100442
financial     -30164  -49011
invtrust       10728   35477
pension        -9014  -36521
privequity    -28568  -46142
bank               0    -763
insurance       -102   -3279
financeetc      -319    -203
corporateetc    2125    -546
foreigneretc     194      90
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        276636  -25163
foreigner    -154990  126062
institution  -126216 -100442
financial     -60467  -49011
invtrust       -7393   35477
pension        16603  -36521
privequity    -71472  -46142
bank             447    -763
insurance      -3476   -3279
financeetc      -457    -203
corporateetc    5239    -546
foreigneretc    -669      90
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    463500   473000
high    484000   482000
low     457000   459500
close   482000   463000
vol    1411055  3285402
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    507000   473000
high    507000   482000
low     471500   459500
close   474500   463000
vol    2306815  3285402
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -25163  73142
foreigner     126062 -96571
institution  -100442  23831
financial     -49011  -4374
invtrust       35477  19522
pension       -36521  14384
privequity    -46142  -4230
bank            -763   -121
insurance      -3279  -1283
financeetc      -203    -66
corporateetc    -546  -1639
foreigneretc      90   1237
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         28296  73142
foreigner      26824 -96571
institution   -57439  23831
financial     -30164  -4374
invtrust       10728  19522
pension        -9014  14384
privequity    -28568  -4230
bank               0   -121
insurance       -102  -1283
financeetc      -319    -66
corporateetc    2125  -1639
foreigneretc     194   1237
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    473000  460000
high    482000  468000
low     459500  450000
close   463000  451500
vol    3285402  825406
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    463500  460000
high    484000  468000
low     457000  450000
close   482000  451500
vol    1411055  825406
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         73142  146370
foreigner     -96571 -177052
institution    23831   28119
financial      -4374   -1808
invtrust       19522   23336
pension        14384    9694
privequity     -4230   -2767
bank            -121       0
insurance      -1283    -336
financeetc       -66      -1
corporateetc   -1639    1923
foreigneretc    1237     641
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -25163  146370
foreigner     126062 -177052
institution  -100442   28119
financial     -49011   -1808
invtrust       35477   23336
pension       -36521    9694
privequity    -46142   -2767
bank            -763       0
insurance      -3279    -336
financeetc      -203      -1
corporateetc    -546    1923
foreigneretc      90     641
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   460000  464000
high   468000  465000
low    450000  449500
close  451500  455500
vol    825406  961669
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    363000  367000
high    370000  367500
low     355000  360000
close   359500  363500
vol    1064506  625328
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    385000  367000
high    385500  367500
low     361500  360000
close   363500  363500
vol    1999479  625328
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4161 -24656
foreigner     -44791 -27353
institution    39616  50787
financial       2611   5717
invtrust        3717   8734
pension        32410  29173
privequity     -2118    383
bank             388    116
insurance       2081   5597
financeetc       527   1067
corporateetc     986   1209
foreigneretc      28     13
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         83880 -24656
foreigner    -112285 -27353
institution    26866  50787
financial       -427   5717
invtrust      -12047   8734
pension        40274  29173
privequity     -2807    383
bank             100    116
insurance       2206   5597
financeetc      -433   1067
corporateetc    1339   1209
foreigneretc     200     13
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   367000  374000
high   367500  381500
low    360000  373000
close  363500  376000
vol    625328  816118
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    363000  374000
high    370000  381500
low     355000  373000
close   359500  376000
vol    1064506  816118
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -24656 -18382
foreigner     -27353 -23746
institution    50787  42217
financial       5717   -999
invtrust        8734   1460
pension        29173  41725
privequity       383     49
bank             116    188
insurance       5597   -215
financeetc      1067     10
corporateetc    1209     49
foreigneretc      13   -138
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4161 -18382
foreigner     -44791 -23746
institution    39616  42217
financial       2611   -999
invtrust        3717   1460
pension        32410  41725
privequity     -2118     49
bank             388    188
insurance       2081   -215
financeetc       527     10
corporateetc     986     49
foreigneretc      28   -138
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   374000  377500
high   381500  384000
low    373000  370500
close  376000  382000
vol    816118  643915
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   367000  377500
high   367500  384000
low    360000  370500
close  363500  382000
vol    625328  643915
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -18382 -20037
foreigner     -23746   -658
institution    42217  19454
financial       -999  -1400
invtrust        1460   6377
pension        41725   6434
privequity        49   -579
bank             188   -578
insurance       -215   9090
financeetc        10    109
corporateetc      49   1154
foreigneretc    -138     88
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -24656 -20037
foreigner     -27353   -658
institution    50787  19454
financial       5717  -1400
invtrust        8734   6377
pension        29173   6434
privequity       383   -579
bank             116   -578
insurance       5597   9090
financeetc      1067    109
corporateetc    1209   1154
foreigneretc      13     88
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   377500  385000
high   384000  397500
low    370500  384000
close  382000  386000
vol    643915  655247
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   374000  385000
high   381500  397500
low    373000  384000
close  376000  386000
vol    816118  655247
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -20037 -51752
foreigner       -658  22859
institution    19454  28244
financial      -1400   1393
invtrust        6377   1671
pension         6434  25626
privequity      -579   -902
bank            -578      0
insurance       9090    456
financeetc       109     -1
corporateetc    1154   -104
foreigneretc      88    753
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -18382 -51752
foreigner     -23746  22859
institution    42217  28244
financial       -999   1393
invtrust        1460   1671
pension        41725  25626
privequity        49   -902
bank             188      0
insurance       -215    456
financeetc        10     -1
corporateetc      49   -104
foreigneretc    -138    753
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   385000  388500
high   397500  399000
low    384000  388000
close  386000  397500
vol    655247  413972
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   377500  388500
high   384000  399000
low    370500  388000
close  382000  397500
vol    643915  413972
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -51752 -43627
foreigner      22859  21304
institution    28244  23402
financial       1393   -255
invtrust        1671   4046
pension        25626  16286
privequity      -902    540
bank               0   -138
insurance        456   2915
financeetc        -1      9
corporateetc    -104  -1028
foreigneretc     753    -52
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -20037 -43627
foreigner       -658  21304
institution    19454  23402
financial      -1400   -255
invtrust        6377   4046
pension         6434  16286
privequity      -579    540
bank            -578   -138
insurance       9090   2915
financeetc       109      9
corporateetc    1154  -1028
foreigneretc      88    -52
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   388500  403000
high   399000  407500
low    388000  398000
close  397500  407000
vol    413972  523438
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   385000  403000
high   397500  407500
low    384000  398000
close  386000  407000
vol    655247  523438
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -43627 -11063
foreigner      21304   3306
institution    23402   8504
financial       -255  -1658
invtrust        4046   1511
pension        16286   7295
privequity       540    723
bank            -138      0
insurance       2915    835
financeetc         9   -201
corporateetc   -1028   -660
foreigneretc     -52    -87
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -51752 -11063
foreigner      22859   3306
institution    28244   8504
financial       1393  -1658
invtrust        1671   1511
pension        25626   7295
privequity      -902    723
bank               0      0
insurance        456    835
financeetc        -1   -201
corporateetc    -104   -660
foreigneretc     753    -87
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   403000  405000
high   407500  410000
low    398000  398000
close  407000  408000
vol    523438  320746
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   388500  405000
high   399000  410000
low    388000  398000
close  397500  408000
vol    413972  320746
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -11063 -227376
foreigner       3306  120012
institution     8504  110817
financial      -1658   -5026
invtrust        1511   32091
pension         7295   46965
privequity       723   24679
bank               0      59
insurance        835   11506
financeetc      -201     544
corporateetc    -660   -3231
foreigneretc     -87    -223
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -43627 -227376
foreigner      21304  120012
institution    23402  110817
financial       -255   -5026
invtrust        4046   32091
pension        16286   46965
privequity       540   24679
bank            -138      59
insurance       2915   11506
financeetc         9     544
corporateetc   -1028   -3231
foreigneretc     -52    -223
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   405000   418500
high   410000   444000
low    398000   417500
close  408000   439000
vol    320746  1528600
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   403000   418500
high   407500   444000
low    398000   417500
close  407000   439000
vol    523438  1528600
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -227376 -28265
foreigner     120012  10209
institution   110817  19346
financial      -5026  -1178
invtrust       32091   2569
pension        46965  15168
privequity     24679    547
bank              59      0
insurance      11506   2251
financeetc       544    -11
corporateetc   -3231  -1042
foreigneretc    -223   -248
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -11063 -28265
foreigner       3306  10209
institution     8504  19346
financial      -1658  -1178
invtrust        1511   2569
pension         7295  15168
privequity       723    547
bank               0      0
insurance        835   2251
financeetc      -201    -11
corporateetc    -660  -1042
foreigneretc     -87   -248
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    418500  439000
high    444000  443000
low     417500  430000
close   439000  436500
vol    1528600  481311
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   405000  439000
high   410000  443000
low    398000  430000
close  408000  436500
vol    320746  481311
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -28265 -36630
foreigner      10209  17346
institution    19346  20279
financial      -1178   2366
invtrust        2569   4969
pension        15168  11865
privequity       547   1323
bank               0    -99
insurance       2251   -311
financeetc       -11    165
corporateetc   -1042  -1008
foreigneretc    -248     13
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -227376 -36630
foreigner     120012  17346
institution   110817  20279
financial      -5026   2366
invtrust       32091   4969
pension        46965  11865
privequity     24679   1323
bank              59    -99
insurance      11506   -311
financeetc       544    165
corporateetc   -3231  -1008
foreigneretc    -223     13
<class 'pandas.core.frame.DataFrame'>

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         24307 -30432
foreigner     -24508 -20024
institution    -1739  50457
financial       -920   6371
invtrust       -4179   9466
pension         6995  33097
privequity      -746    875
bank             960    225
insurance      -3848     56
financeetc         0    367
corporateetc    1779     99
foreigneretc     161   -100
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         24343 -30432
foreigner     -20370 -20024
institution    -3446  50457
financial      -1458   6371
invtrust       -2303   9466
pension         2600  33097
privequity      -284    875
bank               0    225
insurance      -2001     56
financeetc         0    367
corporateetc    -354     99
foreigneretc    -174   -100
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   417000  414000
high   421500  431500
low    410000  404000
close  411000  431000
vol    382240  386194
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   435000  414000
high   435500  431500
low    423500  404000
close  425000  431000
vol    289205  386194
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -30432 -50578
foreigner     -20024 -13481
institution    50457  64965
financial       6371  -5182
invtrust        9466  28957
pension        33097  44698
privequity       875   -243
bank             225  -2934
insurance         56   -469
financeetc       367    138
corporateetc      99   -679
foreigneretc    -100   -227
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         24307 -50578
foreigner     -24508 -13481
institution    -1739  64965
financial       -920  -5182
invtrust       -4179  28957
pension         6995  44698
privequity      -746   -243
bank             960  -2934
insurance      -3848   -469
financeetc         0    138
corporateetc    1779   -679
foreigneretc     161   -227
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   414000  434000
high   431500  441000
low    404000  427500
close  431000  441000
vol    386194  321259
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   417000  434000
high   421500  441000
low    410000  427500
close  411000  441000
vol    382240  321259
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -50578 -40134
foreigner     -13481  -5953
institution    64965  45669
financial      -5182  -5467
invtrust       28957   -625
pension        44698  56542
privequity      -243  -1755
bank           -2934  -6668
insurance       -469   3808
financeetc       138   -166
corporateetc    -679    419
foreigneretc    -227      0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -30432 -40134
foreigner     -20024  -5953
institution    50457  45669
financial       6371  -5467
invtrust        9466   -625
pension        33097  56542
privequity       875  -1755
bank             225  -6668
insurance         56   3808
financeetc       367   -166
corporateetc      99    419
foreigneretc    -100      0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   434000  435500
high   441000  445000
low    427500  431500
close  441000  435000
vol    321259  307347
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   414000  435500
high   431500  445000
low    404000  431500
close  431000  435000
vol    386194  307347
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -40134   -352
foreigner      -5953 -10058
institution    45669  11595
financial      -5467   -899
invtrust        -625   -460
pension        56542  13146
privequity     -1755  -1364
bank           -6668      0
insurance       3808    839
financeetc      -166    332
corporateetc     419  -1185
foreigneretc       0      0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -50578   -352
foreigner     -13481 -10058
institution    64965  11595
financial      -5182   -899
invtrust       28957   -460
pension        44698  13146
privequity      -243  -1364
bank           -2934      0
insurance       -469    839
financeetc       138    332
corporateetc    -679  -1185
foreigneretc    -227      0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   435500  434000
high   445000  439500
low    431500  432500
close  435000  433000
vol    307347  115652
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   434000  434000
high   441000  439500
low    427500  432500
close  441000  433000
vol    321259  115652
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          -352  -6643
foreigner     -10058  -2977
institution    11595  10538
financial       -899   2579
invtrust        -460  -1673
pension        13146  12798
privequity     -1364  -1996
bank               0   -904
insurance        839   -255
financeetc       332    -11
corporateetc   -1185   -903
foreigneretc       0    -14
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -40134  -6643
foreigner      -5953  -2977
institution    45669  10538
financial      -5467   2579
invtrust        -625  -1673
pension        56542  12798
privequity     -1755  -1996
bank           -6668   -904
insurance       3808   -255
financeetc      -166    -11
corporateetc     419   -903
foreigneretc       0    -14
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   434000  438000
high   439500  441500
low    432500  434000
close  433000  435500
vol    115652  124432
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   435500  438000
high   445000  441500
low    431500  434000
close  435000  435500
vol    307347  124432
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -6643  -6987
foreigner      -2977   1222
institution    10538   6238
financial       2579  -3804
invtrust       -1673   -386
pension        12798  11159
privequity     -1996  -1997
bank            -904      0
insurance       -255    703
financeetc       -11    563
corporateetc    -903   -297
foreigneretc     -14   -176
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          -352  -6987
foreigner     -10058   1222
institution    11595   6238
financial       -899  -3804
invtrust        -460   -386
pension        13146  11159
privequity     -1364  -1997
bank               0      0
insurance        839    703
financeetc       332    563
corporateetc   -1185   -297
foreigneretc       0   -176
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   438000  437500
high   441500  438000
low    434000  432000
close  435500  436500
vol    124432  202657
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   434000  437500
high   439500  438000
low    432500  432000
close  433000  436500
vol    115652  202657
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -6987 -13480
foreigner       1222   6423
institution     6238   8216
financial      -3804    429
invtrust        -386  -4366
pension        11159  15076
privequity     -1997    288
bank               0  -2272
insurance        703   -765
financeetc       563   -174
corporateetc    -297  -1177
foreigneretc    -176     18
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -6643 -13480
foreigner      -2977   6423
institution    10538   8216
financial       2579    429
invtrust       -1673  -4366
pension        12798  15076
privequity     -1996    288
bank            -904  -2272
insurance       -255   -765
financeetc       -11   -174
corporateetc    -903  -1177
foreigneretc     -14     18
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   437500  437500
high   438000  440000
low    432000  434500
close  436500  437000
vol    202657  234128
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   438000  437500
high   441500  440000
low    434000  434500
close  435500  437000
vol    124432  234128
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -13480 -11721
foreigner       6423  15518
institution     8216  -3349
financial        429 -14472
invtrust       -4366  -2320
pension        15076  15034
privequity       288  -1209
bank           -2272    -66
insurance       -765   -325
financeetc      -174     10
corporateetc   -1177   -443
foreigneretc      18     -5
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -6987 -11721
foreigner       1222  15518
institution     6238  -3349
financial      -3804 -14472
invtrust        -386  -2320
pension        11159  15034
privequity     -1997  -1209
bank               0    -66
insurance        703   -325
financeetc       563     10
corporateetc    -297   -443
foreigneretc    -176     -5
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   437500  434000
high   440000  437500
low    434500  428500
close  437000  436500
vol    234128  266806
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   437500  434000
high   438000  437500
low    432000  428500
close  436500  436500
vol    202657  266806
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -11721 -16156
foreigner      15518  22739
institution    -3349  -6027
financial     -14472  -2080
invtrust       -2320  -2678
pension        15034   4800
privequity     -1209  -2326
bank             -66      0
insurance       -325  -3744
financeetc        10      0
corporateetc    -443   -534
foreigneretc      -5    -22
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -13480 -16156
foreigner       6423  22739
institution     8216  -6027
financial        429  -2080
invtrust       -4366  -2678
pension        15076   4800
privequity       288  -2326
bank           -2272      0
insurance       -765  -3744
financeetc      -174      0
corporateetc   -1177   -534
foreigneretc      18    -22
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   434000  430000
high   437500  436000
low    428500  428500
close  436500  433000
vol    266806  254452
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   437500  430000
high   440000  436000
low    434500  428500
close  437000  433000
vol    234128  254452
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         47620   1824
foreigner     -10969  -4857
institution   -38481   3461
financial      -6274  -1029
invtrust      -12590  -4142
pension        17425  13119
privequity    -35536  -4444
bank               0      0
insurance      -1444    -40
financeetc       -61     -4
corporateetc    1628   -523
foreigneretc     202     95
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7701   1824
foreigner      37362  -4857
institution   -26665   3461
financial        230  -1029
invtrust       -4606  -4142
pension        12372  13119
privequity    -31615  -4444
bank               0      0
insurance        496    -40
financeetc     -3542     -4
corporateetc   -2806   -523
foreigneretc    -189     95
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   412500  409500
high   414500  415000
low    407000  406500
close  408500  407500
vol    365546  254850
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   418000  409500
high   426000  415000
low    414000  406500
close  417000  407500
vol    332582  254850
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          1824  49736
foreigner      -4857  -2423
institution     3461 -46716
financial      -1029  -3799
invtrust       -4142 -12321
pension        13119  15824
privequity     -4444 -44931
bank               0      0
insurance        -40   -433
financeetc        -4  -1057
corporateetc    -523  -1020
foreigneretc      95    424
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         47620  49736
foreigner     -10969  -2423
institution   -38481 -46716
financial      -6274  -3799
invtrust      -12590 -12321
pension        17425  15824
privequity    -35536 -44931
bank               0      0
insurance      -1444   -433
financeetc       -61  -1057
corporateetc    1628  -1020
foreigneretc     202    424
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   409500  409500
high   415000  410500
low    406500  399500
close  407500  401500
vol    254850  364195
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   412500  409500
high   414500  410500
low    407000  399500
close  408500  401500
vol    365546  364195
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         49736   6436
foreigner      -2423 -32458
institution   -46716  21733
financial      -3799  -1482
invtrust      -12321  -2055
pension        15824  19066
privequity    -44931   6938
bank               0      0
insurance       -433   -664
financeetc     -1057    -70
corporateetc   -1020   4003
foreigneretc     424    286
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          1824   6436
foreigner      -4857 -32458
institution     3461  21733
financial      -1029  -1482
invtrust       -4142  -2055
pension        13119  19066
privequity     -4444   6938
bank               0      0
insurance        -40   -664
financeetc        -4    -70
corporateetc    -523   4003
foreigneretc      95    286
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   409500  395000
high   410500  401500
low    399500  390000
close  401500  401500
vol    364195  350875
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   409500  395000
high   415000  401500
low    406500  390000
close  407500  401500
vol    254850  350875
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          6436  32297
foreigner     -32458 -14888
institution    21733 -21027
financial      -1482   -724
invtrust       -2055  -7186
pension        19066  11740
privequity      6938 -24100
bank               0     18
insurance       -664   -479
financeetc       -70   -297
corporateetc    4003   3382
foreigneretc     286    236
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         49736  32297
foreigner      -2423 -14888
institution   -46716 -21027
financial      -3799   -724
invtrust      -12321  -7186
pension        15824  11740
privequity    -44931 -24100
bank               0     18
insurance       -433   -479
financeetc     -1057   -297
corporateetc   -1020   3382
foreigneretc     424    236
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   395000  397000
high   401500  400000
low    390000  390000
close  401500  394000
vol    350875  289113
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   409500  397000
high   410500  400000
low    399500  390000
close  401500  394000
vol    364195  289113
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         32297     81
foreigner     -14888  15975
institution   -21027 -17140
financial       -724  -1543
invtrust       -7186  -9064
pension        11740  23419
privequity    -24100 -25368
bank              18      2
insurance       -479  -4008
financeetc      -297   -578
corporateetc    3382    742
foreigneretc     236    342
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          6436     81
foreigner     -32458  15975
institution    21733 -17140
financial      -1482  -1543
invtrust       -2055  -9064
pension        19066  23419
privequity      6938 -25368
bank               0      2
insurance       -664  -4008
financeetc       -70   -578
corporateetc    4003    742
foreigneretc     286    342
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   397000  387500
high   400000  398500
low    390000  382000
close  394000  393500
vol    289113  407928
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   395000  387500
high   401500  398500
low    390000  382000
close  401500  393500
vol    350875  407928
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail            81   4319
foreigner      15975  -9112
institution   -17140   4531
financial      -1543   1024
invtrust       -9064   1964
pension        23419  12807
privequity    -25368 -11728
bank               2      0
insurance      -4008    721
financeetc      -578   -258
corporateetc     742     89
foreigneretc     342    173
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         32297   4319
foreigner     -14888  -9112
institution   -21027   4531
financial       -724   1024
invtrust       -7186   1964
pension        11740  12807
privequity    -24100 -11728
bank              18      0
insurance       -479    721
financeetc      -297   -258
corporateetc    3382     89
foreigneretc     236    173
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   387500  394000
high   398500  398000
low    382000  391500
close  393500  391500
vol    407928  239355
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   397000  394000
high   400000  398000
low    390000  391500
close  394000  391500
vol    289113  239355
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4319  -7668
foreigner      -9112  -8357
institution     4531  15828
financial       1024   -523
invtrust        1964    247
pension        12807  21456
privequity    -11728  -4519
bank               0      0
insurance        721   -359
financeetc      -258   -474
corporateetc      89    130
foreigneretc     173     67
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail            81  -7668
foreigner      15975  -8357
institution   -17140  15828
financial      -1543   -523
invtrust       -9064    247
pension        23419  21456
privequity    -25368  -4519
bank               2      0
insurance      -4008   -359
financeetc      -578   -474
corporateetc     742    130
foreigneretc     342     67
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   394000  390000
high   398000  395500
low    391500  386000
close  391500  388000
vol    239355  251570
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   387500  390000
high   398500  395500
low    382000  386000
close  393500  388000
vol    407928  251570
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7668 -32261
foreigner      -8357  14534
institution    15828  19203
financial       -523   6862
invtrust         247   -698
pension        21456  16268
privequity     -4519  -2595
bank               0     18
insurance       -359      5
financeetc      -474   -656
corporateetc     130  -1189
foreigneretc      67   -287
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4319 -32261
foreigner      -9112  14534
institution     4531  19203
financial       1024   6862
invtrust        1964   -698
pension        12807  16268
privequity    -11728  -2595
bank               0     18
insurance        721      5
financeetc      -258   -656
corporateetc      89  -1189
foreigneretc     173   -287
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   390000  390500
high   395500  401500
low    386000  390500
close  388000  400500
vol    251570  228636
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   394000  390500
high   398000  401500
low    391500  390500
close  391500  400500
vol    239355  228636
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -32261  -7734
foreigner      14534   5189
institution    19203   3864
financial       6862  -5143
invtrust        -698   -671
pension        16268  16930
privequity     -2595  -6536
bank              18      0
insurance          5   -536
financeetc      -656   -179
corporateetc   -1189  -1311
foreigneretc    -287     -8
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7668  -7734
foreigner      -8357   5189
institution    15828   3864
financial       -523  -5143
invtrust         247   -671
pension        21456  16930
privequity     -4519  -6536
bank               0      0
insurance       -359   -536
financeetc      -474   -179
corporateetc     130  -1311
foreigneretc      67     -8
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   390500  407000
high   401500  407500
low    390500  397000
close  400500  400500
vol    228636  200731
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   390000  407000
high   395500  407500
low    386000  397000
close  388000  400500
vol    251570  200731
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   438500  439000
high   444000  439000
low    432500  422000
close  438000  426500
vol    361437  365195
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29386 -22923
foreigner     -19256  17432
institution   -12908   5497
financial       6673   2928
invtrust       -9944  -2080
pension        11175   7892
privequity    -14588  -2895
bank              -9      0
insurance      -6215   -275
financeetc         0    -73
corporateetc    2757    -82
foreigneretc      20     76
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -60825 -22923
foreigner      61874  17432
institution     1056   5497
financial      -7779   2928
invtrust         554  -2080
pension        15735   7892
privequity      2256  -2895
bank           -8815      0
insurance       -458   -275
financeetc      -437    -73
corporateetc   -1875    -82
foreigneretc    -230     76
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   439000  426500
high   439000  432500
low    422000  424500
close  426500  430500
vol    365195  162583
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   438500  426500
high   444000  432500
low    436500  424500
close  438500  430500
vol    350284  162583
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22923  -4329
foreigner      17432    852
institution     5497   3723
financial       2928   6666
invtrust       -2080  -2438
pension         7892   2103
privequity     -2895  -1165
bank               0     55
insurance       -275  -1249
financeetc       -73   -250
corporateetc     -82   -228
foreigneretc      76    -17
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29386  -4329
foreigner     -19256    852
institution   -12908   3723
financial       6673   6666
invtrust       -9944  -2438
pension        11175   2103
privequity    -14588  -1165
bank              -9     55
insurance      -6215  -1249
financeetc         0   -250
corporateetc    2757   -228
foreigneretc      20    -17
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   426500  434500
high   432500  437000
low    424500  427500
close  430500  430500
vol    162583  214801
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   439000  434500
high   439000  437000
low    422000  427500
close  426500  430500
vol    365195  214801
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -4329 -53765
foreigner        852  46961
institution     3723   7434
financial       6666    246
invtrust       -2438   1514
pension         2103   9399
privequity     -1165  -4129
bank              55     15
insurance      -1249    391
financeetc      -250     -2
corporateetc    -228   -471
foreigneretc     -17   -159
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22923 -53765
foreigner      17432  46961
institution     5497   7434
financial       2928    246
invtrust       -2080   1514
pension         7892   9399
privequity     -2895  -4129
bank               0     15
insurance       -275    391
financeetc       -73     -2
corporateetc     -82   -471
foreigneretc      76   -159
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   434500  434500
high   437000  440000
low    427500  432000
close  430500  439500
vol    214801  229834
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   426500  434500
high   432500  440000
low    424500  432000
close  430500  439500
vol    162583  229834
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -53765 -45459
foreigner      46961  46314
institution     7434     21
financial        246  -8614
invtrust        1514   1375
pension         9399   5618
privequity     -4129   2113
bank              15      0
insurance        391   -472
financeetc        -2      0
corporateetc    -471   -628
foreigneretc    -159   -248
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -4329 -45459
foreigner        852  46314
institution     3723     21
financial       6666  -8614
invtrust       -2438   1375
pension         2103   5618
privequity     -1165   2113
bank              55      0
insurance      -1249   -472
financeetc      -250      0
corporateetc    -228   -628
foreigneretc     -17   -248
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   434500  441500
high   440000  444000
low    432000  436000
close  439500  444000
vol    229834  345830
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   434500  441500
high   437000  444000
low    427500  436000
close  430500  444000
vol    214801  345830
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -45459  -5561
foreigner      46314   7830
institution       21  -2259
financial      -8614  -6538
invtrust        1375   -294
pension         5618   7638
privequity      2113  -2688
bank               0      0
insurance       -472    288
financeetc         0   -664
corporateetc    -628     17
foreigneretc    -248    -27
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -53765  -5561
foreigner      46961   7830
institution     7434  -2259
financial        246  -6538
invtrust        1514   -294
pension         9399   7638
privequity     -4129  -2688
bank              15      0
insurance        391    288
financeetc        -2   -664
corporateetc    -471     17
foreigneretc    -159    -27
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   441500  440500
high   444000  442000
low    436000  438000
close  444000  440500
vol    345830  153596
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   434500  440500
high   440000  442000
low    432000  438000
close  439500  440500
vol    229834  153596
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5561  -4714
foreigner       7830  -2719
institution    -2259   6794
financial      -6538    881
invtrust        -294   -704
pension         7638   8443
privequity     -2688   -389
bank               0   -669
insurance        288   -339
financeetc      -664   -428
corporateetc      17    640
foreigneretc     -27     -2
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -45459  -4714
foreigner      46314  -2719
institution       21   6794
financial      -8614    881
invtrust        1375   -704
pension         5618   8443
privequity      2113   -389
bank               0   -669
insurance       -472   -339
financeetc         0   -428
corporateetc    -628    640
foreigneretc    -248     -2
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   440500  443500
high   442000  444000
low    438000  437500
close  440500  437500
vol    153596  154981
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   441500  443500
high   444000  444000
low    436000  437500
close  444000  437500
vol    345830  154981
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -4714  -7985
foreigner      -2719  14947
institution     6794  -7025
financial        881  -8656
invtrust        -704   -961
pension         8443   6675
privequity      -389  -4351
bank            -669      0
insurance       -339    268
financeetc      -428      0
corporateetc     640    173
foreigneretc      -2   -110
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5561  -7985
foreigner       7830  14947
institution    -2259  -7025
financial      -6538  -8656
invtrust        -294   -961
pension         7638   6675
privequity     -2688  -4351
bank               0      0
insurance        288    268
financeetc      -664      0
corporateetc      17    173
foreigneretc     -27   -110
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   443500  436500
high   444000  439500
low    437500  432000
close  437500  432000
vol    154981  180249
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   440500  436500
high   442000  439500
low    438000  432000
close  440500  432000
vol    153596  180249
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7985   1450
foreigner      14947   9574
institution    -7025 -10761
financial      -8656  -3435
invtrust        -961  -3108
pension         6675   5054
privequity     -4351  -7912
bank               0      0
insurance        268  -1359
financeetc         0      0
corporateetc     173   -270
foreigneretc    -110      7
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -4714   1450
foreigner      -2719   9574
institution     6794 -10761
financial        881  -3435
invtrust        -704  -3108
pension         8443   5054
privequity      -389  -7912
bank            -669      0
insurance       -339  -1359
financeetc      -428      0
corporateetc     640   -270
foreigneretc      -2      7
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   436500  432500
high   439500  434500
low    432000  422500
close  432000  425500
vol    180249  215828
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   443500  432500
high   444000  434500
low    437500  422500
close  437500  425500
vol    154981  215828
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          1450   6617
foreigner       9574  -4429
institution   -10761  -2190
financial      -3435   2693
invtrust       -3108   2333
pension         5054  -1202
privequity     -7912  -2255
bank               0      0
insurance      -1359  -3315
financeetc         0   -444
corporateetc    -270     18
foreigneretc       7    -16
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7985   6617
foreigner      14947  -4429
institution    -7025  -2190
financial      -8656   2693
invtrust        -961   2333
pension         6675  -1202
privequity     -4351  -2255
bank               0      0
insurance        268  -3315
financeetc         0   -444
corporateetc     173     18
foreigneretc    -110    -16
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   432500  426000
high   434500  426000
low    422500  419000
close  425500  422500
vol    215828  208712
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          7876   7295
foreigner     -13579 -12620
institution     5419   5449
financial       6462   1812
invtrust       -7779  -1823
pension        11302   8962
privequity     -3634  -3058
bank              39     56
insurance       -972     46
financeetc         0   -547
corporateetc     346   -166
foreigneretc     -63     42
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         32380   7295
foreigner     -38290 -12620
institution     5479   5449
financial       3673   1812
invtrust        -497  -1823
pension         7490   8962
privequity     -3572  -3058
bank               0     56
insurance      -1536     46
financeetc       -79   -547
corporateetc     391   -166
foreigneretc      41     42
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   414500  415000
high   416500  416500
low    406000  401000
close  413000  401000
vol    204026  210875
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   426500  415000
high   427000  416500
low    408500  401000
close  411500  401000
vol    285056  210875
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          7295   2422
foreigner     -12620 -15408
institution     5449  10798
financial       1812   4172
invtrust       -1823   1443
pension         8962  10537
privequity     -3058  -4727
bank              56     42
insurance         46   -555
financeetc      -547   -114
corporateetc    -166   2326
foreigneretc      42   -137
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          7876   2422
foreigner     -13579 -15408
institution     5419  10798
financial       6462   4172
invtrust       -7779   1443
pension        11302  10537
privequity     -3634  -4727
bank              39     42
insurance       -972   -555
financeetc         0   -114
corporateetc     346   2326
foreigneretc     -63   -137
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   415000  401000
high   416500  404500
low    401000  391000
close  401000  400000
vol    210875  298719
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   414500  401000
high   416500  404500
low    406000  391000
close  413000  400000
vol    204026  298719
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          2422  -4173
foreigner     -15408  -1911
institution    10798   6473
financial       4172   4593
invtrust        1443   -343
pension        10537   2148
privequity     -4727   4267
bank              42     11
insurance       -555  -4080
financeetc      -114   -122
corporateetc    2326   -421
foreigneretc    -137     32
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          7295  -4173
foreigner     -12620  -1911
institution     5449   6473
financial       1812   4593
invtrust       -1823   -343
pension         8962   2148
privequity     -3058   4267
bank              56     11
insurance         46  -4080
financeetc      -547   -122
corporateetc    -166   -421
foreigneretc      42     32
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   401000  399000
high   404500  405000
low    391000  398000
close  400000  405000
vol    298719  235758
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   415000  399000
high   416500  405000
low    401000  398000
close  401000  405000
vol    210875  235758
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -4173 -18350
foreigner      -1911  17245
institution     6473   1621
financial       4593  -5485
invtrust        -343  -2498
pension         2148   9594
privequity      4267   -762
bank              11     -1
insurance      -4080    788
financeetc      -122    -16
corporateetc    -421   -509
foreigneretc      32     -6
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          2422 -18350
foreigner     -15408  17245
institution    10798   1621
financial       4172  -5485
invtrust        1443  -2498
pension        10537   9594
privequity     -4727   -762
bank              42     -1
insurance       -555    788
financeetc      -114    -16
corporateetc    2326   -509
foreigneretc    -137     -6
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   399000  408500
high   405000  414500
low    398000  403500
close  405000  412000
vol    235758  206869
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   401000  408500
high   404500  414500
low    391000  403500
close  400000  412000
vol    298719  206869
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -18350  -1141
foreigner      17245   3992
institution     1621  -3100
financial      -5485   -457
invtrust       -2498  -1411
pension         9594   5803
privequity      -762  -7398
bank              -1      0
insurance        788    363
financeetc       -16      0
corporateetc    -509    229
foreigneretc      -6     20
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -4173  -1141
foreigner      -1911   3992
institution     6473  -3100
financial       4593   -457
invtrust        -343  -1411
pension         2148   5803
privequity      4267  -7398
bank              11      0
insurance      -4080    363
financeetc      -122      0
corporateetc    -421    229
foreigneretc      32     20
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   408500  412000
high   414500  415000
low    403500  406500
close  412000  410500
vol    206869  129697
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   399000  412000
high   405000  415000
low    398000  406500
close  405000  410500
vol    235758  129697
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -1141  63358
foreigner       3992 -37839
institution    -3100 -27971
financial       -457  -5842
invtrust       -1411  -6138
pension         5803  -8905
privequity     -7398  -6281
bank               0      0
insurance        363   -793
financeetc         0    -11
corporateetc     229   2244
foreigneretc      20    208
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -18350  63358
foreigner      17245 -37839
institution     1621 -27971
financial      -5485  -5842
invtrust       -2498  -6138
pension         9594  -8905
privequity      -762  -6281
bank              -1      0
insurance        788   -793
financeetc       -16    -11
corporateetc    -509   2244
foreigneretc      -6    208
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   412000  402000
high   415000  403500
low    406500  391500
close  410500  391500
vol    129697  327192
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   408500  402000
high   414500  403500
low    403500  391500
close  412000  391500
vol    206869  327192
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         63358  53023
foreigner     -37839 -27038
institution   -27971 -26038
financial      -5842    521
invtrust       -6138  -4455
pension        -8905 -14207
privequity     -6281  -3830
bank               0     93
insurance       -793  -4079
financeetc       -11    -81
corporateetc    2244   -347
foreigneretc     208    400
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -1141  53023
foreigner       3992 -27038
institution    -3100 -26038
financial       -457    521
invtrust       -1411  -4455
pension         5803 -14207
privequity     -7398  -3830
bank               0     93
insurance        363  -4079
financeetc         0    -81
corporateetc     229   -347
foreigneretc      20    400
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   402000  388500
high   403500  389000
low    391500  370500
close  391500  371000
vol    327192  459845
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   412000  388500
high   415000  389000
low    406500  370500
close  410500  371000
vol    129697  459845
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         53023  41007
foreigner     -27038 -15231
institution   -26038 -25632
financial        521  -1866
invtrust       -4455  -8213
pension       -14207 -14642
privequity     -3830   3011
bank              93   -615
insurance      -4079  -3307
financeetc       -81      1
corporateetc    -347   -299
foreigneretc     400    154
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         63358  41007
foreigner     -37839 -15231
institution   -27971 -25632
financial      -5842  -1866
invtrust       -6138  -8213
pension        -8905 -14642
privequity     -6281   3011
bank               0   -615
insurance       -793  -3307
financeetc       -11      1
corporateetc    2244   -299
foreigneretc     208    154
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   388500  371000
high   389000  371500
low    370500  356000
close  371000  356500
vol    459845  434833
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   402000  371000
high   403500  371500
low    391500  356000
close  391500  356500
vol    327192  434833
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         41007   2197
foreigner     -15231  -1523
institution   -25632  -1493
financial      -1866   1720
invtrust       -8213   -703
pension       -14642   3533
privequity      3011  -3972
bank            -615      0
insurance      -3307  -2059
financeetc         1    -12
corporateetc    -299    794
foreigneretc     154     25
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         53023   2197
foreigner     -27038  -1523
institution   -26038  -1493
financial        521   1720
invtrust       -4455   -703
pension       -14207   3533
privequity     -3830  -3972
bank              93      0
insurance      -4079  -2059
financeetc       -81    -12
corporateetc    -347    794
foreigneretc     400     25
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   371000  356500
high   371500  361000
low    356000  352000
close  356500  356000
vol    434833  161015
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   388500  356500
high   389000  361000
low    370500  352000
close  371000  356000
vol    459845  161015
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -6552 -12850
foreigner      -6818   1078
institution    14721  11948
financial      -6569   1635
invtrust        1272   1181
pension        23911   9864
privequity     -4720   -575
bank               0      0
insurance        869   -157
financeetc       -42      0
corporateetc   -1361   -177
foreigneretc       9      1
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          3858 -12850
foreigner     -15965   1078
institution    12649  11948
financial       4050   1635
invtrust        1755   1181
pension         7218   9864
privequity       967   -575
bank            -123      0
insurance      -1170   -157
financeetc       -47      0
corporateetc    -568   -177
foreigneretc      25      1
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   367500  374500
high   374500  375000
low    364000  367500
close  370500  373500
vol    393886  223247
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   356500  374500
high   362500  375000
low    356000  367500
close  361500  373500
vol    219192  223247
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -12850 -47733
foreigner       1078  11644
institution    11948  35196
financial       1635  -2742
invtrust        1181   8599
pension         9864  18932
privequity      -575   6767
bank               0     19
insurance       -157   3650
financeetc         0    -29
corporateetc    -177    945
foreigneretc       1    -52
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -6552 -47733
foreigner      -6818  11644
institution    14721  35196
financial      -6569  -2742
invtrust        1272   8599
pension        23911  18932
privequity     -4720   6767
bank               0     19
insurance        869   3650
financeetc       -42    -29
corporateetc   -1361    945
foreigneretc       9    -52
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   374500  375000
high   375000  392500
low    367500  375000
close  373500  388000
vol    223247  397140
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   367500  375000
high   374500  392500
low    364000  375000
close  370500  388000
vol    393886  397140
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -47733 -50620
foreigner      11644   9710
institution    35196  44465
financial      -2742  -2034
invtrust        8599  10823
pension        18932  19028
privequity      6767  14603
bank              19     51
insurance       3650   1931
financeetc       -29     62
corporateetc     945  -3489
foreigneretc     -52    -66
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -12850 -50620
foreigner       1078   9710
institution    11948  44465
financial       1635  -2034
invtrust        1181  10823
pension         9864  19028
privequity      -575  14603
bank               0     51
insurance       -157   1931
financeetc         0     62
corporateetc    -177  -3489
foreigneretc       1    -66
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   375000  389000
high   392500  402000
low    375000  380500
close  388000  395000
vol    397140  345052
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   374500  389000
high   375000  402000
low    367500  380500
close  373500  395000
vol    223247  345052
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -50620 -48237
foreigner       9710  22582
institution    44465  26266
financial      -2034  -2580
invtrust       10823   9028
pension        19028  14219
privequity     14603   2023
bank              51     46
insurance       1931   3488
financeetc        62     42
corporateetc   -3489   -244
foreigneretc     -66   -368
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -47733 -48237
foreigner      11644  22582
institution    35196  26266
financial      -2742  -2580
invtrust        8599   9028
pension        18932  14219
privequity      6767   2023
bank              19     46
insurance       3650   3488
financeetc       -29     42
corporateetc     945   -244
foreigneretc     -52   -368
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   389000  393000
high   402000  403000
low    380500  387500
close  395000  401000
vol    345052  324262
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   375000  393000
high   392500  403000
low    375000  387500
close  388000  401000
vol    397140  324262
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -48237 -23073
foreigner      22582   6654
institution    26266  16927
financial      -2580   5176
invtrust        9028   2527
pension        14219  10761
privequity      2023  -3489
bank              46      0
insurance       3488   1972
financeetc        42    -20
corporateetc    -244   -347
foreigneretc    -368   -161
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -50620 -23073
foreigner       9710   6654
institution    44465  16927
financial      -2034   5176
invtrust       10823   2527
pension        19028  10761
privequity     14603  -3489
bank              51      0
insurance       1931   1972
financeetc        62    -20
corporateetc   -3489   -347
foreigneretc     -66   -161
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   393000  398500
high   403000  404000
low    387500  392000
close  401000  400000
vol    324262  223258
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   389000  398500
high   402000  404000
low    380500  392000
close  395000  400000
vol    345052  223258
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -23073  -7367
foreigner       6654  23544
institution    16927 -16281
financial       5176  -9142
invtrust        2527  -7388
pension        10761   6134
privequity     -3489  -5175
bank               0   -607
insurance       1972      4
financeetc       -20   -107
corporateetc    -347    164
foreigneretc    -161    -60
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -48237  -7367
foreigner      22582  23544
institution    26266 -16281
financial      -2580  -9142
invtrust        9028  -7388
pension        14219   6134
privequity      2023  -5175
bank              46   -607
insurance       3488      4
financeetc        42   -107
corporateetc    -244    164
foreigneretc    -368    -60
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   398500  400000
high   404000  404000
low    392000  399000
close  400000  399500
vol    223258  197883
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   393000  400000
high   403000  404000
low    387500  399000
close  401000  399500
vol    324262  197883
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7367  -5557
foreigner      23544   6272
institution   -16281   -531
financial      -9142  -2173
invtrust       -7388   3683
pension         6134    855
privequity     -5175  -2336
bank            -607    -91
insurance          4   -480
financeetc      -107     12
corporateetc     164   -161
foreigneretc     -60    -23
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -23073  -5557
foreigner       6654   6272
institution    16927   -531
financial       5176  -2173
invtrust        2527   3683
pension        10761    855
privequity     -3489  -2336
bank               0    -91
insurance       1972   -480
financeetc       -20     12
corporateetc    -347   -161
foreigneretc    -161    -23
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   400000  401500
high   404000  402000
low    399000  394000
close  399500  400000
vol    197883  146816
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   398500  401500
high   404000  402000
low    392000  394000
close  400000  400000
vol    223258  146816
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5557  14056
foreigner       6272   5260
institution     -531 -19223
financial      -2173  -4302
invtrust        3683   -498
pension          855  -6304
privequity     -2336  -7888
bank             -91    452
insurance       -480   -644
financeetc        12    -39
corporateetc    -161     -2
foreigneretc     -23    -91
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7367  14056
foreigner      23544   5260
institution   -16281 -19223
financial      -9142  -4302
invtrust       -7388   -498
pension         6134  -6304
privequity     -5175  -7888
bank            -607    452
insurance          4   -644
financeetc      -107    -39
corporateetc     164     -2
foreigneretc     -60    -91
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   401500  400000
high   402000  400500
low    394000  387000
close  400000  393000
vol    146816  233929
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   400000  400000
high   404000  400500
low    399000  387000
close  399500  393000
vol    197883  233929
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         14056  25825
foreigner       5260 -18020
institution   -19223 -10219
financial      -4302  -3492
invtrust        -498    -75
pension        -6304    144
privequity     -7888  -1296
bank             452  -2267
insurance       -644  -3137
financeetc       -39    -95
corporateetc      -2   3147
foreigneretc     -91   -734
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5557  25825
foreigner       6272 -18020
institution     -531 -10219
financial      -2173  -3492
invtrust        3683    -75
pension          855    144
privequity     -2336  -1296
bank             -91  -2267
insurance       -480  -3137
financeetc        12    -95
corporateetc    -161   3147
foreigneretc     -23   -734
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   400000  391500
high   400500  393500
low    387000  382500
close  393000  383000
vol    233929  205688
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   401500  391500
high   402000  393500
low    394000  382500
close  400000  383000
vol    146816  205688
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -14465  19284
foreigner      15286 -22330
institution     -780   1764
financial      -5238  -1030
invtrust        2321  -1743
pension         5657   4304
privequity     -4088   1857
bank              24    -34
insurance        582  -1207
financeetc       -39   -383
corporateetc      -4   1199
foreigneretc     -37     83
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         14930  19284
foreigner     -11310 -22330
institution    -3704   1764
financial      -2794  -1030
invtrust        -814  -1743
pension         3425   4304
privequity     -2657   1857
bank             -34    -34
insurance       -804  -1207
financeetc       -26   -383
corporateetc      76   1199
foreigneretc       7     83
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   385000  391500
high   390500  392500
low    384500  382000
close  390500  382000
vol    185937  300672
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   387000  391500
high   389500  392500
low    383500  382000
close  384000  382000
vol    181936  300672
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         19284 -65035
foreigner     -22330  33587
institution     1764  31856
financial      -1030 -26526
invtrust       -1743   3491
pension         4304  20651
privequity      1857  39932
bank             -34    -25
insurance      -1207  -5523
financeetc      -383   -144
corporateetc    1199   -248
foreigneretc      83   -160
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -14465 -65035
foreigner      15286  33587
institution     -780  31856
financial      -5238 -26526
invtrust        2321   3491
pension         5657  20651
privequity     -4088  39932
bank              24    -25
insurance        582  -5523
financeetc       -39   -144
corporateetc      -4   -248
foreigneretc     -37   -160
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   391500  376000
high   392500  393500
low    382000  371000
close  382000  391000
vol    300672  653865
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   385000  376000
high   390500  393500
low    384500  371000
close  390500  391000
vol    185937  653865
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -65035 -87072
foreigner      33587  52607
institution    31856  36414
financial     -26526 -14097
invtrust        3491   8560
pension        20651  35575
privequity     39932   -405
bank             -25    272
insurance      -5523   5601
financeetc      -144    907
corporateetc    -248  -1805
foreigneretc    -160   -144
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         19284 -87072
foreigner     -22330  52607
institution     1764  36414
financial      -1030 -14097
invtrust       -1743   8560
pension         4304  35575
privequity      1857   -405
bank             -34    272
insurance      -1207   5601
financeetc      -383    907
corporateetc    1199  -1805
foreigneretc      83   -144
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   376000  388000
high   393500  409500
low    371000  386500
close  391000  394000
vol    653865  691524
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   391500  388000
high   392500  409500
low    382000  386500
close  382000  394000
vol    300672  691524
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -87072   95007
foreigner      52607  123875
institution    36414 -194053
financial     -14097   27601
invtrust        8560 -105263
pension        35575  133427
privequity      -405 -245331
bank             272   -2329
insurance       5601   12855
financeetc       907  -15013
corporateetc   -1805  -24904
foreigneretc    -144      75
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -65035   95007
foreigner      33587  123875
institution    31856 -194053
financial     -26526   27601
invtrust        3491 -105263
pension        20651  133427
privequity     39932 -245331
bank             -25   -2329
insurance      -5523   12855
financeetc      -144  -15013
corporateetc    -248  -24904
foreigneretc    -160      75
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   388000   383000
high   409500   397000
low    386500   382500
close  394000   393500
vol    691524  2624439
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   376000   383000
high   393500   397000
low    371000   382500
close  391000   393500
vol    653865  2624439
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         95007 -148077
foreigner     123875  213560
institution  -194053  -58347
financial      27601    3832
invtrust     -105263  -34069
pension       133427   51061
privequity   -245331  -85183
bank           -2329      42
insurance      12855   13246
financeetc    -15013   -7276
corporateetc  -24904   -6766
foreigneretc      75    -370
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -87072 -148077
foreigner      52607  213560
institution    36414  -58347
financial     -14097    3832
invtrust        8560  -34069
pension        35575   51061
privequity      -405  -85183
bank             272      42
insurance       5601   13246
financeetc       907   -7276
corporateetc   -1805   -6766
foreigneretc    -144    -370
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    383000   396000
high    397000   419000
low     382500   393500
close   393500   415500
vol    2624439  1654973
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   388000   396000
high   409500   419000
low    386500   393500
close  394000   415500
vol    691524  1654973
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -148077 -35086
foreigner     213560  33487
institution   -58347   4910
financial       3832  11738
invtrust      -34069  -9278
pension        51061  24816
privequity    -85183 -27360
bank              42   1463
insurance      13246   6522
financeetc     -7276  -2990
corporateetc   -6766  -3317
foreigneretc    -370      6
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         95007 -35086
foreigner     123875  33487
institution  -194053   4910
financial      27601  11738
invtrust     -105263  -9278
pension       133427  24816
privequity   -245331 -27360
bank           -2329   1463
insurance      12855   6522
financeetc    -15013  -2990
corporateetc  -24904  -3317
foreigneretc      75      6
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    396000  416000
high    419000  423000
low     393500  411000
close   415500  422000
vol    1654973  721315
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    383000  416000
high    397000  423000
low     382500  411000
close   393500  422000
vol    2624439  721315
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -35086 -15600
foreigner      33487  12687
institution     4910   3983
financial      11738   1809
invtrust       -9278 -10410
pension        24816  27933
privequity    -27360 -17730
bank            1463   -166
insurance       6522   2887
financeetc     -2990   -341
corporateetc   -3317  -1035
foreigneretc       6    -35
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -148077 -15600
foreigner     213560  12687
institution   -58347   3983
financial       3832   1809
invtrust      -34069 -10410
pension        51061  27933
privequity    -85183 -17730
bank              42   -166
insurance      13246   2887
financeetc     -7276   -341
corporateetc   -6766  -1035
foreigneretc    -370    -35
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   416000  420000
high   423000  428000
low    411000  416500
close  422000  419500
vol    721315  370740
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    396000  420000
high    419000  428000
low     393500  416500
close   415500  419500
vol    1654973  370740
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -15600  13086
foreigner      12687  13690
institution     3983 -26697
financial       1809  -4564
invtrust      -10410  -9569
pension        27933  12097
privequity    -17730 -25843
bank            -166     19
insurance       2887   2141
financeetc      -341   -978
corporateetc   -1035   -123
foreigneretc     -35     44
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -35086  13086
foreigner      33487  13690
institution     4910 -26697
financial      11738  -4564
invtrust       -9278  -9569
pension        24816  12097
privequity    -27360 -25843
bank            1463     19
insurance       6522   2141
financeetc     -2990   -978
corporateetc   -3317   -123
foreigneretc       6     44
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   420000  420000
high   428000  424000
low    416500  413000
close  419500  417000
vol    370740  282849
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   416000  420000
high   423000  424000
low    411000  413000
close  422000  417000
vol    721315  282849
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         13086 -87812
foreigner      13690  98854
institution   -26697 -11486
financial      -4564  -5051
invtrust       -9569  -6857
pension        12097  21552
privequity    -25843 -36614
bank              19    961
insurance       2141  13257
financeetc      -978   1266
corporateetc    -123    589
foreigneretc      44   -145
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -15600 -87812
foreigner      12687  98854
institution     3983 -11486
financial       1809  -5051
invtrust      -10410  -6857
pension        27933  21552
privequity    -17730 -36614
bank            -166    961
insurance       2887  13257
financeetc      -341   1266
corporateetc   -1035    589
foreigneretc     -35   -145
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   420000  416000
high   424000  437000
low    413000  415500
close  417000  437000
vol    282849  733137
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   420000  416000
high   428000  437000
low    416500  415500
close  419500  437000
vol    370740  733137

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -43759 -79425
foreigner      47820  89364
institution      673   -732
financial     -11622 -32739
invtrust       -1949   6393
pension        29059  13390
privequity    -16038   5029
bank              29   -422
insurance       2481  10068
financeetc     -1286  -2452
corporateetc   -4604  -8915
foreigneretc    -130   -291
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   455500  462000
high   459500  474000
low    452500  461000
close  458000  472000
vol    280484  641654
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   448000  462000
high   458500  474000
low    444000  461000
close  457500  472000
vol    593954  641654
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -79425  16919
foreigner      89364  14725
institution     -732 -30695
financial     -32739    -35
invtrust        6393  -6561
pension        13390   8676
privequity      5029 -28060
bank            -422   -617
insurance      10068  -3878
financeetc     -2452   -220
corporateetc   -8915   -938
foreigneretc    -291    -11
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -11412  16919
foreigner      20554  14725
institution    -9215 -30695
financial      -7755    -35
invtrust       -2368  -6561
pension        11520   8676
privequity    -12960 -28060
bank             485   -617
insurance        492  -3878
financeetc      1371   -220
corporateetc      41   -938
foreigneretc      31    -11
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   462000  469000
high   474000  473000
low    461000  455500
close  472000  460500
vol    641654  430857
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   455500  469000
high   459500  473000
low    452500  455500
close  458000  460500
vol    280484  430857
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16919  -2109
foreigner      14725  14010
institution   -30695  -8757
financial        -35  -2080
invtrust       -6561  -3037
pension         8676   9985
privequity    -28060 -13773
bank            -617  -1204
insurance      -3878   1352
financeetc      -220      0
corporateetc    -938  -3074
foreigneretc     -11    -69
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -79425  -2109
foreigner      89364  14010
institution     -732  -8757
financial     -32739  -2080
invtrust        6393  -3037
pension        13390   9985
privequity      5029 -13773
bank            -422  -1204
insurance      10068   1352
financeetc     -2452      0
corporateetc   -8915  -3074
foreigneretc    -291    -69
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   469000  464500
high   473000  469500
low    455500  458500
close  460500  460500
vol    430857  327692
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   462000  464500
high   474000  469500
low    461000  458500
close  472000  460500
vol    641654  327692
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -2109   8362
foreigner      14010  30595
institution    -8757 -38050
financial      -2080  -4270
invtrust       -3037 -13847
pension         9985   2921
privequity    -13773 -18349
bank           -1204   -560
insurance       1352  -3945
financeetc         0      0
corporateetc   -3074  -1007
foreigneretc     -69    101
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16919   8362
foreigner      14725  30595
institution   -30695 -38050
financial        -35  -4270
invtrust       -6561 -13847
pension         8676   2921
privequity    -28060 -18349
bank            -617   -560
insurance      -3878  -3945
financeetc      -220      0
corporateetc    -938  -1007
foreigneretc     -11    101
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   464500  461000
high   469500  461500
low    458500  450000
close  460500  453500
vol    327692  343740
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   469000  461000
high   473000  461500
low    455500  450000
close  460500  453500
vol    430857  343740
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          8362   8582
foreigner      30595  10587
institution   -38050 -18558
financial      -4270  -2352
invtrust      -13847  -4741
pension         2921   7595
privequity    -18349 -18677
bank            -560    359
insurance      -3945   -741
financeetc         0      0
corporateetc   -1007   -710
foreigneretc     101     99
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -2109   8582
foreigner      14010  10587
institution    -8757 -18558
financial      -2080  -2352
invtrust       -3037  -4741
pension         9985   7595
privequity    -13773 -18677
bank           -1204    359
insurance       1352   -741
financeetc         0      0
corporateetc   -3074   -710
foreigneretc     -69     99
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   461000  450000
high   461500  455000
low    450000  445000
close  453500  452000
vol    343740  255728
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   464500  450000
high   469500  455000
low    458500  445000
close  460500  452000
vol    327692  255728
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          8582    803
foreigner      10587  28645
institution   -18558 -28585
financial      -2352  -5377
invtrust       -4741 -11626
pension         7595   9541
privequity    -18677 -20370
bank             359      0
insurance       -741   -232
financeetc         0   -522
corporateetc    -710  -1341
foreigneretc      99    479
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          8362    803
foreigner      30595  28645
institution   -38050 -28585
financial      -4270  -5377
invtrust      -13847 -11626
pension         2921   9541
privequity    -18349 -20370
bank            -560      0
insurance      -3945   -232
financeetc         0   -522
corporateetc   -1007  -1341
foreigneretc     101    479
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   450000  452500
high   455000  455000
low    445000  445500
close  452000  447000
vol    255728  225884
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   461000  452500
high   461500  455000
low    450000  445500
close  453500  447000
vol    343740  225884
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail           803   -801
foreigner      28645   3362
institution   -28585  -2235
financial      -5377  -7434
invtrust      -11626  -2440
pension         9541  16131
privequity    -20370  -8386
bank               0      0
insurance       -232   -106
financeetc      -522      0
corporateetc   -1341     94
foreigneretc     479   -420
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          8582   -801
foreigner      10587   3362
institution   -18558  -2235
financial      -2352  -7434
invtrust       -4741  -2440
pension         7595  16131
privequity    -18677  -8386
bank             359      0
insurance       -741   -106
financeetc         0      0
corporateetc    -710     94
foreigneretc      99   -420
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   452500  441500
high   455000  447500
low    445500  438500
close  447000  442500
vol    225884  207144
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   450000  441500
high   455000  447500
low    445000  438500
close  452000  442500
vol    255728  207144
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          -801  -3112
foreigner       3362   5797
institution    -2235  -2564
financial      -7434  -5059
invtrust       -2440  -2226
pension        16131  12333
privequity     -8386  -8297
bank               0      0
insurance       -106    682
financeetc         0      3
corporateetc      94   -202
foreigneretc    -420     81
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail           803  -3112
foreigner      28645   5797
institution   -28585  -2564
financial      -5377  -5059
invtrust      -11626  -2226
pension         9541  12333
privequity    -20370  -8297
bank               0      0
insurance       -232    682
financeetc      -522      3
corporateetc   -1341   -202
foreigneretc     479     81
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   441500  441500
high   447500  449000
low    438500  439500
close  442500  445000
vol    207144  225611
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   452500  441500
high   455000  449000
low    445500  439500
close  447000  445000
vol    225884  225611
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3112 -10457
foreigner       5797   6763
institution    -2564   3932
financial      -5059  -6661
invtrust       -2226  -1345
pension        12333  17098
privequity     -8297  -5724
bank               0     80
insurance        682    330
financeetc         3    153
corporateetc    -202   -229
foreigneretc      81     -9
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          -801 -10457
foreigner       3362   6763
institution    -2235   3932
financial      -7434  -6661
invtrust       -2440  -1345
pension        16131  17098
privequity     -8386  -5724
bank               0     80
insurance       -106    330
financeetc         0    153
corporateetc      94   -229
foreigneretc    -420     -9
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   441500  449500
high   449000  454000
low    439500  441500
close  445000  451000
vol    225611  242174
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   441500  449500
high   447500  454000
low    438500  441500
close  442500  451000
vol    207144  242174
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -10457 -31108
foreigner       6763  31578
institution     3932   -746
financial      -6661   -184
invtrust       -1345  -5303
pension        17098  15723
privequity     -5724 -11635
bank              80      3
insurance        330    984
financeetc       153   -334
corporateetc    -229    392
foreigneretc      -9   -116
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   461000  470500
high   467000  478000
low    460500  463500
close  465500  465500
vol    316072  422011
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -21015  16334
foreigner      21357   5877
institution     -398 -23205
financial      -1571  -5617
invtrust        -158  -3448
pension         5071   -527
privequity     -4848 -13261
bank             490      0
insurance       1138   -386
financeetc      -522     34
corporateetc     308    959
foreigneretc    -252     36
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -15458  16334
foreigner       1746   5877
institution    13291 -23205
financial      -3668  -5617
invtrust       -1817  -3448
pension        22932   -527
privequity     -4808 -13261
bank            -274      0
insurance        593   -386
financeetc       334     34
corporateetc     427    959
foreigneretc      -6     36
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   470500  462500
high   478000  466000
low    463500  455000
close  465500  462500
vol    422011  432953
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   451000  462500
high   465000  466000
low    447500  455000
close  459500  462500
vol    339935  432953
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16334 -24419
foreigner       5877  12819
institution   -23205  11174
financial      -5617 -10338
invtrust       -3448  -1794
pension         -527  23523
privequity    -13261  -3108
bank               0    -88
insurance       -386   3213
financeetc        34   -234
corporateetc     959    403
foreigneretc      36     23
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -21015 -24419
foreigner      21357  12819
institution     -398  11174
financial      -1571 -10338
invtrust        -158  -1794
pension         5071  23523
privequity     -4848  -3108
bank             490    -88
insurance       1138   3213
financeetc      -522   -234
corporateetc     308    403
foreigneretc    -252     23
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   462500  455500
high   466000  469000
low    455000  455000
close  462500  463000
vol    432953  289808
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   470500  455500
high   478000  469000
low    463500  455000
close  465500  463000
vol    422011  289808
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -24419 -138382
foreigner      12819   98439
institution    11174   42762
financial     -10338   -3043
invtrust       -1794    6203
pension        23523   15964
privequity     -3108   22902
bank             -88    -154
insurance       3213    3529
financeetc      -234   -2638
corporateetc     403   -2058
foreigneretc      23    -761
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         16334 -138382
foreigner       5877   98439
institution   -23205   42762
financial      -5617   -3043
invtrust       -3448    6203
pension         -527   15964
privequity    -13261   22902
bank               0    -154
insurance       -386    3529
financeetc        34   -2638
corporateetc     959   -2058
foreigneretc      36    -761
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   455500  467500
high   469000  487000
low    455000  466500
close  463000  482000
vol    289808  731539
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   462500  467500
high   466000  487000
low    455000  466500
close  462500  482000
vol    432953  731539
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -138382  -8033
foreigner      98439 -12368
institution    42762  21395
financial      -3043  -1821
invtrust        6203   5826
pension        15964   9545
privequity     22902   4751
bank            -154     55
insurance       3529   3040
financeetc     -2638      0
corporateetc   -2058   -948
foreigneretc    -761    -47
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -24419  -8033
foreigner      12819 -12368
institution    11174  21395
financial     -10338  -1821
invtrust       -1794   5826
pension        23523   9545
privequity     -3108   4751
bank             -88     55
insurance       3213   3040
financeetc      -234      0
corporateetc     403   -948
foreigneretc      23    -47
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   467500  481500
high   487000  492000
low    466500  480500
close  482000  483000
vol    731539  323405
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   455500  481500
high   469000  492000
low    455000  480500
close  463000  483000
vol    289808  323405
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8033 -10001
foreigner     -12368  -4956
institution    21395  15022
financial      -1821  -2869
invtrust        5826    -85
pension         9545  14799
privequity      4751   1103
bank              55   1028
insurance       3040    719
financeetc         0    328
corporateetc    -948    -91
foreigneretc     -47     25
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -138382 -10001
foreigner      98439  -4956
institution    42762  15022
financial      -3043  -2869
invtrust        6203    -85
pension        15964  14799
privequity     22902   1103
bank            -154   1028
insurance       3529    719
financeetc     -2638    328
corporateetc   -2058    -91
foreigneretc    -761     25
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   481500  483000
high   492000  486000
low    480500  475000
close  483000  483500
vol    323405  205898
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   467500  483000
high   487000  486000
low    466500  475000
close  482000  483500
vol    731539  205898
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -10001 -20110
foreigner      -4956   8149
institution    15022  11633
financial      -2869   1737
invtrust         -85  -7159
pension        14799  20573
privequity      1103  -4566
bank            1028   -635
insurance        719   2331
financeetc       328   -649
corporateetc     -91    274
foreigneretc      25     54
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8033 -20110
foreigner     -12368   8149
institution    21395  11633
financial      -1821   1737
invtrust        5826  -7159
pension         9545  20573
privequity      4751  -4566
bank              55   -635
insurance       3040   2331
financeetc         0   -649
corporateetc    -948    274
foreigneretc     -47     54
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   483000  481500
high   486000  490500
low    475000  481000
close  483500  488000
vol    205898  276296
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   481500  481500
high   492000  490500
low    480500  481000
close  483000  488000
vol    323405  276296
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -20110 -11889
foreigner       8149  20663
institution    11633  -8479
financial       1737   9293
invtrust       -7159 -17266
pension        20573  13498
privequity     -4566 -15355
bank            -635    -31
insurance       2331   1324
financeetc      -649     59
corporateetc     274    -79
foreigneretc      54   -217
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -10001 -11889
foreigner      -4956  20663
institution    15022  -8479
financial      -2869   9293
invtrust         -85 -17266
pension        14799  13498
privequity      1103 -15355
bank            1028    -31
insurance        719   1324
financeetc       328     59
corporateetc     -91    -79
foreigneretc      25   -217
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   481500  492500
high   490500  494000
low    481000  486000
close  488000  486500
vol    276296  327964
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   483000  492500
high   486000  494000
low    475000  486000
close  483500  486500
vol    205898  327964
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -11889 -61826
foreigner      20663  58168
institution    -8479   4990
financial       9293  10905
invtrust      -17266 -12998
pension        13498  14210
privequity    -15355  -5257
bank             -31   -147
insurance       1324   -456
financeetc        59  -1267
corporateetc     -79  -1073
foreigneretc    -217   -258
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -20110 -61826
foreigner       8149  58168
institution    11633   4990
financial       1737  10905
invtrust       -7159 -12998
pension        20573  14210
privequity     -4566  -5257
bank            -635   -147
insurance       2331   -456
financeetc      -649  -1267
corporateetc     274  -1073
foreigneretc      54   -258
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   492500  492000
high   494000  500000
low    486000  485500
close  486500  497000
vol    327964  437949
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   481500  492000
high   490500  500000
low    481000  485500
close  488000  497000
vol    276296  437949
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -61826 -27562
foreigner      58168   8257
institution     4990  21520
financial      10905  -3973
invtrust      -12998 -14427
pension        14210  35915
privequity     -5257   5226
bank            -147    171
insurance       -456    656
financeetc     -1267  -2047
corporateetc   -1073  -2033
foreigneretc    -258   -182
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -11889 -27562
foreigner      20663   8257
institution    -8479  21520
financial       9293  -3973
invtrust      -17266 -14427
pension        13498  35915
privequity    -15355   5226
bank             -31    171
insurance       1324    656
financeetc        59  -2047
corporateetc     -79  -2033
foreigneretc    -217   -182
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   492000  487000
high   500000  500000
low    485500  486500
close  497000  498500
vol    437949  412616
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -6171 -13833
foreigner      15924   8039
institution   -11316   6564
financial      -1870  -3394
invtrust       -3019     52
pension         2081   6915
privequity     -6257   1781
bank            -525     76
insurance      -1662   1134
financeetc       -64      0
corporateetc    1518   -777
foreigneretc      45      8
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   481500  475500
high   487500  492000
low    476500  473500
close  479500  488500
vol    251723  270673
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   484000  475500
high   491000  492000
low    475500  473500
close  483500  488500
vol    321658  270673
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -13833  55177
foreigner       8039 -21845
institution     6564 -32436
financial      -3394 -13195
invtrust          52  -5281
pension         6915   7832
privequity      1781 -21880
bank              76    322
insurance       1134   -224
financeetc         0    -10
corporateetc    -777  -1003
foreigneretc       8    108
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3975  55177
foreigner      -3535 -21845
institution     7671 -32436
financial      -2310 -13195
invtrust        -845  -5281
pension        13084   7832
privequity     -2129 -21880
bank             -10    322
insurance       -120   -224
financeetc         0    -10
corporateetc    -216  -1003
foreigneretc      56    108
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   475500  489000
high   492000  489500
low    473500  460000
close  488500  460500
vol    270673  434212
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   481500  489000
high   487500  489500
low    476500  460000
close  479500  460500
vol    251723  434212
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         55177  15178
foreigner     -21845  17564
institution   -32436  -9459
financial     -13195  -7160
invtrust       -5281  -2027
pension         7832   9579
privequity    -21880  -8123
bank             322    250
insurance       -224  -1898
financeetc       -10    -80
corporateetc   -1003 -22638
foreigneretc     108   -644
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -13833  15178
foreigner       8039  17564
institution     6564  -9459
financial      -3394  -7160
invtrust          52  -2027
pension         6915   9579
privequity      1781  -8123
bank              76    250
insurance       1134  -1898
financeetc         0    -80
corporateetc    -777 -22638
foreigneretc       8   -644
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   489000  453000
high   489500  458000
low    460000  440000
close  460500  446500
vol    434212  446277
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   475500  453000
high   492000  458000
low    473500  440000
close  488500  446500
vol    270673  446277
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         15178  12703
foreigner      17564 -25015
institution    -9459  12058
financial      -7160  -2811
invtrust       -2027  -2709
pension         9579  17387
privequity     -8123   -153
bank             250    442
insurance      -1898   -130
financeetc       -80     32
corporateetc  -22638    254
foreigneretc    -644     -1
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         55177  12703
foreigner     -21845 -25015
institution   -32436  12058
financial     -13195  -2811
invtrust       -5281  -2709
pension         7832  17387
privequity    -21880   -153
bank             322    442
insurance       -224   -130
financeetc       -10     32
corporateetc   -1003    254
foreigneretc     108     -1
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   453000  447500
high   458000  451000
low    440000  435000
close  446500  444000
vol    446277  365111
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   489000  447500
high   489500  451000
low    460000  435000
close  460500  444000
vol    434212  365111
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12703  14088
foreigner     -25015 -17082
institution    12058   3561
financial      -2811  -3416
invtrust       -2709    761
pension        17387  12347
privequity      -153  -9107
bank             442   1024
insurance       -130   1961
financeetc        32    -10
corporateetc     254   -658
foreigneretc      -1     91
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         15178  14088
foreigner      17564 -17082
institution    -9459   3561
financial      -7160  -3416
invtrust       -2027    761
pension         9579  12347
privequity     -8123  -9107
bank             250   1024
insurance      -1898   1961
financeetc       -80    -10
corporateetc  -22638   -658
foreigneretc    -644     91
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   447500  444000
high   451000  451500
low    435000  427000
close  444000  433500
vol    365111  434645
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   453000  444000
high   458000  451500
low    440000  427000
close  446500  433500
vol    446277  434645
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         14088 -24265
foreigner     -17082    557
institution     3561  23340
financial      -3416   -314
invtrust         761   6500
pension        12347  19331
privequity     -9107  -2598
bank            1024     99
insurance       1961    322
financeetc       -10      0
corporateetc    -658    277
foreigneretc      91     91
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12703 -24265
foreigner     -25015    557
institution    12058  23340
financial      -2811   -314
invtrust       -2709   6500
pension        17387  19331
privequity      -153  -2598
bank             442     99
insurance       -130    322
financeetc        32      0
corporateetc     254    277
foreigneretc      -1     91
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   444000  440500
high   451500  448000
low    427000  436500
close  433500  440000
vol    434645  315304
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   447500  440500
high   451000  448000
low    435000  436500
close  444000  440000
vol    365111  315304
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -24265  16459
foreigner        557 -21916
institution    23340   5278
financial       -314   5299
invtrust        6500  -4376
pension        19331  10187
privequity     -2598  -6872
bank              99    307
insurance        322   -368
financeetc         0   1101
corporateetc     277   -126
foreigneretc      91    306
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         14088  16459
foreigner     -17082 -21916
institution     3561   5278
financial      -3416   5299
invtrust         761  -4376
pension        12347  10187
privequity     -9107  -6872
bank            1024    307
insurance       1961   -368
financeetc       -10   1101
corporateetc    -658   -126
foreigneretc      91    306
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   440500  433000
high   448000  438500
low    436500  420000
close  440000  426500
vol    315304  359392
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   444000  433000
high   451500  438500
low    427000  420000
close  433500  426500
vol    434645  359392
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16459 -13830
foreigner     -21916  15521
institution     5278  -1131
financial       5299   3872
invtrust       -4376  -6126
pension        10187   5081
privequity     -6872  -3630
bank             307    303
insurance       -368   -631
financeetc      1101      1
corporateetc    -126   -470
foreigneretc     306    -91
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -24265 -13830
foreigner        557  15521
institution    23340  -1131
financial       -314   3872
invtrust        6500  -6126
pension        19331   5081
privequity     -2598  -3630
bank              99    303
insurance        322   -631
financeetc         0      1
corporateetc     277   -470
foreigneretc      91    -91
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   433000  429500
high   438500  446000
low    420000  415000
close  426500  444500
vol    359392  385281
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   440500  429500
high   448000  446000
low    436500  415000
close  440000  444500
vol    315304  385281
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -13830 -66547
foreigner      15521  23652
institution    -1131  42261
financial       3872   6931
invtrust       -6126   7344
pension         5081  17278
privequity     -3630   8132
bank             303   -382
insurance       -631   2960
financeetc         1     -3
corporateetc    -470    460
foreigneretc     -91    173
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16459 -66547
foreigner     -21916  23652
institution     5278  42261
financial       5299   6931
invtrust       -4376   7344
pension        10187  17278
privequity     -6872   8132
bank             307   -382
insurance       -368   2960
financeetc      1101     -3
corporateetc    -126    460
foreigneretc     306    173
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   429500  455000
high   446000  470500
low    415000  448500
close  444500  469000
vol    385281  500217
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   433000  455000
high   438500  470500
low    420000  448500
close  426500  469000
vol    359392  500217
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -66547 -32569
foreigner      23652   -844
institution    42261  33357
financial       6931   7878
invtrust        7344   5789
pension        17278   6586
privequity      8132  12059
bank            -382   -622
insurance       2960   1716
financeetc        -3    -48
corporateetc     460    693
foreigneretc     173   -636
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   482000  497500
high   497500  498000
low    477500  475500
close  497500  483000
vol    482189  372446
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   474500  497500
high   486000  498000
low    474000  475500
close  482500  483000
vol    278082  372446
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         20373  -7660
foreigner      -8281  27046
institution   -11349 -20971
financial       3895   3027
invtrust       -4980 -14766
pension         6018   -861
privequity    -15783  -7959
bank            -136     15
insurance       -363   -426
financeetc         0      0
corporateetc    -803   1622
foreigneretc      60    -37
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -62724  -7660
foreigner      78331  27046
institution   -13347 -20971
financial     -27552   3027
invtrust       -1842 -14766
pension        22480   -861
privequity     -5870  -7959
bank             247     15
insurance       -705   -426
financeetc      -104      0
corporateetc   -2256   1622
foreigneretc      -5    -37
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   497500  484500
high   498000  492500
low    475500  476500
close  483000  477000
vol    372446  305035
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   482000  484500
high   497500  492500
low    477500  476500
close  497500  477000
vol    482189  305035
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7660  -7141
foreigner      27046   9290
institution   -20971  -1872
financial       3027   -899
invtrust      -14766  -3011
pension         -861   1155
privequity     -7959   1851
bank              15      0
insurance       -426   -967
financeetc         0      1
corporateetc    1622   -334
foreigneretc     -37     57
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         20373  -7141
foreigner      -8281   9290
institution   -11349  -1872
financial       3895   -899
invtrust       -4980  -3011
pension         6018   1155
privequity    -15783   1851
bank            -136      0
insurance       -363   -967
financeetc         0      1
corporateetc    -803   -334
foreigneretc      60     57
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   484500  487000
high   492500  489500
low    476500  479000
close  477000  483000
vol    305035  234212
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   497500  487000
high   498000  489500
low    475500  479000
close  483000  483000
vol    372446  234212
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7141 -26730
foreigner       9290   6836
institution    -1872  23235
financial       -899  -2081
invtrust       -3011   3204
pension         1155  13049
privequity      1851   9314
bank               0      0
insurance       -967   -306
financeetc         1     55
corporateetc    -334  -3298
foreigneretc      57    -43
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7660 -26730
foreigner      27046   6836
institution   -20971  23235
financial       3027  -2081
invtrust      -14766   3204
pension         -861  13049
privequity     -7959   9314
bank              15      0
insurance       -426   -306
financeetc         0     55
corporateetc    1622  -3298
foreigneretc     -37    -43
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   487000  479500
high   489500  491500
low    479000  477000
close  483000  491500
vol    234212  234777
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   484500  479500
high   492500  491500
low    476500  477000
close  477000  491500
vol    305035  234777
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -26730  18478
foreigner       6836   1864
institution    23235 -20454
financial      -2081    703
invtrust        3204  -3580
pension        13049  -1119
privequity      9314 -13939
bank               0    -21
insurance       -306  -2301
financeetc        55   -197
corporateetc   -3298    -85
foreigneretc     -43    197
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7141  18478
foreigner       9290   1864
institution    -1872 -20454
financial       -899    703
invtrust       -3011  -3580
pension         1155  -1119
privequity      1851 -13939
bank               0    -21
insurance       -967  -2301
financeetc         1   -197
corporateetc    -334    -85
foreigneretc      57    197
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   479500  497000
high   491500  499500
low    477000  481500
close  491500  489000
vol    234777  338046
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   487000  497000
high   489500  499500
low    479000  481500
close  483000  489000
vol    234212  338046
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         18478 -54819
foreigner       1864  56103
institution   -20454  -6053
financial        703  -8245
invtrust       -3580   2596
pension        -1119   4158
privequity    -13939  -5990
bank             -21   -120
insurance      -2301   1581
financeetc      -197    -34
corporateetc     -85   4606
foreigneretc     197    163
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -26730 -54819
foreigner       6836  56103
institution    23235  -6053
financial      -2081  -8245
invtrust        3204   2596
pension        13049   4158
privequity      9314  -5990
bank               0   -120
insurance       -306   1581
financeetc        55    -34
corporateetc   -3298   4606
foreigneretc     -43    163
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   497000  491000
high   499500  500000
low    481500  489500
close  489000  497500
vol    338046  347663
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   479500  491000
high   491500  500000
low    477000  489500
close  491500  497500
vol    234777  347663
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -54819   7589
foreigner      56103   -405
institution    -6053 -11289
financial      -8245  -5193
invtrust        2596  -3476
pension         4158   4941
privequity     -5990  -5674
bank            -120   -443
insurance       1581  -1399
financeetc       -34    -44
corporateetc    4606   4587
foreigneretc     163   -482
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         18478   7589
foreigner       1864   -405
institution   -20454 -11289
financial        703  -5193
invtrust       -3580  -3476
pension        -1119   4941
privequity    -13939  -5674
bank             -21   -443
insurance      -2301  -1399
financeetc      -197    -44
corporateetc     -85   4587
foreigneretc     197   -482
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   491000  499000
high   500000  500000
low    489500  484500
close  497500  495000
vol    347663  301938
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   497000  499000
high   499500  500000
low    481500  484500
close  489000  495000
vol    338046  301938
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          7589 -22425
foreigner       -405   8671
institution   -11289   7680
financial      -5193  -6055
invtrust       -3476   -257
pension         4941   4581
privequity     -5674   9494
bank            -443     14
insurance      -1399    -47
financeetc       -44    -50
corporateetc    4587   6195
foreigneretc    -482   -122
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -54819 -22425
foreigner      56103   8671
institution    -6053   7680
financial      -8245  -6055
invtrust        2596   -257
pension         4158   4581
privequity     -5990   9494
bank            -120     14
insurance       1581    -47
financeetc       -34    -50
corporateetc    4606   6195
foreigneretc     163   -122
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   499000  491000
high   500000  499000
low    484500  489000
close  495000  499000
vol    301938  211677
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   491000  491000
high   500000  499000
low    489500  489000
close  497500  499000
vol    347663  211677
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22425 -77560
foreigner       8671  31666
institution     7680  45911
financial      -6055   7321
invtrust        -257   2511
pension         4581  17595
privequity      9494  17342
bank              14      0
insurance        -47   2094
financeetc       -50   -952
corporateetc    6195    118
foreigneretc    -122   -136
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          7589 -77560
foreigner       -405  31666
institution   -11289  45911
financial      -5193   7321
invtrust       -3476   2511
pension         4941  17595
privequity     -5674  17342
bank            -443      0
insurance      -1399   2094
financeetc       -44   -952
corporateetc    4587    118
foreigneretc    -482   -136
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   491000  504000
high   499000  510000
low    489000  500000
close  499000  509000
vol    211677  346950
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   499000  504000
high   500000  510000
low    484500  500000
close  495000  509000
vol    301938  346950
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -77560 -65085
foreigner      31666  27130
institution    45911  36828
financial       7321  15502
invtrust        2511   3451
pension        17595  12906
privequity     17342   3758
bank               0   -120
insurance       2094   1416
financeetc      -952    -85
corporateetc     118   1249
foreigneretc    -136   -122
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22425 -65085
foreigner       8671  27130
institution     7680  36828
financial      -6055  15502
invtrust        -257   3451
pension         4581  12906
privequity      9494   3758
bank              14   -120
insurance        -47   1416
financeetc       -50    -85
corporateetc    6195   1249
foreigneretc    -122   -122
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -32129   2616
foreigner      22226  11561
institution    12779 -14204
financial        806  -3057
invtrust        4002  -2560
pension         1803   4413
privequity      4538 -15150
bank            -219     43
insurance       2433   2286
financeetc      -583   -178
corporateetc   -2730   -799
foreigneretc    -146    825
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   540000  539000
high   549000  542000
low    530000  516000
close  532000  528000
vol    381489  627381
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   535000  539000
high   545000  542000
low    532000  516000
close  540000  528000
vol    370279  627381
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail          2616 -114432
foreigner      11561  100210
institution   -14204   16060
financial      -3057   -2785
invtrust       -2560    4143
pension         4413    -728
privequity    -15150   15964
bank              43    -171
insurance       2286    -334
financeetc      -178     -28
corporateetc    -799   -1217
foreigneretc     825    -622
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -36725 -114432
foreigner      54219  100210
institution   -16964   16060
financial       3452   -2785
invtrust          87    4143
pension         4478    -728
privequity    -24895   15964
bank            -415    -171
insurance        334    -334
financeetc        -5     -28
corporateetc    -663   -1217
foreigneretc     133    -622
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   539000  534000
high   542000  563000
low    516000  533000
close  528000  563000
vol    627381  516467
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   540000  534000
high   549000  563000
low    530000  533000
close  532000  563000
vol    381489  516467
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -114432 -58969
foreigner     100210  74189
institution    16060 -13921
financial      -2785 -23519
invtrust        4143  -2728
pension         -728   8086
privequity     15964   6170
bank            -171   -155
insurance       -334  -1643
financeetc       -28   -132
corporateetc   -1217  -1200
foreigneretc    -622    -99
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          2616 -58969
foreigner      11561  74189
institution   -14204 -13921
financial      -3057 -23519
invtrust       -2560  -2728
pension         4413   8086
privequity    -15150   6170
bank              43   -155
insurance       2286  -1643
financeetc      -178   -132
corporateetc    -799  -1200
foreigneretc     825    -99
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   534000  564000
high   563000  585000
low    533000  560000
close  563000  569000
vol    516467  587884
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   539000  564000
high   542000  585000
low    516000  560000
close  528000  569000
vol    627381  587884
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -58969 -55849
foreigner      74189  30510
institution   -13921  26714
financial     -23519  -7868
invtrust       -2728   5536
pension         8086  20226
privequity      6170   4561
bank            -155   -161
insurance      -1643   4462
financeetc      -132    -41
corporateetc   -1200  -1565
foreigneretc     -99    190
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -114432 -55849
foreigner     100210  30510
institution    16060  26714
financial      -2785  -7868
invtrust        4143   5536
pension         -728  20226
privequity     15964   4561
bank            -171   -161
insurance       -334   4462
financeetc       -28    -41
corporateetc   -1217  -1565
foreigneretc    -622    190
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   564000  560000
high   585000  593000
low    560000  557000
close  569000  589000
vol    587884  423465
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   534000  560000
high   563000  593000
low    533000  557000
close  563000  589000
vol    516467  423465
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -55849 -22052
foreigner      30510  41326
institution    26714  -8234
financial      -7868  -1324
invtrust        5536  -4584
pension        20226  -1589
privequity      4561    131
bank            -161   -662
insurance       4462   -234
financeetc       -41     27
corporateetc   -1565 -11178
foreigneretc     190    138
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -58969 -22052
foreigner      74189  41326
institution   -13921  -8234
financial     -23519  -1324
invtrust       -2728  -4584
pension         8086  -1589
privequity      6170    131
bank            -155   -662
insurance      -1643   -234
financeetc      -132     27
corporateetc   -1200 -11178
foreigneretc     -99    138
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   560000  590000
high   593000  598000
low    557000  583000
close  589000  592000
vol    423465  363743
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   564000  590000
high   585000  598000
low    560000  583000
close  569000  592000
vol    587884  363743
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22052    373
foreigner      41326  22301
institution    -8234 -22136
financial      -1324  -1164
invtrust       -4584  -4202
pension        -1589  -2848
privequity       131 -13293
bank            -662   -127
insurance       -234   -445
financeetc        27    -57
corporateetc  -11178   -605
foreigneretc     138     67
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -55849    373
foreigner      30510  22301
institution    26714 -22136
financial      -7868  -1164
invtrust        5536  -4202
pension        20226  -2848
privequity      4561 -13293
bank            -161   -127
insurance       4462   -445
financeetc       -41    -57
corporateetc   -1565   -605
foreigneretc     190     67
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   590000  591000
high   598000  596000
low    583000  581000
close  592000  587000
vol    363743  260646
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   560000  591000
high   593000  596000
low    557000  581000
close  589000  587000
vol    423465  260646
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail           373 -15783
foreigner      22301  39854
institution   -22136 -24016
financial      -1164   2491
invtrust       -4202  -3452
pension        -2848   1874
privequity    -13293 -23147
bank            -127      0
insurance       -445  -1776
financeetc       -57     -6
corporateetc    -605   -123
foreigneretc      67     68
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22052 -15783
foreigner      41326  39854
institution    -8234 -24016
financial      -1324   2491
invtrust       -4584  -3452
pension        -1589   1874
privequity       131 -23147
bank            -662      0
insurance       -234  -1776
financeetc        27     -6
corporateetc  -11178   -123
foreigneretc     138     68
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   591000  590000
high   596000  590000
low    581000  570000
close  587000  588000
vol    260646  367102
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   590000  590000
high   598000  590000
low    583000  570000
close  592000  588000
vol    363743  367102
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -15783 -40042
foreigner      39854  47854
institution   -24016  -6716
financial       2491   5044
invtrust       -3452  -4482
pension         1874   1337
privequity    -23147  -4594
bank               0  -1774
insurance      -1776  -2248
financeetc        -6      1
corporateetc    -123  -1035
foreigneretc      68    -61
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail           373 -40042
foreigner      22301  47854
institution   -22136  -6716
financial      -1164   5044
invtrust       -4202  -4482
pension        -2848   1337
privequity    -13293  -4594
bank            -127  -1774
insurance       -445  -2248
financeetc       -57      1
corporateetc    -605  -1035
foreigneretc      67    -61
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   590000  591000
high   590000  599000
low    570000  581000
close  588000  599000
vol    367102  304293
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   591000  591000
high   596000  599000
low    581000  581000
close  587000  599000
vol    260646  304293
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -40042 -31452
foreigner      47854  31861
institution    -6716   2975
financial       5044  12570
invtrust       -4482  -1633
pension         1337  -6196
privequity     -4594   -666
bank           -1774   -244
insurance      -2248   -856
financeetc         1      0
corporateetc   -1035  -3309
foreigneretc     -61    -75
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -15783 -31452
foreigner      39854  31861
institution   -24016   2975
financial       2491  12570
invtrust       -3452  -1633
pension         1874  -6196
privequity    -23147   -666
bank               0   -244
insurance      -1776   -856
financeetc        -6      0
corporateetc    -123  -3309
foreigneretc      68    -75
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   591000  595000
high   599000  610000
low    581000  593000
close  599000  605000
vol    304293  381672
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   590000  595000
high   590000  610000
low    570000  593000
close  588000  605000
vol    367102  381672
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -31452 -39388
foreigner      31861  64904
institution     2975 -12418
financial      12570  -6929
invtrust       -1633   -732
pension        -6196 -12772
privequity      -666   6630
bank            -244   -287
insurance       -856   1704
financeetc         0    -33
corporateetc   -3309 -13593
foreigneretc     -75    495
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -39388  66883
foreigner      64904 -10716
institution   -12418 -54942
financial      -6929 -11534
invtrust        -732 -16120
pension       -12772 -12943
privequity      6630 -11688
bank            -287   -174
insurance       1704  -2485
financeetc       -33      1
corporateetc  -13593   -687
foreigneretc     495   -537
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -31452  66883
foreigner      31861 -10716
institution     2975 -54942
financial      12570 -11534
invtrust       -1633 -16120
pension        -6196 -12943
privequity      -666 -11688
bank            -244   -174
insurance       -856  -2485
financeetc         0      1
corporateetc   -3309   -687
foreigneretc     -75   -537
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   623000  618000
high   629000  628000
low    613000  602000
close  624000  604000
vol    447112  433612
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   595000  618000
high   610000  628000
low    593000  602000
close  605000  604000
vol    381672  433612
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         66883  12748
foreigner     -10716  62079
institution   -54942 -73787
financial     -11534  -7387
invtrust      -16120 -16363
pension       -12943 -17888
privequity    -11688 -27129
bank            -174    -49
insurance      -2485  -4900
financeetc         1    -72
corporateetc    -687   -820
foreigneretc    -537   -220
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -39388  12748
foreigner      64904  62079
institution   -12418 -73787
financial      -6929  -7387
invtrust        -732 -16363
pension       -12772 -17888
privequity      6630 -27129
bank            -287    -49
insurance       1704  -4900
financeetc       -33    -72
corporateetc  -13593   -820
foreigneretc     495   -220
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   618000  604000
high   628000  610000
low    602000  586000
close  604000  596000
vol    433612  380071
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   623000  604000
high   629000  610000
low    613000  586000
close  624000  596000
vol    447112  380071
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12748 -12080
foreigner      62079  32789
institution   -73787 -20501
financial      -7387  -3576
invtrust      -16363  -3416
pension       -17888  -2974
privequity    -27129 -10865
bank             -49    156
insurance      -4900    173
financeetc       -72      1
corporateetc    -820   -188
foreigneretc    -220    -21
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         66883 -12080
foreigner     -10716  32789
institution   -54942 -20501
financial     -11534  -3576
invtrust      -16120  -3416
pension       -12943  -2974
privequity    -11688 -10865
bank            -174    156
insurance      -2485    173
financeetc         1      1
corporateetc    -687   -188
foreigneretc    -537    -21
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   604000  599000
high   610000  603000
low    586000  585000
close  596000  600000
vol    380071  246738
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   618000  599000
high   628000  603000
low    602000  585000
close  604000  600000
vol    433612  246738
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -12080  -5515
foreigner      32789  15792
institution   -20501  -9567
financial      -3576    170
invtrust       -3416   -163
pension        -2974  -1227
privequity    -10865  -8745
bank             156      2
insurance        173    396
financeetc         1      0
corporateetc    -188   -685
foreigneretc     -21    -24
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12748  -5515
foreigner      62079  15792
institution   -73787  -9567
financial      -7387    170
invtrust      -16363   -163
pension       -17888  -1227
privequity    -27129  -8745
bank             -49      2
insurance      -4900    396
financeetc       -72      0
corporateetc    -820   -685
foreigneretc    -220    -24
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   599000  596000
high   603000  606000
low    585000  593000
close  600000  597000
vol    246738  157723
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   604000  596000
high   610000  606000
low    586000  593000
close  596000  597000
vol    380071  157723
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5515  -5575
foreigner      15792  15208
institution    -9567  -9948
financial        170  -3499
invtrust        -163  -1405
pension        -1227  -4223
privequity     -8745  -1265
bank               2   2177
insurance        396  -1732
financeetc         0     -1
corporateetc    -685    252
foreigneretc     -24     64
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -12080  -5575
foreigner      32789  15208
institution   -20501  -9948
financial      -3576  -3499
invtrust       -3416  -1405
pension        -2974  -4223
privequity    -10865  -1265
bank             156   2177
insurance        173  -1732
financeetc         1     -1
corporateetc    -188    252
foreigneretc     -21     64
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   596000  600000
high   606000  613000
low    593000  597000
close  597000  598000
vol    157723  237076
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   599000  600000
high   603000  613000
low    585000  597000
close  600000  598000
vol    246738  237076
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5575  37905
foreigner      15208  15499
institution    -9948 -51932
financial      -3499  -2469
invtrust       -1405  -6247
pension        -4223 -16957
privequity     -1265 -20531
bank            2177     78
insurance      -1732  -5780
financeetc        -1    -26
corporateetc     252  -1745
foreigneretc      64    273
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5515  37905
foreigner      15792  15499
institution    -9567 -51932
financial        170  -2469
invtrust        -163  -6247
pension        -1227 -16957
privequity     -8745 -20531
bank               2     78
insurance        396  -5780
financeetc         0    -26
corporateetc    -685  -1745
foreigneretc     -24    273
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   600000  600000
high   613000  600000
low    597000  571000
close  598000  573000
vol    237076  375953
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   596000  600000
high   606000  600000
low    593000  571000
close  597000  573000
vol    157723  375953
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         37905  16348
foreigner      15499  39795
institution   -51932 -56342
financial      -2469  -6654
invtrust       -6247 -11371
pension       -16957 -16268
privequity    -20531 -17367
bank              78    394
insurance      -5780  -3977
financeetc       -26  -1099
corporateetc   -1745     78
foreigneretc     273    121
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5575  16348
foreigner      15208  39795
institution    -9948 -56342
financial      -3499  -6654
invtrust       -1405 -11371
pension        -4223 -16268
privequity     -1265 -17367
bank            2177    394
insurance      -1732  -3977
financeetc        -1  -1099
corporateetc     252     78
foreigneretc      64    121
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   600000  569000
high   600000  578000
low    571000  558000
close  573000  571000
vol    375953  323986
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   600000  569000
high   613000  578000
low    597000  558000
close  598000  571000
vol    237076  323986
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16348  28084
foreigner      39795  17149
institution   -56342 -46139
financial      -6654   -737
invtrust      -11371  -8311
pension       -16268 -17540
privequity    -17367 -15066
bank             394     69
insurance      -3977  -4546
financeetc     -1099     -8
corporateetc      78    903
foreigneretc     121      3
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         37905  28084
foreigner      15499  17149
institution   -51932 -46139
financial      -2469   -737
invtrust       -6247  -8311
pension       -16957 -17540
privequity    -20531 -15066
bank              78     69
insurance      -5780  -4546
financeetc       -26     -8
corporateetc   -1745    903
foreigneretc     273      3
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   569000  574000
high   578000  576000
low    558000  557000
close  571000  561000
vol    323986  313170
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   600000  574000
high   600000  576000
low    571000  557000
close  573000  561000
vol    375953  313170
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         28084 -16142
foreigner      17149  23688
institution   -46139  -7585
financial       -737   1935
invtrust       -8311  -4277
pension       -17540    730
privequity    -15066  -4956
bank              69     16
insurance      -4546  -1035
financeetc        -8      1
corporateetc     903   -203
foreigneretc       3    242
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16348 -16142
foreigner      39795  23688
institution   -56342  -7585
financial      -6654   1935
invtrust      -11371  -4277
pension       -16268    730
privequity    -17367  -4956
bank             394     16
insurance      -3977  -1035
financeetc     -1099      1
corporateetc      78   -203
foreigneretc     121    242
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   574000  568000
high   576000  574000
low    557000  565000
close  561000  568000
vol    313170  202426
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   569000  568000
high   578000  574000
low    558000  565000
close  571000  568000
vol    323986  202426
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         -3410  -40090
foreigner      29735  112194
institution   -26545  -71915
financial        395  -11848
invtrust       -1308   13230
pension       -10692  -28156
privequity    -13528  -37546
bank               0   -1509
insurance      -1414   -6085
financeetc         1       0
corporateetc     177     -60
foreigneretc      43    -129
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         29493  -40090
foreigner       5694  112194
institution   -35302  -71915
financial      -2561  -11848
invtrust         369   13230
pension       -20192  -28156
privequity    -14299  -37546
bank             452   -1509
insurance        871   -6085
financeetc        57       0
corporateetc     446     -60
foreigneretc    -331    -129
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   562000   563000
high   568000   587000
low    558000   556000
close  567000   587000
vol    276910  1549820
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   573000   563000
high   584000   587000
low    554000   556000
close  562000   587000
vol    327688  1549820
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -40090  17448
foreigner     112194  16254
institution   -71915 -32278
financial     -11848  -4152
invtrust       13230  -9074
pension       -28156 -10193
privequity    -37546  -7418
bank           -1509     21
insurance      -6085  -1461
financeetc         0      0
corporateetc     -60  -1510
foreigneretc    -129     86
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3410  17448
foreigner      29735  16254
institution   -26545 -32278
financial        395  -4152
invtrust       -1308  -9074
pension       -10692 -10193
privequity    -13528  -7418
bank               0     21
insurance      -1414  -1461
financeetc         1      0
corporateetc     177  -1510
foreigneretc      43     86
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    563000  589000
high    587000  591000
low     556000  579000
close   587000  585000
vol    1549820  360664
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   562000  589000
high   568000  591000
low    558000  579000
close  567000  585000
vol    276910  360664
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         17448 -21111
foreigner      16254  45799
institution   -32278 -25027
financial      -4152  -5327
invtrust       -9074  -1247
pension       -10193 -14688
privequity     -7418  -2729
bank              21   -169
insurance      -1461   -867
financeetc         0      0
corporateetc   -1510     82
foreigneretc      86    258
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -40090 -21111
foreigner     112194  45799
institution   -71915 -25027
financial     -11848  -5327
invtrust       13230  -1247
pension       -28156 -14688
privequity    -37546  -2729
bank           -1509   -169
insurance      -6085   -867
financeetc         0      0
corporateetc     -60     82
foreigneretc    -129    258
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   589000  585000
high   591000  590000
low    579000  578000
close  585000  584000
vol    360664  239024
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    563000  585000
high    587000  590000
low     556000  578000
close   587000  584000
vol    1549820  239024
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -21111  38756
foreigner      45799  25013
institution   -25027 -64321
financial      -5327  -1458
invtrust       -1247 -17523
pension       -14688 -25064
privequity     -2729 -12423
bank            -169   -588
insurance       -867  -7243
financeetc         0    -22
corporateetc      82    318
foreigneretc     258    234
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         17448  38756
foreigner      16254  25013
institution   -32278 -64321
financial      -4152  -1458
invtrust       -9074 -17523
pension       -10193 -25064
privequity     -7418 -12423
bank              21   -588
insurance      -1461  -7243
financeetc         0    -22
corporateetc   -1510    318
foreigneretc      86    234
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   585000  582000
high   590000  582000
low    578000  562000
close  584000  562000
vol    239024  370292
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   589000  582000
high   591000  582000
low    579000  562000
close  585000  562000
vol    360664  370292
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         38756   5730
foreigner      25013  22011
institution   -64321 -28133
financial      -1458   2977
invtrust      -17523  -4939
pension       -25064 -22114
privequity    -12423  -3174
bank            -588    -80
insurance      -7243   -616
financeetc       -22   -187
corporateetc     318    384
foreigneretc     234      7
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -21111   5730
foreigner      45799  22011
institution   -25027 -28133
financial      -5327   2977
invtrust       -1247  -4939
pension       -14688 -22114
privequity     -2729  -3174
bank            -169    -80
insurance       -867   -616
financeetc         0   -187
corporateetc      82    384
foreigneretc     258      7
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   582000  555000
high   582000  568000
low    562000  553000
close  562000  559000
vol    370292  249853
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   585000  555000
high   590000  568000
low    578000  553000
close  584000  559000
vol    239024  249853
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          5730 -17614
foreigner      22011  28334
institution   -28133 -11584
financial       2977   5054
invtrust       -4939  -2193
pension       -22114 -12308
privequity     -3174  -2150
bank             -80    -21
insurance       -616     34
financeetc      -187      0
corporateetc     384    917
foreigneretc       7    -53
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         38756 -17614
foreigner      25013  28334
institution   -64321 -11584
financial      -1458   5054
invtrust      -17523  -2193
pension       -25064 -12308
privequity    -12423  -2150
bank            -588    -21
insurance      -7243     34
financeetc       -22      0
corporateetc     318    917
foreigneretc     234    -53
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   555000  558000
high   568000  565000
low    553000  553000
close  559000  563000
vol    249853  209953
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   582000  558000
high   582000  565000
low    562000  553000
close  562000  563000
vol    370292  209953
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -17614   94398
foreigner      28334 -161275
institution   -11584   37581
financial       5054  -11466
invtrust       -2193   74865
pension       -12308  -36984
privequity     -2150   -4003
bank             -21    1120
insurance         34   14143
financeetc         0     -94
corporateetc     917   29018
foreigneretc     -53     279
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail          5730   94398
foreigner      22011 -161275
institution   -28133   37581
financial       2977  -11466
invtrust       -4939   74865
pension       -22114  -36984
privequity     -3174   -4003
bank             -80    1120
insurance       -616   14143
financeetc      -187     -94
corporateetc     384   29018
foreigneretc       7     279
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   558000  564000
high   565000  567000
low    553000  525000
close  563000  531000
vol    209953  928841
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   555000  564000
high   568000  567000
low    553000  525000
close  559000  531000
vol    249853  928841
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         94398  24139
foreigner    -161275  18372
institution    37581 -42424
financial     -11466  -8698
invtrust       74865  16585
pension       -36984 -52284
privequity     -4003   6998
bank            1120    144
insurance      14143  -5097
financeetc       -94    -71
corporateetc   29018   -256
foreigneretc     279    169
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -17614  24139
foreigner      28334  18372
institution   -11584 -42424
financial       5054  -8698
invtrust       -2193  16585
pension       -12308 -52284
privequity     -2150   6998
bank             -21    144
insurance         34  -5097
financeetc         0    -71
corporateetc     917   -256
foreigneretc     -53    169
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   564000  533000
high   567000  534000
low    525000  507000
close  531000  515000
vol    928841  621086
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   558000  533000
high   565000  534000
low    553000  507000
close  563000  515000
vol    209953  621086
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         24139  15335
foreigner      18372  40553
institution   -42424 -56255
financial      -8698  -3017
invtrust       16585 -17663
pension       -52284 -26536
privequity      6998   1223
bank             144     64
insurance      -5097 -10376
financeetc       -71     50
corporateetc    -256    360
foreigneretc     169      6
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         94398  15335
foreigner    -161275  40553
institution    37581 -56255
financial     -11466  -3017
invtrust       74865 -17663
pension       -36984 -26536
privequity     -4003   1223
bank            1120     64
insurance      14143 -10376
financeetc       -94     50
corporateetc   29018    360
foreigneretc     279      6
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   533000  506000
high   534000  514000
low    507000  501000
close  515000  502000
vol    621086  410188
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   564000  506000
high   567000  514000
low    525000  501000
close  531000  502000
vol    928841  410188

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   482500  478500
high   483000  497500
low    473000  477000
close  482000  487500
vol    333848  328234
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   476500  478500
high   489500  497500
low    476500  477000
close  485500  487500
vol    312213  328234
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8318  29765
foreigner     -11378 -19758
institution    19272 -10703
financial       1692   2683
invtrust        7383  -4488
pension         2077  -6960
privequity      7551    128
bank              48     21
insurance        522  -2102
financeetc         0     16
corporateetc     486    600
foreigneretc     -63     96
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12056  29765
foreigner        848 -19758
institution   -14121 -10703
financial        164   2683
invtrust       -4737  -4488
pension       -10621  -6960
privequity      3789    128
bank             222     21
insurance      -2939  -2102
financeetc         0     16
corporateetc    1141    600
foreigneretc      77     96
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   478500  489500
high   497500  493000
low    477000  475000
close  487500  477000
vol    328234  244350
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   482500  489500
high   483000  493000
low    473000  475000
close  482000  477000
vol    333848  244350
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29765  17889
foreigner     -19758  -5714
institution   -10703 -13747
financial       2683  19247
invtrust       -4488  -1247
pension        -6960 -19005
privequity       128 -11205
bank              21    624
insurance      -2102  -2159
financeetc        16     -3
corporateetc     600   1482
foreigneretc      96     90
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8318  17889
foreigner     -11378  -5714
institution    19272 -13747
financial       1692  19247
invtrust        7383  -1247
pension         2077 -19005
privequity      7551 -11205
bank              48    624
insurance        522  -2159
financeetc         0     -3
corporateetc     486   1482
foreigneretc     -63     90
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   489500  479500
high   493000  481000
low    475000  466500
close  477000  471500
vol    244350  340815
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   478500  479500
high   497500  481000
low    477000  466500
close  487500  471500
vol    328234  340815
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         17889  10367
foreigner      -5714   2987
institution   -13747 -11846
financial      19247  10183
invtrust       -1247    190
pension       -19005 -14342
privequity    -11205  -6397
bank             624    244
insurance      -2159  -1725
financeetc        -3      1
corporateetc    1482  -1621
foreigneretc      90    114
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29765  10367
foreigner     -19758   2987
institution   -10703 -11846
financial       2683  10183
invtrust       -4488    190
pension        -6960 -14342
privequity       128  -6397
bank              21    244
insurance      -2102  -1725
financeetc        16      1
corporateetc     600  -1621
foreigneretc      96    114
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   479500  464000
high   481000  465500
low    466500  455000
close  471500  455500
vol    340815  287228
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   489500  464000
high   493000  465500
low    475000  455000
close  477000  455500
vol    244350  287228
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         10367  -7573
foreigner       2987   7871
institution   -11846   -939
financial      10183   9456
invtrust         190  -2465
pension       -14342  -5644
privequity     -6397   -515
bank             244  -1724
insurance      -1725    -30
financeetc         1    -17
corporateetc   -1621    368
foreigneretc     114    273
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         17889  -7573
foreigner      -5714   7871
institution   -13747   -939
financial      19247   9456
invtrust       -1247  -2465
pension       -19005  -5644
privequity    -11205   -515
bank             624  -1724
insurance      -2159    -30
financeetc        -3    -17
corporateetc    1482    368
foreigneretc      90    273
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   464000  454000
high   465500  459500
low    455000  454000
close  455500  457500
vol    287228  149013
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   479500  454000
high   481000  459500
low    466500  454000
close  471500  457500
vol    340815  149013
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7573  16657
foreigner       7871 -19933
institution     -939   2289
financial       9456  14408
invtrust       -2465   -769
pension        -5644 -10244
privequity      -515  -1499
bank           -1724   -820
insurance        -30   1599
financeetc       -17   -385
corporateetc     368    818
foreigneretc     273    168
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         10367  16657
foreigner       2987 -19933
institution   -11846   2289
financial      10183  14408
invtrust         190   -769
pension       -14342 -10244
privequity     -6397  -1499
bank             244   -820
insurance      -1725   1599
financeetc         1   -385
corporateetc   -1621    818
foreigneretc     114    168
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   454000  457500
high   459500  460000
low    454000  449500
close  457500  457000
vol    149013  231365
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   464000  457500
high   465500  460000
low    455000  449500
close  455500  457000
vol    287228  231365
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16657  63163
foreigner     -19933   9134
institution     2289 -73249
financial      14408 -21248
invtrust        -769   1565
pension       -10244 -42509
privequity     -1499 -10384
bank            -820    666
insurance       1599  -1548
financeetc      -385    209
corporateetc     818    652
foreigneretc     168    299
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7573  63163
foreigner       7871   9134
institution     -939 -73249
financial       9456 -21248
invtrust       -2465   1565
pension        -5644 -42509
privequity      -515 -10384
bank           -1724    666
insurance        -30  -1548
financeetc       -17    209
corporateetc     368    652
foreigneretc     273    299
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   457500  450500
high   460000  450500
low    449500  432500
close  457000  436500
vol    231365  446129
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   454000  450500
high   459500  450500
low    454000  432500
close  457500  436500
vol    149013  446129
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         63163   9969
foreigner       9134   7052
institution   -73249 -17757
financial     -21248 -12427
invtrust        1565   1173
pension       -42509 -19976
privequity    -10384  10537
bank             666   1774
insurance      -1548   1094
financeetc       209     68
corporateetc     652    622
foreigneretc     299    113
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16657   9969
foreigner     -19933   7052
institution     2289 -17757
financial      14408 -12427
invtrust        -769   1173
pension       -10244 -19976
privequity     -1499  10537
bank            -820   1774
insurance       1599   1094
financeetc      -385     68
corporateetc     818    622
foreigneretc     168    113
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   450500  435500
high   450500  442500
low    432500  432500
close  436500  435500
vol    446129  265226
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   457500  435500
high   460000  442500
low    449500  432500
close  457000  435500
vol    231365  265226
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          9969  -8173
foreigner       7052    670
institution   -17757   6386
financial     -12427  -4921
invtrust        1173  11384
pension       -19976   5189
privequity     10537  -7252
bank            1774     39
insurance       1094   1930
financeetc        68     17
corporateetc     622   1117
foreigneretc     113     -1
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         63163  -8173
foreigner       9134    670
institution   -73249   6386
financial     -21248  -4921
invtrust        1565  11384
pension       -42509   5189
privequity    -10384  -7252
bank             666     39
insurance      -1548   1930
financeetc       209     17
corporateetc     652   1117
foreigneretc     299     -1
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   435500  442000
high   442500  455000
low    432500  441500
close  435500  446000
vol    265226  250046
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   450500  442000
high   450500  455000
low    432500  441500
close  436500  446000
vol    446129  250046
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8173  29144
foreigner        670 -20063
institution     6386  -9588
financial      -4921  -3023
invtrust       11384  -4905
pension         5189  -4910
privequity     -7252   3409
bank              39      7
insurance       1930   -166
financeetc        17      0
corporateetc    1117    343
foreigneretc      -1    164
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          9969  29144
foreigner       7052 -20063
institution   -17757  -9588
financial     -12427  -3023
invtrust        1173  -4905
pension       -19976  -4910
privequity     10537   3409
bank            1774      7
insurance       1094   -166
financeetc        68      0
corporateetc     622    343
foreigneretc     113    164
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   473500  474000
high   484000  478500
low    467000  469000
close  473500  474500
vol    608987  254291
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   449500  474000
high   465000  478500
low    448500  469000
close  464000  474500
vol    395601  254291
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          3089  -2898
foreigner     -12931    205
institution    10126   1167
financial       2478 -24314
invtrust        4110   8587
pension         2685   1785
privequity        34  13783
bank              47     68
insurance        773   1210
financeetc         0     48
corporateetc    -351   1621
foreigneretc      67    -95
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -15874  -2898
foreigner       3914    205
institution    11949   1167
financial     -23897 -24314
invtrust       14407   8587
pension        10674   1785
privequity      7824  13783
bank             -40     68
insurance       2763   1210
financeetc       217     48
corporateetc    -119   1621
foreigneretc     130    -95
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   474000  481000
high   478500  482000
low    469000  472000
close  474500  478000
vol    254291  287924
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   473500  481000
high   484000  482000
low    467000  472000
close  473500  478000
vol    608987  287924
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -2898  -3646
foreigner        205  10641
institution     1167  -7328
financial     -24314   -796
invtrust        8587   -346
pension         1785   -488
privequity     13783  -6741
bank              68      3
insurance       1210   1039
financeetc        48      0
corporateetc    1621    238
foreigneretc     -95     95
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          3089  -3646
foreigner     -12931  10641
institution    10126  -7328
financial       2478   -796
invtrust        4110   -346
pension         2685   -488
privequity        34  -6741
bank              47      3
insurance        773   1039
financeetc         0      0
corporateetc    -351    238
foreigneretc      67     95
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   481000  479500
high   482000  482000
low    472000  475500
close  478000  478000
vol    287924  181006
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   474000  479500
high   478500  482000
low    469000  475500
close  474500  478000
vol    254291  181006
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3646 -11231
foreigner      10641  18724
institution    -7328  -6835
financial       -796  -1099
invtrust        -346  -1432
pension         -488  -2534
privequity     -6741  -1600
bank               3     -9
insurance       1039   -161
financeetc         0      0
corporateetc     238   -670
foreigneretc      95     12
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -2898 -11231
foreigner        205  18724
institution     1167  -6835
financial     -24314  -1099
invtrust        8587  -1432
pension         1785  -2534
privequity     13783  -1600
bank              68     -9
insurance       1210   -161
financeetc        48      0
corporateetc    1621   -670
foreigneretc     -95     12
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   479500  478500
high   482000  480500
low    475500  475500
close  478000  480500
vol    181006  138434
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   481000  478500
high   482000  480500
low    472000  475500
close  478000  480500
vol    287924  138434
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -11231  63830
foreigner      18724   2777
institution    -6835 -68320
financial      -1099 -22843
invtrust       -1432 -11881
pension        -2534 -11917
privequity     -1600 -17913
bank              -9    206
insurance       -161  -3972
financeetc         0      1
corporateetc    -670   1142
foreigneretc      12    571
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3646  63830
foreigner      10641   2777
institution    -7328 -68320
financial       -796 -22843
invtrust        -346 -11881
pension         -488 -11917
privequity     -6741 -17913
bank               3    206
insurance       1039  -3972
financeetc         0      1
corporateetc     238   1142
foreigneretc      95    571
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   478500  478500
high   480500  479000
low    475500  454500
close  480500  458000
vol    138434  390507
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   479500  478500
high   482000  479000
low    475500  454500
close  478000  458000
vol    181006  390507
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         63830   3564
foreigner       2777   9848
institution   -68320 -13992
financial     -22843  -9599
invtrust      -11881  -9385
pension       -11917  10601
privequity    -17913  -6300
bank             206     43
insurance      -3972    590
financeetc         1     58
corporateetc    1142    512
foreigneretc     571     69
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -11231   3564
foreigner      18724   9848
institution    -6835 -13992
financial      -1099  -9599
invtrust       -1432  -9385
pension        -2534  10601
privequity     -1600  -6300
bank              -9     43
insurance       -161    590
financeetc         0     58
corporateetc    -670    512
foreigneretc      12     69
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   478500  464000
high   479000  467000
low    454500  454500
close  458000  458000
vol    390507  282241
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   478500  464000
high   480500  467000
low    475500  454500
close  480500  458000
vol    138434  282241
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          3564  11922
foreigner       9848  21497
institution   -13992 -33321
financial      -9599  -9416
invtrust       -9385  -9575
pension        10601  -6738
privequity     -6300  -9315
bank              43     45
insurance        590   1697
financeetc        58    -19
corporateetc     512     94
foreigneretc      69   -192
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         63830  11922
foreigner       2777  21497
institution   -68320 -33321
financial     -22843  -9416
invtrust      -11881  -9575
pension       -11917  -6738
privequity    -17913  -9315
bank             206     45
insurance      -3972   1697
financeetc         1    -19
corporateetc    1142     94
foreigneretc     571   -192
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   464000  458000
high   467000  463000
low    454500  448000
close  458000  456000
vol    282241  271694
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   478500  458000
high   479000  463000
low    454500  448000
close  458000  456000
vol    390507  271694
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         11922 -30609
foreigner      21497   8481
institution   -33321  22335
financial      -9416  -5036
invtrust       -9575   5764
pension        -6738   9603
privequity     -9315   9497
bank              45   -386
insurance       1697   2888
financeetc       -19      5
corporateetc      94    -80
foreigneretc    -192   -127
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          3564 -30609
foreigner       9848   8481
institution   -13992  22335
financial      -9599  -5036
invtrust       -9385   5764
pension        10601   9603
privequity     -6300   9497
bank              43   -386
insurance        590   2888
financeetc        58      5
corporateetc     512    -80
foreigneretc      69   -127
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   458000  456500
high   463000  471500
low    448000  450500
close  456000  469500
vol    271694  266206
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   464000  456500
high   467000  471500
low    454500  450500
close  458000  469500
vol    282241  266206
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -30609 -70731
foreigner       8481  15586
institution    22335  57352
financial      -5036   9416
invtrust        5764   7263
pension         9603  26906
privequity      9497  12287
bank            -386   -145
insurance       2888   1480
financeetc         5    144
corporateetc     -80  -1758
foreigneretc    -127   -450
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         11922 -70731
foreigner      21497  15586
institution   -33321  57352
financial      -9416   9416
invtrust       -9575   7263
pension        -6738  26906
privequity     -9315  12287
bank              45   -145
insurance       1697   1480
financeetc       -19    144
corporateetc      94  -1758
foreigneretc    -192   -450
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   456500  470000
high   471500  484000
low    450500  470000
close  469500  484000
vol    266206  366937
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   458000  470000
high   463000  484000
low    448000  470000
close  456000  484000
vol    271694  366937
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -70731 -111629
foreigner      15586   32216
institution    57352   74762
financial       9416   14437
invtrust        7263   16124
pension        26906   31301
privequity     12287    5275
bank            -145    -774
insurance       1480    7874
financeetc       144     525
corporateetc   -1758    4767
foreigneretc    -450    -116
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -30609 -111629
foreigner       8481   32216
institution    22335   74762
financial      -5036   14437
invtrust        5764   16124
pension         9603   31301
privequity      9497    5275
bank            -386    -774
insurance       2888    7874
financeetc         5     525
corporateetc     -80    4767
foreigneretc    -127    -116
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail           183 -51063
foreigner       5124  -2183
institution    -3219  54261
financial     -16991   7831
invtrust        3841   6267
pension        18097  18278
privequity    -10251  18845
bank             815     54
insurance       1156   2932
financeetc       114     53
corporateetc   -1781   -658
foreigneretc    -308   -356
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    498500  504000
high    515000  528000
low     490000  501000
close   510000  521000
vol    1609558  722845
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   525000  504000
high   526000  528000
low    504000  501000
close  506000  521000
vol    459245  722845
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -51063  -8944
foreigner      -2183  -1735
institution    54261   8473
financial       7831  -3769
invtrust        6267   3150
pension        18278   5095
privequity     18845   1578
bank              54   -436
insurance       2932   2594
financeetc        53    262
corporateetc    -658   2094
foreigneretc    -356    113
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -48655  -8944
foreigner      29075  -1735
institution    15920   8473
financial    -114329  -3769
invtrust       19780   3150
pension        61881   5095
privequity     34615   1578
bank            1441   -436
insurance      12513   2594
financeetc        19    262
corporateetc    3257   2094
foreigneretc     404    113
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   504000  527000
high   528000  531000
low    501000  518000
close  521000  522000
vol    722845  428384
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    498500  527000
high    515000  531000
low     490000  518000
close   510000  522000
vol    1609558  428384
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8944 -40659
foreigner      -1735  32180
institution     8473   7936
financial      -3769 -10216
invtrust        3150   5191
pension         5095   8225
privequity      1578  -4207
bank            -436      0
insurance       2594   8942
financeetc       262      1
corporateetc    2094    450
foreigneretc     113     92
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -51063 -40659
foreigner      -2183  32180
institution    54261   7936
financial       7831 -10216
invtrust        6267   5191
pension        18278   8225
privequity     18845  -4207
bank              54      0
insurance       2932   8942
financeetc        53      1
corporateetc    -658    450
foreigneretc    -356     92
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   527000  529000
high   531000  534000
low    518000  522000
close  522000  533000
vol    428384  367389
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   504000  529000
high   528000  534000
low    501000  522000
close  521000  533000
vol    722845  367389
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -40659 -16161
foreigner      32180  22190
institution     7936 -12252
financial     -10216 -12752
invtrust        5191   1814
pension         8225  -3271
privequity     -4207   -484
bank               0   -674
insurance       8942   3117
financeetc         1     -1
corporateetc     450   6499
foreigneretc      92   -276
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8944 -16161
foreigner      -1735  22190
institution     8473 -12252
financial      -3769 -12752
invtrust        3150   1814
pension         5095  -3271
privequity      1578   -484
bank            -436   -674
insurance       2594   3117
financeetc       262     -1
corporateetc    2094   6499
foreigneretc     113   -276
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   529000  533000
high   534000  541000
low    522000  530000
close  533000  535000
vol    367389  311193
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   527000  533000
high   531000  541000
low    518000  530000
close  522000  535000
vol    428384  311193
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -16161  -3632
foreigner      22190   4555
institution   -12252  -2236
financial     -12752 -15217
invtrust        1814   3067
pension        -3271   1785
privequity      -484   6400
bank            -674     16
insurance       3117   1712
financeetc        -1      1
corporateetc    6499   1303
foreigneretc    -276     10
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -40659  -3632
foreigner      32180   4555
institution     7936  -2236
financial     -10216 -15217
invtrust        5191   3067
pension         8225   1785
privequity     -4207   6400
bank               0     16
insurance       8942   1712
financeetc         1      1
corporateetc     450   1303
foreigneretc      92     10
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   533000  530000
high   541000  533000
low    530000  521000
close  535000  525000
vol    311193  280165
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   529000  530000
high   534000  533000
low    522000  521000
close  533000  525000
vol    367389  280165
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3632 -54843
foreigner       4555  14604
institution    -2236  39571
financial     -15217 -18313
invtrust        3067   5758
pension         1785  40673
privequity      6400  10375
bank              16      5
insurance       1712   1072
financeetc         1      0
corporateetc    1303    825
foreigneretc      10   -157
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -16161 -54843
foreigner      22190  14604
institution   -12252  39571
financial     -12752 -18313
invtrust        1814   5758
pension        -3271  40673
privequity      -484  10375
bank            -674      5
insurance       3117   1072
financeetc        -1      0
corporateetc    6499    825
foreigneretc    -276   -157
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   530000  520000
high   533000  544000
low    521000  520000
close  525000  542000
vol    280165  363799
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   533000  520000
high   541000  544000
low    530000  520000
close  535000  542000
vol    311193  363799
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -54843 -14216
foreigner      14604  15354
institution    39571  -2187
financial     -18313 -16294
invtrust        5758    -92
pension        40673   3601
privequity     10375   8520
bank               5   1348
insurance       1072    711
financeetc         0     20
corporateetc     825   1258
foreigneretc    -157   -209
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3632 -14216
foreigner       4555  15354
institution    -2236  -2187
financial     -15217 -16294
invtrust        3067    -92
pension         1785   3601
privequity      6400   8520
bank              16   1348
insurance       1712    711
financeetc         1     20
corporateetc    1303   1258
foreigneretc      10   -209
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   520000  545000
high   544000  549000
low    520000  542000
close  542000  546000
vol    363799  301262
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   530000  545000
high   533000  549000
low    521000  542000
close  525000  546000
vol    280165  301262
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -14216 -18628
foreigner      15354  20140
institution    -2187  -2060
financial     -16294 -19205
invtrust         -92   3919
pension         3601   3810
privequity      8520   8238
bank            1348    -25
insurance        711   1242
financeetc        20    -40
corporateetc    1258    558
foreigneretc    -209    -10
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -54843 -18628
foreigner      14604  20140
institution    39571  -2060
financial     -18313 -19205
invtrust        5758   3919
pension        40673   3810
privequity     10375   8238
bank               5    -25
insurance       1072   1242
financeetc         0    -40
corporateetc     825    558
foreigneretc    -157    -10
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   545000  544000
high   549000  550000
low    542000  540000
close  546000  550000
vol    301262  355020
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   520000  544000
high   544000  550000
low    520000  540000
close  542000  550000
vol    363799  355020
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -18628   -596
foreigner      20140   8173
institution    -2060  -8120
financial     -19205 -11641
invtrust        3919  -1918
pension         3810   7228
privequity      8238    392
bank             -25     -2
insurance       1242  -1381
financeetc       -40   -798
corporateetc     558    808
foreigneretc     -10   -265
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -14216   -596
foreigner      15354   8173
institution    -2187  -8120
financial     -16294 -11641
invtrust         -92  -1918
pension         3601   7228
privequity      8520    392
bank            1348     -2
insurance        711  -1381
financeetc        20   -798
corporateetc    1258    808
foreigneretc    -209   -265
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   544000  547000
high   550000  548000
low    540000  535000
close  550000  542000
vol    355020  260831
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   545000  547000
high   549000  548000
low    542000  535000
close  546000  542000
vol    301262  260831
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          -596  41888
foreigner       8173 -10514
institution    -8120 -31579
financial     -11641 -14463
invtrust       -1918  -4760
pension         7228 -13153
privequity       392    475
bank              -2     36
insurance      -1381    564
financeetc      -798   -278
corporateetc     808    180
foreigneretc    -265     24
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29751  32037
foreigner     -55052 -48628
institution    22389  17326
financial      -3176  -4138
invtrust        6766    623
pension         9903  19559
privequity      7651   3075
bank             -28    -17
insurance       1274     -6
financeetc         0  -1770
corporateetc    2761   -727
foreigneretc     151     -8
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -32070  32037
foreigner     -14195 -48628
institution    45997  17326
financial     -19922  -4138
invtrust       12330    623
pension        31241  19559
privequity     17202   3075
bank              87    -17
insurance       4529     -6
financeetc       531  -1770
corporateetc     518   -727
foreigneretc    -251     -8
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   577000  588000
high   578000  594000
low    556000  572000
close  569000  574000
vol    317648  553025
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   568000  588000
high   580000  594000
low    566000  572000
close  575000  574000
vol    457612  553025
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         32037   9049
foreigner     -48628   -809
institution    17326  -8032
financial      -4138   9799
invtrust         623   -592
pension        19559  -4553
privequity      3075 -11167
bank             -17   -253
insurance         -6   -691
financeetc     -1770   -575
corporateetc    -727   -310
foreigneretc      -8    102
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29751   9049
foreigner     -55052   -809
institution    22389  -8032
financial      -3176   9799
invtrust        6766   -592
pension         9903  -4553
privequity      7651 -11167
bank             -28   -253
insurance       1274   -691
financeetc         0   -575
corporateetc    2761   -310
foreigneretc     151    102
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   588000  578000
high   594000  579000
low    572000  566000
close  574000  577000
vol    553025  264318
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   577000  578000
high   578000  579000
low    556000  566000
close  569000  577000
vol    317648  264318
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          9049  -9475
foreigner       -809   3726
institution    -8032   8804
financial       9799  -1049
invtrust        -592   -700
pension        -4553  28020
privequity    -11167 -15753
bank            -253    -21
insurance       -691  -1694
financeetc      -575      1
corporateetc    -310  -2789
foreigneretc     102   -265
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         32037  -9475
foreigner     -48628   3726
institution    17326   8804
financial      -4138  -1049
invtrust         623   -700
pension        19559  28020
privequity      3075 -15753
bank             -17    -21
insurance         -6  -1694
financeetc     -1770      1
corporateetc    -727  -2789
foreigneretc      -8   -265
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   578000  578000
high   579000  585000
low    566000  577000
close  577000  583000
vol    264318  368772
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   588000  578000
high   594000  585000
low    572000  577000
close  574000  583000
vol    553025  368772
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -9475 -22721
foreigner       3726  50118
institution     8804 -27244
financial      -1049  -6358
invtrust        -700  -4862
pension        28020  -1716
privequity    -15753 -12174
bank             -21   -540
insurance      -1694  -1703
financeetc         1    109
corporateetc   -2789    139
foreigneretc    -265   -292
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          9049 -22721
foreigner       -809  50118
institution    -8032 -27244
financial       9799  -6358
invtrust        -592  -4862
pension        -4553  -1716
privequity    -11167 -12174
bank            -253   -540
insurance       -691  -1703
financeetc      -575    109
corporateetc    -310    139
foreigneretc     102   -292
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   578000  587000
high   585000  590000
low    577000  576000
close  583000  588000
vol    368772  334990
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   578000  587000
high   579000  590000
low    566000  576000
close  577000  588000
vol    264318  334990
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22721  25886
foreigner      50118 -29742
institution   -27244   3106
financial      -6358   3379
invtrust       -4862   2105
pension        -1716   2323
privequity    -12174  -6031
bank            -540      0
insurance      -1703   1155
financeetc       109    176
corporateetc     139    687
foreigneretc    -292     62
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -9475  25886
foreigner       3726 -29742
institution     8804   3106
financial      -1049   3379
invtrust        -700   2105
pension        28020   2323
privequity    -15753  -6031
bank             -21      0
insurance      -1694   1155
financeetc         1    176
corporateetc   -2789    687
foreigneretc    -265     62
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   587000  582000
high   590000  590000
low    576000  571000
close  588000  584000
vol    334990  298469
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   578000  582000
high   585000  590000
low    577000  571000
close  583000  584000
vol    368772  298469
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         25886   9423
foreigner     -29742  -6692
institution     3106  -3618
financial       3379 -14750
invtrust        2105   3877
pension         2323   9427
privequity     -6031  -1246
bank               0  -1664
insurance       1155    738
financeetc       176      0
corporateetc     687    516
foreigneretc      62    370
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22721   9423
foreigner      50118  -6692
institution   -27244  -3618
financial      -6358 -14750
invtrust       -4862   3877
pension        -1716   9427
privequity    -12174  -1246
bank            -540  -1664
insurance      -1703    738
financeetc       109      0
corporateetc     139    516
foreigneretc    -292    370
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   582000  588000
high   590000  590000
low    571000  577000
close  584000  586000
vol    298469  330892
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   587000  588000
high   590000  590000
low    576000  577000
close  588000  586000
vol    334990  330892
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          9423   7040
foreigner      -6692  17226
institution    -3618 -21629
financial     -14750  -1358
invtrust        3877  -3736
pension         9427   -678
privequity     -1246 -16766
bank           -1664    -94
insurance        738   2071
financeetc         0  -1067
corporateetc     516  -3113
foreigneretc     370    476
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         25886   7040
foreigner     -29742  17226
institution     3106 -21629
financial       3379  -1358
invtrust        2105  -3736
pension         2323   -678
privequity     -6031 -16766
bank               0    -94
insurance       1155   2071
financeetc       176  -1067
corporateetc     687  -3113
foreigneretc      62    476
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   588000  586000
high   590000  598000
low    577000  572000
close  586000  575000
vol    330892  444861
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   582000  586000
high   590000  598000
low    571000  572000
close  584000  575000
vol    298469  444861
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          7040 -26590
foreigner      17226  23956
institution   -21629   2240
financial      -1358   5667
invtrust       -3736   -777
pension         -678   3092
privequity    -16766  -7179
bank             -94    -57
insurance       2071   1482
financeetc     -1067     11
corporateetc   -3113    256
foreigneretc     476    138
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          9423 -26590
foreigner      -6692  23956
institution    -3618   2240
financial     -14750   5667
invtrust        3877   -777
pension         9427   3092
privequity     -1246  -7179
bank           -1664    -57
insurance        738   1482
financeetc         0     11
corporateetc     516    256
foreigneretc     370    138
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   586000  575000
high   598000  589000
low    572000  574000
close  575000  588000
vol    444861  235578
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   588000  575000
high   590000  589000
low    577000  574000
close  586000  588000
vol    330892  235578
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -26590  12834
foreigner      23956 -24326
institution     2240   9697
financial       5667  -4452
invtrust        -777   9036
pension         3092   6142
privequity     -7179  -3034
bank             -57    -25
insurance       1482   1444
financeetc        11    586
corporateetc     256   1597
foreigneretc     138    198
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          7040  12834
foreigner      17226 -24326
institution   -21629   9697
financial      -1358  -4452
invtrust       -3736   9036
pension         -678   6142
privequity    -16766  -3034
bank             -94    -25
insurance       2071   1444
financeetc     -1067    586
corporateetc   -3113   1597
foreigneretc     476    198
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   575000  587000
high   589000  590000
low    574000  578000
close  588000  580000
vol    235578  278416
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   586000  587000
high   598000  590000
low    572000  578000
close  575000  580000
vol    444861  278416
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -85150 -25517
foreigner     118134   2943
institution   -33425  25038
financial     -39626   6243
invtrust       -1539  15949
pension         7478   2362
privequity     -1891    835
bank             162    -20
insurance       2111   -331
financeetc      -120      0
corporateetc    1011  -2727
foreigneretc    -571    263
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   608000  581000
high   610000  599000
low    588000  575000
close  590000  599000
vol    541299  386450
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   600000  581000
high   613000  599000
low    596000  575000
close  610000  599000
vol    811886  386450
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -25517  53637
foreigner       2943 -46891
institution    25038  -7712
financial       6243   1773
invtrust       15949  -4701
pension         2362   2077
privequity       835  -4981
bank             -20   -331
insurance       -331   -641
financeetc         0   -907
corporateetc   -2727    716
foreigneretc     263    250
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         89714  53637
foreigner     -58968 -46891
institution   -30780  -7712
financial      -5553   1773
invtrust       -3106  -4701
pension       -17011   2077
privequity     -2252  -4981
bank             -54   -331
insurance      -2805   -641
financeetc         1   -907
corporateetc     281    716
foreigneretc    -248    250
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   581000  603000
high   599000  604000
low    575000  586000
close  599000  594000
vol    386450  339843
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   608000  603000
high   610000  604000
low    588000  586000
close  590000  594000
vol    541299  339843
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         53637  29326
foreigner     -46891 -18361
institution    -7712  -9804
financial       1773  -9277
invtrust       -4701   1116
pension         2077   2764
privequity     -4981  -1049
bank            -331   -503
insurance       -641  -3007
financeetc      -907    152
corporateetc     716  -1246
foreigneretc     250     85
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -25517  29326
foreigner       2943 -18361
institution    25038  -9804
financial       6243  -9277
invtrust       15949   1116
pension         2362   2764
privequity       835  -1049
bank             -20   -503
insurance       -331  -3007
financeetc         0    152
corporateetc   -2727  -1246
foreigneretc     263     85
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   603000  588000
high   604000  593000
low    586000  584000
close  594000  591000
vol    339843  276643
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   581000  588000
high   599000  593000
low    575000  584000
close  599000  591000
vol    386450  276643
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29326 -22102
foreigner     -18361  21067
institution    -9804    532
financial      -9277 -11650
invtrust        1116   1407
pension         2764   8929
privequity     -1049    626
bank            -503   -353
insurance      -3007   1870
financeetc       152   -296
corporateetc   -1246    569
foreigneretc      85    -67
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         53637 -22102
foreigner     -46891  21067
institution    -7712    532
financial       1773 -11650
invtrust       -4701   1407
pension         2077   8929
privequity     -4981    626
bank            -331   -353
insurance       -641   1870
financeetc      -907   -296
corporateetc     716    569
foreigneretc     250    -67
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   588000  593000
high   593000  598000
low    584000  586000
close  591000  592000
vol    276643  247157
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   603000  593000
high   604000  598000
low    586000  586000
close  594000  592000
vol    339843  247157
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22102  53303
foreigner      21067 -39157
institution      532 -12985
financial     -11650   2355
invtrust        1407  -2539
pension         8929  -3218
privequity       626  -7592
bank            -353    -22
insurance       1870  -2055
financeetc      -296     85
corporateetc     569  -1551
foreigneretc     -67    390
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29326  53303
foreigner     -18361 -39157
institution    -9804 -12985
financial      -9277   2355
invtrust        1116  -2539
pension         2764  -3218
privequity     -1049  -7592
bank            -503    -22
insurance      -3007  -2055
financeetc       152     85
corporateetc   -1246  -1551
foreigneretc      85    390
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   593000  593000
high   598000  593000
low    586000  581000
close  592000  582000
vol    247157  300756
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   588000  593000
high   593000  593000
low    584000  581000
close  591000  582000
vol    276643  300756
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         53303   1348
foreigner     -39157  20478
institution   -12985 -23353
financial       2355   5276
invtrust       -2539  -4866
pension        -3218   -738
privequity     -7592 -21434
bank             -22    -34
insurance      -2055  -1556
financeetc        85      0
corporateetc   -1551   1410
foreigneretc     390    116
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22102   1348
foreigner      21067  20478
institution      532 -23353
financial     -11650   5276
invtrust        1407  -4866
pension         8929   -738
privequity       626 -21434
bank            -353    -34
insurance       1870  -1556
financeetc      -296      0
corporateetc     569   1410
foreigneretc     -67    116
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   593000  582000
high   593000  586000
low    581000  575000
close  582000  580000
vol    300756  247483
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   593000  582000
high   598000  586000
low    586000  575000
close  592000  580000
vol    247157  247483
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          1348  -8032
foreigner      20478  33846
institution   -23353 -25821
financial       5276   4686
invtrust       -4866  -9644
pension         -738  -9178
privequity    -21434  -9356
bank             -34    -13
insurance      -1556  -2270
financeetc         0    -46
corporateetc    1410   -208
foreigneretc     116    215
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         53303  -8032
foreigner     -39157  33846
institution   -12985 -25821
financial       2355   4686
invtrust       -2539  -9644
pension        -3218  -9178
privequity     -7592  -9356
bank             -22    -13
insurance      -2055  -2270
financeetc        85    -46
corporateetc   -1551   -208
foreigneretc     390    215
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   582000  577000.0
high   586000  578000.0
low    575000  563000.0
close  580000  572000.0
vol    247483  267430.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   593000  577000.0
high   593000  578000.0
low    581000  563000.0
close  582000  572000.0
vol    300756  267430.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8032   4299
foreigner      33846   1050
institution   -25821  -5590
financial       4686   4880
invtrust       -9644  -4952
pension        -9178  -4102
privequity     -9356  -1734
bank             -13    281
insurance      -2270     35
financeetc       -46      1
corporateetc    -208    535
foreigneretc     215   -293
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          1348   4299
foreigner      20478   1050
institution   -23353  -5590
financial       5276   4880
invtrust       -4866  -4952
pension         -738  -4102
privequity    -21434  -1734
bank             -34    281
insurance      -1556     35
financeetc         0      1
corporateetc    1410    535
foreigneretc     116   -293
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   577000.0  566000.0
high   578000.0  575000.0
low    563000.0  563000.0
close  572000.0  566000.0
vol    267430.0  189996.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   582000  566000.0
high   586000  575000.0
low    575000  563000.0
close  580000  566000.0
vol    247483  189996.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4299   8087
foreigner       1050   6420
institution    -5590 -16853
financial       4880  -1800
invtrust       -4952  -9755
pension        -4102    -43
privequity     -1734  -2615
bank             281     -4
insurance         35  -2788
financeetc         1    153
corporateetc     535   2205
foreigneretc    -293    140
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8032   8087
foreigner      33846   6420
institution   -25821 -16853
financial       4686  -1800
invtrust       -9644  -9755
pension        -9178    -43
privequity     -9356  -2615
bank             -13     -4
insurance      -2270  -2788
financeetc       -46    153
corporateetc    -208   2205
foreigneretc     215    140
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   566000.0  570000.0
high   575000.0  575000.0
low    563000.0  548000.0
close  566000.0  551000.0
vol    189996.0  328253.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   577000.0  570000.0
high   578000.0  575000.0
low    563000.0  548000.0
close  572000.0  551000.0
vol    267430.0  328253.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          8087  -9154
foreigner       6420   1550
institution   -16853   8160
financial      -1800  -7546
invtrust       -9755   5467
pension          -43   3386
privequity     -2615   4378
bank              -4      4
insurance      -2788   2090
financeetc       153    381
corporateetc    2205   -533
foreigneretc     140    -24

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   565000  558000
high   572000  567000
low    558000  550000
close  558000  563000
vol    202092  169554
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   563000.0  558000
high   571000.0  567000
low    560000.0  550000
close  564000.0  563000
vol    244181.0  169554
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4785  -5174
foreigner         59   8170
institution    -6028  -3254
financial      -1209  -3503
invtrust       -1836    405
pension         1253    891
privequity     -3385     36
bank              31      1
insurance       -881  -1084
financeetc         0      1
corporateetc    1116    246
foreigneretc      67     11
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4568  -5174
foreigner     -12935   8170
institution     7816  -3254
financial       8199  -3503
invtrust        1552    405
pension       -10935    891
privequity      6500     36
bank            -147      1
insurance       2647  -1084
financeetc         0      1
corporateetc     624    246
foreigneretc     -72     11
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   558000  561000
high   567000  570000
low    550000  559000
close  563000  566000
vol    169554  144538
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   565000  561000
high   572000  570000
low    558000  559000
close  558000  566000
vol    202092  144538
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5174  41277
foreigner       8170 -39541
institution    -3254  -2357
financial      -3503   8172
invtrust         405  -6585
pension          891   1425
privequity        36  -1926
bank               1    -63
insurance      -1084  -3380
financeetc         1      0
corporateetc     246    319
foreigneretc      11    302
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4785  41277
foreigner         59 -39541
institution    -6028  -2357
financial      -1209   8172
invtrust       -1836  -6585
pension         1253   1425
privequity     -3385  -1926
bank              31    -63
insurance       -881  -3380
financeetc         0      0
corporateetc    1116    319
foreigneretc      67    302
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   561000  568000.0
high   570000  572000.0
low    559000  550000.0
close  566000  553000.0
vol    144538  290645.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   558000  568000.0
high   567000  572000.0
low    550000  550000.0
close  563000  553000.0
vol    169554  290645.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         41277  11242
foreigner     -39541   2480
institution    -2357 -15576
financial       8172  -2609
invtrust       -6585    -40
pension         1425  -5645
privequity     -1926  -5351
bank             -63    -50
insurance      -3380  -1876
financeetc         0     -4
corporateetc     319   1709
foreigneretc     302    144
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5174  11242
foreigner       8170   2480
institution    -3254 -15576
financial      -3503  -2609
invtrust         405    -40
pension          891  -5645
privequity        36  -5351
bank               1    -50
insurance      -1084  -1876
financeetc         1     -4
corporateetc     246   1709
foreigneretc      11    144
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   568000.0  547000.0
high   572000.0  549000.0
low    550000.0  542000.0
close  553000.0  547000.0
vol    290645.0  184132.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   561000  547000.0
high   570000  549000.0
low    559000  542000.0
close  566000  547000.0
vol    144538  184132.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         11242  -5816
foreigner       2480  11505
institution   -15576  -5304
financial      -2609    937
invtrust         -40   -673
pension        -5645  -3531
privequity     -5351  -2952
bank             -50   -173
insurance      -1876   1200
financeetc        -4   -111
corporateetc    1709   -430
foreigneretc     144     45
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         41277  -5816
foreigner     -39541  11505
institution    -2357  -5304
financial       8172    937
invtrust       -6585   -673
pension         1425  -3531
privequity     -1926  -2952
bank             -63   -173
insurance      -3380   1200
financeetc         0   -111
corporateetc     319   -430
foreigneretc     302     45
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   547000.0  542000
high   549000.0  546000
low    542000.0  530000
close  547000.0  545000
vol    184132.0  211398
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   568000.0  542000
high   572000.0  546000
low    550000.0  530000
close  553000.0  545000
vol    290645.0  211398
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5816  24210
foreigner      11505 -21857
institution    -5304  -2685
financial        937     34
invtrust        -673   -612
pension        -3531   -875
privequity     -2952   -494
bank            -173   -258
insurance       1200   -481
financeetc      -111      1
corporateetc    -430    260
foreigneretc      45     73
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         11242  24210
foreigner       2480 -21857
institution   -15576  -2685
financial      -2609     34
invtrust         -40   -612
pension        -5645   -875
privequity     -5351   -494
bank             -50   -258
insurance      -1876   -481
financeetc        -4      1
corporateetc    1709    260
foreigneretc     144     73
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   542000  549000
high   546000  552000
low    530000  538000
close  545000  540000
vol    211398  178059
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   547000.0  549000
high   549000.0  552000
low    542000.0  538000
close  547000.0  540000
vol    184132.0  178059
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         24210 -34948
foreigner     -21857  21107
institution    -2685  14187
financial         34    334
invtrust        -612   1098
pension         -875   6061
privequity      -494   2947
bank            -258     -3
insurance       -481   3615
financeetc         1    136
corporateetc     260   -271
foreigneretc      73    -74
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5816 -34948
foreigner      11505  21107
institution    -5304  14187
financial        937    334
invtrust        -673   1098
pension        -3531   6061
privequity     -2952   2947
bank            -173     -3
insurance       1200   3615
financeetc      -111    136
corporateetc    -430   -271
foreigneretc      45    -74
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   549000  538000
high   552000  560000
low    538000  534000
close  540000  560000
vol    178059  185024
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   542000  538000
high   546000  560000
low    530000  534000
close  545000  560000
vol    211398  185024
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -34948  -7036
foreigner      21107  15534
institution    14187  -7643
financial        334  -3096
invtrust        1098    271
pension         6061   -674
privequity      2947  -3799
bank              -3    -20
insurance       3615   -326
financeetc       136      1
corporateetc    -271   -923
foreigneretc     -74     68
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         24210  -7036
foreigner     -21857  15534
institution    -2685  -7643
financial         34  -3096
invtrust        -612    271
pension         -875   -674
privequity      -494  -3799
bank            -258    -20
insurance       -481   -326
financeetc         1      1
corporateetc     260   -923
foreigneretc      73     68
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   538000  563000
high   560000  564000
low    534000  555000
close  560000  562000
vol    185024  144616
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   549000  563000
high   552000  564000
low    538000  555000
close  540000  562000
vol    178059  144616
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7036  20457
foreigner      15534 -10754
institution    -7643  -9940
financial      -3096   9804
invtrust         271  -3181
pension         -674  -9269
privequity     -3799  -3737
bank             -20      0
insurance       -326  -3474
financeetc         1    -82
corporateetc    -923    193
foreigneretc      68     44
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -34948  20457
foreigner      21107 -10754
institution    14187  -9940
financial        334   9804
invtrust        1098  -3181
pension         6061  -9269
privequity      2947  -3737
bank              -3      0
insurance       3615  -3474
financeetc       136    -82
corporateetc    -271    193
foreigneretc     -74     44
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   563000  560000.0
high   564000  561000.0
low    555000  552000.0
close  562000  552000.0
vol    144616  156070.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   538000  560000.0
high   560000  561000.0
low    534000  552000.0
close  560000  552000.0
vol    185024  156070.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         20457 -16805
foreigner     -10754  20055
institution    -9940  -3879
financial       9804 -10716
invtrust       -3181    692
pension        -9269    303
privequity     -3737   6080
bank               0      1
insurance      -3474   -240
financeetc       -82      0
corporateetc     193    667
foreigneretc      44    -38
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7036 -16805
foreigner      15534  20055
institution    -7643  -3879
financial      -3096 -10716
invtrust         271    692
pension         -674    303
privequity     -3799   6080
bank             -20      1
insurance       -326   -240
financeetc         1      0
corporateetc    -923    667

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3784   4388
foreigner      16160   7194
institution   -12165 -11667
financial     -10256  -3581
invtrust        6805  -2967
pension        -3989  -4257
privequity     -4558   -601
bank               2      3
insurance       -179   -264
financeetc         9      0
corporateetc     -15     70
foreigneretc    -197     16
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -54835   4388
foreigner      59634   7194
institution    -4781 -11667
financial      -2490  -3581
invtrust        1437  -2967
pension         2387  -4257
privequity     -5871   -601
bank              -2      3
insurance       -255   -264
financeetc        11      0
corporateetc     134     70
foreigneretc    -152     16
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   579000  580000.0
high   591000  583000.0
low    576000  575000.0
close  583000  578000.0
vol    199907  113909.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   574000  580000.0
high   585000  583000.0
low    572000  575000.0
close  585000  578000.0
vol    257248  113909.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4388   9394
foreigner       7194  -7617
institution   -11667   -590
financial      -3581    460
invtrust       -2967  -3048
pension        -4257   2044
privequity      -601    -84
bank               3      0
insurance       -264    -85
financeetc         0    123
corporateetc      70  -1332
foreigneretc      16    144
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3784   9394
foreigner      16160  -7617
institution   -12165   -590
financial     -10256    460
invtrust        6805  -3048
pension        -3989   2044
privequity     -4558    -84
bank               2      0
insurance       -179    -85
financeetc         9    123
corporateetc     -15  -1332
foreigneretc    -197    144
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   580000.0  583000
high   583000.0  586000
low    575000.0  575000
close  578000.0  580000
vol    113909.0  175179
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   579000  583000
high   591000  586000
low    576000  575000
close  583000  580000
vol    199907  175179
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail          9394 -139373
foreigner      -7617  104143
institution     -590   36794
financial        460   -7536
invtrust       -3048   14226
pension         2044   21179
privequity       -84    6582
bank               0     297
insurance        -85    1838
financeetc       123     208
corporateetc   -1332   -1250
foreigneretc     144    -314
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail          4388 -139373
foreigner       7194  104143
institution   -11667   36794
financial      -3581   -7536
invtrust       -2967   14226
pension        -4257   21179
privequity      -601    6582
bank               3     297
insurance       -264    1838
financeetc         0     208
corporateetc      70   -1250
foreigneretc      16    -314
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   583000  581000
high   586000  604000
low    575000  581000
close  580000  599000
vol    175179  610868
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   580000.0  581000
high   583000.0  604000
low    575000.0  581000
close  578000.0  599000
vol    113909.0  610868
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -139373  35393
foreigner     104143 -36614
institution    36794  -2214
financial      -7536  -5310
invtrust       14226   1348
pension        21179   1234
privequity      6582    393
bank             297    220
insurance       1838   -119
financeetc       208     19
corporateetc   -1250   3298
foreigneretc    -314    137
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          9394  35393
foreigner      -7617 -36614
institution     -590  -2214
financial        460  -5310
invtrust       -3048   1348
pension         2044   1234
privequity       -84    393
bank               0    220
insurance        -85   -119
financeetc       123     19
corporateetc   -1332   3298
foreigneretc     144    137
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   581000  595000
high   604000  597000
low    581000  584000
close  599000  584000
vol    610868  204800
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   583000  595000
high   586000  597000
low    575000  584000
close  580000  584000
vol    175179  204800
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         35393    382
foreigner     -36614  -3878
institution    -2214   4849
financial      -5310   1550
invtrust        1348   4836
pension         1234    139
privequity       393  -1410
bank             220    554
insurance       -119   -820
financeetc        19      0
corporateetc    3298  -1258
foreigneretc     137    -94
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -139373    382
foreigner     104143  -3878
institution    36794   4849
financial      -7536   1550
invtrust       14226   4836
pension        21179    139
privequity      6582  -1410
bank             297    554
insurance       1838   -820
financeetc       208      0
corporateetc   -1250  -1258
foreigneretc    -314    -94
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   595000  588000.0
high   597000  591000.0
low    584000  586000.0
close  584000  588000.0
vol    204800  155137.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   581000  588000.0
high   604000  591000.0
low    581000  586000.0
close  599000  588000.0
vol    610868  155137.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail           382 -30773
foreigner      -3878  19552
institution     4849  10523
financial       1550   5030
invtrust        4836   -218
pension          139   1425
privequity     -1410   3639
bank             554    -35
insurance       -820    636
financeetc         0     47
corporateetc   -1258    717
foreigneretc     -94    -20
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         35393 -30773
foreigner     -36614  19552
institution    -2214  10523
financial      -5310   5030
invtrust        1348   -218
pension         1234   1425
privequity       393   3639
bank             220    -35
insurance       -119    636
financeetc        19     47
corporateetc    3298    717
foreigneretc     137    -20
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   588000.0  590000.0
high   591000.0  595000.0
low    586000.0  587000.0
close  588000.0  594000.0
vol    155137.0  198113.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   595000  590000.0
high   597000  595000.0
low    584000  587000.0
close  584000  594000.0
vol    204800  198113.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -30773 -140464
foreigner      19552  130438
institution    10523   11824
financial       5030  -14739
invtrust        -218    6853
pension         1425    2772
privequity      3639   16507
bank             -35      93
insurance        636     373
financeetc        47     -36
corporateetc     717   -1185
foreigneretc     -20    -613
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail           382 -140464
foreigner      -3878  130438
institution     4849   11824
financial       1550  -14739
invtrust        4836    6853
pension          139    2772
privequity     -1410   16507
bank             554      93
insurance       -820     373
financeetc         0     -36
corporateetc   -1258   -1185
foreigneretc     -94    -613
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   590000.0  597000.0
high   595000.0  605000.0
low    587000.0  597000.0
close  594000.0  604000.0
vol    198113.0  498286.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   588000.0  597000.0
high   591000.0  605000.0
low    586000.0  597000.0
close  588000.0  604000.0
vol    155137.0  498286.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -140464  34829
foreigner     130438 -56965
institution    11824  18258
financial     -14739  14123
invtrust        6853  -2572
pension         2772    945
privequity     16507   4436
bank              93     12
insurance        373   1489
financeetc       -36   -176
corporateetc   -1185   3903
foreigneretc    -613    -23
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -30773  34829
foreigner      19552 -56965
institution    10523  18258
financial       5030  14123
invtrust        -218  -2572
pension         1425    945
privequity      3639   4436
bank             -35     12
insurance        636   1489
financeetc        47   -176
corporateetc     717   3903
foreigneretc     -20    -23
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   597000.0  601000.0
high   605000.0  602000.0
low    597000.0  588000.0
close  604000.0  591000.0
vol    498286.0  286608.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   590000.0  601000.0
high   595000.0  602000.0
low    587000.0  588000.0
close  594000.0  591000.0
vol    198113.0  286608.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         34829 -132681
foreigner     -56965   93018
institution    18258   40626
financial      14123   -9314
invtrust       -2572   10200
pension          945    3749
privequity      4436   35137
bank              12     -14
insurance       1489    -860
financeetc      -176    1729
corporateetc    3903    -477
foreigneretc     -23    -486
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail       -140464 -132681
foreigner     130438   93018
institution    11824   40626
financial     -14739   -9314
invtrust        6853   10200
pension         2772    3749
privequity     16507   35137
bank              93     -14
insurance        373    -860
financeetc       -36    1729
corporateetc   -1185    -477
foreigneretc    -613    -486
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   601000.0  597000.0
high   602000.0  610000.0
low    588000.0  597000.0
close  591000.0  609000.0
vol    286608.0  449434.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   610000  594000
high   614000  600000
low    588000  581000
close  589000  585000
vol    300834  340106
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   612000  594000
high   613000  600000
low    604000  581000
close  607000  585000
vol    194004  340106
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         30202  12214
foreigner     -12984  18119
institution   -17107 -30583
financial        226  -3066
invtrust       -5486  -1628
pension         3641  -2968
privequity    -13465 -25181
bank             -58   -223
insurance      -1947   2484
financeetc       -17      0
corporateetc    -343    -11
foreigneretc     233    262
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7004  12214
foreigner      18051  18119
institution    -6325 -30583
financial      -1281  -3066
invtrust        -680  -1628
pension         1573  -2968
privequity     -5586 -25181
bank              -2   -223
insurance       -606   2484
financeetc       257      0
corporateetc   -4903    -11
foreigneretc     180    262
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   594000  591000.0
high   600000  592000.0
low    581000  582000.0
close  585000  588000.0
vol    340106  271773.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   610000  591000.0
high   614000  592000.0
low    588000  582000.0
close  589000  588000.0
vol    300834  271773.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         12214  308157
foreigner      18119 -183377
institution   -30583 -131323
financial      -3066    2145
invtrust       -1628  -27980
pension        -2968  -48872
privequity    -25181  -46474
bank            -223     266
insurance       2484   -9937
financeetc         0    -471
corporateetc     -11    5535
foreigneretc     262    1008
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         30202  308157
foreigner     -12984 -183377
institution   -17107 -131323
financial        226    2145
invtrust       -5486  -27980
pension         3641  -48872
privequity    -13465  -46474
bank             -58     266
insurance      -1947   -9937
financeetc       -17    -471
corporateetc    -343    5535
foreigneretc     233    1008
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   591000.0  579000
high   592000.0  580000
low    582000.0  558000
close  588000.0  561000
vol    271773.0  900555
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   594000  579000
high   600000  580000
low    581000  558000
close  585000  561000
vol    340106  900555
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        308157  45851
foreigner    -183377  -5512
institution  -131323 -43484
financial       2145   8707
invtrust      -27980  -3174
pension       -48872 -19410
privequity    -46474 -28651
bank             266     -1
insurance      -9937   -954
financeetc      -471      1
corporateetc    5535   2998
foreigneretc    1008    147
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12214  45851
foreigner      18119  -5512
institution   -30583 -43484
financial      -3066   8707
invtrust       -1628  -3174
pension        -2968 -19410
privequity    -25181 -28651
bank            -223     -1
insurance       2484   -954
financeetc         0      1
corporateetc     -11   2998
foreigneretc     262    147
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   579000  561000
high   580000  568000
low    558000  555000
close  561000  561000
vol    900555  337706
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   591000.0  561000
high   592000.0  568000
low    582000.0  555000
close  588000.0  561000
vol    271773.0  337706
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         45851  20747
foreigner      -5512    -47
institution   -43484 -21773
financial       8707   3142
invtrust       -3174  -2483
pension       -19410 -19047
privequity    -28651  -5049
bank              -1   -101
insurance       -954   1747
financeetc         1     18
corporateetc    2998    974
foreigneretc     147     99
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        308157  20747
foreigner    -183377    -47
institution  -131323 -21773
financial       2145   3142
invtrust      -27980  -2483
pension       -48872 -19047
privequity    -46474  -5049
bank             266   -101
insurance      -9937   1747
financeetc      -471     18
corporateetc    5535    974
foreigneretc    1008     99
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   561000  563000
high   568000  565000
low    555000  556000
close  561000  558000
vol    337706  267829
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   579000  563000
high   580000  565000
low    558000  556000
close  561000  558000
vol    900555  267829
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         20747 -43234
foreigner        -47  32154
institution   -21773  10038
financial       3142   4102
invtrust       -2483    433
pension       -19047  12143
privequity     -5049  -6514
bank            -101      3
insurance       1747   -386
financeetc        18    255
corporateetc     974   1028
foreigneretc      99     14
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         45851 -43234
foreigner      -5512  32154
institution   -43484  10038
financial       8707   4102
invtrust       -3174    433
pension       -19410  12143
privequity    -28651  -6514
bank              -1      3
insurance       -954   -386
financeetc         1    255
corporateetc    2998   1028
foreigneretc     147     14
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   563000  556000
high   565000  575000
low    556000  556000
close  558000  569000
vol    267829  319585
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   561000  556000
high   568000  575000
low    555000  556000
close  561000  569000
vol    337706  319585
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -43234  16404
foreigner      32154  -2524
institution    10038 -14417
financial       4102  -8959
invtrust         433     95
pension        12143   2583
privequity     -6514  -8591
bank               3     38
insurance       -386    419
financeetc       255     -1
corporateetc    1028    486
foreigneretc      14     50
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         20747  16404
foreigner        -47  -2524
institution   -21773 -14417
financial       3142  -8959
invtrust       -2483     95
pension       -19047   2583
privequity     -5049  -8591
bank            -101     38
insurance       1747    419
financeetc        18     -1
corporateetc     974    486
foreigneretc      99     50
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   556000  570000.0
high   575000  574000.0
low    556000  561000.0
close  569000  563000.0
vol    319585  176724.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   563000  570000.0
high   565000  574000.0
low    556000  561000.0
close  558000  563000.0
vol    267829  176724.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16404  -2956
foreigner      -2524  -2954
institution   -14417   3019
financial      -8959   3752
invtrust          95    696
pension         2583    111
privequity     -8591  -4593
bank              38    -34
insurance        419   3105
financeetc        -1    -18
corporateetc     486   2745
foreigneretc      50    147
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -43234  -2956
foreigner      32154  -2954
institution    10038   3019
financial       4102   3752
invtrust         433    696
pension        12143    111
privequity     -6514  -4593
bank               3    -34
insurance       -386   3105
financeetc       255    -18
corporateetc    1028   2745
foreigneretc      14    147
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   570000.0  562000
high   574000.0  567000
low    561000.0  559000
close  563000.0  564000
vol    176724.0  136695
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   556000  562000
high   575000  567000
low    556000  559000
close  569000  564000
vol    319585  136695
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -2956  12267
foreigner      -2954 -20936
institution     3019  -6512
financial       3752  -5038
invtrust         696  -5121
pension          111  -1234
privequity     -4593   1581
bank             -34      0
insurance       3105   3355
financeetc       -18    -55
corporateetc    2745  15268
foreigneretc     147    -88
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16404  12267
foreigner      -2524 -20936
institution   -14417  -6512
financial      -8959  -5038
invtrust          95  -5121
pension         2583  -1234
privequity     -8591   1581
bank              38      0
insurance        419   3355
financeetc        -1    -55
corporateetc     486  15268
foreigneretc      50    -88
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   562000  561000
high   567000  562000
low    559000  556000
close  564000  561000
vol    136695  214674
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   570000.0  561000
high   574000.0  562000
low    561000.0  556000
close  563000.0  561000
vol    176724.0  214674
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12267  48108
foreigner     -20936 -36691
institution    -6512 -22916
financial      -5038   1522
invtrust       -5121  -4937
pension        -1234 -16019
privequity      1581  -1916
bank               0      5
insurance       3355  -1498
financeetc       -55    -73
corporateetc   15268  11327
foreigneretc     -88    171
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -2956  48108
foreigner      -2954 -36691
institution     3019 -22916
financial       3752   1522
invtrust         696  -4937
pension          111 -16019
privequity     -4593  -1916
bank             -34      5
insurance       3105  -1498
financeetc       -18    -73
corporateetc    2745  11327

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -61694   7001
foreigner      22469   3892
institution    39100 -11998
financial      16540  -4352
invtrust        6778   1512
pension         6144  -7037
privequity      4293  -1661
bank               5   -280
insurance       5342   -353
financeetc         0    172
corporateetc      47    956
foreigneretc      77    150
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         17351   7001
foreigner     -14190   3892
institution    -3544 -11998
financial       4043  -4352
invtrust       -1921   1512
pension        -4810  -7037
privequity     -2184  -1661
bank               5   -280
insurance       1323   -353
financeetc         1    172
corporateetc     289    956
foreigneretc      94    150
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   557000.0  573000
high   576000.0  574000
low    556000.0  564000
close  573000.0  569000
vol    290579.0  252640
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   551000.0  573000
high   556000.0  574000
low    548000.0  564000
close  553000.0  569000
vol    173743.0  252640
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          7001    662
foreigner       3892   9805
institution   -11998  -8184
financial      -4352 -13342
invtrust        1512   3804
pension        -7037   2429
privequity     -1661  -2632
bank            -280      2
insurance       -353   1554
financeetc       172      1
corporateetc     956  -2289
foreigneretc     150      7
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -61694    662
foreigner      22469   9805
institution    39100  -8184
financial      16540 -13342
invtrust        6778   3804
pension         6144   2429
privequity      4293  -2632
bank               5      2
insurance       5342   1554
financeetc         0      1
corporateetc      47  -2289
foreigneretc      77      7
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   573000  569000
high   574000  571000
low    564000  564000
close  569000  567000
vol    252640  159456
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   557000.0  569000
high   576000.0  571000
low    556000.0  564000
close  573000.0  567000
vol    290579.0  159456
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail           662  10566
foreigner       9805   -475
institution    -8184 -10051
financial     -13342 -11814
invtrust        3804  -1487
pension         2429   6289
privequity     -2632  -5070
bank               2     -1
insurance       1554   2032
financeetc         1      0
corporateetc   -2289      2
foreigneretc       7    -42
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          7001  10566
foreigner       3892   -475
institution   -11998 -10051
financial      -4352 -11814
invtrust        1512  -1487
pension        -7037   6289
privequity     -1661  -5070
bank            -280     -1
insurance       -353   2032
financeetc       172      0
corporateetc     956      2
foreigneretc     150    -42
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   569000  569000.0
high   571000  572000.0
low    564000  562000.0
close  567000  565000.0
vol    159456  200896.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   573000  569000.0
high   574000  572000.0
low    564000  562000.0
close  569000  565000.0
vol    252640  200896.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         10566  49055
foreigner       -475  -4489
institution   -10051 -45724
financial     -11814 -19344
invtrust       -1487  -8085
pension         6289   3177
privequity     -5070 -23557
bank              -1     -5
insurance       2032   2098
financeetc         0     -8
corporateetc       2    611
foreigneretc     -42    548
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail           662  49055
foreigner       9805  -4489
institution    -8184 -45724
financial     -13342 -19344
invtrust        3804  -8085
pension         2429   3177
privequity     -2632 -23557
bank               2     -5
insurance       1554   2098
financeetc         1     -8
corporateetc   -2289    611
foreigneretc       7    548
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   569000.0  570000.0
high   572000.0  574000.0
low    562000.0  556000.0
close  565000.0  562000.0
vol    200896.0  287258.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   569000  570000.0
high   571000  574000.0
low    564000  556000.0
close  567000  562000.0
vol    159456  287258.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         49055  60429
foreigner      -4489 -42969
institution   -45724 -19930
financial     -19344   -258
invtrust       -8085   1661
pension         3177  -5279
privequity    -23557 -13863
bank              -5      3
insurance       2098  -2195
financeetc        -8      1
corporateetc     611   1682
foreigneretc     548    788
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         10566  60429
foreigner       -475 -42969
institution   -10051 -19930
financial     -11814   -258
invtrust       -1487   1661
pension         6289  -5279
privequity     -5070 -13863
bank              -1      3
insurance       2032  -2195
financeetc         0      1
corporateetc       2   1682
foreigneretc     -42    788
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   570000.0  564000
high   574000.0  564000
low    556000.0  550000
close  562000.0  550000
vol    287258.0  302475
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   569000.0  564000
high   572000.0  564000
low    562000.0  550000
close  565000.0  550000
vol    200896.0  302475
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         60429  34243
foreigner     -42969 -13249
institution   -19930 -22459
financial       -258   5866
invtrust        1661  -3196
pension        -5279  -6527
privequity    -13863 -15897
bank               3    -40
insurance      -2195  -1161
financeetc         1  -1504
corporateetc    1682   1455
foreigneretc     788     10
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         49055  34243
foreigner      -4489 -13249
institution   -45724 -22459
financial     -19344   5866
invtrust       -8085  -3196
pension         3177  -6527
privequity    -23557 -15897
bank              -5    -40
insurance       2098  -1161
financeetc        -8  -1504
corporateetc     611   1455
foreigneretc     548     10
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   564000  553000
high   564000  557000
low    550000  547000
close  550000  550000
vol    302475  257343
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   570000.0  553000
high   574000.0  557000
low    556000.0  547000
close  562000.0  550000
vol    287258.0  257343
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         34243  140541
foreigner     -13249 -149744
institution   -22459    7689
financial       5866    -956
invtrust       -3196    4264
pension        -6527   -5509
privequity    -15897   15268
bank             -40     -31
insurance      -1161   -5187
financeetc     -1504    -160
corporateetc    1455    1178
foreigneretc      10     336
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         60429  140541
foreigner     -42969 -149744
institution   -19930    7689
financial       -258    -956
invtrust        1661    4264
pension        -5279   -5509
privequity    -13863   15268
bank               3     -31
insurance      -2195   -5187
financeetc         1    -160
corporateetc    1682    1178
foreigneretc     788     336
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   553000   538000
high   557000   539000
low    547000   530000
close  550000   534000
vol    257343  1969703
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   564000   538000
high   564000   539000
low    550000   530000
close  550000   534000
vol    302475  1969703
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        140541  10836
foreigner    -149744 -54175
institution     7689  40864
financial       -956  13664
invtrust        4264   9639
pension        -5509  10539
privequity     15268   6293
bank             -31   -202
insurance      -5187    931
financeetc      -160      0
corporateetc    1178   2283
foreigneretc     336    192
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         34243  10836
foreigner     -13249 -54175
institution   -22459  40864
financial       5866  13664
invtrust       -3196   9639
pension        -6527  10539
privequity    -15897   6293
bank             -40   -202
insurance      -1161    931
financeetc     -1504      0
corporateetc    1455   2283
foreigneretc      10    192
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before     after
open    538000  535000.0
high    539000  544000.0
low     530000  534000.0
close   534000  542000.0
vol    1969703  503736.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   553000  535000.0
high   557000  544000.0
low    547000  534000.0
close  550000  542000.0
vol    257343  503736.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         10836  25573
foreigner     -54175 -13070
institution    40864 -12373
financial      13664  16688
invtrust        9639  -2685
pension        10539  -3694
privequity      6293 -19191
bank            -202   -300
insurance        931  -2784
financeetc         0   -407
corporateetc    2283   -204
foreigneretc     192     75
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        140541  25573
foreigner    -149744 -13070
institution     7689 -12373
financial       -956  16688
invtrust        4264  -2685
pension        -5509  -3694
privequity     15268 -19191
bank             -31   -300
insurance      -5187  -2784
financeetc      -160   -407
corporateetc    1178   -204
foreigneretc     336     75
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before     after
open   535000.0  544000.0
high   544000.0  546000.0
low    534000.0  538000.0
close  542000.0  542000.0
vol    503736.0  324259.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   560000  549000.0
high   563000  574000.0
low    551000  543000.0
close  556000  569000.0
vol    319843  508472.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   550000  549000.0
high   564000  574000.0
low    546000  543000.0
close  560000  569000.0
vol    494088  508472.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -46358 -121766
foreigner      37831   97699
institution     8530   34747
financial       1210  -12959
invtrust        1595    8957
pension         4688   12107
privequity      3346   22432
bank             -14    -629
insurance      -2295    4842
financeetc         0      -3
corporateetc     101   -8685
foreigneretc    -105   -1994
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         20832 -121766
foreigner      -5524   97699
institution   -17030   34747
financial      -9136  -12959
invtrust          72    8957
pension           85   12107
privequity     -6372   22432
bank              -2    -629
insurance      -1622    4842
financeetc       -56      -3
corporateetc    1277   -8685
foreigneretc     444   -1994
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before    after
open   549000.0   573000
high   574000.0   602000
low    543000.0   568000
close  569000.0   597000
vol    508472.0  1074661
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   560000   573000
high   563000   602000
low    551000   568000
close  556000   597000
vol    319843  1074661
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -121766  35395
foreigner      97699 -22634
institution    34747  -9511
financial     -12959  -8568
invtrust        8957  -1519
pension        12107   -213
privequity     22432    133
bank            -629      1
insurance       4842    729
financeetc        -3    -73
corporateetc   -8685  -2305
foreigneretc   -1994   -944
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -46358  35395
foreigner      37831 -22634
institution     8530  -9511
financial       1210  -8568
invtrust        1595  -1519
pension         4688   -213
privequity      3346    133
bank             -14      1
insurance      -2295    729
financeetc         0    -73
corporateetc     101  -2305
foreigneretc    -105   -944
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    573000  607000
high    602000  610000
low     568000  585000
close   597000  594000
vol    1074661  756355
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   549000.0  607000
high   574000.0  610000
low    543000.0  585000
close  569000.0  594000
vol    508472.0  756355
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         35395 -81620
foreigner     -22634  53824
institution    -9511  33184
financial      -8568  -8475
invtrust       -1519  -1240
pension         -213   6826
privequity       133  36964
bank               1   -260
insurance        729   -665
financeetc       -73     34
corporateetc   -2305  -5181
foreigneretc    -944   -206
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -121766 -81620
foreigner      97699  53824
institution    34747  33184
financial     -12959  -8475
invtrust        8957  -1240
pension        12107   6826
privequity     22432  36964
bank            -629   -260
insurance       4842   -665
financeetc        -3     34
corporateetc   -8685  -5181
foreigneretc   -1994   -206
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   607000   595000
high   610000   620000
low    585000   560000
close  594000   580000
vol    756355  1706916
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    573000   595000
high    602000   620000
low     568000   560000
close   597000   580000
vol    1074661  1706916
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -81620  212766
foreigner      53824 -180937
institution    33184  -39559
financial      -8475    3275
invtrust       -1240  -13101
pension         6826   -7896
privequity     36964   -9538
bank            -260     -13
insurance       -665  -12182
financeetc        34    -106
corporateetc   -5181    6981
foreigneretc    -206     748
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         35395  212766
foreigner     -22634 -180937
institution    -9511  -39559
financial      -8568    3275
invtrust       -1519  -13101
pension         -213   -7896
privequity       133   -9538
bank               1     -13
insurance        729  -12182
financeetc       -73    -106
corporateetc   -2305    6981
foreigneretc    -944     748
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before    after
open    595000   577000
high    620000   577000
low     560000   535000
close   580000   540000
vol    1706916  1180424
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   607000   577000
high   610000   577000
low    585000   535000
close  594000   540000
vol    756355  1180424
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        212766  61875
foreigner    -180937 -66221
institution   -39559   -334
financial       3275   -790
invtrust      -13101   2432
pension        -7896  -6619
privequity     -9538   1904
bank             -13    -98
insurance     -12182   3044
financeetc      -106   -207
corporateetc    6981   4845
foreigneretc     748   -165
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -81620  61875
foreigner      53824 -66221
institution    33184   -334
financial      -8475   -790
invtrust       -1240   2432
pension         6826  -6619
privequity     36964   1904
bank            -260    -98
insurance       -665   3044
financeetc        34   -207
corporateetc   -5181   4845
foreigneretc    -206   -165
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before     after
open    577000  540000.0
high    577000  552000.0
low     535000  540000.0
close   540000  542000.0
vol    1180424  561173.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before     after
open    595000  540000.0
high    620000  552000.0
low     560000  540000.0
close   580000  542000.0
vol    1706916  561173.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         61875 -25102
foreigner     -66221  16770
institution     -334   7450
financial       -790   -954
invtrust        2432    605
pension        -6619   9075
privequity      1904   -772
bank             -98      4
insurance       3044   -480
financeetc      -207    -29
corporateetc    4845    668
foreigneretc    -165    214
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        212766 -25102
foreigner    -180937  16770
institution   -39559   7450
financial       3275   -954
invtrust      -13101    605
pension        -7896   9075
privequity     -9538   -772
bank             -13      4
insurance     -12182   -480
financeetc      -106    -29
corporateetc    6981    668
foreigneretc     748    214
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   540000.0  545000
high   552000.0  562000
low    540000.0  545000
close  542000.0  560000
vol    561173.0  378890
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    577000  545000
high    577000  562000
low     535000  545000
close   540000  560000
vol    1180424  378890
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -25102  -5811
foreigner      16770   7320
institution     7450  -3800
financial       -954   3684
invtrust         605    699
pension         9075 -10737
privequity      -772   3227
bank               4   -170
insurance       -480   -502
financeetc       -29      0
corporateetc     668   2557
foreigneretc     214   -266
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         61875  -5811
foreigner     -66221   7320
institution     -334  -3800
financial       -790   3684
invtrust        2432    699
pension        -6619 -10737
privequity      1904   3227
bank             -98   -170
insurance       3044   -502
financeetc      -207      0
corporateetc    4845   2557
foreigneretc    -165   -266
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   545000  562000
high   562000  568000
low    545000  550000
close  560000  557000
vol    378890  406755
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   540000.0  562000
high   552000.0  568000
low    540000.0  550000
close  542000.0  557000
vol    561173.0  406755
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5811  25807
foreigner       7320  -8659
institution    -3800 -17021
financial       3684  -5252
invtrust         699  -4835
pension       -10737  -2777
privequity      3227  -2519
bank            -170   -192
insurance       -502  -1281
financeetc         0   -165
corporateetc    2557    259
foreigneretc    -266   -386
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -25102  25807
foreigner      16770  -8659
institution     7450 -17021
financial       -954  -5252
invtrust         605  -4835
pension         9075  -2777
privequity      -772  -2519
bank               4   -192
insurance       -480  -1281
financeetc       -29   -165
corporateetc     668    259
foreigneretc     214   -386
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   562000  551000
high   568000  559000
low    550000  543000
close  557000  544000
vol    406755  273058
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   545000  551000
high   562000  559000
low    545000  543000
close  560000  544000
vol    378890  273058
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         25807  20140
foreigner      -8659  -1080
institution   -17021 -16332
financial      -5252  -4915
invtrust       -4835   1007
pension        -2777 -11489
privequity     -2519  -1312
bank            -192    -65
insurance      -1281    441
financeetc      -165      1
corporateetc     259  -2658
foreigneretc    -386    -70
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -5811  20140
foreigner       7320  -1080
institution    -3800 -16332
financial       3684  -4915
invtrust         699   1007
pension       -10737 -11489
privequity      3227  -1312
bank            -170    -65

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   550000  557000
high   553000  558000
low    542000  550000
close  553000  553000
vol    246291  224096
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -14396   2505
foreigner      27242 -12679
institution   -11797  10922
financial       -618   4876
invtrust         447   8402
pension         1305   4615
privequity     -1495  -4789
bank             -40      0
insurance     -11266  -2182
financeetc      -130      0
corporateetc   -1009   -637
foreigneretc     -39   -111
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7076   2505
foreigner       5011 -12679
institution     1295  10922
financial      -4078   4876
invtrust        1460   8402
pension         5984   4615
privequity      -658  -4789
bank               0      0
insurance      -1413  -2182
financeetc         1      0
corporateetc     746   -637
foreigneretc      24   -111
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   557000   554000
high   558000   554000
low    550000   543000
close  553000   544000
vol    224096  1211809
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   554000   554000
high   555000   554000
low    546000   543000
close  552000   544000
vol    225090  1211809
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail          2505  135802
foreigner     -12679 -107253
institution    10922  -31675
financial       4876  -11329
invtrust        8402   -8082
pension         4615   -3530
privequity     -4789   -5941
bank               0     408
insurance      -2182   -3171
financeetc         0     -31
corporateetc    -637    2709
foreigneretc    -111     417
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -14396  135802
foreigner      27242 -107253
institution   -11797  -31675
financial       -618  -11329
invtrust         447   -8082
pension         1305   -3530
privequity     -1495   -5941
bank             -40     408
insurance     -11266   -3171
financeetc      -130     -31
corporateetc   -1009    2709
foreigneretc     -39     417
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before     after
open    554000  544000.0
high    554000  544000.0
low     543000  520000.0
close   544000  522000.0
vol    1211809  496771.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   557000  544000.0
high   558000  544000.0
low    550000  520000.0
close  553000  522000.0
vol    224096  496771.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        135802 -13717
foreigner    -107253  13368
institution   -31675   -897
financial     -11329   2920
invtrust       -8082  -1616
pension        -3530    600
privequity     -5941  -3206
bank             408    -46
insurance      -3171    462
financeetc       -31    -11
corporateetc    2709   1230
foreigneretc     417     16
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          2505 -13717
foreigner     -12679  13368
institution    10922   -897
financial       4876   2920
invtrust        8402  -1616
pension         4615    600
privequity     -4789  -3206
bank               0    -46
insurance      -2182    462
financeetc         0    -11
corporateetc    -637   1230
foreigneretc    -111     16
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   544000.0  522000
high   544000.0  531000
low    520000.0  520000
close  522000.0  530000
vol    496771.0  218035
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    554000  522000
high    554000  531000
low     543000  520000
close   544000  530000
vol    1211809  218035
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -13717 -24849
foreigner      13368  17854
institution     -897   6709
financial       2920   1089
invtrust       -1616    247
pension          600    -11
privequity     -3206   5839
bank             -46      0
insurance        462   -433
financeetc       -11    -21
corporateetc    1230    215
foreigneretc      16     71
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        135802 -24849
foreigner    -107253  17854
institution   -31675   6709
financial     -11329   1089
invtrust       -8082    247
pension        -3530    -11
privequity     -5941   5839
bank             408      0
insurance      -3171   -433
financeetc       -31    -21
corporateetc    2709    215
foreigneretc     417     71
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   522000  528000
high   531000  537000
low    520000  528000
close  530000  536000
vol    218035  156600
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   544000.0  528000
high   544000.0  537000
low    520000.0  528000
close  522000.0  536000
vol    496771.0  156600
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -24849   5411
foreigner      17854   6872
institution     6709 -14171
financial       1089  -7179
invtrust         247    208
pension          -11  -3570
privequity      5839  -2200
bank               0      0
insurance       -433  -1363
financeetc       -21    -67
corporateetc     215   1712
foreigneretc      71    175
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -13717   5411
foreigner      13368   6872
institution     -897 -14171
financial       2920  -7179
invtrust       -1616    208
pension          600  -3570
privequity     -3206  -2200
bank             -46      0
insurance        462  -1363
financeetc       -11    -67
corporateetc    1230   1712
foreigneretc      16    175
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   528000  537000
high   537000  540000
low    528000  526000
close  536000  527000
vol    156600  189937
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   522000  537000
high   531000  540000
low    520000  526000
close  530000  527000
vol    218035  189937
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          5411  57055
foreigner       6872 -23374
institution   -14171 -34324
financial      -7179 -12094
invtrust         208  -3973
pension        -3570  -3935
privequity     -2200 -13198
bank               0    -92
insurance      -1363   -940
financeetc       -67    -92
corporateetc    1712    708
foreigneretc     175    -66
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -24849  57055
foreigner      17854 -23374
institution     6709 -34324
financial       1089 -12094
invtrust         247  -3973
pension          -11  -3935
privequity      5839 -13198
bank               0    -92
insurance       -433   -940
financeetc       -21    -92
corporateetc     215    708
foreigneretc      71    -66
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   537000  523000
high   540000  529000
low    526000  514000
close  527000  517000
vol    189937  308430
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   528000  523000
high   537000  529000
low    528000  514000
close  536000  517000
vol    156600  308430
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         57055  49286
foreigner     -23374 -38342
institution   -34324 -11476
financial     -12094   4031
invtrust       -3973  -3086
pension        -3935  -8307
privequity    -13198  -1163
bank             -92    255
insurance       -940  -3113
financeetc       -92    -93
corporateetc     708    671
foreigneretc     -66   -139
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          5411  49286
foreigner       6872 -38342
institution   -14171 -11476
financial      -7179   4031
invtrust         208  -3086
pension        -3570  -8307
privequity     -2200  -1163
bank               0    255
insurance      -1363  -3113
financeetc       -67    -93
corporateetc    1712    671
foreigneretc     175   -139
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   523000  520000.0
high   529000  521000.0
low    514000  505000.0
close  517000  509000.0
vol    308430  287513.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   537000  520000.0
high   540000  521000.0
low    526000  505000.0
close  527000  509000.0
vol    189937  287513.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         49286   1210
foreigner     -38342  -8356
institution   -11476   6829
financial       4031   4859
invtrust       -3086  -1386
pension        -8307   1714
privequity     -1163   3488
bank             255    -49
insurance      -3113  -1781
financeetc       -93    -17
corporateetc     671    123
foreigneretc    -139    194
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         57055   1210
foreigner     -23374  -8356
institution   -34324   6829
financial     -12094   4859
invtrust       -3973  -1386
pension        -3935   1714
privequity    -13198   3488
bank             -92    -49
insurance       -940  -1781
financeetc       -92    -17
corporateetc     708    123
foreigneretc     -66    194
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   520000.0  512000
high   521000.0  512000
low    505000.0  505000
close  509000.0  508000
vol    287513.0  159612
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   523000  512000
high   529000  512000
low    514000  505000
close  517000  508000
vol    308430  159612
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          1210  35650
foreigner      -8356 -44355
institution     6829   7782
financial       4859   4978
invtrust       -1386   -427
pension         1714    643
privequity      3488   2694
bank             -49    115
insurance      -1781   -220
financeetc       -17     -2
corporateetc     123    250
foreigneretc     194    673
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         49286  35650
foreigner     -38342 -44355
institution   -11476   7782
financial       4031   4978
invtrust       -3086   -427
pension        -8307    643
privequity     -1163   2694
bank             255    115
insurance      -3113   -220
financeetc       -93     -2
corporateetc     671    250
foreigneretc    -139    673
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   512000  513000
high   512000  516000
low    505000  499500

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   497000  479000.0
high   497500  495000.0
low    486000  478500.0
close  487000  491000.0
vol    292854  249462.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   495000  479000.0
high   502000  495000.0
low    494000  478500.0
close  499500  491000.0
vol    153389  249462.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -4954  29837
foreigner      -5116 -15714
institution     9837 -14312
financial       3090   5589
invtrust        1533  -2554
pension        -1103 -15487
privequity      8988    134
bank              -4    -10
insurance      -2716  -1983
financeetc        49     -2
corporateetc     202    572
foreigneretc      31   -383
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         37644  29837
foreigner     -34075 -15714
institution    -4219 -14312
financial     -12873   5589
invtrust        2866  -2554
pension         -491 -15487
privequity      6827    134
bank             151    -10
insurance       -566  -1983
financeetc      -134     -2
corporateetc     455    572
foreigneretc     195   -383
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   479000.0  491500
high   495000.0  491500
low    478500.0  461500
close  491000.0  476000
vol    249462.0  410299
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   497000  491500
high   497500  491500
low    486000  461500
close  487000  476000
vol    292854  410299
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29837  -1399
foreigner     -15714   5512
institution   -14312  -4330
financial       5589  -3378
invtrust       -2554   1376
pension       -15487  -2428
privequity       134    179
bank             -10    -16
insurance      -1983   -251
financeetc        -2    188
corporateetc     572    213
foreigneretc    -383      4
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -4954  -1399
foreigner      -5116   5512
institution     9837  -4330
financial       3090  -3378
invtrust        1533   1376
pension        -1103  -2428
privequity      8988    179
bank              -4    -16
insurance      -2716   -251
financeetc        49    188
corporateetc     202    213
foreigneretc      31      4
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   491500  471500
high   491500  479000
low    461500  468500
close  476000  475500
vol    410299  252369
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   479000.0  471500
high   495000.0  479000
low    478500.0  468500
close  491000.0  475500
vol    249462.0  252369
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -1399   4263
foreigner       5512  -1242
institution    -4330  -3161
financial      -3378  -1328
invtrust        1376    509
pension        -2428  -3791
privequity       179   1555
bank             -16   -109
insurance       -251   -177
financeetc       188    180
corporateetc     213    111
foreigneretc       4     29
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29837   4263
foreigner     -15714  -1242
institution   -14312  -3161
financial       5589  -1328
invtrust       -2554    509
pension       -15487  -3791
privequity       134   1555
bank             -10   -109
insurance      -1983   -177
financeetc        -2    180
corporateetc     572    111
foreigneretc    -383     29
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   471500  469500.0
high   479000  476500.0
low    468500  466500.0
close  475500  476500.0
vol    252369  256074.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   491500  469500.0
high   491500  476500.0
low    461500  466500.0
close  476000  476500.0
vol    410299  256074.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4263  29881
foreigner      -1242 -17881
institution    -3161 -13873
financial      -1328  -9092
invtrust         509  -3736
pension        -3791  -2420
privequity      1555   2629
bank            -109    118
insurance       -177  -1249
financeetc       180   -124
corporateetc     111   1673
foreigneretc      29    200
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -1399  29881
foreigner       5512 -17881
institution    -4330 -13873
financial      -3378  -9092
invtrust        1376  -3736
pension        -2428  -2420
privequity       179   2629
bank             -16    118
insurance       -251  -1249
financeetc       188   -124
corporateetc     213   1673
foreigneretc       4    200
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   469500.0  467000
high   476500.0  471500
low    466500.0  455500
close  476500.0  456000
vol    256074.0  423482
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   471500  467000
high   479000  471500
low    468500  455500
close  475500  456000
vol    252369  423482
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29881  -8489
foreigner     -17881 -18116
institution   -13873  26182
financial      -9092   8545
invtrust       -3736   3138
pension        -2420  11835
privequity      2629   1555
bank             118   -131
insurance      -1249   1287
financeetc      -124    -47
corporateetc    1673    367
foreigneretc     200     56
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4263  -8489
foreigner      -1242 -18116
institution    -3161  26182
financial      -1328   8545
invtrust         509   3138
pension        -3791  11835
privequity      1555   1555
bank            -109   -131
insurance       -177   1287
financeetc       180    -47
corporateetc     111    367
foreigneretc      29     56
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   467000  468500
high   471500  477000
low    455500  463000
close  456000  467500
vol    423482  370971
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   469500.0  468500
high   476500.0  477000
low    466500.0  463000
close  476500.0  467500
vol    256074.0  370971
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8489  23031
foreigner     -18116 -26072
institution    26182   3322
financial       8545   -958
invtrust        3138    565
pension        11835   1762
privequity      1555    757
bank            -131    201
insurance       1287    994
financeetc       -47      1
corporateetc     367   -342
foreigneretc      56     61
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         29881  23031
foreigner     -17881 -26072
institution   -13873   3322
financial      -9092   -958
invtrust       -3736    565
pension        -2420   1762
privequity      2629    757
bank             118    201
insurance      -1249    994
financeetc      -124      1
corporateetc    1673   -342
foreigneretc     200     61
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   468500  468000.0
high   477000  476500.0
low    463000  462500.0
close  467500  464000.0
vol    370971  205780.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   467000  468000.0
high   471500  476500.0
low    455500  462500.0
close  456000  464000.0
vol    423482  205780.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         23031    -25
foreigner     -26072 -33068
institution     3322  33415
financial       -958  11441
invtrust         565   3605
pension         1762   5408
privequity       757  12154
bank             201     -5
insurance        994    713
financeetc         1     98
corporateetc    -342   -164
foreigneretc      61   -157
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8489    -25
foreigner     -18116 -33068
institution    26182  33415
financial       8545  11441
invtrust        3138   3605
pension        11835   5408
privequity      1555  12154
bank            -131     -5
insurance       1287    713
financeetc       -47     98
corporateetc     367   -164
foreigneretc      56   -157
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   468000.0  467500
high   476500.0  473000
low    462500.0  458000
close  464000.0  458500
vol    205780.0  344073
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   468500  467500
high   477000  473000
low    463000  458000
close  467500  458500
vol    370971  344073
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail           -25 -38955
foreigner     -33068 -36033
institution    33415  74800
financial      11441  12315
invtrust        3605  17893
pension         5408  21690
privequity     12154  18128
bank              -5   -476
insurance        713   4563
financeetc        98    687
corporateetc    -164    263
foreigneretc    -157    -75
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         23031 -38955
foreigner     -26072 -36033
institution     3322  74800
financial       -958  12315
invtrust         565  17893
pension         1762  21690
privequity       757  18128
bank             201   -476
insurance        994   4563
financeetc         1    687
corporateetc    -342    263
foreigneretc      61    -75
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   467500  464500
high   473000  496500
low    458000  464500
close  458500  492000
vol    344073  670584
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   468000.0  464500
high   476500.0  496500
low    462500.0  464500
close  464000.0  492000
vol    205780.0  670584
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -38955  12200
foreigner     -36033 -56091
institution    74800  43706
financial      12315   4239
invtrust       17893   7316
pension        21690  25097
privequity     18128   2683
bank            -476     29
insurance       4563   4292
financeetc       687     51
corporateetc     263    190
foreigneretc     -75     -4
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail           -25  12200
foreigner     -33068 -56091
institution    33415  43706
financial      11441   4239
invtrust        3605   7316
pension         5408  25097
privequity     12154   2683
bank              -5     29
insurance        713   4292
financeetc        98     51

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         13805  14292
foreigner     -19514 -21250
institution     5585   6819
financial       3351   3647
invtrust       -3287    302
pension         7518   4443
privequity     -1788  -1357
bank               0      1
insurance       -445   -265
financeetc       237     48
corporateetc      56     63
foreigneretc      68     77
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         16793  14292
foreigner     -24127 -21250
institution     7184   6819
financial       2956   3647
invtrust        -972    302
pension        10563   4443
privequity     -6096  -1357
bank               0      1
insurance        734   -265
financeetc         0     48
corporateetc      61     63
foreigneretc      89     77
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   479500  479500
high   481500  482500
low    471500  474000
close  474000  475000
vol    255899  189464
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   490000.0  479500
high   490000.0  482500
low    480000.0  474000
close  484000.0  475000
vol    300483.0  189464
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         14292  37733
foreigner     -21250 -13635
institution     6819 -24339
financial       3647  -5795
invtrust         302  -2144
pension         4443  -2094
privequity     -1357 -13404
bank               1    -19
insurance       -265   -884
financeetc        48      0
corporateetc      63    -30
foreigneretc      77    270
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         13805  37733
foreigner     -19514 -13635
institution     5585 -24339
financial       3351  -5795
invtrust       -3287  -2144
pension         7518  -2094
privequity     -1788 -13404
bank               0    -19
insurance       -445   -884
financeetc       237      0
corporateetc      56    -30
foreigneretc      68    270
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   479500  471500
high   482500  472500
low    474000  462000
close  475000  465000
vol    189464  317384
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   479500  471500
high   481500  472500
low    471500  462000
close  474000  465000
vol    255899  317384
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         37733  33782
foreigner     -13635  -4326
institution   -24339 -30597
financial      -5795  -1619
invtrust       -2144  -7369
pension        -2094  -3156
privequity    -13404 -15483
bank             -19    118
insurance       -884  -2184
financeetc         0   -904
corporateetc     -30    746
foreigneretc     270    395
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         14292  33782
foreigner     -21250  -4326
institution     6819 -30597
financial       3647  -1619
invtrust         302  -7369
pension         4443  -3156
privequity     -1357 -15483
bank               1    118
insurance       -265  -2184
financeetc        48   -904
corporateetc      63    746
foreigneretc      77    395
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   471500  455500
high   472500  457000
low    462000  450000
close  465000  452500
vol    317384  358437
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   479500  455500
high   482500  457000
low    474000  450000
close  475000  452500
vol    189464  358437
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         33782  39751
foreigner      -4326 -32512
institution   -30597  -7644
financial      -1619   3467
invtrust       -7369  -1748
pension        -3156  -5570
privequity    -15483   -407
bank             118   -307
insurance      -2184  -3174
financeetc      -904     94
corporateetc     746    370
foreigneretc     395     35
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         37733  39751
foreigner     -13635 -32512
institution   -24339  -7644
financial      -5795   3467
invtrust       -2144  -1748
pension        -2094  -5570
privequity    -13404   -407
bank             -19   -307
insurance       -884  -3174
financeetc         0     94
corporateetc     -30    370
foreigneretc     270     35
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   455500  445500.0
high   457000  446000.0
low    450000  435500.0
close  452500  436500.0
vol    358437  363181.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   471500  445500.0
high   472500  446000.0
low    462000  435500.0
close  465000  436500.0
vol    317384  363181.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         39751  -3615
foreigner     -32512 -15846
institution    -7644  19487
financial       3467  11956
invtrust       -1748   1437
pension        -5570   5039
privequity      -407   -239
bank            -307      0
insurance      -3174   1295
financeetc        94      0
corporateetc     370   -252
foreigneretc      35    226
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         33782  -3615
foreigner      -4326 -15846
institution   -30597  19487
financial      -1619  11956
invtrust       -7369   1437
pension        -3156   5039
privequity    -15483   -239
bank             118      0
insurance      -2184   1295
financeetc      -904      0
corporateetc     746   -252
foreigneretc     395    226
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   445500.0  438000
high   446000.0  442500
low    435500.0  430500
close  436500.0  436500
vol    363181.0  296136
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   455500  438000
high   457000  442500
low    450000  430500
close  452500  436500
vol    358437  296136
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3615   9640
foreigner     -15846 -35820
institution    19487  26715
financial      11956   3571
invtrust        1437  12410
pension         5039   9912
privequity      -239  -1217
bank               0     13
insurance       1295   1980
financeetc         0     46
corporateetc    -252   -546
foreigneretc     226     12
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         39751   9640
foreigner     -32512 -35820
institution    -7644  26715
financial       3467   3571
invtrust       -1748  12410
pension        -5570   9912
privequity      -407  -1217
bank            -307     13
insurance      -3174   1980
financeetc        94     46
corporateetc     370   -546
foreigneretc      35     12
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   438000  439500
high   442500  449000
low    430500  423000
close  436500  448500
vol    296136  393138
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   445500.0  439500
high   446000.0  449000
low    435500.0  423000
close  436500.0  448500
vol    363181.0  393138
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail          9640  186669
foreigner     -35820 -129999
institution    26715  -60204
financial       3571  -16252
invtrust       12410   -5762
pension         9912  -28902
privequity     -1217   -4775
bank              13    -187
insurance       1980   -2835
financeetc        46   -1491
corporateetc    -546    2934
foreigneretc      12     600
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail         -3615  186669
foreigner     -15846 -129999
institution    19487  -60204
financial      11956  -16252
invtrust        1437   -5762
pension         5039  -28902
privequity      -239   -4775
bank               0    -187
insurance       1295   -2835
financeetc         0   -1491
corporateetc    -252    2934
foreigneretc     226     600
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   439500   449000
high   449000   449500
low    423000   409000
close  448500   409500
vol    393138  1005968
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   438000   449000
high   442500   449500
low    430500   409000
close  436500   409500
vol    296136  1005968
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        186669  -7123
foreigner    -129999   5842
institution   -60204    558
financial     -16252   2959
invtrust       -5762  -4495
pension       -28902  -8991
privequity     -4775   9570
bank            -187    295
insurance      -2835   1110
financeetc     -1491    110
corporateetc    2934    662
foreigneretc     600     60
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          9640  -7123
foreigner     -35820   5842
institution    26715    558
financial       3571   2959
invtrust       12410  -4495
pension         9912  -8991
privequity     -1217   9570
bank              13    295
insurance       1980   1110
financeetc        46    110
corporateetc    -546    662
foreigneretc      12     60
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    449000  398000
high    449500  407000
low     409000  395000
close   409500  399500
vol    1005968  534523
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   439500  398000
high   449000  407000
low    423000  395000
close  448500  399500
vol    393138  534523
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7123  12540
foreigner       5842 -28579
institution      558  15647
financial       2959   8132
invtrust       -4495    785
pension        -8991   9881
privequity      9570  -3381
bank             295   -356
insurance       1110    223
financeetc       110    363
corporateetc     662    189
foreigneretc      60    203
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        186669  12540
foreigner    -129999 -28579
institution   -60204  15647
financial     -16252   8132
invtrust       -5762    785
pension       -28902   9881
privequity     -4775  -3381
bank            -187   -356
insurance      -2835    223
financeetc     -1491    363
corporateetc    2934    189
foreigneretc     600    203
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   398000  399500.0
high   407000  411000.0
low    395000  396500.0
close  399500  400000.0
vol    534523  500087.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before     after
open    449000  399500.0
high    449500  411000.0
low     409000  396500.0
close   409500  400000.0

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         30683   -681
foreigner     -19490 -20077
institution   -11863  21518
financial        187  -3379
invtrust        -322   8538
pension        -9664   7849
privequity       492   5795
bank            -530    437
insurance      -1959   1531
financeetc       -66    748
corporateetc     566   -755
foreigneretc     103     -4
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   383500  402500.0
high   394000  404500.0
low    380000  396500.0
close  391500  402000.0
vol    485126  442376.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   389500  402500.0
high   391500  404500.0
low    375500  396500.0
close  377500  402000.0
vol    348415  442376.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail          -681 -149526
foreigner     -20077  147164
institution    21518    4510
financial      -3379  -28687
invtrust        8538    8134
pension         7849   30490
privequity      5795   -3403
bank             437    -750
insurance       1531   -1274
financeetc       748       1
corporateetc    -755   -1397
foreigneretc      -4    -751
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail          1676 -149526
foreigner     -27906  147164
institution    25932    4510
financial      15129  -28687
invtrust        8443    8134
pension        -2227   30490
privequity      1769   -3403
bank             -48    -750
insurance       2683   -1274
financeetc       183       1
corporateetc     270   -1397
foreigneretc      28    -751
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before    after
open   402500.0   451500
high   404500.0   500000
low    396500.0   435000
close  402000.0   493500
vol    442376.0  1894906
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before    after
open   383500   451500
high   394000   500000
low    380000   435000
close  391500   493500
vol    485126  1894906
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -149526  52560
foreigner     147164 -43336
institution     4510 -10040
financial     -28687  -8302
invtrust        8134    896
pension        30490  -3242
privequity     -3403   1449
bank            -750   -138
insurance      -1274   -628
financeetc         1    -75
corporateetc   -1397   -175
foreigneretc    -751    990
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          -681  52560
foreigner     -20077 -43336
institution    21518 -10040
financial      -3379  -8302
invtrust        8538    896
pension         7849  -3242
privequity      5795   1449
bank             437   -138
insurance       1531   -628
financeetc       748    -75
corporateetc    -755   -175
foreigneretc      -4    990
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    451500  488500
high    500000  488500
low     435000  440500
close   493500  443000
vol    1894906  825182
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   402500.0  488500
high   404500.0  488500
low    396500.0  440500
close  402000.0  443000
vol    442376.0  825182
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         52560  -7070
foreigner     -43336  25347
institution   -10040 -18309
financial      -8302  -4308
invtrust         896     69
pension        -3242  -6280
privequity      1449  -3623
bank            -138      0
insurance       -628  -4167
financeetc       -75      0
corporateetc    -175     34
foreigneretc     990     -1
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail       -149526  -7070
foreigner     147164  25347
institution     4510 -18309
financial     -28687  -4308
invtrust        8134     69
pension        30490  -6280
privequity     -3403  -3623
bank            -750      0
insurance      -1274  -4167
financeetc         1      0
corporateetc   -1397     34
foreigneretc    -751     -1
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   488500  446000
high   488500  459500
low    440500  437500
close  443000  437500
vol    825182  367858
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP         before   after
open    451500  446000
high    500000  459500
low     435000  437500
close   493500  437500
vol    1894906  367858
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7070   2521
foreigner      25347 -10887
institution   -18309   8690
financial      -4308  -2064
invtrust          69   3831
pension        -6280   -359
privequity     -3623   3136
bank               0   -274
insurance      -4167   4488
financeetc         0    -68
corporateetc      34   -286
foreigneretc      -1    -39
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         52560   2521
foreigner     -43336 -10887
institution   -10040   8690
financial      -8302  -2064
invtrust         896   3831
pension        -3242   -359
privequity      1449   3136
bank            -138   -274
insurance       -628   4488
financeetc       -75    -68
corporateetc    -175   -286
foreigneretc     990    -39
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   446000  439000
high   459500  447000
low    437500  426500
close  437500  429000
vol    367858  348224
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   488500  439000
high   488500  447000
low    440500  426500
close  443000  429000
vol    825182  348224
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          2521  22924
foreigner     -10887  -6334
institution     8690 -17071
financial      -2064  -2225
invtrust        3831  -5215
pension         -359  -5832
privequity      3136  -1750
bank            -274      3
insurance       4488  -2053
financeetc       -68      0
corporateetc    -286    365
foreigneretc     -39    116
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -7070  22924
foreigner      25347  -6334
institution   -18309 -17071
financial      -4308  -2225
invtrust          69  -5215
pension        -6280  -5832
privequity     -3623  -1750
bank               0      3
insurance      -4167  -2053
financeetc         0      0
corporateetc      34    365
foreigneretc      -1    116
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   439000  418500.0
high   447000  422000.0
low    426500  411000.0
close  429000  411000.0
vol    348224  290145.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   446000  418500.0
high   459500  422000.0
low    437500  411000.0
close  437500  411000.0
vol    367858  290145.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         22924  -3330
foreigner      -6334   1781
institution   -17071   1107
financial      -2225    167
invtrust       -5215  -2297
pension        -5832   -104
privequity     -1750   3748
bank               3      2
insurance      -2053   -373
financeetc         0    -36
corporateetc     365    427
foreigneretc     116     16
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          2521  -3330
foreigner     -10887   1781
institution     8690   1107
financial      -2064    167
invtrust        3831  -2297
pension         -359   -104
privequity      3136   3748
bank            -274      2
insurance       4488   -373
financeetc       -68    -36
corporateetc    -286    427
foreigneretc     -39     16
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   418500.0  413000
high   422000.0  425000
low    411000.0  408000
close  411000.0  415500
vol    290145.0  258047
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   439000  413000
high   447000  425000
low    426500  408000
close  429000  415500
vol    348224  258047
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3330 -16874
foreigner       1781   -794
institution     1107  16531
financial        167   9571
invtrust       -2297   4698
pension         -104    154
privequity      3748   2354
bank               2     20
insurance       -373   -388
financeetc       -36    121
corporateetc     427   1185
foreigneretc      16    -47
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         22924 -16874
foreigner      -6334   -794
institution   -17071  16531
financial      -2225   9571
invtrust       -5215   4698
pension        -5832    154
privequity     -1750   2354
bank               3     20
insurance      -2053   -388
financeetc         0    121
corporateetc     365   1185
foreigneretc     116    -47
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   413000  424500
high   425000  444000
low    408000  420500
close  415500  437000
vol    258047  318068
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   418500.0  424500
high   422000.0  444000
low    411000.0  420500
close  411000.0  437000
vol    290145.0  318068
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -16874 -23693
foreigner       -794  -1679
institution    16531  25974
financial       9571  13975
invtrust        4698   4216
pension          154   1455
privequity      2354   2583
bank              20      4
insurance       -388   3652
financeetc       121     90
corporateetc    1185   -440
foreigneretc     -47   -162
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -3330 -23693
foreigner       1781  -1679
institution     1107  25974
financial        167  13975
invtrust       -2297   4216
pension         -104   1455
privequity      3748   2583
bank               2      4
insurance       -373   3652
financeetc       -36     90
corporateetc     427   -440
foreigneretc      16   -162
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   424500  460000
high   444000  460000
low    420500  446000
close  437000  451500
vol    318068  354065
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   413000  460000
high   425000  460000
low    408000  446000
close  415500  451500
vol    258047  354065
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -23693  16756
foreigner      -1679  -8275
institution    25974  -8619
financial      13975  -5210
invtrust        4216  -1067
pension         1455  -1368
privequity      2583   -864
bank               4      0
insurance       3652   -111
financeetc        90      0

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -17081  12333
foreigner       3202 -16171
institution    14023   3561
financial       9520   6160
invtrust         304    198
pension         5287  -2704
privequity       383   -202
bank               0      0
insurance      -1471    108
financeetc         0      0
corporateetc    -111    253
foreigneretc     -33     24
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12013  12333
foreigner      -5867 -16171
institution    -6159   3561
financial      -6283   6160
invtrust       -1754    198
pension         3380  -2704
privequity        21   -202
bank               0      0
insurance      -1522    108
financeetc         0      0
corporateetc      98    253
foreigneretc     -85     24
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   440500  449500.0
high   450500  452500.0
low    440500  442500.0
close  448500  442500.0
vol    142291  134085.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   443000  449500.0
high   446000  452500.0
low    437000  442500.0
close  442000  442500.0
vol    136059  134085.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12333  17431
foreigner     -16171  -9097
institution     3561  -8625
financial       6160    188
invtrust         198   -667
pension        -2704  -7693
privequity      -202    -53
bank               0      0
insurance        108   -399
financeetc         0      0
corporateetc     253    234
foreigneretc      24     58
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -17081  17431
foreigner       3202  -9097
institution    14023  -8625
financial       9520    188
invtrust         304   -667
pension         5287  -7693
privequity       383    -53
bank               0      0
insurance      -1471   -399
financeetc         0      0
corporateetc    -111    234
foreigneretc     -33     58
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   449500.0  446000
high   452500.0  447500
low    442500.0  432500
close  442500.0  434500
vol    134085.0  154442
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   440500  446000
high   450500  447500
low    440500  432500
close  448500  434500
vol    142291  154442
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         17431   5266
foreigner      -9097  -7169
institution    -8625   1822
financial        188   2389
invtrust        -667    426
pension        -7693  -1355
privequity       -53    241
bank               0      0
insurance       -399    121
financeetc         0      0
corporateetc     234    139
foreigneretc      58    -59
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12333   5266
foreigner     -16171  -7169
institution     3561   1822
financial       6160   2389
invtrust         198    426
pension        -2704  -1355
privequity      -202    241
bank               0      0
insurance        108    121
financeetc         0      0
corporateetc     253    139
foreigneretc      24    -59
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   446000  436500
high   447500  440500
low    432500  434000
close  434500  435000
vol    154442  140561
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   449500.0  436500
high   452500.0  440500
low    442500.0  434000
close  442500.0  435000
vol    134085.0  140561
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          5266 -18900
foreigner      -7169  12729
institution     1822   6143
financial       2389  -7853
invtrust         426   1148
pension        -1355  11247
privequity       241    -86
bank               0      0
insurance        121   1648
financeetc         0     39
corporateetc     139    106
foreigneretc     -59    -79
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         17431 -18900
foreigner      -9097  12729
institution    -8625   6143
financial        188  -7853
invtrust        -667   1148
pension        -7693  11247
privequity       -53    -86
bank               0      0
insurance       -399   1648
financeetc         0     39
corporateetc     234    106
foreigneretc      58    -79
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   436500  440000
high   440500  447500
low    434000  434000
close  435000  447000
vol    140561  203907
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   446000  440000
high   447500  447500
low    432500  434000
close  434500  447000
vol    154442  203907
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -18900 -12264
foreigner      12729  19039
institution     6143  -2170
financial      -7853   -973
invtrust        1148   -997
pension        11247   -275
privequity       -86   -163
bank               0    181
insurance       1648     58
financeetc        39      0
corporateetc     106  -4638
foreigneretc     -79     33
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          5266 -12264
foreigner      -7169  19039
institution     1822  -2170
financial       2389   -973
invtrust         426   -997
pension        -1355   -275
privequity       241   -163
bank               0    181
insurance        121     58
financeetc         0      0
corporateetc     139  -4638
foreigneretc     -59     33
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   440000  444000
high   447500  454500
low    434000  440500
close  447000  454500
vol    203907  289478
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   436500  444000
high   440500  454500
low    434000  440500
close  435000  454500
vol    140561  289478
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -12264  133857
foreigner      19039  -47173
institution    -2170  -87769
financial       -973   -5461
invtrust        -997  -31444
pension         -275  -35030
privequity      -163   -7009
bank             181    -310
insurance         58   -8426
financeetc         0     -91
corporateetc   -4638     887
foreigneretc      33     198
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before   after
retail        -18900  133857
foreigner      12729  -47173
institution     6143  -87769
financial      -7853   -5461
invtrust        1148  -31444
pension        11247  -35030
privequity       -86   -7009
bank               0    -310
insurance       1648   -8426
financeetc        39     -91
corporateetc     106     887
foreigneretc     -79     198
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   444000  444000.0
high   454500  448000.0
low    440500  428500.0
close  454500  428500.0
vol    289478  498100.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   440000  444000.0
high   447500  448000.0
low    434000  428500.0
close  447000  428500.0
vol    203907  498100.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        133857 -14444
foreigner     -47173  18615
institution   -87769  -4123
financial      -5461   6344
invtrust      -31444   1092
pension       -35030  -9373
privequity     -7009   -759
bank            -310      0
insurance      -8426  -1400
financeetc       -91    -26
corporateetc     887   -149
foreigneretc     198    100
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -12264 -14444
foreigner      19039  18615
institution    -2170  -4123
financial       -973   6344
invtrust        -997   1092
pension         -275  -9373
privequity      -163   -759
bank             181      0
insurance         58  -1400
financeetc         0    -26
corporateetc   -4638   -149
foreigneretc      33    100
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   444000.0  429500
high   448000.0  436000
low    428500.0  428000
close  428500.0  430000
vol    498100.0  238728
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   444000  429500
high   454500  436000
low    440500  428000
close  454500  430000
vol    289478  238728
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -14444 -15909
foreigner      18615  17858
institution    -4123  -1941
financial       6344  -3022
invtrust        1092     52
pension        -9373    -85
privequity      -759   1066
bank               0      0
insurance      -1400     48
financeetc       -26      0
corporateetc    -149     16
foreigneretc     100    -24
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        133857 -15909
foreigner     -47173  17858
institution   -87769  -1941
financial      -5461  -3022
invtrust      -31444     52
pension       -35030    -85
privequity     -7009   1066
bank            -310      0
insurance      -8426     48
financeetc       -91      0
corporateetc     887     16
foreigneretc     198    -24
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   429500  425000
high   436000  434500
low    428000  423000
close  430000  430000
vol    238728  156615
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   444000.0  425000
high   448000.0  434500
low    428500.0  423000
close  428500.0  430000
vol    498100.0  156615
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -15909  20385
foreigner      17858 -15962
institution    -1941  -4501
financial      -3022   4494
invtrust          52   1331
pension          -85 -10295
privequity      1066     52
bank               0    -79
insurance         48    100
financeetc         0   -104
corporateetc      16    -72
foreigneretc     -24    150
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -14444  20385
foreigner      18615 -15962
institution    -4123  -4501
financial       6344   4494
invtrust        1092   1331
pension        -9373 -10295
privequity      -759     52
bank               0    -79
insurance      -1400    100
financeetc       -26   -104
corporateetc    -149    -72
foreigneretc     100    150
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   425000  430500
high   434500  435000
low    423000  424500
close  430000  424500
vol    156615  178434
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   429500  430500
high   436000  435000
low    428000  424500
close  430000  424500

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         17652 -17987
foreigner      -2857  24164
institution   -14808  -9342
financial       9822   4989
invtrust       -1799  11262
pension       -22147 -21643
privequity       151   -323
bank            -224    -12
insurance       -611  -3719
financeetc         0    105
corporateetc     -30   3225
foreigneretc      43    -59
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   423000  419500
high   424500  422500
low    409500  415000
close  410000  422500
vol    260657  330547
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   427000  419500
high   430500  422500
low    424000  415000
close  424500  422500
vol    174436  330547
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -17987  17261
foreigner      24164    773
institution    -9342 -16211
financial       4989  -1622
invtrust       11262  -4581
pension       -21643 -10023
privequity      -323    284
bank             -12      0
insurance      -3719   -404
financeetc       105    135
corporateetc    3225  -1866
foreigneretc     -59     44
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         51401  17261
foreigner      -4805    773
institution   -49414 -16211
financial      -7029  -1622
invtrust       -4884  -4581
pension       -33378 -10023
privequity     -1433    284
bank              -8      0
insurance      -2494   -404
financeetc      -188    135
corporateetc    2633  -1866
foreigneretc     185     44
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   419500  426500.0
high   422500  431000.0
low    415000  422000.0
close  422500  422000.0
vol    330547  341008.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   423000  426500.0
high   424500  431000.0
low    409500  422000.0
close  410000  422000.0
vol    260657  341008.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         17261  19141
foreigner        773  15920
institution   -16211 -30957
financial      -1622  -3496
invtrust       -4581  -6494
pension       -10023 -19266
privequity       284   -189
bank               0      0
insurance       -404  -1492
financeetc       135    -19
corporateetc   -1866  -4204
foreigneretc      44    100
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -17987  19141
foreigner      24164  15920
institution    -9342 -30957
financial       4989  -3496
invtrust       11262  -6494
pension       -21643 -19266
privequity      -323   -189
bank             -12      0
insurance      -3719  -1492
financeetc       105    -19
corporateetc    3225  -4204
foreigneretc     -59    100
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   426500.0  429500
high   431000.0  430000
low    422000.0  422000
close  422000.0  422000
vol    341008.0  207795
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   419500  429500
high   422500  430000
low    415000  422000
close  422500  422000
vol    330547  207795
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         19141 -15942
foreigner      15920  15546
institution   -30957   -705
financial      -3496   4309
invtrust       -6494  -3371
pension       -19266  -3437
privequity      -189   1380
bank               0      0
insurance      -1492    415
financeetc       -19      0
corporateetc   -4204    611
foreigneretc     100    490
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         17261 -15942
foreigner        773  15546
institution   -16211   -705
financial      -1622   4309
invtrust       -4581  -3371
pension       -10023  -3437
privequity       284   1380
bank               0      0
insurance       -404    415
financeetc       135      0
corporateetc   -1866    611
foreigneretc      44    490
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   429500  422000
high   430000  428000
low    422000  419000
close  422000  426000
vol    207795  195288
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   426500.0  422000
high   431000.0  428000
low    422000.0  419000
close  422000.0  426000
vol    341008.0  195288
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -15942 -25449
foreigner      15546  12924
institution     -705  11006
financial       4309  26387
invtrust       -3371   1347
pension        -3437 -16834
privequity      1380    129
bank               0      0
insurance        415    564
financeetc         0   -587
corporateetc     611   1555
foreigneretc     490    -36
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         19141 -25449
foreigner      15920  12924
institution   -30957  11006
financial      -3496  26387
invtrust       -6494   1347
pension       -19266 -16834
privequity      -189    129
bank               0      0
insurance      -1492    564
financeetc       -19   -587
corporateetc   -4204   1555
foreigneretc     100    -36
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   422000  429000
high   428000  434000
low    419000  428000
close  426000  432500
vol    195288  243818
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   429500  429000
high   430000  434000
low    422000  428000
close  422000  432500
vol    207795  243818
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -25449  35901
foreigner      12924 -13488
institution    11006 -22600
financial      26387   2097
invtrust        1347  -2220
pension       -16834 -22169
privequity       129    117
bank               0     15
insurance        564   -440
financeetc      -587      0
corporateetc    1555    113
foreigneretc     -36     74
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -15942  35901
foreigner      15546 -13488
institution     -705 -22600
financial       4309   2097
invtrust       -3371  -2220
pension        -3437 -22169
privequity      1380    117
bank               0     15
insurance        415   -440
financeetc         0      0
corporateetc     611    113
foreigneretc     490     74
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   429000  428500
high   434000  430000
low    428000  421000
close  432500  423000
vol    243818  198534
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   422000  428500
high   428000  430000
low    419000  421000
close  426000  423000
vol    195288  198534
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         35901  28410
foreigner     -13488  -6149
institution   -22600 -22537
financial       2097   1860
invtrust       -2220  -2647
pension       -22169 -19288
privequity       117    365
bank              15  -1369
insurance       -440  -1459
financeetc         0      0
corporateetc     113    224
foreigneretc      74     52
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -25449  28410
foreigner      12924  -6149
institution    11006 -22537
financial      26387   1860
invtrust        1347  -2647
pension       -16834 -19288
privequity       129    365
bank               0  -1369
insurance        564  -1459
financeetc      -587      0
corporateetc    1555    224
foreigneretc     -36     52
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   428500  425500.0
high   430000  425500.0
low    421000  419000.0
close  423000  419500.0
vol    198534  181449.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   429000  425500.0
high   434000  425500.0
low    428000  419000.0
close  432500  419500.0
vol    243818  181449.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         28410  11021
foreigner      -6149  -2013
institution   -22537  -8909
financial       1860   9187
invtrust       -2647  -1836
pension       -19288 -14310
privequity       365     75
bank           -1369    -46
insurance      -1459  -1977
financeetc         0      0
corporateetc     224    -96
foreigneretc      52     -3
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         35901  11021
foreigner     -13488  -2013
institution   -22600  -8909
financial       2097   9187
invtrust       -2220  -1836
pension       -22169 -14310
privequity       117     75
bank              15    -46
insurance       -440  -1977
financeetc         0      0
corporateetc     113    -96
foreigneretc      74     -3
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   425500.0  423500
high   425500.0  423500
low    419000.0  415000
close  419500.0  415500
vol    181449.0  150973
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   428500  423500
high   430000  423500
low    421000  415000
close  423000  415500
vol    198534  150973
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         11021  -8871
foreigner      -2013  12394
institution    -8909  -2597
financial       9187   3926
invtrust       -1836   1204
pension       -14310  -6689
privequity        75   -299
bank             -46      0
insurance      -1977   -738
financeetc         0      0
corporateetc     -96   -870
foreigneretc      -3    -57
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         28410  -8871
foreigner      -6149  12394
institution   -22537  -2597
financial       1860   3926
invtrust       -2647   1204
pension       -19288  -6689
privequity       365   -299
bank           -1369      0
insurance      -1459   -738
financeetc         0      0
corporateetc     224   -870
foreigneretc      52    -57
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   423500  417000
high   423500  422000
low    415000  417000
close  415500  421000
vol    150973  130675
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   425500.0  417000
high   425500.0  422000
low    419000.0  417000
close  419500.0  421000
vol    181449.0  130675
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8871 -27320
foreigner      12394  22737
institution    -2597   4531
financial       3926  15771
invtrust        1204   1366
pension        -6689 -12203
privequity      -299     19
bank               0    498
insurance       -738   -793
financeetc         0   -126
corporateetc    -870    -47
foreigneretc     -57     98

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8396  12514
foreigner       2397  -5042
institution     6129  -7629
financial      -2048  -3018
invtrust        2845  -2051
pension         3203   1468
privequity       644  -2512
bank              18      8
insurance       1325  -1515
financeetc       141     -9
corporateetc    -158    148
foreigneretc      28      9
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         11254  12514
foreigner     -11368  -5042
institution     -585  -7629
financial      -5243  -3018
invtrust        1262  -2051
pension         3632   1468
privequity       230  -2512
bank              39      8
insurance       -477  -1515
financeetc       -28     -9
corporateetc     637    148
foreigneretc      62      9
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   379000  378000
high   387500  383000
low    377000  373000
close  381000  381500
vol    212973  232165
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   382500  378000
high   387500  383000
low    373000  373000
close  375000  381500
vol    222999  232165
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12514  -9321
foreigner      -5042  11012
institution    -7629  -1760
financial      -3018  -2817
invtrust       -2051   2631
pension         1468   2518
privequity     -2512  -3203
bank               8     32
insurance      -1515   -915
financeetc        -9     -5
corporateetc     148     17
foreigneretc       9     51
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -8396  -9321
foreigner       2397  11012
institution     6129  -1760
financial      -2048  -2817
invtrust        2845   2631
pension         3203   2518
privequity       644  -3203
bank              18     32
insurance       1325   -915
financeetc       141     -5
corporateetc    -158     17
foreigneretc      28     51
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   378000  384500.0
high   383000  392500.0
low    373000  381500.0
close  381500  387500.0
vol    232165  261741.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   379000  384500.0
high   387500  392500.0
low    377000  381500.0
close  381000  387500.0
vol    212973  261741.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -9321  12919
foreigner      11012 -13410
institution    -1760    506
financial      -2817 -10368
invtrust        2631   2106
pension         2518  12502
privequity     -3203  -1018
bank              32  -1338
insurance       -915  -1375
financeetc        -5     -3
corporateetc      17     12
foreigneretc      51    -26
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12514  12919
foreigner      -5042 -13410
institution    -7629    506
financial      -3018 -10368
invtrust       -2051   2106
pension         1468  12502
privequity     -2512  -1018
bank               8  -1338
insurance      -1515  -1375
financeetc        -9     -3
corporateetc     148     12
foreigneretc       9    -26
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   384500.0  389000
high   392500.0  393000
low    381500.0  385500
close  387500.0  389000
vol    261741.0  210367
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   378000  389000
high   383000  393000
low    373000  385500
close  381500  389000
vol    232165  210367
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12919  25279
foreigner     -13410  -9643
institution      506 -15639
financial     -10368  -1936
invtrust        2106  -5188
pension        12502  -7041
privequity     -1018   -313
bank           -1338     28
insurance      -1375  -1224
financeetc        -3     33
corporateetc      12    -74
foreigneretc     -26     77
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -9321  25279
foreigner      11012  -9643
institution    -1760 -15639
financial      -2817  -1936
invtrust        2631  -5188
pension         2518  -7041
privequity     -3203   -313
bank              32     28
insurance       -915  -1224
financeetc        -5     33
corporateetc      17    -74
foreigneretc      51     77
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   389000  385000
high   393000  387500
low    385500  376000
close  389000  377000
vol    210367  196337
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   384500.0  385000
high   392500.0  387500
low    381500.0  376000
close  387500.0  377000
vol    261741.0  196337
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         25279 -20783
foreigner      -9643  12823
institution   -15639   8622
financial      -1936   1850
invtrust       -5188    396
pension        -7041   4632
privequity      -313    207
bank              28     45
insurance      -1224   1477
financeetc        33     15
corporateetc     -74   -663
foreigneretc      77      1
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12919 -20783
foreigner     -13410  12823
institution      506   8622
financial     -10368   1850
invtrust        2106    396
pension        12502   4632
privequity     -1018    207
bank           -1338     45
insurance      -1375   1477
financeetc        -3     15
corporateetc      12   -663
foreigneretc     -26      1
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   385000  382000
high   387500  394000
low    376000  382000
close  377000  386000
vol    196337  244380
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   389000  382000
high   393000  394000
low    385500  382000
close  389000  386000
vol    210367  244380
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -20783  11720
foreigner      12823 -30166
institution     8622  18300
financial       1850   5345
invtrust         396  -1189
pension         4632   7730
privequity       207   4811
bank              45    -22
insurance       1477   1627
financeetc        15     -2
corporateetc    -663     -2
foreigneretc       1    147
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         25279  11720
foreigner      -9643 -30166
institution   -15639  18300
financial      -1936   5345
invtrust       -5188  -1189
pension        -7041   7730
privequity      -313   4811
bank              28    -22
insurance      -1224   1627
financeetc        33     -2
corporateetc     -74     -2
foreigneretc      77    147
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   382000  397500.0
high   394000  397500.0
low    382000  386500.0
close  386000  394000.0
vol    244380  314399.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   385000  397500.0
high   387500  397500.0
low    376000  386500.0
close  377000  394000.0
vol    196337  314399.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         11720  -6969
foreigner     -30166  12414
institution    18300  -4960
financial       5345   5160
invtrust       -1189  -4557
pension         7730  -5109
privequity      4811    558
bank             -22    -33
insurance       1627   -980
financeetc        -2      0
corporateetc      -2   -170
foreigneretc     147   -314
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -20783  -6969
foreigner      12823  12414
institution     8622  -4960
financial       1850   5160
invtrust         396  -4557
pension         4632  -5109
privequity       207    558
bank              45    -33
insurance       1477   -980
financeetc        15      0
corporateetc    -663   -170
foreigneretc       1   -314
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   397500.0  395000
high   397500.0  395500
low    386500.0  390000
close  394000.0  393500
vol    314399.0  178139
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   382000  395000
high   394000  395500
low    382000  390000
close  386000  393500
vol    244380  178139
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -6969  14639
foreigner      12414  10627
institution    -4960 -25413
financial       5160  -6315
invtrust       -4557  -6595
pension        -5109  -5816
privequity       558  -4220
bank             -33      0
insurance       -980  -2456
financeetc         0    -11
corporateetc    -170    131
foreigneretc    -314     16
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         11720  14639
foreigner     -30166  10627
institution    18300 -25413
financial       5345  -6315
invtrust       -1189  -6595
pension         7730  -5816
privequity      4811  -4220
bank             -22      0
insurance       1627  -2456
financeetc        -2    -11
corporateetc      -2    131
foreigneretc     147     16
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   395000  390000
high   395500  390000
low    390000  380000
close  393500  388000
vol    178139  184384
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   397500.0  390000
high   397500.0  390000
low    386500.0  380000
close  394000.0  388000
vol    314399.0  184384
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         14639 -17514
foreigner      10627  12226
institution   -25413   5366
financial      -6315  -1112
invtrust       -6595   1163
pension        -5816   8286
privequity     -4220  -1396
bank               0     52
insurance      -2456  -1627
financeetc       -11      0
corporateetc     131   -123
foreigneretc      16     45
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -6969 -17514
foreigner      12414  12226
institution    -4960   5366
financial       5160  -1112
invtrust       -4557   1163
pension        -5109   8286
privequity       558  -1396
bank             -33     52
insurance       -980  -1627
financeetc         0      0
corporateetc    -170   -123
foreigneretc    -314     45
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   390000  393500
high   390000  397500
low    380000  389000
close  388000  395500
vol    184384  192353
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   395000  393500
high   395500  397500
low    390000  389000
close  393500  395500
vol    178139  192353

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   410000  411500.0
high   415500  411500.0
low    405000  402000.0
close  408500  402000.0
vol    177713  146754.0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before     after
open   402500  411500.0
high   408000  411500.0
low    398000  402000.0
close  407000  402000.0
vol    153418  146754.0
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4804 -22059
foreigner       8814  15666
institution   -13818   6362
financial      -5872   -224
invtrust       -6324   2184
pension         2845   5939
privequity     -3691  -1384
bank            -213      0
insurance       -562   -153
financeetc         0      0
corporateetc     179   -370
foreigneretc      21    399
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -9410 -22059
foreigner       8561  15666
institution      671   6362
financial      -1533   -224
invtrust        -591   2184
pension         2972   5939
privequity      -208  -1384
bank             103      0
insurance       -367   -153
financeetc       295      0
corporateetc     153   -370
foreigneretc      25    399
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   411500.0  402500
high   411500.0  414000
low    402000.0  402000
close  402000.0  409500
vol    146754.0  142484
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   410000  402500
high   415500  414000
low    405000  402000
close  408500  409500
vol    177713  142484
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22059  -2290
foreigner      15666   1700
institution     6362    246
financial       -224    333
invtrust        2184   1341
pension         5939  -1082
privequity     -1384   -238
bank               0      0
insurance       -153   -108
financeetc         0      0
corporateetc    -370     77
foreigneretc     399    266
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail          4804  -2290
foreigner       8814   1700
institution   -13818    246
financial      -5872    333
invtrust       -6324   1341
pension         2845  -1082
privequity     -3691   -238
bank            -213      0
insurance       -562   -108
financeetc         0      0
corporateetc     179     77
foreigneretc      21    266
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   402500  413500
high   414000  417000
low    402000  400500
close  409500  403500
vol    142484  138018
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP          before   after
open   411500.0  413500
high   411500.0  417000
low    402000.0  400500
close  402000.0  403500
vol    146754.0  138018
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -2290  12193
foreigner       1700  -1604
institution      246 -11985
financial        333  -1405
invtrust        1341  -8249
pension        -1082  -2369
privequity      -238   -191
bank               0    -57
insurance       -108    286
financeetc         0      0
corporateetc      77   1364
foreigneretc     266     32
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail        -22059  12193
foreigner      15666  -1604
institution     6362 -11985
financial       -224  -1405
invtrust        2184  -8249
pension         5939  -2369
privequity     -1384   -191
bank               0    -57
insurance       -153    286
financeetc         0      0
corporateetc    -370   1364
foreigneretc     399     32
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   413500  403500
high   417000  408500
low    400500  399500
close  403500  400500
vol    138018  133998
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   402500  403500
high   414000  408500
low    402000  399500
close  409500  400500
vol    142484  133998
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         12193 -10891
foreigner      -1604  23551
institution   -11985 -11055
financial      -1405  -5590
invtrust       -8249  -2997
pension        -2369    925
privequity      -191  -2413
bank             -57     -2
insurance        286   -799
financeetc         0   -179
corporateetc    1364  -1591
foreigneretc      32    -14
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, retail to foreigneretc
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  12 non-null     int64
 1   after   12 non-null     int64
dtypes: int64(2)
memory usage: 588.0+ bytes
OOO None
PPP               before  after
retail         -2290 -10891
foreigner       1700  23551
institution      246 -11055
financial        333  -5590
invtrust        1341  -2997
pension        -1082    925
privequity      -238  -2413
bank               0     -2
insurance       -108   -799
financeetc         0   -179
corporateetc      77  -1591
foreigneretc     266    -14
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   403500  399000
high   408500  407000
low    399500  394000
close  400500  401500
vol    133998  355301
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, open to vol
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   before  5 non-null      object
 1   after   5 non-null      object
dtypes: object(2)
memory usage: 292.0+ bytes
OOO None
PPP        before   after
open   413500  399000
high   417000  407000
low    400500  394000
close  403500  401500
vol    138018  355301
lgenergy 2/52,

C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\963759524.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1e-20' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_o_trans.loc[df_o_trans['before'] == 0, 'before'] = 1e-20 # 0으로 나누는 것을 예외로 두기 위하여 작은 숫자로 대체
C:\Users\kange\AppData\Local\Temp\ipykernel_19632\2296567472.py:81: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  ctemp[-1] = 0