## calculate change ratios and combine common data

### feature(주요 common data) 항목 변화율 계산하고 합치기-- 하루전과 이틀전의 데이터와 비교

In [1]:
import datetime, time
# from datetime import date

import pandas as pd
import numpy as np

In [2]:
# 개장일(date)과 이전 개장일(date_p1), 이전이전 개장일(date_p2)을 dict로 구성
base_data_directory = './data/base_data/stock_market_holydays/'
OPENING_DAYS_KOR = pd.read_pickle(base_data_directory+'opening_days_kor.pkl') # 한국 개장일 데이터 
OPENING_DAYS_USA = pd.read_pickle(base_data_directory+'opening_days_usa.pkl') # 미국 개장일 데이터

In [3]:
'''
# 한국 시장 예측 대상이 되는 개장일과 예측데이터를 계산한 미국 개장일과 예측 데이터 일치 시키기.
MATCHING_DAYS = pd.read_csv(base_data_directory+'find_delete_date.csv', encoding='cp949') # 미국 개장일 데이터 

MATCHING_DAYS['date_kor'] =  pd.to_datetime(MATCHING_DAYS['date_kor'],format='%Y-%m-%d').dt.date
MATCHING_DAYS['date_all'] =  pd.to_datetime(MATCHING_DAYS['date_all'],format='%Y-%m-%d').dt.date

for x in range(len(MATCHING_DAYS['replace_date'])):
    try:
        MATCHING_DAYS['replace_date'][x] =  datetime.datetime.strptime(MATCHING_DAYS['replace_date'][x], '%Y-%m-%d').date()
    except:
        pass
    
for x in range(len(MATCHING_DAYS['date_usa'])):
    try:
        MATCHING_DAYS['date_usa'][x] =  datetime.datetime.strptime(MATCHING_DAYS['date_usa'][x], '%Y-%m-%d').date()
    except:
        pass
    
MATCHING_DAYS.tail()

MATCHING_DAYS.to_pickle(base_data_directory + 'matching_days.pkl')
MATCHING_DAYS.to_csv(base_data_directory + 'matching_days.csv')
'''

"\n# 한국 시장 예측 대상이 되는 개장일과 예측데이터를 계산한 미국 개장일과 예측 데이터 일치 시키기.\nMATCHING_DAYS = pd.read_csv(base_data_directory+'find_delete_date.csv', encoding='cp949') # 미국 개장일 데이터 \n\nMATCHING_DAYS['date_kor'] =  pd.to_datetime(MATCHING_DAYS['date_kor'],format='%Y-%m-%d').dt.date\nMATCHING_DAYS['date_all'] =  pd.to_datetime(MATCHING_DAYS['date_all'],format='%Y-%m-%d').dt.date\n\nfor x in range(len(MATCHING_DAYS['replace_date'])):\n    try:\n        MATCHING_DAYS['replace_date'][x] =  datetime.datetime.strptime(MATCHING_DAYS['replace_date'][x], '%Y-%m-%d').date()\n    except:\n        pass\n    \nfor x in range(len(MATCHING_DAYS['date_usa'])):\n    try:\n        MATCHING_DAYS['date_usa'][x] =  datetime.datetime.strptime(MATCHING_DAYS['date_usa'][x], '%Y-%m-%d').date()\n    except:\n        pass\n    \nMATCHING_DAYS.tail()\n\nMATCHING_DAYS.to_pickle(base_data_directory + 'matching_days.pkl')\nMATCHING_DAYS.to_csv(base_data_directory + 'matching_days.csv')\n"

In [4]:
MATCHING_DAYS = pd.read_pickle(base_data_directory + 'matching_days.pkl')
usa_delete = MATCHING_DAYS[MATCHING_DAYS['replace_date'] == 'delete'][['date_usa', 'replace_date']] # usa date delete
usa_replace = MATCHING_DAYS[MATCHING_DAYS['date_usa'].isna()][['date_kor', 'replace_date']] #use date replace
# usa_replace.columns = ['date_usa', 'replace_date']

In [5]:
MATCHING_DAYS

      date_all    date_kor    date_usa replace_date
0   2020-01-20  2020-01-20         NaN   2020-01-21
1   2020-01-21  2020-01-21  2020-01-21       delete
2   2020-02-17  2020-02-17         NaN   2020-02-18
3   2020-02-18  2020-02-18  2020-02-18       delete
4   2020-04-10  2020-04-10         NaN   2020-04-13
..         ...         ...         ...          ...
62  2023-07-05  2023-07-05  2023-07-05       delete
63  2023-09-04  2023-09-04         NaN   2023-09-05
64  2023-09-05  2023-09-05  2023-09-05       delete
65  2023-11-23  2023-11-23         NaN   2023-11-24
66  2023-11-24  2023-11-24  2023-11-24       delete

[67 rows x 4 columns]

In [6]:
# 매일 변화가 있는 항목 추출; 금리변동과 같이 주기적을 발생하는 항목들(cpi, bok_rate, fed_rate 등)은 제외
common_pkl = [ "dji.pkl", "dji_future.pkl", "dxy_future.pkl", 
               "ixic_future.pkl", "kor_10yr_bond.pkl",
              "kor_2yr_bond.pkl", "kosdaq.pkl", "kospi.pkl", "krw_rate.pkl", "nas.pkl",
              "snp_future.pkl", "sox.pkl", "spx.pkl", "us_10yr_bond.pkl", "us_2yr_bond.pkl",
              "us_3mon_bond.pkl", "vix.pkl", "wti_future.pkl",
              'spsy.pkl', 'spny.pkl', 'spxhc.pkl', 'splrcd.pkl', 'splrci.pkl', 'splrcu.pkl', 'splrcs.pkl', 
              'splrct.pkl', 'splrcl.pkl', 'splrcm.pkl', 'ixbk.pkl', 'ixfn.pkl', 'ixid.pkl', 'ixis.pkl', 
              'ixk.pkl', 'ixtr.pkl', 'ixut.pkl', 'nbi.pkl', 'bkx.pkl' 
             ]
### ixf, qnet 파일 추가후 훈련시켜야 함.

common_pkl_usa = [ "dji.pkl", "dji_future.pkl", "dxy_future.pkl", 
                  "ixic_future.pkl", "nas.pkl", "snp_future.pkl", "sox.pkl", "spx.pkl", 
                  "us_10yr_bond.pkl", "us_2yr_bond.pkl", "us_3mon_bond.pkl", "vix.pkl", "wti_future.pkl",
                  'spsy.pkl', 'spny.pkl', 'spxhc.pkl', 'splrcd.pkl', 'splrci.pkl', 'splrcu.pkl', 'splrcs.pkl', 
                  'splrct.pkl', 'splrcl.pkl', 'splrcm.pkl', 'ixbk.pkl', 'ixfn.pkl', 'ixid.pkl', 'ixis.pkl', 
                  'ixk.pkl', 'ixtr.pkl', 'ixut.pkl', 'nbi.pkl', 'bkx.pkl' 
             ]
common_pkl_kor = [ "kor_10yr_bond.pkl", "kor_2yr_bond.pkl", "kosdaq.pkl", "kospi.pkl", "krw_rate.pkl", 
             ]
# common_pkl = [ "dji.pkl" ]

In [7]:
# dict로 만들어 pkl내에 있는 df의 column 이름과 매칭시키기 위하여 구성
common_col_name = {'dji.pkl':'dji', 'dji_future.pkl':'dji_f', 'dxy_future.pkl':'dxy', 
                   'ixic_future.pkl':'ixic_f', 'kor_10yr_bond.pkl':'bond_kor_10',
                   'kor_2yr_bond.pkl':'bond_kor_2', 'kosdaq.pkl':'kosdaq', 'kospi.pkl':'kospi',
                   'krw_rate.pkl':'krw', 'nas.pkl':'ixic', 'snp_future.pkl':'spx_f',
                   'sox.pkl':'sox', 'spx.pkl':'spx', 'us_10yr_bond.pkl':'bond_usa_10',
                   'us_2yr_bond.pkl':'bond_usa_2', 'us_3mon_bond.pkl':'bond_usa_3m',
                   'vix.pkl':'vix', 'wti_future.pkl':'wti',
                   'spsy.pkl':'spsy', 'spny.pkl':'spny', 'spxhc.pkl':'spxhc', 'splrcd.pkl':'splrcd', 
                   'splrci.pkl':'splrci', 'splrcu.pkl':'splrcu', 'splrcs.pkl':'splrcs', 
                   'splrct.pkl':'splrct', 'splrcl.pkl':'splrcl', 'splrcm.pkl':'splrcm', 
                   'ixbk.pkl':'ixbk', 'ixfn.pkl':'ixfn', 'ixid.pkl':'ixid', 'ixis.pkl':'ixis', 
                   'ixk.pkl':'ixk', 'ixtr.pkl':'ixtr', 'ixut.pkl':'ixut', 'nbi.pkl':'nbi', 'bkx.pkl':'bkx'
                   }

In [8]:
directory_for_predict = './data/data_for_ml/predict/'
pkl_common_directory = './data/common_pkl/'
pkl_directory = './data/common_pkl/'

In [9]:
# 주요 지표를 한개의 df로 구성 (휴장일과 개장일이 틀리기 때문에 한국, 미국 각각 구성해야 함)
# _common : 공통으로 사용되는 지표를 의미
def get_common_base(opening_days_common, pkl_list):
    df_base = pd.DataFrame(pd.Series(opening_days_common, name='date')).set_index('date')
    date_compare = pd.DataFrame(pd.Series(opening_days_common, name='date'))
    date_compare['date_p'] = date_compare['date'].shift(1)
    
    date_compare.columns = ['date_c', 'date_p'] #거래일과 바로 이전 거래일
    c_p_dict = date_compare.set_index('date_c').to_dict()['date_p'] # date_c로 date_p 찾기
    p_c_dict = date_compare.set_index('date_p').to_dict()['date_c'] # date_p로 date_c 찾기
    
    for index_name in pkl_list:
        key_name = index_name[:-4]
        col_name = common_col_name[index_name]
        df_temp = pd.read_pickle(pkl_common_directory + index_name)
        
#         df_temp['date'] = df_temp['date'].dt.date # date type으로 변환
        df_temp['temp'] = df_temp[col_name].shift(2)  # 거래일과 이전(-1) 이전(-1) 거래일 데이터와 비교하기 위하여 -2 shift
        
        df_temp[f'{col_name}_cr_2'] = (df_temp[col_name] - df_temp['temp'])/df_temp['temp']*100 # 이전 거래일 데이터는 "_cr"
        df_temp[f'{col_name}_cr_2'] = df_temp[f'{col_name}_cr_2'].apply(lambda x: float(f'{x:.5f}')) # 5 소수점까지
        
        df_new = df_temp[df_temp['date'].isin(date_compare['date_p'])] # 이전 거래일과 비교날짜가 있는 row만 선택
        # 예: 2023-04-10('date_c'), 2023-04-07('date_p') 일 경우, 2023년 4월 7일 데이터는 2023년 4월 10일 row에 작성해야 함.
        # 위 예와 같이 하기 위해 'date_p'에 있는 date로만 df재구성(df_new)

        add_c= df_new['date'].apply(lambda x : p_c_dict[x])  # 하루전 날짜와 매칭한 column 생성 (add_c)
        # 예: 2023년 4월 7일 데이터는 2023년 4월 10일 row에 기입
        df_new.insert(len(df_new.columns)-1, 'date_c', value=add_c)  #SettingWithCopyWarning: error 회피
        df_new.set_index('date_c', inplace=True)

        df_base = df_base.merge(df_new.iloc[:, [-3, -1]], \
                                how='left', left_index=True, right_index=True)
    return df_base

In [10]:
# ***미국 주식 분석용 시작 일자, 마지막 일자  지정 ***********
# ** 한국 공통(kospi 등) 자료는 한국 개장일에 맞춰 분석해야 함.
pkl_name= 'dji.pkl'
df_temp = pd.read_pickle(pkl_directory + pkl_name)

dji = df_temp['dji'].iloc[-1]
opening_days_common = list(df_temp['date'])

# 오늘 날짜(분석날짜) 추가 필요(미국, 한국 포함)

if dji == None :
    opening_days_common = list(df_temp['date'][:-1])
    
# 마지막 기록일자 index 찾고 다음 개장일 추가하기 (예측을 원하는 날)
l_date = opening_days_common[-1]
lp1_index = list(OPENING_DAYS_USA).index(l_date) + 1 # 현재 개장일 이후에 오는 개장일 날짜 index (+1 index)
opening_days_common.append(list(OPENING_DAYS_USA)[lp1_index])

In [11]:
# 미국 common data df
df_usa = get_common_base(opening_days_common, common_pkl_usa)

In [12]:
df_usa.tail()

,dji_cr,dji_cr_2,dji_f_cr,dji_f_cr_2,dxy_cr,dxy_cr_2,ixic_f_cr,ixic_f_cr_2,ixic_cr,ixic_cr_2,...,ixk_cr,ixk_cr_2,ixtr_cr,ixtr_cr_2,ixut_cr,ixut_cr_2,nbi_cr,nbi_cr_2,bkx_cr,bkx_cr_2
date,,,,,,,,,,,,,,,,,,,,,
2024-08-01,0.24%,0.74706,0.28,0.74072,-0.44,-0.43994,3.00,1.54092,2.64%,1.31951,...,3.62%,1.63527,0.71%,1.62115,1.69%,1.76130,-0.15%,-0.62860,-0.76%,0.35036
2024-08-02,-1.21%,-0.97037,-1.36,-1.08645,0.31,-0.12434,-2.47,0.45944,-2.30%,0.27252,...,-2.77%,0.74947,-2.16%,-1.46948,-0.67%,1.00890,-0.70%,-0.85344,-2.99%,-3.72455
2024-08-05,-1.51%,-2.70679,-1.57,-2.90702,-1.16,-0.85495,-2.45,-4.86536,-2.43%,-4.67766,...,-2.11%,-4.82331,-3.46%,-5.55006,-0.76%,-1.42481,-1.73%,-2.41986,-4.32%,-7.17465
2024-08-06,-2.60%,-4.07629,-2.28,-2.58532,-0.28,-0.32943,-2.70,-2.92624,-3.43%,-5.78144,...,-3.81%,-5.84306,-2.28%,-5.65980,-2.42%,-3.16013,-2.86%,-4.53635,-2.66%,-6.86460
2024-08-07,0.76%,-1.86123,0.76,-1.53943,0.11,-0.16479,0.92,-1.80546,1.03%,-2.43983,...,1.11%,-2.74309,1.78%,-0.53887,0.65%,-1.78736,0.38%,-2.48919,1.17%,-1.52327

In [13]:
# df_kor와 df_usa predict날짜 일치시키기 위하여 df_date_compare이용\
# 예. 예측일 기준 2023년 6월 19일의 경우, 미국시장 6월 20일 데이터를 사용하여야 함.
# 6월 20일 경우에는 
# 아래 로직을 새롭게 만들어서 사용해야 함.

In [14]:
# 예측 날짜 replace
as_list = df_usa.index.tolist()
for i in range(len(usa_replace)):
    usa_date =  usa_replace['date_kor'].iloc[i]
#     print("usadate ", usa_date, "  최초 기록날짜 ", as_list[0])
#     print("usadate ", usa_date, "  최초 기록날짜 ", as_list[-1])
    if usa_date < as_list[0]: # 데이터 기록 날짜보다 이전 date일 경우 skip
        continue
    if usa_date > as_list[-1]: # 데이터 기록 날짜 이후 이면 pass
        break
    replace_date =  usa_replace['replace_date'].iloc[i]
    idx = as_list.index(replace_date)
    as_list[idx] = usa_date

df_usa.index =  as_list # date 일치시킴    
df_usa = df_usa[~df_usa.index.isin(usa_delete['date_usa'])]

In [15]:
df_usa.tail()

,dji_cr,dji_cr_2,dji_f_cr,dji_f_cr_2,dxy_cr,dxy_cr_2,ixic_f_cr,ixic_f_cr_2,ixic_cr,ixic_cr_2,...,ixk_cr,ixk_cr_2,ixtr_cr,ixtr_cr_2,ixut_cr,ixut_cr_2,nbi_cr,nbi_cr_2,bkx_cr,bkx_cr_2
2024-08-01,0.24%,0.74706,0.28,0.74072,-0.44,-0.43994,3.00,1.54092,2.64%,1.31951,...,3.62%,1.63527,0.71%,1.62115,1.69%,1.76130,-0.15%,-0.62860,-0.76%,0.35036
2024-08-02,-1.21%,-0.97037,-1.36,-1.08645,0.31,-0.12434,-2.47,0.45944,-2.30%,0.27252,...,-2.77%,0.74947,-2.16%,-1.46948,-0.67%,1.00890,-0.70%,-0.85344,-2.99%,-3.72455
2024-08-05,-1.51%,-2.70679,-1.57,-2.90702,-1.16,-0.85495,-2.45,-4.86536,-2.43%,-4.67766,...,-2.11%,-4.82331,-3.46%,-5.55006,-0.76%,-1.42481,-1.73%,-2.41986,-4.32%,-7.17465
2024-08-06,-2.60%,-4.07629,-2.28,-2.58532,-0.28,-0.32943,-2.70,-2.92624,-3.43%,-5.78144,...,-3.81%,-5.84306,-2.28%,-5.65980,-2.42%,-3.16013,-2.86%,-4.53635,-2.66%,-6.86460
2024-08-07,0.76%,-1.86123,0.76,-1.53943,0.11,-0.16479,0.92,-1.80546,1.03%,-2.43983,...,1.11%,-2.74309,1.78%,-0.53887,0.65%,-1.78736,0.38%,-2.48919,1.17%,-1.52327

In [16]:
# *****한국 주식 시작 일자, 마지막 일자  지정 ***********
pkl_name= 'kospi.pkl'
df_temp = pd.read_pickle(pkl_directory + pkl_name)

kospi = df_temp['kospi'].iloc[-1]
opening_days_common = list(df_temp['date'])

if kospi == None :
    opening_days_common = list(df_temp['date'][:-1])
    
# 마지막 기록일자 index 찾고 다음 개장일 추가하기 (예측을 원하는 날)
l_date = opening_days_common[-1]
lp1_index = list(OPENING_DAYS_KOR).index(l_date) + 1 # 현재 개장일 이후에 오는 개장일 날짜 index (+1 index)
opening_days_common.append(list(OPENING_DAYS_KOR)[lp1_index])

In [17]:
df_temp.tail()

           date    kospi     open     high      low   volume  kospi_cr
645  2024-08-01  2777.68  2787.27  2794.11  2772.97  480.83M      0.25
646  2024-08-02  2676.19  2719.39  2725.05  2666.40  531.78M     -3.65
647  2024-08-05  2441.55  2611.30  2611.30  2386.96  763.78M     -8.77
648  2024-08-06  2522.15  2533.34  2578.77  2491.47  567.27M      3.30
649  2024-08-07  2568.14  2515.27  2594.83  2510.82  469.66K      1.82

In [18]:
l_date = opening_days_common[-1]

In [19]:
opening_days_common

[datetime.date(2021, 12, 20),
 datetime.date(2021, 12, 21),
 datetime.date(2021, 12, 22),
 datetime.date(2021, 12, 23),
 datetime.date(2021, 12, 24),
 datetime.date(2021, 12, 27),
 datetime.date(2021, 12, 28),
 datetime.date(2021, 12, 29),
 datetime.date(2021, 12, 30),
 datetime.date(2022, 1, 3),
 datetime.date(2022, 1, 4),
 datetime.date(2022, 1, 5),
 datetime.date(2022, 1, 6),
 datetime.date(2022, 1, 7),
 datetime.date(2022, 1, 10),
 datetime.date(2022, 1, 11),
 datetime.date(2022, 1, 12),
 datetime.date(2022, 1, 13),
 datetime.date(2022, 1, 14),
 datetime.date(2022, 1, 17),
 datetime.date(2022, 1, 18),
 datetime.date(2022, 1, 19),
 datetime.date(2022, 1, 20),
 datetime.date(2022, 1, 21),
 datetime.date(2022, 1, 24),
 datetime.date(2022, 1, 25),
 datetime.date(2022, 1, 26),
 datetime.date(2022, 1, 27),
 datetime.date(2022, 1, 28),
 datetime.date(2022, 2, 3),
 datetime.date(2022, 2, 4),
 datetime.date(2022, 2, 7),
 datetime.date(2022, 2, 8),
 datetime.date(2022, 2, 9),
 datetime.date(2022, 2, 10),
 datetime.date(2022, 2, 11),
 datetime.date(2022, 2, 14),
 datetime.date(2022, 2, 15),
 datetime.date(2022, 2, 16),
 datetime.date(2022, 2, 17),
 datetime.date(2022, 2, 18),
 datetime.date(2022, 2, 21),
 datetime.date(2022, 2, 22),
 datetime.date(2022, 2, 23),
 datetime.date(2022, 2, 24),
 datetime.date(2022, 2, 25),
 datetime.date(2022, 2, 28),
 datetime.date(2022, 3, 2),
 datetime.date(2022, 3, 3),
 datetime.date(2022, 3, 4),
 datetime.date(2022, 3, 7),
 datetime.date(2022, 3, 8),
 datetime.date(2022, 3, 10),
 datetime.date(2022, 3, 11),
 datetime.date(2022, 3, 14),
 datetime.date(2022, 3, 15),
 datetime.date(2022, 3, 16),
 datetime.date(2022, 3, 17),
 datetime.date(2022, 3, 18),
 datetime.date(2022, 3, 21),
 datetime.date(2022, 3, 22),
 datetime.date(2022, 3, 23),
 datetime.date(2022, 3, 24),
 datetime.date(2022, 3, 25),
 datetime.date(2022, 3, 28),
 datetime.date(2022, 3, 29),
 datetime.date(2022, 3, 30),
 datetime.date(2022, 3, 31),
 datetime.date(2022, 4, 1),
 datetime.date(2022, 4, 4),
 datetime.date(2022, 4, 5),
 datetime.date(2022, 4, 6),
 datetime.date(2022, 4, 7),
 datetime.date(2022, 4, 8),
 datetime.date(2022, 4, 11),
 datetime.date(2022, 4, 12),
 datetime.date(2022, 4, 13),
 datetime.date(2022, 4, 14),
 datetime.date(2022, 4, 15),
 datetime.date(2022, 4, 18),
 datetime.date(2022, 4, 19),
 datetime.date(2022, 4, 20),
 datetime.date(2022, 4, 21),
 datetime.date(2022, 4, 22),
 datetime.date(2022, 4, 25),
 datetime.date(2022, 4, 26),
 datetime.date(2022, 4, 27),
 datetime.date(2022, 4, 28),
 datetime.date(2022, 4, 29),
 datetime.date(2022, 5, 2),
 datetime.date(2022, 5, 3),
 datetime.date(2022, 5, 4),
 datetime.date(2022, 5, 6),
 datetime.date(2022, 5, 9),
 datetime.date(2022, 5, 10),
 datetime.date(2022, 5, 11),
 datetime.date(2022, 5, 12),
 datetime.date(2022, 5, 13),
 datetime.date(2022, 5, 16),
 datetime.date(2022, 5, 17),
 datetime.date(2022, 5, 18),
 datetime.date(2022, 5, 19),
 datetime.date(2022, 5, 20),
 datetime.date(2022, 5, 23),
 datetime.date(2022, 5, 24),
 datetime.date(2022, 5, 25),
 datetime.date(2022, 5, 26),
 datetime.date(2022, 5, 27),
 datetime.date(2022, 5, 30),
 datetime.date(2022, 5, 31),
 datetime.date(2022, 6, 2),
 datetime.date(2022, 6, 3),
 datetime.date(2022, 6, 7),
 datetime.date(2022, 6, 8),
 datetime.date(2022, 6, 9),
 datetime.date(2022, 6, 10),
 datetime.date(2022, 6, 13),
 datetime.date(2022, 6, 14),
 datetime.date(2022, 6, 15),
 datetime.date(2022, 6, 16),
 datetime.date(2022, 6, 17),
 datetime.date(2022, 6, 20),
 datetime.date(2022, 6, 21),
 datetime.date(2022, 6, 22),
 datetime.date(2022, 6, 23),
 datetime.date(2022, 6, 24),
 datetime.date(2022, 6, 27),
 datetime.date(2022, 6, 28),
 datetime.date(2022, 6, 29),
 datetime.date(2022, 6, 30),
 datetime.date(2022, 7, 1),
 datetime.date(2022, 7, 4),
 datetime.date(2022, 7, 5),
 datetime.date(2022, 7, 6),
 datetime.date(2022, 7, 7),
 datetime.date(2022, 7, 8),
 datetime.date(2022, 7, 11),
 datetime.date(2022, 7, 12),
 datetime.date(2022, 7, 13),
 datetime.date(2022, 7, 14),
 datetime.date(2022, 7, 15),
 datetime.date(2022, 7, 18),
 datetime.date(2022, 7, 19),
 datetime.date(2022, 7, 20),
 datetime.date(2022, 7, 21),
 datetime.date(2022, 7, 22),
 datetime.date(2022, 7, 25),
 datetime.date(2022, 7, 26),
 datetime.date(2022, 7, 27),
 datetime.date(2022, 7, 28),
 datetime.date(2022, 7, 29),
 datetime.date(2022, 8, 1),
 datetime.date(2022, 8, 2),
 datetime.date(2022, 8, 3),
 datetime.date(2022, 8, 4),
 datetime.date(2022, 8, 5),
 datetime.date(2022, 8, 8),
 datetime.date(2022, 8, 9),
 datetime.date(2022, 8, 10),
 datetime.date(2022, 8, 11),
 datetime.date(2022, 8, 12),
 datetime.date(2022, 8, 16),
 datetime.date(2022, 8, 17),
 datetime.date(2022, 8, 18),
 datetime.date(2022, 8, 19),
 datetime.date(2022, 8, 22),
 datetime.date(2022, 8, 23),
 datetime.date(2022, 8, 24),
 datetime.date(2022, 8, 25),
 datetime.date(2022, 8, 26),
 datetime.date(2022, 8, 29),
 datetime.date(2022, 8, 30),
 datetime.date(2022, 8, 31),
 datetime.date(2022, 9, 1),
 datetime.date(2022, 9, 2),
 datetime.date(2022, 9, 5),
 datetime.date(2022, 9, 6),
 datetime.date(2022, 9, 7),
 datetime.date(2022, 9, 8),
 datetime.date(2022, 9, 13),
 datetime.date(2022, 9, 14),
 datetime.date(2022, 9, 15),
 datetime.date(2022, 9, 16),
 datetime.date(2022, 9, 19),
 datetime.date(2022, 9, 20),
 datetime.date(2022, 9, 21),
 datetime.date(2022, 9, 22),
 datetime.date(2022, 9, 23),
 datetime.date(2022, 9, 26),
 datetime.date(2022, 9, 27),
 datetime.date(2022, 9, 28),
 datetime.date(2022, 9, 29),
 datetime.date(2022, 9, 30),
 datetime.date(2022, 10, 4),
 datetime.date(2022, 10, 5),
 datetime.date(2022, 10, 6),
 datetime.date(2022, 10, 7),
 datetime.date(2022, 10, 11),
 datetime.date(2022, 10, 12),
 datetime.date(2022, 10, 13),
 datetime.date(2022, 10, 14),
 datetime.date(2022, 10, 17),
 datetime.date(2022, 10, 18),
 datetime.date(2022, 10, 19),
 datetime.date(2022, 10, 20),
 datetime.date(2022, 10, 21),
 datetime.date(2022, 10, 24),
 datetime.date(2022, 10, 25),
 datetime.date(2022, 10, 26),
 datetime.date(2022, 10, 27),
 datetime.date(2022, 10, 28),
 datetime.date(2022, 10, 31),
 datetime.date(2022, 11, 1),
 datetime.date(2022, 11, 2),
 datetime.date(2022, 11, 3),
 datetime.date(2022, 11, 4),
 datetime.date(2022, 11, 7),
 datetime.date(2022, 11, 8),
 datetime.date(2022, 11, 9),
 datetime.date(2022, 11, 10),
 datetime.date(2022, 11, 11),
 datetime.date(2022, 11, 14),
 datetime.date(2022, 11, 15),
 datetime.date(2022, 11, 16),
 datetime.date(2022, 11, 17),
 datetime.date(2022, 11, 18),
 datetime.date(2022, 11, 21),
 datetime.date(2022, 11, 22),
 datetime.date(2022, 11, 23),
 datetime.date(2022, 11, 24),
 datetime.date(2022, 11, 25),
 datetime.date(2022, 11, 28),
 datetime.date(2022, 11, 29),
 datetime.date(2022, 11, 30),
 datetime.date(2022, 12, 1),
 datetime.date(2022, 12, 2),
 datetime.date(2022, 12, 5),
 datetime.date(2022, 12, 6),
 datetime.date(2022, 12, 7),
 datetime.date(2022, 12, 8),
 datetime.date(2022, 12, 9),
 datetime.date(2022, 12, 12),
 datetime.date(2022, 12, 13),
 datetime.date(2022, 12, 14),
 datetime.date(2022, 12, 15),
 datetime.date(2022, 12, 16),
 datetime.date(2022, 12, 19),
 datetime.date(2022, 12, 20),
 datetime.date(2022, 12, 21),
 datetime.date(2022, 12, 22),
 datetime.date(2022, 12, 23),
 datetime.date(2022, 12, 26),
 datetime.date(2022, 12, 27),
 datetime.date(2022, 12, 28),
 datetime.date(2022, 12, 29),
 datetime.date(2023, 1, 2),
 datetime.date(2023, 1, 3),
 datetime.date(2023, 1, 4),
 datetime.date(2023, 1, 5),
 datetime.date(2023, 1, 6),
 datetime.date(2023, 1, 9),
 datetime.date(2023, 1, 10),
 datetime.date(2023, 1, 11),
 datetime.date(2023, 1, 12),
 datetime.date(2023, 1, 13),
 datetime.date(2023, 1, 16),
 datetime.date(2023, 1, 17),
 datetime.date(2023, 1, 18),
 datetime.date(2023, 1, 19),
 datetime.date(2023, 1, 20),
 datetime.date(2023, 1, 25),
 datetime.date(2023, 1, 26),
 datetime.date(2023, 1, 27),
 datetime.date(2023, 1, 30),
 datetime.date(2023, 1, 31),
 datetime.date(2023, 2, 1),
 datetime.date(2023, 2, 2),
 datetime.date(2023, 2, 3),
 datetime.date(2023, 2, 6),
 datetime.date(2023, 2, 7),
 datetime.date(2023, 2, 8),
 datetime.date(2023, 2, 9),
 datetime.date(2023, 2, 10),
 datetime.date(2023, 2, 13),
 datetime.date(2023, 2, 14),
 datetime.date(2023, 2, 15),
 datetime.date(2023, 2, 16),
 datetime.date(2023, 2, 17),
 datetime.date(2023, 2, 20),
 datetime.date(2023, 2, 21),
 datetime.date(2023, 2, 22),
 datetime.date(2023, 2, 23),
 datetime.date(2023, 2, 24),
 datetime.date(2023, 2, 27),
 datetime.date(2023, 2, 28),
 datetime.date(2023, 3, 2),
 datetime.date(2023, 3, 3),
 datetime.date(2023, 3, 6),
 datetime.date(2023, 3, 7),
 datetime.date(2023, 3, 8),
 datetime.date(2023, 3, 9),
 datetime.date(2023, 3, 10),
 datetime.date(2023, 3, 13),
 datetime.date(2023, 3, 14),
 datetime.date(2023, 3, 15),
 datetime.date(2023, 3, 16),
 datetime.date(2023, 3, 17),
 datetime.date(2023, 3, 20),
 datetime.date(2023, 3, 21),
 datetime.date(2023, 3, 22),
 datetime.date(2023, 3, 23),
 datetime.date(2023, 3, 24),
 datetime.date(2023, 3, 27),
 datetime.date(2023, 3, 28),
 datetime.date(2023, 3, 29),
 datetime.date(2023, 3, 30),
 datetime.date(2023, 3, 31),
 datetime.date(2023, 4, 3),
 datetime.date(2023, 4, 4),
 datetime.date(2023, 4, 5),
 datetime.date(2023, 4, 6),
 datetime.date(2023, 4, 7),
 datetime.date(2023, 4, 10),
 datetime.date(2023, 4, 11),
 datetime.date(2023, 4, 12),
 datetime.date(2023, 4, 13),
 datetime.date(2023, 4, 14),
 datetime.date(2023, 4, 17),
 datetime.date(2023, 4, 18),
 datetime.date(2023, 4, 19),
 datetime.date(2023, 4, 20),
 datetime.date(2023, 4, 21),
 datetime.date(2023, 4, 24),
 datetime.date(2023, 4, 25),
 datetime.date(2023, 4, 26),
 datetime.date(2023, 4, 27),
 datetime.date(2023, 4, 28),
 datetime.date(2023, 5, 2),
 datetime.date(2023, 5, 3),
 datetime.date(2023, 5, 4),
 datetime.date(2023, 5, 8),
 datetime.date(2023, 5, 9),
 datetime.date(2023, 5, 10),
 datetime.date(2023, 5, 11),
 datetime.date(2023, 5, 12),
 datetime.date(2023, 5, 15),
 datetime.date(2023, 5, 16),
 datetime.date(2023, 5, 17),
 datetime.date(2023, 5, 18),
 datetime.date(2023, 5, 19),
 datetime.date(2023, 5, 22),
 datetime.date(2023, 5, 23),
 datetime.date(2023, 5, 24),
 datetime.date(2023, 5, 25),
 datetime.date(2023, 5, 26),
 datetime.date(2023, 5, 30),
 datetime.date(2023, 5, 31),
 datetime.date(2023, 6, 1),
 datetime.date(2023, 6, 2),
 datetime.date(2023, 6, 5),
 datetime.date(2023, 6, 7),
 datetime.date(2023, 6, 8),
 datetime.date(2023, 6, 9),
 datetime.date(2023, 6, 12),
 datetime.date(2023, 6, 13),
 datetime.date(2023, 6, 14),
 datetime.date(2023, 6, 15),
 datetime.date(2023, 6, 16),
 datetime.date(2023, 6, 19),
 datetime.date(2023, 6, 20),
 datetime.date(2023, 6, 21),
 datetime.date(2023, 6, 22),
 datetime.date(2023, 6, 23),
 datetime.date(2023, 6, 26),
 datetime.date(2023, 6, 27),
 datetime.date(2023, 6, 28),
 datetime.date(2023, 6, 29),
 datetime.date(2023, 6, 30),
 datetime.date(2023, 7, 3),
 datetime.date(2023, 7, 4),
 datetime.date(2023, 7, 5),
 datetime.date(2023, 7, 6),
 datetime.date(2023, 7, 7),
 datetime.date(2023, 7, 10),
 datetime.date(2023, 7, 11),
 datetime.date(2023, 7, 12),
 datetime.date(2023, 7, 13),
 datetime.date(2023, 7, 14),
 datetime.date(2023, 7, 17),
 datetime.date(2023, 7, 18),
 datetime.date(2023, 7, 19),
 datetime.date(2023, 7, 20),
 datetime.date(2023, 7, 21),
 datetime.date(2023, 7, 24),
 datetime.date(2023, 7, 25),
 datetime.date(2023, 7, 26),
 datetime.date(2023, 7, 27),
 datetime.date(2023, 7, 28),
 datetime.date(2023, 7, 31),
 datetime.date(2023, 8, 1),
 datetime.date(2023, 8, 2),
 datetime.date(2023, 8, 3),
 datetime.date(2023, 8, 4),
 datetime.date(2023, 8, 7),
 datetime.date(2023, 8, 8),
 datetime.date(2023, 8, 9),
 datetime.date(2023, 8, 10),
 datetime.date(2023, 8, 11),
 datetime.date(2023, 8, 14),
 datetime.date(2023, 8, 16),
 datetime.date(2023, 8, 17),
 datetime.date(2023, 8, 18),
 datetime.date(2023, 8, 21),
 datetime.date(2023, 8, 22),
 datetime.date(2023, 8, 23),
 datetime.date(2023, 8, 24),
 datetime.date(2023, 8, 25),
 datetime.date(2023, 8, 28),
 datetime.date(2023, 8, 29),
 datetime.date(2023, 8, 30),
 datetime.date(2023, 8, 31),
 datetime.date(2023, 9, 1),
 datetime.date(2023, 9, 4),
 datetime.date(2023, 9, 5),
 datetime.date(2023, 9, 6),
 datetime.date(2023, 9, 7),
 datetime.date(2023, 9, 8),
 datetime.date(2023, 9, 11),
 datetime.date(2023, 9, 12),
 datetime.date(2023, 9, 13),
 datetime.date(2023, 9, 14),
 datetime.date(2023, 9, 15),
 datetime.date(2023, 9, 18),
 datetime.date(2023, 9, 19),
 datetime.date(2023, 9, 20),
 datetime.date(2023, 9, 21),
 datetime.date(2023, 9, 22),
 datetime.date(2023, 9, 25),
 datetime.date(2023, 9, 26),
 datetime.date(2023, 9, 27),
 datetime.date(2023, 10, 4),
 datetime.date(2023, 10, 5),
 datetime.date(2023, 10, 6),
 datetime.date(2023, 10, 10),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 12),
 datetime.date(2023, 10, 13),
 datetime.date(2023, 10, 16),
 datetime.date(2023, 10, 17),
 datetime.date(2023, 10, 18),
 datetime.date(2023, 10, 19),
 datetime.date(2023, 10, 20),
 datetime.date(2023, 10, 23),
 datetime.date(2023, 10, 24),
 datetime.date(2023, 10, 25),
 datetime.date(2023, 10, 26),
 datetime.date(2023, 10, 27),
 datetime.date(2023, 10, 30),
 datetime.date(2023, 10, 31),
 datetime.date(2023, 11, 1),
 datetime.date(2023, 11, 2),
 datetime.date(2023, 11, 3),
 datetime.date(2023, 11, 6),
 datetime.date(2023, 11, 7),
 datetime.date(2023, 11, 8),
 datetime.date(2023, 11, 9),
 datetime.date(2023, 11, 10),
 datetime.date(2023, 11, 13),
 datetime.date(2023, 11, 14),
 datetime.date(2023, 11, 15),
 datetime.date(2023, 11, 16),
 datetime.date(2023, 11, 17),
 datetime.date(2023, 11, 20),
 datetime.date(2023, 11, 21),
 datetime.date(2023, 11, 22),
 datetime.date(2023, 11, 23),
 datetime.date(2023, 11, 24),
 datetime.date(2023, 11, 27),
 datetime.date(2023, 11, 28),
 datetime.date(2023, 11, 29),
 datetime.date(2023, 11, 30),
 datetime.date(2023, 12, 1),
 datetime.date(2023, 12, 4),
 datetime.date(2023, 12, 5),
 datetime.date(2023, 12, 6),
 datetime.date(2023, 12, 7),
 datetime.date(2023, 12, 8),
 datetime.date(2023, 12, 11),
 datetime.date(2023, 12, 12),
 datetime.date(2023, 12, 13),
 datetime.date(2023, 12, 14),
 datetime.date(2023, 12, 15),
 datetime.date(2023, 12, 18),
 datetime.date(2023, 12, 19),
 datetime.date(2023, 12, 20),
 datetime.date(2023, 12, 21),
 datetime.date(2023, 12, 22),
 datetime.date(2023, 12, 26),
 datetime.date(2023, 12, 27),
 datetime.date(2023, 12, 28),
 datetime.date(2024, 1, 2),
 datetime.date(2024, 1, 3),
 datetime.date(2024, 1, 4),
 datetime.date(2024, 1, 5),
 datetime.date(2024, 1, 8),
 datetime.date(2024, 1, 9),
 datetime.date(2024, 1, 10),
 datetime.date(2024, 1, 11),
 datetime.date(2024, 1, 12),
 datetime.date(2024, 1, 15),
 datetime.date(2024, 1, 16),
 datetime.date(2024, 1, 17),
 datetime.date(2024, 1, 18),
 datetime.date(2024, 1, 19),
 datetime.date(2024, 1, 22),
 datetime.date(2024, 1, 23),
 datetime.date(2024, 1, 24),
 datetime.date(2024, 1, 25),
 datetime.date(2024, 1, 26),
 datetime.date(2024, 1, 29),
 datetime.date(2024, 1, 30),
 datetime.date(2024, 1, 31),
 datetime.date(2024, 2, 1),
 datetime.date(2024, 2, 2),
 datetime.date(2024, 2, 5),
 datetime.date(2024, 2, 6),
 datetime.date(2024, 2, 7),
 datetime.date(2024, 2, 8),
 datetime.date(2024, 2, 13),
 datetime.date(2024, 2, 14),
 datetime.date(2024, 2, 15),
 datetime.date(2024, 2, 16),
 datetime.date(2024, 2, 19),
 datetime.date(2024, 2, 20),
 datetime.date(2024, 2, 21),
 datetime.date(2024, 2, 22),
 datetime.date(2024, 2, 23),
 datetime.date(2024, 2, 26),
 datetime.date(2024, 2, 27),
 datetime.date(2024, 2, 28),
 datetime.date(2024, 2, 29),
 datetime.date(2024, 3, 4),
 datetime.date(2024, 3, 5),
 datetime.date(2024, 3, 6),
 datetime.date(2024, 3, 7),
 datetime.date(2024, 3, 8),
 datetime.date(2024, 3, 11),
 datetime.date(2024, 3, 12),
 datetime.date(2024, 3, 13),
 datetime.date(2024, 3, 14),
 datetime.date(2024, 3, 15),
 datetime.date(2024, 3, 18),
 datetime.date(2024, 3, 19),
 datetime.date(2024, 3, 20),
 datetime.date(2024, 3, 21),
 datetime.date(2024, 3, 22),
 datetime.date(2024, 3, 25),
 datetime.date(2024, 3, 26),
 datetime.date(2024, 3, 27),
 datetime.date(2024, 3, 28),
 datetime.date(2024, 3, 29),
 datetime.date(2024, 4, 1),
 datetime.date(2024, 4, 2),
 datetime.date(2024, 4, 3),
 datetime.date(2024, 4, 4),
 datetime.date(2024, 4, 5),
 datetime.date(2024, 4, 8),
 datetime.date(2024, 4, 9),
 datetime.date(2024, 4, 11),
 datetime.date(2024, 4, 12),
 datetime.date(2024, 4, 15),
 datetime.date(2024, 4, 16),
 datetime.date(2024, 4, 17),
 datetime.date(2024, 4, 18),
 datetime.date(2024, 4, 19),
 datetime.date(2024, 4, 22),
 datetime.date(2024, 4, 23),
 datetime.date(2024, 4, 24),
 datetime.date(2024, 4, 25),
 datetime.date(2024, 4, 26),
 datetime.date(2024, 4, 29),
 datetime.date(2024, 4, 30),
 datetime.date(2024, 5, 1),
 datetime.date(2024, 5, 2),
 datetime.date(2024, 5, 3),
 datetime.date(2024, 5, 7),
 datetime.date(2024, 5, 8),
 datetime.date(2024, 5, 9),
 datetime.date(2024, 5, 10),
 datetime.date(2024, 5, 13),
 datetime.date(2024, 5, 14),
 datetime.date(2024, 5, 16),
 datetime.date(2024, 5, 17),
 datetime.date(2024, 5, 20),
 datetime.date(2024, 5, 21),
 datetime.date(2024, 5, 22),
 datetime.date(2024, 5, 23),
 datetime.date(2024, 5, 24),
 datetime.date(2024, 5, 27),
 datetime.date(2024, 5, 28),
 datetime.date(2024, 5, 29),
 datetime.date(2024, 5, 30),
 datetime.date(2024, 5, 31),
 datetime.date(2024, 6, 3),
 datetime.date(2024, 6, 4),
 datetime.date(2024, 6, 5),
 datetime.date(2024, 6, 7),
 datetime.date(2024, 6, 10),
 datetime.date(2024, 6, 11),
 datetime.date(2024, 6, 12),
 datetime.date(2024, 6, 13),
 datetime.date(2024, 6, 14),
 datetime.date(2024, 6, 17),
 datetime.date(2024, 6, 18),
 datetime.date(2024, 6, 19),
 datetime.date(2024, 6, 20),
 datetime.date(2024, 6, 21),
 datetime.date(2024, 6, 24),
 datetime.date(2024, 6, 25),
 datetime.date(2024, 6, 26),
 datetime.date(2024, 6, 27),
 datetime.date(2024, 6, 28),
 datetime.date(2024, 7, 1),
 datetime.date(2024, 7, 2),
 datetime.date(2024, 7, 3),
 datetime.date(2024, 7, 4),
 datetime.date(2024, 7, 5),
 datetime.date(2024, 7, 8),
 datetime.date(2024, 7, 9),
 datetime.date(2024, 7, 10),
 datetime.date(2024, 7, 11),
 datetime.date(2024, 7, 12),
 datetime.date(2024, 7, 15),
 datetime.date(2024, 7, 16),
 datetime.date(2024, 7, 17),
 datetime.date(2024, 7, 18),
 datetime.date(2024, 7, 19),
 datetime.date(2024, 7, 22),
 datetime.date(2024, 7, 23),
 datetime.date(2024, 7, 24),
 datetime.date(2024, 7, 25),
 datetime.date(2024, 7, 26),
 datetime.date(2024, 7, 29),
 datetime.date(2024, 7, 30),
 datetime.date(2024, 7, 31),
 datetime.date(2024, 8, 1),
 datetime.date(2024, 8, 2),
 datetime.date(2024, 8, 5),
 datetime.date(2024, 8, 6),
 datetime.date(2024, 8, 7),
 datetime.date(2024, 8, 8)]

In [23]:
df_all = df_kor.merge(df_usa, how='left', left_index=True, right_index=True)

In [24]:
df_all.tail()

,bond_kor_10_cr,bond_kor_10_cr_2,bond_kor_2_cr,bond_kor_2_cr_2,kosdaq_cr,kosdaq_cr_2,kospi_cr,kospi_cr_2,krw_cr,krw_cr_2,...,ixk_cr,ixk_cr_2,ixtr_cr,ixtr_cr_2,ixut_cr,ixut_cr_2,nbi_cr,nbi_cr_2,bkx_cr,bkx_cr_2
date,,,,,,,,,,,,,,,,,,,,,
2024-08-02,-1.89%,-1.44168,-1.78%,-1.43043,1.29,1.21302,0.25,1.44219,0.00%,-0.99291,...,-2.77%,0.74947,-2.16%,-1.46948,-0.67%,1.00890,-0.70%,-0.85344,-2.99%,-3.72455
2024-08-05,-0.80%,-2.67449,+0.63%,-1.16618,-4.20,-2.96582,-3.65,-3.41070,-0.91%,-0.90937,...,-2.11%,-4.82331,-3.46%,-5.55006,-0.76%,-1.42481,-1.73%,-2.41986,-4.32%,-7.17465
2024-08-06,-4.05%,-4.82048,-4.03%,-3.43008,-11.30,-15.02710,-8.77,-12.10111,+0.72%,0.72017,...,-3.81%,-5.84306,-2.28%,-5.65980,-2.42%,-3.16013,-2.86%,-4.53635,-2.66%,-6.86460
2024-08-07,+4.61%,0.36863,+4.23%,0.03278,6.02,-5.96153,3.30,-5.75594,+0.59%,1.20383,...,1.11%,-2.74309,1.78%,-0.53887,0.65%,-1.78736,0.38%,-2.48919,1.17%,-1.52327
2024-08-08,+0.13%,4.75026,-0.75%,3.44945,2.14,8.28318,1.82,5.18482,-0.02%,0.57011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# write common analysis data
globals()['df_all'].to_pickle(directory_for_predict + '0_df_common.pkl')
globals()['df_all'].to_csv(directory_for_predict + '0_df_common.csv')