## calculate change ratios and combine common data

### feature(주요 common data) 항목 변화율 계산하고 합치기-- 하루전과 이틀전의 데이터와 비교

In [1]:
import datetime, time
# from datetime import date

import pandas as pd
import numpy as np

In [16]:
# 개장일(date)과 이전 개장일(date_p1), 이전이전 개장일(date_p2)을 dict로 구성
base_data_directory = './data/base_data/stock_market_holydays/'
OPENING_DAYS_KOR = pd.read_pickle(base_data_directory+'opening_days_kor.pkl') # 한국 개장일 데이터 
OPENING_DAYS_USA = pd.read_pickle(base_data_directory+'opening_days_usa.pkl') # 미국 개장일 데이터

In [3]:
'''
# 한국 시장 예측 대상이 되는 개장일과 예측데이터를 계산한 미국 개장일과 예측 데이터 일치 시키기.
MATCHING_DAYS = pd.read_csv(base_data_directory+'find_delete_date.csv', encoding='cp949') # 미국 개장일 데이터 

MATCHING_DAYS['date_kor'] =  pd.to_datetime(MATCHING_DAYS['date_kor'],format='%Y-%m-%d').dt.date
MATCHING_DAYS['date_all'] =  pd.to_datetime(MATCHING_DAYS['date_all'],format='%Y-%m-%d').dt.date

for x in range(len(MATCHING_DAYS['replace_date'])):
    try:
        MATCHING_DAYS['replace_date'][x] =  datetime.datetime.strptime(MATCHING_DAYS['replace_date'][x], '%Y-%m-%d').date()
    except:
        pass
    
for x in range(len(MATCHING_DAYS['date_usa'])):
    try:
        MATCHING_DAYS['date_usa'][x] =  datetime.datetime.strptime(MATCHING_DAYS['date_usa'][x], '%Y-%m-%d').date()
    except:
        pass
    
MATCHING_DAYS.tail()

MATCHING_DAYS.to_pickle(base_data_directory + 'matching_days.pkl')
MATCHING_DAYS.to_csv(base_data_directory + 'matching_days.csv')
'''

"\n# 한국 시장 예측 대상이 되는 개장일과 예측데이터를 계산한 미국 개장일과 예측 데이터 일치 시키기.\nMATCHING_DAYS = pd.read_csv(base_data_directory+'find_delete_date.csv', encoding='cp949') # 미국 개장일 데이터 \n\nMATCHING_DAYS['date_kor'] =  pd.to_datetime(MATCHING_DAYS['date_kor'],format='%Y-%m-%d').dt.date\nMATCHING_DAYS['date_all'] =  pd.to_datetime(MATCHING_DAYS['date_all'],format='%Y-%m-%d').dt.date\n\nfor x in range(len(MATCHING_DAYS['replace_date'])):\n    try:\n        MATCHING_DAYS['replace_date'][x] =  datetime.datetime.strptime(MATCHING_DAYS['replace_date'][x], '%Y-%m-%d').date()\n    except:\n        pass\n    \nfor x in range(len(MATCHING_DAYS['date_usa'])):\n    try:\n        MATCHING_DAYS['date_usa'][x] =  datetime.datetime.strptime(MATCHING_DAYS['date_usa'][x], '%Y-%m-%d').date()\n    except:\n        pass\n    \nMATCHING_DAYS.tail()\n\nMATCHING_DAYS.to_pickle(base_data_directory + 'matching_days.pkl')\nMATCHING_DAYS.to_csv(base_data_directory + 'matching_days.csv')\n"

In [22]:
MATCHING_DAYS = pd.read_pickle(base_data_directory + 'matching_days.pkl')
usa_delete = MATCHING_DAYS[MATCHING_DAYS['replace_date'] == 'delete'][['date_usa', 'replace_date']] # usa date delete
usa_replace = MATCHING_DAYS[MATCHING_DAYS['date_usa'].isna()][['date_kor', 'replace_date']] #use date replace
# usa_replace.columns = ['date_usa', 'replace_date']

In [23]:
MATCHING_DAYS

      date_all    date_kor    date_usa replace_date
0   2020-01-20  2020-01-20         NaN   2020-01-21
1   2020-01-21  2020-01-21  2020-01-21       delete
2   2020-02-17  2020-02-17         NaN   2020-02-18
3   2020-02-18  2020-02-18  2020-02-18       delete
4   2020-04-10  2020-04-10         NaN   2020-04-13
..         ...         ...         ...          ...
62  2023-07-05  2023-07-05  2023-07-05       delete
63  2023-09-04  2023-09-04         NaN   2023-09-05
64  2023-09-05  2023-09-05  2023-09-05       delete
65  2023-11-23  2023-11-23         NaN   2023-11-24
66  2023-11-24  2023-11-24  2023-11-24       delete

[67 rows x 4 columns]

In [5]:
# 매일 변화가 있는 항목 추출; 금리변동과 같이 주기적을 발생하는 항목들(cpi, bok_rate, fed_rate 등)은 제외
common_pkl = [ "dji.pkl", "dji_future.pkl", "dxy_future.pkl", 
               "ixic_future.pkl", "kor_10yr_bond.pkl",
              "kor_2yr_bond.pkl", "kosdaq.pkl", "kospi.pkl", "krw_rate.pkl", "nas.pkl",
              "snp_future.pkl", "sox.pkl", "spx.pkl", "us_10yr_bond.pkl", "us_2yr_bond.pkl",
              "us_3mon_bond.pkl", "vix.pkl", "wti_future.pkl",
              'spsy.pkl', 'spny.pkl', 'spxhc.pkl', 'splrcd.pkl', 'splrci.pkl', 'splrcu.pkl', 'splrcs.pkl', 
              'splrct.pkl', 'splrcl.pkl', 'splrcm.pkl', 'ixbk.pkl', 'ixfn.pkl', 'ixid.pkl', 'ixis.pkl', 
              'ixk.pkl', 'ixtr.pkl', 'ixut.pkl', 'nbi.pkl', 'bkx.pkl' 
             ]
### ixf, qnet 파일 추가후 훈련시켜야 함.

common_pkl_usa = [ "dji.pkl", "dji_future.pkl", "dxy_future.pkl", 
                  "ixic_future.pkl", "nas.pkl", "snp_future.pkl", "sox.pkl", "spx.pkl", 
                  "us_10yr_bond.pkl", "us_2yr_bond.pkl", "us_3mon_bond.pkl", "vix.pkl", "wti_future.pkl",
                  'spsy.pkl', 'spny.pkl', 'spxhc.pkl', 'splrcd.pkl', 'splrci.pkl', 'splrcu.pkl', 'splrcs.pkl', 
                  'splrct.pkl', 'splrcl.pkl', 'splrcm.pkl', 'ixbk.pkl', 'ixfn.pkl', 'ixid.pkl', 'ixis.pkl', 
                  'ixk.pkl', 'ixtr.pkl', 'ixut.pkl', 'nbi.pkl', 'bkx.pkl' 
             ]
common_pkl_kor = [ "kor_10yr_bond.pkl", "kor_2yr_bond.pkl", "kosdaq.pkl", "kospi.pkl", "krw_rate.pkl", 
             ]
# common_pkl = [ "dji.pkl" ]

In [6]:
# dict로 만들어 pkl내에 있는 df의 column 이름과 매칭시키기 위하여 구성
common_col_name = {'dji.pkl':'dji', 'dji_future.pkl':'dji_f', 'dxy_future.pkl':'dxy', 
                   'ixic_future.pkl':'ixic_f', 'kor_10yr_bond.pkl':'bond_kor_10',
                   'kor_2yr_bond.pkl':'bond_kor_2', 'kosdaq.pkl':'kosdaq', 'kospi.pkl':'kospi',
                   'krw_rate.pkl':'krw', 'nas.pkl':'ixic', 'snp_future.pkl':'spx_f',
                   'sox.pkl':'sox', 'spx.pkl':'spx', 'us_10yr_bond.pkl':'bond_usa_10',
                   'us_2yr_bond.pkl':'bond_usa_2', 'us_3mon_bond.pkl':'bond_usa_3m',
                   'vix.pkl':'vix', 'wti_future.pkl':'wti',
                   'spsy.pkl':'spsy', 'spny.pkl':'spny', 'spxhc.pkl':'spxhc', 'splrcd.pkl':'splrcd', 
                   'splrci.pkl':'splrci', 'splrcu.pkl':'splrcu', 'splrcs.pkl':'splrcs', 
                   'splrct.pkl':'splrct', 'splrcl.pkl':'splrcl', 'splrcm.pkl':'splrcm', 
                   'ixbk.pkl':'ixbk', 'ixfn.pkl':'ixfn', 'ixid.pkl':'ixid', 'ixis.pkl':'ixis', 
                   'ixk.pkl':'ixk', 'ixtr.pkl':'ixtr', 'ixut.pkl':'ixut', 'nbi.pkl':'nbi', 'bkx.pkl':'bkx'
                   }

In [7]:
directory_for_predict = './data/data_for_ml/predict/'
pkl_common_directory = './data/common_pkl/'
pkl_directory = './data/common_pkl/'

In [8]:
# 주요 지표를 한개의 df로 구성 (휴장일과 개장일이 틀리기 때문에 한국, 미국 각각 구성해야 함)
# _common : 공통으로 사용되는 지표를 의미
def get_common_base(opening_days_common, pkl_list):
    df_base = pd.DataFrame(pd.Series(opening_days_common, name='date')).set_index('date')
    date_compare = pd.DataFrame(pd.Series(opening_days_common, name='date'))
    date_compare['date_p'] = date_compare['date'].shift(1)
    
    date_compare.columns = ['date_c', 'date_p'] #거래일과 바로 이전 거래일
    c_p_dict = date_compare.set_index('date_c').to_dict()['date_p'] # date_c로 date_p 찾기
    p_c_dict = date_compare.set_index('date_p').to_dict()['date_c'] # date_p로 date_c 찾기
    
    for index_name in pkl_list:
        key_name = index_name[:-4]
        col_name = common_col_name[index_name]
        df_temp = pd.read_pickle(pkl_common_directory + index_name)
        
#         df_temp['date'] = df_temp['date'].dt.date # date type으로 변환
        df_temp['temp'] = df_temp[col_name].shift(2)  # 거래일과 이전(-1) 이전(-1) 거래일 데이터와 비교하기 위하여 -2 shift
        
        df_temp[f'{col_name}_cr_2'] = (df_temp[col_name] - df_temp['temp'])/df_temp['temp']*100 # 이전 거래일 데이터는 "_cr"
        
        df_new = df_temp[df_temp['date'].isin(date_compare['date_p'])] # 이전 거래일과 비교날짜가 있는 row만 선택
        # 예: 2023-04-10('date_c'), 2023-04-07('date_p') 일 경우, 2023년 4월 7일 데이터는 2023년 4월 10일 row에 작성해야 함.
        # 위 예와 같이 하기 위해 'date_p'에 있는 date로만 df재구성(df_new)

        add_c= df_new['date'].apply(lambda x : p_c_dict[x])  # 하루전 날짜와 매칭한 column 생성 (add_c)
        # 예: 2023년 4월 7일 데이터는 2023년 4월 10일 row에 기입
        df_new.insert(len(df_new.columns)-1, 'date_c', value=add_c)  #SettingWithCopyWarning: error 회피
        df_new.set_index('date_c', inplace=True)

        df_base = df_base.merge(df_new.iloc[:, [-3, -1]], \
                                how='left', left_index=True, right_index=True)
    return df_base

In [18]:
# ***미국 주식 분석용 시작 일자, 마지막 일자  지정 ***********
# ** 한국 공통(kospi 등) 자료는 한국 개장일에 맞춰 분석해야 함.
pkl_name= 'dji.pkl'
df_temp = pd.read_pickle(pkl_directory + pkl_name)

dji = df_temp['dji'].iloc[-1]
opening_days_common = list(df_temp['date'])

# 오늘 날짜(분석날짜) 추가 필요(미국, 한국 포함)

if dji == None :
    opening_days_common = list(df_temp['date'][:-1])
    
# 마지막 기록일자 index 찾고 다음 개장일 추가하기 (예측을 원하는 날)
l_date = opening_days_common[-1]
lp1_index = list(OPENING_DAYS_USA).index(l_date) + 1 # 현재 개장일 이후에 오는 개장일 날짜 index (+1 index)
opening_days_common.append(list(OPENING_DAYS_USA)[lp1_index])

In [19]:
# 미국 common data df
df_usa = get_common_base(opening_days_common, common_pkl_usa)

In [20]:
df_usa

,dji_cr,dji_cr_2,dji_f_cr,dji_f_cr_2,dxy_cr,dxy_cr_2,ixic_f_cr,ixic_f_cr_2,ixic_cr,ixic_cr_2,...,ixk_cr,ixk_cr_2,ixtr_cr,ixtr_cr_2,ixut_cr,ixut_cr_2,nbi_cr,nbi_cr_2,bkx_cr,bkx_cr_2
date,,,,,,,,,,,,,,,,,,,,,
2021-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-28,nan%,NaN,0.97,1.532330,0.08,0.010408,1.60,2.413457,nan%,NaN,...,nan%,NaN,nan%,NaN,nan%,NaN,nan%,NaN,nan%,NaN
2021-12-29,0.26%,NaN,0.29,1.255861,0.11,0.187461,-0.43,1.159580,-0.56%,NaN,...,-0.79%,NaN,0.31%,NaN,0.19%,NaN,-0.73%,NaN,-0.03%,NaN
2021-12-30,0.25%,0.513052,0.27,0.561114,-0.28,-0.166511,0.02,-0.419686,-0.10%,-0.661825,...,-0.06%,-0.851747,-0.07%,0.243492,0.08%,0.270276,0.41%,-0.324900,-0.02%,-0.045169
2021-12-31,-0.25%,-0.000365,-0.25,0.024806,0.04,-0.239085,-0.37,-0.350255,-0.16%,-0.254473,...,-0.50%,-0.565925,-0.35%,-0.417454,-0.19%,-0.107911,0.51%,0.922037,-0.35%,-0.368996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-13,0.56%,0.687833,0.55,0.673322,0.09,0.299981,1.70,2.098271,1.53%,1.687503,...,2.00%,2.354994,0.70%,-0.162860,1.08%,0.757399,0.83%,0.236934,-0.99%,-1.550386
2023-06-14,0.43%,0.989881,0.41,0.961932,-0.30,-0.212437,0.75,2.465093,0.83%,2.369540,...,0.71%,2.722582,1.37%,2.088716,0.12%,1.198432,1.19%,2.033097,1.53%,0.523816
2023-06-15,-0.68%,-0.255384,-0.72,-0.305330,-0.38,-0.675350,0.66,1.417919,0.39%,1.222415,...,0.92%,1.631177,0.77%,2.156680,-0.12%,0.000000,-0.85%,0.332318,-1.83%,-0.332181
2023-06-16,1.26%,0.572714,1.28,0.558918,-0.81,-1.190246,1.15,1.821313,1.15%,1.543469,...,1.27%,2.194183,1.33%,2.109450,2.05%,1.929877,1.23%,0.370245,1.51%,-0.351422
2023-06-20,-0.32%,0.941140,-0.35,0.933380,0.13,-0.689655,-0.69,0.452325,-0.68%,0.462994,...,-0.92%,0.337702,-0.69%,0.626516,-0.52%,1.518910,-0.37%,0.862491,-0.71%,0.790025

In [21]:
# 예측 날짜 replace
as_list = df_usa.index.tolist()
for i in range(len(usa_replace)):
    usa_date =  usa_replace['date_usa'].iloc[i]
#     print("usadate ", usa_date, "  최초 기록날짜 ", as_list[0])
#     print("usadate ", usa_date, "  최초 기록날짜 ", as_list[-1])
    if usa_date < as_list[0]: # 데이터 기록 날짜보다 이전 date일 경우 skip
        continue
    if usa_date > as_list[-1]: # 데이터 기록 날짜 이후 이면 pass
        break
    replace_date =  usa_replace['replace_date'].iloc[i]
    idx = as_list.index(usa_date)
    as_list[idx] = replace_date

ValueError: datetime.date(2022, 1, 17) is not in list

In [13]:
df_usa

,dji_cr,dji_cr_2,dji_f_cr,dji_f_cr_2,dxy_cr,dxy_cr_2,ixic_f_cr,ixic_f_cr_2,ixic_cr,ixic_cr_2,...,ixk_cr,ixk_cr_2,ixtr_cr,ixtr_cr_2,ixut_cr,ixut_cr_2,nbi_cr,nbi_cr_2,bkx_cr,bkx_cr_2
date,,,,,,,,,,,,,,,,,,,,,
2021-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-28,nan%,NaN,0.97,1.532330,0.08,0.010408,1.60,2.413457,nan%,NaN,...,nan%,NaN,nan%,NaN,nan%,NaN,nan%,NaN,nan%,NaN
2021-12-29,0.26%,NaN,0.29,1.255861,0.11,0.187461,-0.43,1.159580,-0.56%,NaN,...,-0.79%,NaN,0.31%,NaN,0.19%,NaN,-0.73%,NaN,-0.03%,NaN
2021-12-30,0.25%,0.513052,0.27,0.561114,-0.28,-0.166511,0.02,-0.419686,-0.10%,-0.661825,...,-0.06%,-0.851747,-0.07%,0.243492,0.08%,0.270276,0.41%,-0.324900,-0.02%,-0.045169
2021-12-31,-0.25%,-0.000365,-0.25,0.024806,0.04,-0.239085,-0.37,-0.350255,-0.16%,-0.254473,...,-0.50%,-0.565925,-0.35%,-0.417454,-0.19%,-0.107911,0.51%,0.922037,-0.35%,-0.368996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-13,0.56%,0.687833,0.55,0.673322,0.09,0.299981,1.70,2.098271,1.53%,1.687503,...,2.00%,2.354994,0.70%,-0.162860,1.08%,0.757399,0.83%,0.236934,-0.99%,-1.550386
2023-06-14,0.43%,0.989881,0.41,0.961932,-0.30,-0.212437,0.75,2.465093,0.83%,2.369540,...,0.71%,2.722582,1.37%,2.088716,0.12%,1.198432,1.19%,2.033097,1.53%,0.523816
2023-06-15,-0.68%,-0.255384,-0.72,-0.305330,-0.38,-0.675350,0.66,1.417919,0.39%,1.222415,...,0.92%,1.631177,0.77%,2.156680,-0.12%,0.000000,-0.85%,0.332318,-1.83%,-0.332181
2023-06-16,1.26%,0.572714,1.28,0.558918,-0.81,-1.190246,1.15,1.821313,1.15%,1.543469,...,1.27%,2.194183,1.33%,2.109450,2.05%,1.929877,1.23%,0.370245,1.51%,-0.351422
2023-06-20,-0.32%,0.941140,-0.35,0.933380,0.13,-0.689655,-0.69,0.452325,-0.68%,0.462994,...,-0.92%,0.337702,-0.69%,0.626516,-0.52%,1.518910,-0.37%,0.862491,-0.71%,0.790025

In [ ]:
df_usa[~df_usa.index.isin(usa_delete['date_usa'])]

In [ ]:
usa_delete

In [14]:
usa_replace

      date_usa replace_date
0   2020-01-20   2020-01-21
2   2020-02-17   2020-02-18
4   2020-04-10   2020-04-13
6   2020-05-25   2020-05-26
8   2020-07-03   2020-07-06
10  2020-09-07   2020-09-08
12  2020-11-26   2020-11-30
15  2020-12-24   2020-12-28
17  2021-01-18   2021-01-19
19  2021-02-15   2021-02-16
21  2021-04-02   2021-04-05
23  2021-05-31   2021-06-01
25  2021-07-05   2021-07-06
27  2021-09-06   2021-09-07
29  2021-11-25   2021-11-26
31  2021-12-24   2021-12-27
33  2022-01-17   2022-01-18
35  2022-02-21   2022-02-22
37  2022-04-15   2022-04-18
39  2022-05-30   2022-05-31
41  2022-06-20   2022-06-21
43  2022-07-04   2022-07-05
45  2022-09-05   2022-09-06
47  2022-11-24   2022-11-25
49  2022-12-26   2022-12-27
51  2023-01-02   2023-01-03
53  2023-01-16   2023-01-17
55  2023-02-20   2023-02-21
57  2023-04-07   2023-04-10
59  2023-06-19   2023-06-20
61  2023-07-04   2023-07-05
63  2023-09-04   2023-09-05
65  2023-11-23   2023-11-24

In [ ]:
df_usa.index

In [ ]:
df_usa

In [ ]:
df_usa[~df_usa.index.isin(usa_delete['date_usa'])]

In [ ]:
df_usa.index(df_usa.index.isin(usa_delete['date_usa']))

In [ ]:
df_usa.drop((df_usa.index.isin(usa_delete['date_usa'])), axis=0)

In [ ]:
df_usa.tail()

In [ ]:
df_usa.tail()

In [ ]:
# *****한국 주식 시작 일자, 마지막 일자  지정 ***********
pkl_name= 'kospi.pkl'
df_temp = pd.read_pickle(pkl_directory + pkl_name)

kospi = df_temp['kospi'].iloc[-1]
opening_days_common = list(df_temp['date'])

if kospi == None :
    opening_days_common = list(df_temp['date'][:-1])
    
# 마지막 기록일자 index 찾고 다음 개장일 추가하기 (예측을 원하는 날)
l_date = opening_days_common[-1]
lp1_index = list(OPENING_DAYS_KOR).index(l_date) + 1 # 현재 개장일 이후에 오는 개장일 날짜 index (+1 index)
opening_days_common.append(list(OPENING_DAYS_KOR)[lp1_index])

In [ ]:
# 한국 common data df
df_kor = get_common_base(opening_days_common, common_pkl_kor)

In [ ]:
# df_kor와 df_usa predict날짜 일치시키기 위하여 df_date_compare이용\
# 예. 예측일 기준 2023년 6월 19일의 경우, 미국시장 6월 20일 데이터를 사용하여야 함.
# 6월 20일 경우에는 
# 아래 로직을 새롭게 만들어서 사용해야 함.

In [ ]:
df_all = df_kor.merge(df_usa, how='left', left_index=True, right_index=True)

In [ ]:
df_all = df_kor.merge(df_usa, how='outer', left_index=True, right_index=True)

In [ ]:
df_all.tail()

In [ ]:
# write common analysis data
globals()['df_all'].to_pickle(directory_for_predict + '0_df_common.pkl')
globals()['df_all'].to_csv(directory_for_predict + '0_df_common.csv')

In [ ]:
df_all.tail()

In [ ]:
l_date

In [ ]:
list(df_temp['date'])[-1]

In [ ]:
list(OPENING_DAYS_KOR).index(l_date)

In [ ]:
list(OPENING_DAYS_KOR)[851:855]

In [ ]:
opening_days_common

In [ ]:
df_kor

In [ ]:
opening_days_common