## combine company data and common data

In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [22]:
def locate_nan(df):
    idx, idy = np.where(pd.isnull(df))
    result = np.column_stack([df.index[idx], df.columns[idy]])
    return result

# return format
''' 
[[datetime.date(2022, 1, 17) 'dji_cr']
 [datetime.date(2022, 1, 17) 'dji_f_cr']
 ...
 [datetime.date(2023, 5, 23) 'kosdaq_cr']
 [datetime.date(2023, 5, 23) 'kosdaq_cr_2']]
'''

" \n[[datetime.date(2022, 1, 17) 'dji_cr']\n [datetime.date(2022, 1, 17) 'dji_f_cr']\n ...\n [datetime.date(2023, 5, 23) 'kosdaq_cr']\n [datetime.date(2023, 5, 23) 'kosdaq_cr_2']]\n"

In [2]:
code = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'],
                 '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}

code = {'005930': ['삼성전자', 'sec'], '373220': ['LG에너지솔루션', 'lgenergy'], 
        '000660': ['SK하이닉스', 'skhynix'], '207940': ['삼성바이오로직스', 'ssbio'],
        '006400': ['삼성SDI', 'sdi'], '051910': ['LG화학', 'lgchemical'],
        '005935': ['삼성전자우', 'secpre'], '005380': ['현대차', 'hyunmotor'],
        '035420': ['NAVER', 'naver'], '000270': ['기아','kia'],
        '035720': ['카카오', 'kakao'], '005490': ['POSCO홀딩스', 'poscoholding'],
        '105560': ['KB금융', 'kbbank'], '028260': ['삼성물산', 'sscnt'],
        '068270': ['셀트리온', 'celltrion'], '012330': ['현대모비스', 'mobis'],
        '055550': ['신한지주', 'shgroup'], '066570': ['LG전자', 'lgelec'],
        '003670': ['포스코퓨처엠', 'poscochemical'], '096770': ['SK이노베이션', 'skinnovation'],
        '033780': ['KT&G', 'ktng'], '030200': ['KT', 'kt'],
        '003550': ['LG', 'lg'], '034730': ['SK', 'sk'], 
        '032830': ['삼성생명', 'sslife'], '086790': ['하나금융지주', 'hana'], 
        '009150': ['삼성전기', 'sselec'], '015760': ['한국전력', 'koreaelec'],
        '034020': ['두산에너빌리티', 'doosanener'], '010130': ['고려아연', 'koreazinc'],
        '017670': ['SK텔레콤', 'sktelecom'], '011200': ['HMM', 'hmm'],
        '000810': ['삼성화재', 'ssfire'], '051900': ['LG생활건강', 'lglife'],
        '010950': ['S-Oil', 'soil'], '259960': ['크래프톤', 'crafton'],
        '018260': ['삼성에스디에스', 'sds'], '329180': ['현대중공업', 'hhi'],
        '003490': ['대한항공', 'koreanair'], '036570': ['엔씨소프트', 'ncsoft'],
        '009830': ['한화솔루션', 'hanhwasol'], '316140': ['우리금융지주', 'woorifg'],
        '090430': ['아모레퍼시픽', 'amore'], '011170': ['롯데케미칼', 'lottechem'], 
        '024110': ['기업은행', 'ibk'], '138040': ['메리츠금융지주', 'meritz'], 
        '377300': ['카카오페이', 'kakaopay'], '011070': ['LG이노텍', 'lginnotek'],
        '028050': ['삼성엔지니어링', 'ssengineering'], '361610': ['SK아이이테크놀로지', 'skietech'],
        '086280': ['현대글로비스', 'glovis'], '302440': ['SK바이오사이언스', 'skbio'],
       }
# code = {'003550': ['LG', 'lg']}
# code = {'005930': ['삼성전자', 'sec']}

In [3]:
directory_for_predict = './data/data_for_ml/predict/'
pkl_common_directory = './data/common_pkl/'
pkl_directory = './data/common_pkl/'

In [4]:
df_common = pd.read_pickle(directory_for_predict + '0_df_common.pkl')

In [5]:
for key, val in code.items():
    df_company = pd.read_pickle(directory_for_predict + f'df_{val[1]}_company.pkl')
    df_company = df_company.merge(df_common, how='left', left_index=True, right_index=True)
    globals()[f'df_{val[1]}_combine'] = df_company.copy()

In [6]:
df_hyunmotor_combine.tail()

,retail_1,foreigner_1,institution_1,financial_1,invtrust_1,pension_1,privequity_1,bank_1,insurance_1,financeetc_1,...,bond_kor_10_cr,bond_kor_10_cr_2,bond_kor_2_cr,bond_kor_2_cr_2,kosdaq_cr,kosdaq_cr_2,kospi_cr,kospi_cr_2,krw_cr,krw_cr_2
2023-05-17,-31.648973,-3.252393,-6.633707,4.380952,-3.069170,-0.999702,2.308365,-23.555556,-161.600000,inf,...,-0.81%,0.700792,-0.86%,0.843373,0.27%,-0.690635,0.04%,0.194717,+0.52%,-0.012663
2023-05-18,-1.996927,0.690785,-1.074489,-0.585841,-1.096784,1428.000000,-0.826317,-0.990148,-3.146949,-228.0,...,+0.39%,-0.420168,+0.81%,-0.059224,2.14%,2.413658,0.58%,0.617493,-0.60%,-0.084621
2023-05-19,-0.578458,-0.299131,-2.318870,6.102564,-7.194079,-0.391416,-0.662881,-2.000000,-1.214617,-1.0,...,+1.51%,1.906203,+1.19%,2.001195,0.20%,2.343436,0.83%,1.417601,+0.01%,-0.590010
2023-05-22,-0.509705,-0.804631,-1.457154,-9.690132,0.484334,-3.600230,0.036753,39.500000,5.037838,-1.0,...,+1.54%,3.074141,+0.79%,1.985185,0.70%,0.902668,0.89%,1.728898,-0.69%,-0.676795
2023-05-23,5.924078,9.857892,3.666109,-0.416049,-0.533095,-0.914505,-0.740768,-0.987654,-0.722471,-1.0,...,-0.41%,-0.409956,-0.44%,-0.437573,NaN,NaN,0.76%,1.657000,-0.86%,-0.861757

In [27]:
df_hyunmotor_combine.index[0]

datetime.date(2022, 1, 7)

In [7]:
col_inv1 = ['retail_1', 'foreigner_1', 'institution_1', 'financial_1', 'invtrust_1', 'pension_1', 'privequity_1', 
            'bank_1', 'insurance_1', 'financeetc_1', 'corporateetc_1', 'foreigneretc_1']
col_inv2 = ['retail_2', 'foreigner_2', 'institution_2', 'financial_2', 'invtrust_2', 'pension_2',
            'privequity_2', 'bank_2', 'insurance_2', 'financeetc_2', 'corporateetc_2', 'foreigneretc_2']

In [8]:
col_his1 = ['open_1', 'high_1', 'low_1', 'close_1', 'vol_1']
col_his2 = ['open_2', 'high_2', 'low_2', 'close_2', 'vol_2']

In [9]:
col_common1 = ["dji_cr", "dji_f_cr", "dxy_cr", "ixic_f_cr", "bond_kor_10_cr", "bond_kor_2_cr", "kosdaq_cr", "kospi_cr", 
         "krw_cr", "ixic_cr", "spx_f_cr", "sox_cr", "spx_cr", "bond_usa_10_cr", "bond_usa_2_cr", "bond_usa_3m_cr", 
         "vix_cr", "wti_cr", "spsy_cr", "spny_cr", "spxhc_cr", "splrcd_cr", "splrci_cr", "splrcu_cr", "splrcs_cr",
         "splrct_cr", "splrcl_cr", "splrcm_cr", "ixbk_cr", "ixfn_cr", "ixid_cr", "ixis_cr", "ixk_cr", "ixtr_cr",
         "ixut_cr", "nbi_cr", "bkx_cr"]
col_common2 = ["dji_cr_2", "dji_f_cr_2", "dxy_cr_2", "ixic_f_cr_2", "bond_kor_10_cr_2", "bond_kor_2_cr_2", "kosdaq_cr_2", "kospi_cr_2",
         "krw_cr_2", "ixic_cr_2", "spx_f_cr_2", "sox_cr_2", "spx_cr_2", "bond_usa_10_cr_2", "bond_usa_2_cr_2", "bond_usa_3m_cr_2",
         "vix_cr_2", "wti_cr_2", "spsy_cr_2", "spny_cr_2", "spxhc_cr_2", "splrcd_cr_2", "splrci_cr_2", "splrcu_cr_2",
         "splrcs_cr_2", "splrct_cr_2", "splrcl_cr_2", "splrcm_cr_2", "ixbk_cr_2", "ixfn_cr_2", "ixid_cr_2",
         "ixis_cr_2", "ixk_cr_2", "ixtr_cr_2", "ixut_cr_2", "nbi_cr_2", "bkx_cr_2"]

In [10]:
col_cr = ['weekday', 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20']

In [11]:
col_col = col_inv1 + col_common1 + col_his1 + col_inv2 + col_common2 + col_his2 + col_cr

In [12]:
# # write common data only
# df_temp = df_common.copy()
# df_temp = df_temp[col_common1+col_common2]
# pkl_common_directory = './data/common_pkl/'
# df_temp.to_pickle(pkl_common_directory + 'df_common.pkl')
# df_temp.to_csv(pkl_common_directory + 'df_common.csv')

In [13]:
new_columns = col_col

In [14]:
# column 순서 변경 : weekday, 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20' column을 마지막으로 이동 
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])] = globals()['df_{}_combine'.format(val[1])][new_columns]

In [15]:
'''
# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고
# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지
df_sec_sel.replace([np.inf, -np.inf], [1, -1], inplace=True)

.impute 사용하는 것을 고려할 필요 있음.
'''

'\n# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고\n# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지\ndf_sec_sel.replace([np.inf, -np.inf], [1, -1], inplace=True)\n\n.impute 사용하는 것을 고려할 필요 있음.\n'

In [16]:
# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고
# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])].replace([np.inf, -np.inf], [1, -1], inplace=True)

# **** 데이터 전처리 from sklearn.impute import SimpleImputer, SimpleImputer 사용하기로 함.

In [17]:
df_sec_combine.tail()

,retail_1,foreigner_1,institution_1,financial_1,invtrust_1,pension_1,privequity_1,bank_1,insurance_1,financeetc_1,...,high_2,low_2,close_2,vol_2,weekday,cr_00,cr_05,cr_10,cr_15,cr_20
2023-05-17,3.938043,10.501573,-0.713929,-4.139358,31.210744,-0.989461,-2.700924,-0.507772,-3.179307,1.743119,...,0.020124,0.026730,0.020281,0.418769,1,0,0,0,0,0
2023-05-18,-1.210031,-1.144096,-1.685618,0.304377,-0.354715,84.530488,-0.655490,-1.171053,-0.976634,0.364548,...,0.020124,0.014085,0.007752,0.314914,2,1,1,1,1,0
2023-05-19,-10.113983,-12.875933,25.362479,0.448714,0.039165,-1.186284,-8.519890,-9.923077,0.500000,-1.563725,...,0.004552,0.006126,0.012232,0.170013,3,1,1,1,1,1
2023-05-22,1.441322,0.459025,-4.011616,-6.231958,1.919839,1.120168,-0.772898,-3.513793,-21.177305,1.508696,...,0.037936,0.041667,0.052308,0.893754,4,1,0,0,0,0
2023-05-23,-0.760339,-0.991071,-0.134196,-0.163347,-1.134189,-4.531588,0.235716,-0.829218,-0.310721,-0.977470,...,0.042296,0.035008,0.034743,-0.001596,0,0,0,0,0,0

In [23]:
nanlo = locate_nan(df_sec_combine)  # nan 위치 찾기

In [25]:
print(nanlo)

[[datetime.date(2022, 1, 17) 'dji_cr']
 [datetime.date(2022, 1, 17) 'dji_f_cr']
 [datetime.date(2022, 1, 17) 'dxy_cr']
 ...
 [datetime.date(2023, 4, 7) 'bkx_cr_2']
 [datetime.date(2023, 5, 23) 'kosdaq_cr']
 [datetime.date(2023, 5, 23) 'kosdaq_cr_2']]

In [ ]:
# delete rows which include NaN : dji, spx, nasdaq 기타 common 지수중 한개라도 nan인 rows 제거
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])].dropna(inplace=True)

In [ ]:
# string column을 numeric으로 전환
def string_to_num(df):
    df.replace('%', '', regex=True, inplace=True)
    return df.apply(pd.to_numeric)

for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])] = string_to_num(globals()['df_{}_combine'.format(val[1])])

In [ ]:
# pickle로 데이터 저장

for key, val in code.items():
    globals()[f'df_{val[1]}_combine'].to_pickle(directory_for_predict + f'df_{val[1]}_combine.pkl')
    globals()[f'df_{val[1]}_combine'].to_csv(directory_for_predict + f'df_{val[1]}_combine.csv')