## combine company data and common data

In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np
import os
import sys

from sklearn.preprocessing import StandardScaler

In [2]:
module_path = os.path.abspath(os.path.join('.')) 
sys.path.append(module_path+"\\data\\constant")

from constants import COMPANY_CODE

In [3]:
def locate_nan(df):
    idx, idy = np.where(pd.isnull(df))
    result = np.column_stack([df.index[idx], df.columns[idy]])
    return result

# return format
''' 
[[datetime.date(2022, 1, 17) 'dji_cr']
 [datetime.date(2022, 1, 17) 'dji_f_cr']
 ...
 [datetime.date(2023, 5, 23) 'kosdaq_cr']
 [datetime.date(2023, 5, 23) 'kosdaq_cr_2']]
'''

" \n[[datetime.date(2022, 1, 17) 'dji_cr']\n [datetime.date(2022, 1, 17) 'dji_f_cr']\n ...\n [datetime.date(2023, 5, 23) 'kosdaq_cr']\n [datetime.date(2023, 5, 23) 'kosdaq_cr_2']]\n"

In [4]:
code = COMPANY_CODE

# code = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'],
#                  '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}
# code = {'005930': ['삼성전자', 'sec'], '000660': ['SK하이닉스', 'skhynix']}
# code = {'302440': ['SK바이오사이언스', 'skbio']}

In [5]:
directory_for_predict = './data/data_for_ml/predict/'
pkl_common_directory = './data/common_pkl/'
pkl_directory = './data/common_pkl/'

In [6]:
df_common = pd.read_pickle(directory_for_predict + '0_df_common.pkl')

In [7]:
for key, val in code.items():
    df_company = pd.read_pickle(directory_for_predict + f'df_{val[1]}_company.pkl')
    df_company = df_company.merge(df_common, how='left', left_index=True, right_index=True)
    globals()[f'df_{val[1]}_combine'] = df_company.copy()

In [8]:
df_hyunmotor_combine.tail()

,retail_1,foreigner_1,institution_1,financial_1,invtrust_1,pension_1,privequity_1,bank_1,insurance_1,financeetc_1,...,bond_kor_10_cr,bond_kor_10_cr_2,bond_kor_2_cr,bond_kor_2_cr_2,kosdaq_cr,kosdaq_cr_2,kospi_cr,kospi_cr_2,krw_cr,krw_cr_2
2023-06-09,-0.588957,-1.549635,-0.398940,1.268714,-0.403529,-0.545628,-0.345813,23.750000,-0.590862,-0.968379,...,+3.21%,2.309859,+1.37%,0.441989,-0.52,0.672197,-0.18,-0.174351,-0.98%,-0.286332
2023-06-12,-0.921598,-0.635734,-0.888047,-1.981669,-1.165680,-0.085346,-1.418984,-1.000000,-0.001509,-24.500000,...,-1.13%,2.046036,-1.27%,0.083635,0.87,0.339495,1.16,0.977214,-0.63%,-1.600599
2023-06-13,5.880573,-3.165779,2.073699,1.070382,-5.057143,0.326664,-0.917718,-inf,1.132494,-1.000000,...,-0.47%,-0.473406,-0.17%,-0.167038,0.23,1.099152,-0.45,0.708581,-0.22%,-0.215953
2023-06-14,-2.946424,-9.510183,-0.034467,0.868739,-1.210094,1.331150,-0.200000,-60.333333,-0.596504,-1.000000,...,+0.11%,-0.362016,-0.86%,-1.030067,1.25,1.482387,0.33,-0.121538,-1.31%,-1.552392
2023-06-15,1.138220,0.416471,-1.222722,-1.124146,3.991620,-0.569542,75.325000,-0.376404,-1.085480,inf,...,+1.65%,1.762731,+1.69%,0.808701,-2.79,-1.572661,-0.72,-0.390591,+0.35%,-0.961434

In [9]:
df_hyunmotor_combine.index[0]

datetime.date(2022, 1, 7)

In [10]:
col_inv1 = ['retail_1', 'foreigner_1', 'institution_1', 'financial_1', 'invtrust_1', 'pension_1', 'privequity_1', 
            'bank_1', 'insurance_1', 'financeetc_1', 'corporateetc_1', 'foreigneretc_1']
col_inv2 = ['retail_2', 'foreigner_2', 'institution_2', 'financial_2', 'invtrust_2', 'pension_2',
            'privequity_2', 'bank_2', 'insurance_2', 'financeetc_2', 'corporateetc_2', 'foreigneretc_2']

In [11]:
col_his1 = ['open_1', 'high_1', 'low_1', 'close_1', 'vol_1']
col_his2 = ['open_2', 'high_2', 'low_2', 'close_2', 'vol_2']

In [12]:
col_common1 = ["dji_cr", "dji_f_cr", "dxy_cr", "ixic_f_cr", "bond_kor_10_cr", "bond_kor_2_cr", "kosdaq_cr", "kospi_cr", 
         "krw_cr", "ixic_cr", "spx_f_cr", "sox_cr", "spx_cr", "bond_usa_10_cr", "bond_usa_2_cr", "bond_usa_3m_cr", 
         "vix_cr", "wti_cr", "spsy_cr", "spny_cr", "spxhc_cr", "splrcd_cr", "splrci_cr", "splrcu_cr", "splrcs_cr",
         "splrct_cr", "splrcl_cr", "splrcm_cr", "ixbk_cr", "ixfn_cr", "ixid_cr", "ixis_cr", "ixk_cr", "ixtr_cr",
         "ixut_cr", "nbi_cr", "bkx_cr"]
col_common2 = ["dji_cr_2", "dji_f_cr_2", "dxy_cr_2", "ixic_f_cr_2", "bond_kor_10_cr_2", "bond_kor_2_cr_2", "kosdaq_cr_2", "kospi_cr_2",
         "krw_cr_2", "ixic_cr_2", "spx_f_cr_2", "sox_cr_2", "spx_cr_2", "bond_usa_10_cr_2", "bond_usa_2_cr_2", "bond_usa_3m_cr_2",
         "vix_cr_2", "wti_cr_2", "spsy_cr_2", "spny_cr_2", "spxhc_cr_2", "splrcd_cr_2", "splrci_cr_2", "splrcu_cr_2",
         "splrcs_cr_2", "splrct_cr_2", "splrcl_cr_2", "splrcm_cr_2", "ixbk_cr_2", "ixfn_cr_2", "ixid_cr_2",
         "ixis_cr_2", "ixk_cr_2", "ixtr_cr_2", "ixut_cr_2", "nbi_cr_2", "bkx_cr_2"]

In [13]:
col_cr = ['weekday', 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20']

In [14]:
col_col = col_inv1 + col_common1 + col_his1 + col_inv2 + col_common2 + col_his2 + col_cr

In [15]:
# # write common data only
# df_temp = df_common.copy()
# df_temp = df_temp[col_common1+col_common2]
# pkl_common_directory = './data/common_pkl/'
# df_temp.to_pickle(pkl_common_directory + 'df_common.pkl')
# df_temp.to_csv(pkl_common_directory + 'df_common.csv')

In [16]:
new_columns = col_col

In [17]:
# column 순서 변경 : weekday, 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20' column을 마지막으로 이동 
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])] = globals()['df_{}_combine'.format(val[1])][new_columns]

In [18]:
'''
# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고
# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지
df_sec_sel.replace([np.inf, -np.inf], [1, -1], inplace=True)

.impute 사용하는 것을 고려할 필요 있음.
'''

'\n# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고\n# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지\ndf_sec_sel.replace([np.inf, -np.inf], [1, -1], inplace=True)\n\n.impute 사용하는 것을 고려할 필요 있음.\n'

In [19]:
# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고
# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])].replace([np.inf, -np.inf], [1, -1], inplace=True)

# **** 데이터 전처리 from sklearn.impute import SimpleImputer, SimpleImputer 사용하기로 함.

In [20]:
df_sec_combine.tail()

,retail_1,foreigner_1,institution_1,financial_1,invtrust_1,pension_1,privequity_1,bank_1,insurance_1,financeetc_1,...,high_2,low_2,close_2,vol_2,weekday,cr_00,cr_05,cr_10,cr_15,cr_20
2023-06-09,1.347916,-1.178113,-0.704820,-0.419208,1.582731,0.194839,0.140287,0.410714,17.702465,6.015267,...,-0.024759,-0.019608,-0.011158,0.510667,3,1,1,1,1,0
2023-06-12,5.498513,10.106071,2.169202,0.071822,-0.871238,3.365910,-0.536823,-5.405063,-0.946060,-0.943689,...,0.009777,0.000000,0.014085,0.017139,4,0,0,0,0,0
2023-06-13,-1.332605,-1.701102,-0.665876,-0.009270,0.215420,-1.806737,0.220027,-2.287356,-13.010471,0.444444,...,0.021157,0.011429,0.001410,-0.370523,0,1,1,1,0,0
2023-06-14,-3.176142,-2.064506,1.034924,0.710529,-0.761971,1.130317,-0.699958,-2.118304,1.207353,-0.852843,...,-0.001383,0.011299,0.000000,-0.121123,1,0,0,0,0,0
2023-06-15,-0.907497,-0.615007,-1.456423,-1.022293,-0.794905,-0.451069,-1.783807,-1.000000,-0.932263,-0.931818,...,-0.002762,0.004237,0.012676,0.038127,2,0,0,0,0,0

In [21]:
nanlo = locate_nan(df_sec_combine)  # nan 위치 찾기

In [22]:
print(nanlo)

[[datetime.date(2022, 1, 17) 'dji_cr']
 [datetime.date(2022, 1, 17) 'dji_f_cr']
 [datetime.date(2022, 1, 17) 'dxy_cr']
 ...
 [datetime.date(2023, 4, 7) 'ixut_cr_2']
 [datetime.date(2023, 4, 7) 'nbi_cr_2']
 [datetime.date(2023, 4, 7) 'bkx_cr_2']]

In [23]:
# delete rows which include NaN : dji, spx, nasdaq 기타 common 지수중 한개라도 nan인 rows 제거
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])].dropna(inplace=True)

In [24]:
# string column을 numeric으로 전환
def string_to_num(df):
    df.replace('%', '', regex=True, inplace=True)
    return df.apply(pd.to_numeric)

for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])] = string_to_num(globals()['df_{}_combine'.format(val[1])])

In [25]:
# pickle로 데이터 저장

for key, val in code.items():
    globals()[f'df_{val[1]}_combine'].to_pickle(directory_for_predict + f'df_{val[1]}_combine.pkl')
    globals()[f'df_{val[1]}_combine'].to_csv(directory_for_predict + f'df_{val[1]}_combine.csv')