## combine company data and common data

In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np
import os
import sys

from sklearn.preprocessing import StandardScaler

In [2]:
module_path = os.path.abspath(os.path.join('.')) 
sys.path.append(module_path+"\\data\\constant")

from constants import COMPANY_CODE

In [3]:
def locate_nan(df):
    idx, idy = np.where(pd.isnull(df))
    result = np.column_stack([df.index[idx], df.columns[idy]])
    return result

# return format
''' 
[[datetime.date(2022, 1, 17) 'dji_cr']
 [datetime.date(2022, 1, 17) 'dji_f_cr']
 ...
 [datetime.date(2023, 5, 23) 'kosdaq_cr']
 [datetime.date(2023, 5, 23) 'kosdaq_cr_2']]
'''

" \n[[datetime.date(2022, 1, 17) 'dji_cr']\n [datetime.date(2022, 1, 17) 'dji_f_cr']\n ...\n [datetime.date(2023, 5, 23) 'kosdaq_cr']\n [datetime.date(2023, 5, 23) 'kosdaq_cr_2']]\n"

In [4]:
code = COMPANY_CODE

# code = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'],
#                  '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}
# code = {'005930': ['삼성전자', 'sec'], '000660': ['SK하이닉스', 'skhynix']}
# code = {'302440': ['SK바이오사이언스', 'skbio']}

In [5]:
directory_for_predict = './data/data_for_ml/predict/'
pkl_common_directory = './data/common_pkl/'
pkl_directory = './data/common_pkl/'

In [6]:
df_common = pd.read_pickle(directory_for_predict + '0_df_common.pkl')

In [7]:
for key, val in code.items():
    df_company = pd.read_pickle(directory_for_predict + f'df_{val[1]}_company.pkl')
    df_company = df_company.merge(df_common, how='left', left_index=True, right_index=True)
    globals()[f'df_{val[1]}_combine'] = df_company.copy()

In [8]:
df_hyunmotor_combine.tail()

,retail_1,foreigner_1,institution_1,financial_1,invtrust_1,pension_1,privequity_1,bank_1,insurance_1,financeetc_1,...,ixk_cr,ixk_cr_2,ixtr_cr,ixtr_cr_2,ixut_cr,ixut_cr_2,nbi_cr,nbi_cr_2,bkx_cr,bkx_cr_2
2023-10-18,1.82212,20.74197,-1.55647,18.05447,6.04928,-1.09805,-6.14493,-0.28111,-0.65676,inf,...,-0.60%,0.48882,0.55%,2.19391,-0.08%,1.05181,-0.13%,0.51744,1.71%,3.25545
2023-10-18,1.82212,20.74197,-1.55647,18.05447,6.04928,-1.09805,-6.14493,-0.28111,-0.65676,inf,...,-0.60%,0.48882,0.55%,2.19391,-0.08%,1.05181,-0.13%,0.51744,1.71%,3.25545
2023-10-18,1.82212,20.74197,-1.55647,18.05447,6.04928,-1.09805,-6.14493,-0.28111,-0.65676,inf,...,-0.60%,0.48882,0.55%,2.19391,-0.08%,1.05181,-0.13%,0.51744,1.71%,3.25545
2023-10-19,1.30557,0.70533,-2.95382,-0.76938,-1.17887,-19.56459,-3.22723,0.89359,-4.85827,-0.41667,...,-1.30%,-1.88487,-3.61%,-3.08627,-1.13%,-1.21134,-1.99%,-2.11278,-2.49%,-0.82751
2023-10-20,-1.09444,-1.44263,1.41271,-0.20476,-2.32069,-0.63531,-4.02403,-1.00745,1.57347,0.15584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_hyunmotor_combine.index[0]

datetime.date(2022, 1, 7)

In [10]:
col_inv1 = ['retail_1', 'foreigner_1', 'institution_1', 'financial_1', 'invtrust_1', 'pension_1', 'privequity_1', 
            'bank_1', 'insurance_1', 'financeetc_1', 'corporateetc_1', 'foreigneretc_1']
col_inv2 = ['retail_2', 'foreigner_2', 'institution_2', 'financial_2', 'invtrust_2', 'pension_2',
            'privequity_2', 'bank_2', 'insurance_2', 'financeetc_2', 'corporateetc_2', 'foreigneretc_2']

In [11]:
col_his1 = ['open_1', 'high_1', 'low_1', 'close_1', 'vol_1']
col_his2 = ['open_2', 'high_2', 'low_2', 'close_2', 'vol_2']

In [12]:
col_common1 = ["dji_cr", "dji_f_cr", "dxy_cr", "ixic_f_cr", "bond_kor_10_cr", "bond_kor_2_cr", "kosdaq_cr", "kospi_cr", 
         "krw_cr", "ixic_cr", "spx_f_cr", "sox_cr", "spx_cr", "bond_usa_10_cr", "bond_usa_2_cr", "bond_usa_3m_cr", 
         "vix_cr", "wti_cr", "spsy_cr", "spny_cr", "spxhc_cr", "splrcd_cr", "splrci_cr", "splrcu_cr", "splrcs_cr",
         "splrct_cr", "splrcl_cr", "splrcm_cr", "ixbk_cr", "ixfn_cr", "ixid_cr", "ixis_cr", "ixk_cr", "ixtr_cr",
         "ixut_cr", "nbi_cr", "bkx_cr"]
col_common2 = ["dji_cr_2", "dji_f_cr_2", "dxy_cr_2", "ixic_f_cr_2", "bond_kor_10_cr_2", "bond_kor_2_cr_2", "kosdaq_cr_2", "kospi_cr_2",
         "krw_cr_2", "ixic_cr_2", "spx_f_cr_2", "sox_cr_2", "spx_cr_2", "bond_usa_10_cr_2", "bond_usa_2_cr_2", "bond_usa_3m_cr_2",
         "vix_cr_2", "wti_cr_2", "spsy_cr_2", "spny_cr_2", "spxhc_cr_2", "splrcd_cr_2", "splrci_cr_2", "splrcu_cr_2",
         "splrcs_cr_2", "splrct_cr_2", "splrcl_cr_2", "splrcm_cr_2", "ixbk_cr_2", "ixfn_cr_2", "ixid_cr_2",
         "ixis_cr_2", "ixk_cr_2", "ixtr_cr_2", "ixut_cr_2", "nbi_cr_2", "bkx_cr_2"]

In [13]:
col_cr = ['weekday', 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20']

In [14]:
col_col = col_inv1 + col_common1 + col_his1 + col_inv2 + col_common2 + col_his2 + col_cr

In [15]:
# # write common data only
# df_temp = df_common.copy()
# df_temp = df_temp[col_common1+col_common2]
# pkl_common_directory = './data/common_pkl/'
# df_temp.to_pickle(pkl_common_directory + 'df_common.pkl')
# df_temp.to_csv(pkl_common_directory + 'df_common.csv')

In [16]:
new_columns = col_col

In [17]:
# column 순서 변경 : weekday, 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20' column을 마지막으로 이동 
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])] = globals()['df_{}_combine'.format(val[1])][new_columns]

In [18]:
'''
# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고
# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지
df_sec_sel.replace([np.inf, -np.inf], [1, -1], inplace=True)

.impute 사용하는 것을 고려할 필요 있음.
'''

'\n# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고\n# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지\ndf_sec_sel.replace([np.inf, -np.inf], [1, -1], inplace=True)\n\n.impute 사용하는 것을 고려할 필요 있음.\n'

In [19]:
# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고
# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])].replace([np.inf, -np.inf], [1, -1], inplace=True)

# **** 데이터 전처리 from sklearn.impute import SimpleImputer, SimpleImputer 사용하기로 함.

In [20]:
df_sec_combine.tail()

,retail_1,foreigner_1,institution_1,financial_1,invtrust_1,pension_1,privequity_1,bank_1,insurance_1,financeetc_1,...,high_2,low_2,close_2,vol_2,weekday,cr_00,cr_05,cr_10,cr_15,cr_20
2023-10-18,-4.10114,-5.27952,-32.98755,12.35801,-3.97751,-1.11764,-0.26601,-55.30000,-2.76934,-3.54938,...,0.02044,-0.00443,0.02059,0.77901,1,1,1,1,1,0
2023-10-18,-4.10114,-5.27952,-32.98755,12.35801,-3.97751,-1.11764,-0.26601,-55.30000,-2.76934,-3.54938,...,0.02044,-0.00443,0.02059,0.77901,1,1,1,1,1,0
2023-10-18,-4.10114,-5.27952,-32.98755,12.35801,-3.97751,-1.11764,-0.26601,-55.30000,-2.76934,-3.54938,...,0.02044,-0.00443,0.02059,0.77901,1,1,1,1,1,0
2023-10-19,0.49849,0.05872,-1.00366,-0.49180,1.64535,-11.72016,-8.68482,-0.96961,-0.80816,-0.25182,...,0.02920,0.02994,0.04755,0.30906,2,0,0,0,0,0
2023-10-20,-0.97195,-0.83201,-147.27139,0.46009,-1.07131,0.68401,-1.26471,19.42424,3.07182,-1.14239,...,0.00143,0.02967,0.00144,-0.19335,3,0,0,0,0,0

In [21]:
nanlo = locate_nan(df_sec_combine)  # nan 위치 찾기

In [22]:
print(nanlo)

[[datetime.date(2022, 1, 18) 'dji_cr']
 [datetime.date(2022, 1, 18) 'dji_f_cr']
 [datetime.date(2022, 1, 18) 'dxy_cr']
 ...
 [datetime.date(2023, 10, 20) 'ixut_cr_2']
 [datetime.date(2023, 10, 20) 'nbi_cr_2']
 [datetime.date(2023, 10, 20) 'bkx_cr_2']]

In [23]:
# delete rows which include NaN : dji, spx, nasdaq 기타 common 지수중 한개라도 nan인 rows 제거
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])].dropna(inplace=True)

In [24]:
# string column을 numeric으로 전환
def string_to_num(df):
    df.replace('%', '', regex=True, inplace=True)
    df = df.apply(pd.to_numeric)
    return df

for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])] = string_to_num(globals()['df_{}_combine'.format(val[1])])

In [25]:
# pickle로 데이터 저장

for key, val in code.items():
    globals()[f'df_{val[1]}_combine'].to_pickle(directory_for_predict + f'df_{val[1]}_combine.pkl')
    globals()[f'df_{val[1]}_combine'].to_csv(directory_for_predict + f'df_{val[1]}_combine.csv')