## combine company data and common data

In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [2]:
code = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'],
                 '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}
# code = {'005930': ['삼성전자', 'sec']}

code = {'005930' : ['삼성전자', 'sec'], '373220' : ['LG에너지솔루션', 'lgenergy'], 
        '000660' : ['SK하이닉스', 'skhynix'], '207940' : ['삼성바이오로직스', 'ssbio'],
        '006400' : ['삼성SDI', 'sdi'], '051910' : ['LG화학', 'lgchemical'],
        '005935' : ['삼성전자우', 'secpre'], '005380' : ['현대차', 'hyunmotor'],
        '035420' : ['NAVER', 'naver'], '000270' : ['기아','kia'],
        '035720' : ['카카오', 'kakao'], '005490' : ['POSCO홀딩스', 'poscoholding'],
        '105560' : ['KB금융', 'kbbank'], '028260' : ['삼성물산', 'sscnt'],
        '068270' : ['셀트리온', 'celltrion'], '012330' : ['현대모비스', 'mobis'],
        '055550' : ['신한지주', 'shgroup'], '066570' : ['LG전자', 'lgelec'],
        '003670' : ['포스코퓨처엠', 'poscochemical'], '096770' : ['SK이노베이션', 'skinnovation'],
        '033780' : ['KT&G', 'ktng'], '030200' : ['KT', 'kt']}
# code = {'005380' : ['현대차', 'hyunmotor']}

In [3]:
directory_for_predict = './data/data_for_ml/predict/'
pkl_common_directory = './data/common_pkl/'
pkl_directory = './data/common_pkl/'

In [4]:
df_common = pd.read_pickle(directory_for_predict + '0_df_common.pkl')

In [5]:
for key, val in code.items():
    df_company = pd.read_pickle(directory_for_predict + f'df_{val[1]}_company.pkl')
    df_company = df_company.merge(df_common, how='left', left_index=True, right_index=True)
    globals()[f'df_{val[1]}_combine'] = df_company.copy()

In [6]:
col_inv1 = ['retail_1', 'foreigner_1', 'institution_1', 'financial_1', 'invtrust_1', 'pension_1', 'privequity_1', 
            'bank_1', 'insurance_1', 'financeetc_1', 'corporateetc_1', 'foreigneretc_1']

In [7]:
col_inv2 = ['retail_2', 'foreigner_2', 'institution_2', 'financial_2', 'invtrust_2', 'pension_2',
            'privequity_2', 'bank_2', 'insurance_2', 'financeetc_2', 'corporateetc_2', 'foreigneretc_2']

In [8]:
col_his1 = ['open_1', 'high_1', 'low_1', 'close_1', 'vol_1']

In [9]:
col_his2 = ['open_2', 'high_2', 'low_2', 'close_2', 'vol_2']

In [10]:
col_cr = ['weekday', 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20']

In [11]:
col_common1 = ["dji_cr", "dji_f_cr", "dxy_cr", "ixic_f_cr", "bond_kor_10_cr", "bond_kor_2_cr", "kosdaq_cr", "kospi_cr", 
         "krw_cr", "ixic_cr", "spx_f_cr", "sox_cr", "spx_cr", "bond_usa_10_cr", "bond_usa_2_cr", "bond_usa_3m_cr", 
         "vix_cr", "wti_cr", "spsy_cr", "spny_cr", "spxhc_cr", "splrcd_cr", "splrci_cr", "splrcu_cr", "splrcs_cr",
         "splrct_cr", "splrcl_cr", "splrcm_cr", "ixbk_cr", "ixfn_cr", "ixid_cr", "ixis_cr", "ixk_cr", "ixtr_cr",
         "ixut_cr", "nbi_cr", "bkx_cr"]

In [12]:
col_common2 = ["dji_cr_2", "dji_f_cr_2", "dxy_cr_2", "ixic_f_cr_2", "bond_kor_10_cr_2", "bond_kor_2_cr_2", "kosdaq_cr_2", "kospi_cr_2",
         "krw_cr_2", "ixic_cr_2", "spx_f_cr_2", "sox_cr_2", "spx_cr_2", "bond_usa_10_cr_2", "bond_usa_2_cr_2", "bond_usa_3m_cr_2",
         "vix_cr_2", "wti_cr_2", "spsy_cr_2", "spny_cr_2", "spxhc_cr_2", "splrcd_cr_2", "splrci_cr_2", "splrcu_cr_2",
         "splrcs_cr_2", "splrct_cr_2", "splrcl_cr_2", "splrcm_cr_2", "ixbk_cr_2", "ixfn_cr_2", "ixid_cr_2",
         "ixis_cr_2", "ixk_cr_2", "ixtr_cr_2", "ixut_cr_2", "nbi_cr_2", "bkx_cr_2"]

In [13]:
col_col = col_inv1 + col_common1 + col_his1 + col_inv2 + col_common2 + col_his2 + col_cr

In [14]:
# # write common data only
# df_temp = df_common.copy()
# df_temp = df_temp[col_common1+col_common2]
# pkl_common_directory = './data/common_pkl/'
# df_temp.to_pickle(pkl_common_directory + 'df_common.pkl')
# df_temp.to_csv(pkl_common_directory + 'df_common.csv')

In [15]:
new_columns = col_col

In [16]:
# column 순서 변경 : weekday, 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20' column을 마지막으로 이동 
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])] = globals()['df_{}_combine'.format(val[1])][new_columns]

In [17]:
df_hyunmotor_combine.iloc[35:42, :]

,retail_1,foreigner_1,institution_1,financial_1,invtrust_1,pension_1,privequity_1,bank_1,insurance_1,financeetc_1,...,high_2,low_2,close_2,vol_2,weekday,cr_00,cr_05,cr_10,cr_15,cr_20
2022-03-03,4.305989,6.202370,1.310058,-0.905946,-26.271028,0.567238,-1.664762,21.347826,2.228443,-inf,...,-0.017094,-0.011662,-0.020115,0.433275,2,1,1,1,1,1
2022-03-04,-1.360545,-1.249748,-1.675991,-3.824380,-1.291790,-1.842626,-1.873352,-0.998054,-1.517863,-60.500000,...,0.022857,0.029762,0.014286,0.025924,3,0,0,0,0,0
2022-03-07,-3.242129,-4.572881,-1.393614,-2.686906,-1.538657,-0.804630,-3.347769,-1.000000,-0.645680,-0.995798,...,0.028986,0.017699,0.01173,-0.362337,4,0,0,0,0,0
2022-03-08,0.551578,0.471537,2.720944,3.909367,-0.755294,-6.554043,-0.892398,-inf,-0.368620,240.000000,...,-0.044693,-0.043353,-0.053521,0.102785,0,0,0,0,0,0
2022-03-10,-0.977755,-0.902643,-1.315330,-0.880223,-16.745192,-1.273173,-2.041558,-1.024390,4.029940,-1.348548,...,-0.039437,-0.052174,-0.026087,-0.189175,1,1,1,0,0,0
2022-03-11,24.021105,6.454455,-0.639037,-12.845133,-1.618321,-7.696042,1.351621,100.000000,-1.404167,-2.000000,...,0.005848,0.012085,0.005952,-0.244842,3,0,0,0,0,0
2022-03-14,-0.694017,-0.980204,-8.747022,-1.588283,0.080000,-0.822917,-3.522800,-0.759901,-0.948454,-1.738095,...,-0.005865,0.012232,0.005952,0.058851,4,0,0,0,0,0

In [18]:
'''
# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고
# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지
df_sec_sel.replace([np.inf, -np.inf], [1, -1], inplace=True)

.impute 사용하는 것을 고려할 필요 있음.
'''

'\n# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고\n# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지\ndf_sec_sel.replace([np.inf, -np.inf], [1, -1], inplace=True)\n\n.impute 사용하는 것을 고려할 필요 있음.\n'

In [19]:
# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고
# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])].replace([np.inf, -np.inf], [1, -1], inplace=True)

# **** 데이터 전처리 from sklearn.impute import SimpleImputer, SimpleImputer 사용하기로 함.

In [20]:
df_hyunmotor_combine.iloc[35:42, :]

,retail_1,foreigner_1,institution_1,financial_1,invtrust_1,pension_1,privequity_1,bank_1,insurance_1,financeetc_1,...,high_2,low_2,close_2,vol_2,weekday,cr_00,cr_05,cr_10,cr_15,cr_20
2022-03-03,4.305989,6.202370,1.310058,-0.905946,-26.271028,0.567238,-1.664762,21.347826,2.228443,-1.000000,...,-0.017094,-0.011662,-0.020115,0.433275,2,1,1,1,1,1
2022-03-04,-1.360545,-1.249748,-1.675991,-3.824380,-1.291790,-1.842626,-1.873352,-0.998054,-1.517863,-60.500000,...,0.022857,0.029762,0.014286,0.025924,3,0,0,0,0,0
2022-03-07,-3.242129,-4.572881,-1.393614,-2.686906,-1.538657,-0.804630,-3.347769,-1.000000,-0.645680,-0.995798,...,0.028986,0.017699,0.011730,-0.362337,4,0,0,0,0,0
2022-03-08,0.551578,0.471537,2.720944,3.909367,-0.755294,-6.554043,-0.892398,-1.000000,-0.368620,240.000000,...,-0.044693,-0.043353,-0.053521,0.102785,0,0,0,0,0,0
2022-03-10,-0.977755,-0.902643,-1.315330,-0.880223,-16.745192,-1.273173,-2.041558,-1.024390,4.029940,-1.348548,...,-0.039437,-0.052174,-0.026087,-0.189175,1,1,1,0,0,0
2022-03-11,24.021105,6.454455,-0.639037,-12.845133,-1.618321,-7.696042,1.351621,100.000000,-1.404167,-2.000000,...,0.005848,0.012085,0.005952,-0.244842,3,0,0,0,0,0
2022-03-14,-0.694017,-0.980204,-8.747022,-1.588283,0.080000,-0.822917,-3.522800,-0.759901,-0.948454,-1.738095,...,-0.005865,0.012232,0.005952,0.058851,4,0,0,0,0,0

In [21]:
# delete rows which include NaN : dji, spx, nasdaq 지수가 nan인 rows 제거
for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])].dropna(inplace=True)

In [22]:
# string column을 numeric으로 전환
def string_to_num(df):
    df.replace('%', '', regex=True, inplace=True)
    return df.apply(pd.to_numeric)

for key, val in code.items():
    globals()['df_{}_combine'.format(val[1])] = string_to_num(globals()['df_{}_combine'.format(val[1])])

In [23]:
# pickle로 데이터 저장

for key, val in code.items():
    globals()[f'df_{val[1]}_combine'].to_pickle(directory_for_predict + f'df_{val[1]}_combine.pkl')
    globals()[f'df_{val[1]}_combine'].to_csv(directory_for_predict + f'df_{val[1]}_combine.csv')