In [1]:
import pandas as pd
import numpy as np

import datetime
from datetime import date

import os
import shutil

In [31]:
directory = ['data', 'data/daily_price', 'data/investor']
data_index = os.listdir('data')
data_daily = os.listdir('data/daily_price')
data_investor = os.listdir('data/investor')

In [3]:
data_file = [f_name for f_name in data_index if (f_name[-4:] == '.csv') and (f_name[:4] != 'data') ]

In [4]:
# sample data 선정
data_file[0]

'bond_kor_10yr-20220531.csv'

In [5]:
df = pd.read_csv('data/{}'.format(data_file[0]))

In [6]:
column_name = ['date', 'close', 'open', 'high', 'low', 'variance']
df.columns = column_name # 영문 column으로 변환

In [7]:
# 'date' 칼럼을 datetime으로 변환
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y년 %m월 %d일"))

In [8]:
# main data file 읽기
df_data = pd.read_csv('data/{}'.format('data.csv'))

In [9]:
# convert to datetime instance, 'date' 칼럼을 datetime으로 변환
df_data['date'] = df_data['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))

In [ ]:
convert = {''}

In [25]:
df2 = df[['date', 'close']].set_index('date') # 생성된 데이터 파일(10년 만기 채권)에서 추출
df2.rename(columns = {'close':'bond_kor_10'}, inplace=True) # rename with the same column name in data.csv

In [27]:
df2

            bond_kor_10
date
2022-05-31        3.324
2022-05-30        3.205
2022-05-29        3.217
2022-05-28        3.217
2022-05-27        3.211
...                 ...
2021-12-05        2.235
2021-12-04        2.235
2021-12-03        2.233
2021-12-02        2.194
2021-12-01        2.181

[179 rows x 1 columns]

In [10]:
# 3개 df의 index를 모두 'date'로 설정
df_data.set_index('date', inplace=True)

In [ ]:
# 동일한 위치(row, column)에 데이터 replace
for i in df2.index:
#     print(i, "+++")
    df1.loc[i, 'bond_kor_10'] = df2.loc[i, "close"] # df1에 index가 없는 경우는 새로운 index가 생성됨.
#     print(df1.loc[i, 'bond_kor_10'], "***")

In [28]:
# df1 데이터를 main data에 update (main index와 일치하는 해당 칼럼에 엎어 씀)
# df1에 있는 index항목이 main data(df_data)에 없는 경우는 무시됨.
df_data.update(df2)

In [29]:
df_data.reset_index(inplace=True)

In [30]:
df_data.to_csv('data/data_new.csv', index=False)

In [ ]:
# 사용된 파일은 폴더 이동 저장
#shutil.move('data/{}'.format(data_file[0]), 'data_old/{}'.format(data_file[0]))

In [ ]:
arr = os.list

In [32]:
all =data_index + data_daily + data_investor

In [33]:
all

['bond_kor_10yr-20220531.csv',
 'bond_kor_2yr-20220531.csv',
 'bond_us_10yr-20220531.csv',
 'bond_us_2yr-20220531.csv',
 'bond_us_3month-20220531.csv',
 'cpi_index_20220610.csv',
 'daily_price',
 'data.csv',
 'data_fmt_readme.csv',
 'data_fmt_readme.xlsx',
 'data_new.csv',
 'dji-20220531.csv',
 'dj_future-20220531.csv',
 'dollar_index_future-20220531.csv',
 'fear-greed-2021-2022.csv',
 'investor',
 'kosdaq-20220531.csv',
 'kospi-20220531.csv',
 'krw_rate-20220531.csv',
 'nasdaq-20220531.csv',
 'nasdaq_future-20220531.csv',
 'README.md',
 'S&P-20220531.csv',
 'sample_file.csv',
 'snp500_future-20220531.csv',
 'sox-20220531.csv',
 'VIX-20220623.csv',
 'vix_20220623.csv',
 'WTI_future-20220531.csv',
 'hyunmotor_10min_price_20220620.csv',
 'hyunmotor_10min_price_20220621.csv',
 'hyunmotor_10min_price_20220622.csv',
 'hyunmotor_10min_price_20220623.csv',
 'hyunmotor_10min_price_20220624.csv',
 'ktng_10min_price_20220620.csv',
 'ktng_10min_price_20220621.csv',
 'ktng_10min_price_20220622.csv',
 'ktng_10min_price_20220623.csv',
 'ktng_10min_price_20220624.csv',
 'naver_10min_price_20220620.csv',
 'naver_10min_price_20220621.csv',
 'naver_10min_price_20220622.csv',
 'naver_10min_price_20220623.csv',
 'naver_10min_price_20220624.csv',
 'sec_10min_price_20220620.csv',
 'sec_10min_price_20220621.csv',
 'sec_10min_price_20220622.csv',
 'sec_10min_price_20220623.csv',
 'sec_10min_price_20220624.csv',
 'hyunmotor_invester_from-20220420.csv',
 'hyunmotor_investor_20220621.csv',
 'hyunmotor_investor_20220623.csv',
 'ktng_invester_from-20220420.csv',
 'ktng_investor_20220621.csv',
 'ktng_investor_20220623.csv',
 'naver_invester_from-20220420.csv',
 'naver_investor_20220621.csv',
 'naver_investor_20220623.csv',
 'sec_invester_from-20220420.csv',
 'sec_investor_20220621.csv',
 'sec_investor_20220623.csv']