In [1]:
import pandas as pd  
  
data = {'Name': ['Tom', 'Kim'], 'Age': [20, 30], 'Height':[170, 180]}  
df = pd.DataFrame(data) 
df.head()

  Name  Age  Height
0  Tom   20     170
1  Kim   30     180

In [11]:
val = 'Tom1'
data1 = {'Name': [val], 'Age': [40], 'Height':[200]}  
df1 = pd.DataFrame(data1)
df1.head()

   Name  Age  Height
0  Tom1   40     200

In [12]:
if ~df['Name'].isin([val]).any():
    print('False----')
    df = df.append(df1)
else:
    print('True----')
    df.loc[df['Name'].isin([val]),'Height'] = df1['Height'].iloc[0]

True----

In [13]:
df.head()

   Name  Age  Height
0   Tom   20     175
1   Kim   30     180
0  Tom1   40     200
0  Tom2   40     175