In [1]:
import pandas as pd  
  
data = {'Name': ['Tom', 'Kim'], 'Age': [20, 30], 'Height':[170, 180]}  
df = pd.DataFrame(data) 
df.head()

  Name  Age  Height
0  Tom   20     170
1  Kim   30     180

In [11]:
val = 'Tom1'
data1 = {'Name': [val], 'Age': [40], 'Height':[200]}  
df1 = pd.DataFrame(data1)
df1.head()

   Name  Age  Height
0  Tom1   40     200

In [12]:
if ~df['Name'].isin([val]).any():
    print('False----')
    df = df.append(df1)
else:
    print('True----')
    df.loc[df['Name'].isin([val]),'Height'] = df1['Height'].iloc[0]

True----

In [13]:
df.head()

   Name  Age  Height
0   Tom   20     175
1   Kim   30     180
0  Tom1   40     200
0  Tom2   40     175

In [4]:
import requests
from bs4 import BeautifulSoup as bs

import pandas as pd

import datetime
from datetime import date

In [5]:
data_url = 'https://raw.githubusercontent.com/fasthill/factors_affecting_stock_price/main/data/data.csv'
df = pd.read_csv(data_url)
df.head()

,date,ixic,ixic_cr,ixic_f,ixic_f_cr,dji,dji_cr,dji_f,dji_f_cr,spx_cr,...,fu_date,op_date,open,high,high_time,low,low_time,close,vol,vol_cr
0,NaN,1,2,3,4,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# df.drop([0], inplace=True) # inplace가 없으면 전체 index를 삭제할 수 없음.
df.head()

Empty DataFrame
Columns: [date, ixic, ixic_cr, ixic_f, ixic_f_cr, dji, dji_cr, dji_f, dji_f_cr, spx_cr, spx_cr.1, spx_f, spx_f_cr, kospi, kospi_cr, kosdaq, kosdaq_cr, wti, dxy, krw, 10_bond, 2_bond, 3_m_bond, vix, vix_cr, f_g_index, sox, pp, pp_cr, pp_con_num, fp, fp_cr, fp_con_num, itp, itp_cr, itp_con_num, penp, penp_cr, penp_con_num, pep, pep_cr, pep_con_num, gold, gold_cr, rc1_pcr, rc2_pcr, rc3_pcr, rc4_pcr, fed_rate, fed_rate_ann, fed_rate-imp, bok_rate, bok_rate_ann, bok_rate-imp, fu_date, op_date, open, high, high_time, low, low_time, close, vol, vol_cr]
Index: []

[0 rows x 64 columns]

In [9]:
df.to_csv('data/data.csv')