In [1]:
import pandas as pd
import numpy as np

import datetime
from datetime import date

import os
import shutil

In [2]:
df_org = pd.read_csv('data/{}'.format('data.csv'))
df_org['date'] = df_org['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
df_org.set_index('date', inplace=True)

In [3]:
df_org.head(1)

,ixic,ixic_cr,ixic_f,ixic_f_cr,dji,dji_cr,dji_f,dji_f_cr,spx,spx_cr,...,fu_date,op_date,open,high,high_time,low,low_time,close,vol,vol_cr
date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = pd.read_csv('data/bonds/{}'.format('dd1_us_bond_10yr_20220531.csv'))
df.columns = ['date', 'bond_usa_10', 'open', 'high', 'low', 'bond_usa_10_cr']
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y년 %m월 %d일"))
# df의 index를 모두 'date'로 설정
df_select = df[['date', 'bond_usa_10', 'bond_usa_10_cr']]
df_select.set_index('date', inplace=True)

df_org.update(df_select) # usa bond 10 before 22020531

In [5]:
df = pd.read_csv('data/bonds/{}'.format('dd2_us_bond_2yr_20220531.csv'))
df.columns = ['date', 'bond_usa_2', 'open', 'high', 'low', 'bond_usa_2_cr']
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y년 %m월 %d일"))
# df의 index를 모두 'date'로 설정
df_select = df[['date', 'bond_usa_2', 'bond_usa_2_cr']]
df_select.set_index('date', inplace=True)

df_org.update(df_select) # done usa bond 2 before 22020531

In [6]:
df = pd.read_csv('data/bonds/{}'.format('dd3_us_bond_3mon_20220531.csv'))
df.columns = ['date', 'bond_usa_3m', 'open', 'high', 'low', 'bond_usa_3m_cr']
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y년 %m월 %d일"))
# df의 index를 모두 'date'로 설정
df_select = df[['date', 'bond_usa_3m', 'bond_usa_3m_cr']]
df_select.set_index('date', inplace=True)

df_org.update(df_select) # done usa bond 3m before 22020531

In [7]:
df = pd.read_csv('data/bonds/{}'.format('dd4_kor_bond_10yr_20220531.csv'))
df.columns = ['date', 'bond_kor_10', 'open', 'high', 'low', 'bond_kor_10_cr']
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y년 %m월 %d일"))
# df의 index를 모두 'date'로 설정
df_select = df[['date', 'bond_kor_10', 'bond_kor_10_cr']]
df_select.set_index('date', inplace=True)

df_org.update(df_select) # done kor bond 10 before 22020531

In [8]:
df = pd.read_csv('data/bonds/{}'.format('dd5_kor_bond_2yr_20220531.csv'))
df.columns = ['date', 'bond_kor_2', 'open', 'high', 'low','bond_kor_2_cr']
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y년 %m월 %d일"))
# df의 index를 모두 'date'로 설정
df_select = df[['date', 'bond_kor_2', 'bond_kor_2_cr']]
df_select.set_index('date', inplace=True)

df_org.update(df_select) # done kor bond 2 before 22020531

In [9]:
df_org.reset_index(inplace=True)
df_org.to_csv('data/data.csv', index=False)