In [28]:
import pandas as pd
import numpy as np

import datetime
from datetime import date

import os
import shutil

In [ ]:
group_data = []

In [2]:
directory = ['data', 'data/daily_price', 'data/investor']
data_index = os.listdir('data')
data_daily = os.listdir('data/daily_price')
data_investor = os.listdir('data/investor')

In [3]:
data_file = [f_name for f_name in data_index if (f_name[-4:] == '.csv') and (f_name[:4] != 'data') ]

In [5]:
data_file[0]

'bond_kor_10yr-20220531.csv'

In [61]:
df = pd.read_csv('data/{}'.format(data_file[0]))

In [62]:
df.head()

              날짜     종가     오픈     고가     저가    변동 %
0  2022년 05월 31일  3.324  3.235  3.326  3.230   3.71%
1  2022년 05월 30일  3.205  3.223  3.229  3.183  -0.37%
2  2022년 05월 29일  3.217  3.217  3.217  3.217   0.00%
3  2022년 05월 28일  3.217  3.217  3.217  3.217   0.19%
4  2022년 05월 27일  3.211  3.200  3.242  3.190  -0.86%

In [63]:
column_name = ['date', 'close', 'open', 'high', 'low', 'variance']

In [64]:
df.columns = column_name
df.head()

            date  close   open   high    low variance
0  2022년 05월 31일  3.324  3.235  3.326  3.230    3.71%
1  2022년 05월 30일  3.205  3.223  3.229  3.183   -0.37%
2  2022년 05월 29일  3.217  3.217  3.217  3.217    0.00%
3  2022년 05월 28일  3.217  3.217  3.217  3.217    0.19%
4  2022년 05월 27일  3.211  3.200  3.242  3.190   -0.86%

In [65]:
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y년 %m월 %d일"))

In [66]:
df.head()

        date  close   open   high    low variance
0 2022-05-31  3.324  3.235  3.326  3.230    3.71%
1 2022-05-30  3.205  3.223  3.229  3.183   -0.37%
2 2022-05-29  3.217  3.217  3.217  3.217    0.00%
3 2022-05-28  3.217  3.217  3.217  3.217    0.19%
4 2022-05-27  3.211  3.200  3.242  3.190   -0.86%

In [67]:
df_data = pd.read_csv('data/{}'.format('data.csv'))

In [68]:
# convert to datetime instance
df_data['date'] = df_data['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))

In [69]:
df1 = df_data[['date', 'bond_kor_10']].set_index('date')
df2 = df[['date', 'close']].set_index('date')

In [76]:
df2

            close
date
2022-05-31  3.324
2022-05-30  3.205
2022-05-29  3.217
2022-05-28  3.217
2022-05-27  3.211
...           ...
2021-12-05  2.235
2021-12-04  2.235
2021-12-03  2.233
2021-12-02  2.194
2021-12-01  2.181

[179 rows x 1 columns]

In [72]:
for i in df2.index:
#     print(i, "+++")
    df1.loc[i, 'bond_kor_10'] = df2.loc[i, "close"]
#     print(df1.loc[i, 'bond_kor_1'], "***")

In [79]:
df1.reset_index()

          date  bond_kor_10
0   2022-01-01        2.255
1   2022-01-02        2.175
2   2022-01-03        2.323
3   2022-01-04        2.314
4   2022-01-05        2.375
..         ...          ...
391 2021-12-05        2.235
392 2021-12-04        2.235
393 2021-12-03        2.233
394 2021-12-02        2.194
395 2021-12-01        2.181

[396 rows x 2 columns]

In [ ]:
# 사용된 파일은 폴더 이동 저장
#shutil.move('data/{}'.format(data_file[0]), 'data_old/{}'.format(data_file[0]))