In [1]:
import pandas as pd  
  
data = {'Name': ['Tom', 'Kim'], 'Age': [20, 30], 'Height':[170, 180]}  
df = pd.DataFrame(data) 
df.head()

  Name  Age  Height
0  Tom   20     170
1  Kim   30     180

In [2]:
val = 'Tom1'
data1 = {'Name': [val], 'Age': [40], 'Height':[200]}  
df1 = pd.DataFrame(data1)
df1.head()

   Name  Age  Height
0  Tom1   40     200

In [3]:
if ~df['Name'].isin([val]).any():
    print('False----')
    df = df.append(df1)
else:
    print('True----')
    df.loc[df['Name'].isin([val]),'Height'] = df1['Height'].iloc[0]

False----

In [4]:
df.head()

   Name  Age  Height
0   Tom   20     170
1   Kim   30     180
0  Tom1   40     200

In [5]:
import pandas as pd

import datetime
from datetime import date

In [6]:
data_url = 'https://raw.githubusercontent.com/fasthill/factors_affecting_stock_price/main/data/data.csv'
df = pd.read_csv(data_url)
# df.drop([0], inplace=True) # inplace가 없으면 전체 index를 삭제할 수 없음.
df.head()

Empty DataFrame
Columns: [Unnamed: 0, date, ixic, ixic_cr, ixic_f, ixic_f_cr, dji, dji_cr, dji_f, dji_f_cr, spx_cr, spx_cr.1, spx_f, spx_f_cr, kospi, kospi_cr, kosdaq, kosdaq_cr, wti, dxy, krw, 10_bond, 2_bond, 3_m_bond, vix, vix_cr, f_g_index, sox, pp, pp_cr, pp_con_num, fp, fp_cr, fp_con_num, itp, itp_cr, itp_con_num, penp, penp_cr, penp_con_num, pep, pep_cr, pep_con_num, gold, gold_cr, rc1_pcr, rc2_pcr, rc3_pcr, rc4_pcr, fed_rate, fed_rate_ann, fed_rate-imp, bok_rate, bok_rate_ann, bok_rate-imp, fu_date, op_date, open, high, high_time, low, low_time, close, vol, vol_cr]
Index: []

[0 rows x 65 columns]

In [ ]:
# df.to_csv('data/data.csv')

In [7]:
import requests
from bs4 import BeautifulSoup as bs
import datetime
import time
from datetime import date
import pandas as pd

url = 'https://kr.investing.com/commodities/crude-oil-historical-data'
# res = requests.get(url)

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) \
           AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
res = requests.get(url, headers=headers)

soup = bs(res.text, 'html.parser')
wti = soup.select('#results_box tr')

wti_date_value = {}
for i, tr in enumerate(wti):
    if (i == 0) | (i == len(wti)-1) : continue
    tr_value = tr.select('td')
    wti_date_value[tr_value[0].text] = tr_value[1].text
    
data_dict = {}
date_list = []
wti_list = []
for i, (date1, val) in enumerate(wti_date_value.items()):
    date_split = date1.split()
    yr = date_split[0]
    mon = date_split[1]
    day = date_split[2]
    yr = int(yr[:-1])
    mon = int(mon[:-1])
    day = int(day[:-1])
    time = datetime.date(yr,mon,day)
    date_list.append(time)
    wti_list.append(val)

data_dict['date'] = date_list
data_dict['wti'] = wti_list

df_wti = pd.DataFrame(data_dict) 
df_wti.tail()

          date     wti
18  2022-05-20  110.28
19  2022-05-19  109.89
20  2022-05-18  107.04
21  2022-05-17  109.63
22  2022-05-16  111.82

In [8]:
df = df.append(df_wti)

In [9]:
df

,Unnamed: 0,date,ixic,ixic_cr,ixic_f,ixic_f_cr,dji,dji_cr,dji_f,dji_f_cr,...,fu_date,op_date,open,high,high_time,low,low_time,close,vol,vol_cr
0,NaN,2022-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2022-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2022-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2022-06-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2022-06-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,2022-06-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,2022-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,2022-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,2022-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,2022-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,2022-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,2022-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,2022-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,2022-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,2022-05-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,2022-05-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,2022-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,2022-05-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,2022-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,2022-05-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,2022-05-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,2022-05-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,2022-05-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
import requests
from bs4 import BeautifulSoup as bs
import datetime
import time
from datetime import date
import pandas as pd

In [11]:
import pandas as pd
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) \
           AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
url = 'https://www.investing.com/indices/nasdaq-composite'
res = requests.get(url, headers=headers)
soup = bs(res.text, 'html.parser')

dfs = pd.read_html(res.text)

dfs[6] # dji, nasdaq 등

                      0         1        2       3   4
0         US 30 derived  30595.50   78.800  +0.26% NaN
1        US 500 derived   3766.50   16.900  +0.45% NaN
2             Dow Jones  30620.08  103.340  +0.34% NaN
3       S&P 500 derived   3765.53   15.900  +0.42% NaN
4                Nasdaq  10859.65   50.420  +0.47% NaN
5   S&P 500 VIX derived     33.84   -0.180  -0.53% NaN
6  Dollar Index derived    104.90   -0.066  -0.06% NaN

In [17]:
df_new = dfs[6].set_index(0)
df_new

                             1        2       3   4
0
US 30 derived         30595.50   78.800  +0.26% NaN
US 500 derived         3766.50   16.900  +0.45% NaN
Dow Jones             30620.08  103.340  +0.34% NaN
S&P 500 derived        3765.53   15.900  +0.42% NaN
Nasdaq                10859.65   50.420  +0.47% NaN
S&P 500 VIX derived      33.84   -0.180  -0.53% NaN
Dollar Index derived    104.90   -0.066  -0.06% NaN

In [19]:
n1 = df_new.loc['Nasdaq',1]
n2 = df_new.loc['Nasdaq',2]
n3 = df_new.loc['Nasdaq',3]
n1, n2, n3

(10859.65, 50.42, '+0.47%')

In [ ]:
for i in dfs:
    i.head()

In [ ]:
dfs[6]

In [ ]:
nas_url = 'https://www.investing.com/indices/nasdaq-composite-chart'
res = requests.get(nas_url, headers=headers)
soup = bs(res.text, 'html.parser')
nas = soup.select('#last_last')[0].text
nas = float(nas.replace(",", ""))
nas

####

In [ ]:
wti_date_value

In [ ]:
url1 = 'https://kr.investing.com/commodities/crude-oil-historical-data'
res = requests.get(url1)
soup = bs(res.text, 'html.parser')
wti = soup.select('#results_box tr')

In [ ]:
res

In [ ]:
url1 = 'https://kr.investing.com/commodities/crude-oil-historical-data'

In [ ]:
res = requests.get(url1)