### 수집된 데이터 검토용

In [1]:
import datetime, time
from datetime import date

import pandas as pd

In [2]:
# 삼성전자 005930, 현대차 005380, 네이버 035420, KT&G 033780, 
# code = {'sec': '005930', 'hyunmotor': '005380', 'naver': '035420', 'ktng': '033780'}
code = {'sec': 'KR7005930003', 'hyunmotor': 'KR7005380001', 'naver': 'KR7035420009', 'ktng': 'KR7033780008'}
# code = {'sec': 'KR7005930003'}

In [3]:
today_o = datetime.date.today()
today = today_o.strftime('%Y%m%d')
today_stock = today_o.strftime('%Y-%m-%d')

In [4]:
dir_name = 'data/company_daily_price_pkl/'
middle_name = '_10min_price_'

In [6]:
for key, val in code.items():
    f_name = dir_name+key+middle_name+today+'.pkl'
    df = pd.read_pickle(f_name)
    print('***{}***'.format(key))
    print(df.head(3))
    print(df.tail(3))

***sec***
        date      time  price  change change(%)  amount    volume
0 2023-02-08  15:30:00  63100    1200     1.94%  587936  12167802
1 2023-02-08  15:15:00  63200    1300     2.10%  100105  11579694
2 2023-02-08  15:10:00  63200    1300     2.10%   60298  11321109
         date      time  price  change change(%)   amount   volume
74 2023-02-08  09:10:00  62700     800     1.29%   184808  2183787
75 2023-02-08  09:05:00  62800     900     1.45%   388140  1998224
76 2023-02-08  09:00:00  63000    1100     1.78%  1609935  1609935
***hyunmotor***
        date      time   price  change change(%)  amount  volume
0 2023-02-08  15:30:00  172700    2200     1.29%   23945  441466
1 2023-02-08  15:15:00  172900    2400     1.41%    5721  417521
2 2023-02-08  15:10:00  172900    2400     1.41%    5526  409085
         date      time   price  change change(%)  amount  volume
74 2023-02-08  09:10:00  171100     600     0.35%   11616   58824
75 2023-02-08  09:05:00  171000     500     0.29%   12467   47206
76 2023-02-08  09:00:00  171600    1100     0.65%   34739   34739
***naver***
        date      time   price  change change(%)  amount   volume
0 2023-02-08  15:30:00  230500   11000     5.01%   54588  1767817
1 2023-02-08  15:15:00  230000   10500     4.78%   12842  1713229
2 2023-02-08  15:10:00  230000   10500     4.78%    7480  1693577
         date      time   price  change change(%)  amount  volume
74 2023-02-08  09:10:00  228500    9000     4.10%   60207  360553
75 2023-02-08  09:05:00  228500    9000     4.10%  108156  300101
76 2023-02-08  09:00:00  227000    7500     3.42%  191845  191845
***ktng***
        date      time  price  change change(%)  amount  volume
0 2023-02-08  15:30:00  91500     600     0.66%   20240  166880
1 2023-02-08  15:15:00  91200     300     0.33%     644  145475
2 2023-02-08  15:10:00  91200     300     0.33%     487  144049
         date      time  price  change change(%)  amount  volume
74 2023-02-08  09:10:00  91200     300     0.33%    3176   18059
75 2023-02-08  09:05:00  91200     300     0.33%    5858   14883
76 2023-02-08  09:00:00  91000     600    -0.66%    9025    9025