In [1]:
# from bs4 import BeautifulSoup as bs
import requests
import datetime, time
import pickle

import pandas as pd
import numpy as np

import os
import shutil

import matplotlib.pyplot as plt

In [4]:
 pkl = ["spx.pkl", "dji.pkl", "nas.pkl", "kospi.pkl", "kosdaq.pkl", "sox.pkl", "vix.pkl", 
         "us_10yr_bond.pkl", "us_2yr_bond.pkl", "us_3mon_bond.pkl", "kor_10yr_bond.pkl", "kor_2yr_bond.pkl",
         "krw_rate.pkl", "ixic_future.pkl", "snp_future.pkl", "dji_future.pkl", "wti_future.pkl", "dxy_future.pkl",
         "bok_rate.pkl", "cpi.pkl", "fear_greed.pkl", "fed_rate.pkl", "gold.pkl"]

In [8]:
 pkls = ["spx.pkl", "ixic_future.pkl", "fed_rate.pkl", "gold.pkl"]

In [7]:
def read_pickle(pkl_name):
# 데이터 로드
    pkl_directory = 'data/pkl/'
    df = pd.read_pickle(pkl_directory+pkl_name)
    
    return df

In [40]:
pk1 = read_pickle(pkls[0])
pk2 = read_pickle(pkls[1])
pk3 = read_pickle(pkls[2])
pk4 = read_pickle(pkls[3])

In [41]:
pk1.set_index('date', inplace=True)
pk2.set_index('date', inplace=True)
pk3.set_index('date', inplace=True)
pk4.set_index('date', inplace=True)

In [42]:
pk1.head()

                spx     open     high      low  volume  spx_cr
date
2020-01-02  3257.85  3244.67  3258.14  3235.53     NaN  +0.84%
2020-01-03  3234.85  3226.36  3246.15  3222.34     NaN  -0.71%
2020-01-06  3246.28  3217.55  3246.84  3214.64     NaN  +0.35%
2020-01-07  3237.18  3241.86  3244.91  3232.43     NaN  -0.28%
2020-01-08  3253.05  3238.59  3267.07  3236.67     NaN  +0.49%

In [43]:
pk2.head()

             ixic_f     open     high      low   volume ixic_f_cr
date
2020-01-01  8776.38  8772.00  8783.62  8769.75      NaN    +0.28%
2020-01-02  8891.75  8776.75  8901.50  8769.50  416.64K    +1.31%
2020-01-03  8810.00  8895.50  8907.25  8735.25  599.89K    -0.92%
2020-01-06  8847.50  8772.25  8873.00  8723.00  469.51K    +0.43%
2020-01-07  8853.00  8853.25  8894.75  8825.75  510.00K    +0.06%

In [46]:
pk = pd.concat([pk1, pk2], axis=1)

In [47]:
pk.head()

,spx,open,high,low,volume,spx_cr,ixic_f,open,high,low,volume,ixic_f_cr
date,,,,,,,,,,,,
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,8776.38,8772.00,8783.62,8769.75,NaN,+0.28%
2020-01-02,3257.85,3244.67,3258.14,3235.53,NaN,+0.84%,8891.75,8776.75,8901.50,8769.50,416.64K,+1.31%
2020-01-03,3234.85,3226.36,3246.15,3222.34,NaN,-0.71%,8810.00,8895.50,8907.25,8735.25,599.89K,-0.92%
2020-01-06,3246.28,3217.55,3246.84,3214.64,NaN,+0.35%,8847.50,8772.25,8873.00,8723.00,469.51K,+0.43%
2020-01-07,3237.18,3241.86,3244.91,3232.43,NaN,-0.28%,8853.00,8853.25,8894.75,8825.75,510.00K,+0.06%

In [48]:
pk = pd.concat([pk, pk3], axis=1)

In [49]:
pk.head()

,spx,open,high,low,volume,spx_cr,ixic_f,open,high,low,volume,ixic_f_cr,time,fed_rate,fed_rate_fore,fed_rate_prev,none
date,,,,,,,,,,,,,,,,,
2018-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14:00:00,2.50%,2.50%,2.25%,NaN
2019-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14:00:00,2.50%,2.50%,2.50%,NaN
2019-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13:00:00,2.50%,2.50%,2.50%,NaN
2019-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13:00:00,2.50%,2.50%,2.50%,NaN
2019-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13:00:00,2.50%,2.50%,2.50%,NaN

In [50]:
pk.iloc[110:120]

,spx,open,high,low,volume,spx_cr,ixic_f,open,high,low,volume,ixic_f_cr,time,fed_rate,fed_rate_fore,fed_rate_prev,none
date,,,,,,,,,,,,,,,,,
2020-05-19,2922.94,2948.59,2964.21,2922.35,NaN,-1.05%,9300.75,9316.25,9417.25,9283.75,392.50K,-0.27%,NaN,NaN,NaN,NaN,NaN
2020-05-20,2971.61,2953.63,2980.29,2953.63,NaN,+1.67%,9485.50,9289.75,9498.00,9273.00,369.92K,+1.99%,NaN,NaN,NaN,NaN,NaN
2020-05-21,2948.51,2969.95,2978.50,2938.57,NaN,-0.78%,9355.75,9494.75,9510.75,9352.00,429.22K,-1.37%,NaN,NaN,NaN,NaN,NaN
2020-05-22,2955.45,2948.05,2956.76,2933.59,NaN,+0.24%,9406.25,9360.50,9422.50,9241.50,365.38K,+0.54%,NaN,NaN,NaN,NaN,NaN
2020-05-24,NaN,NaN,NaN,NaN,NaN,NaN,9456.12,9419.25,9462.62,9393.00,NaN,+0.53%,NaN,NaN,NaN,NaN,NaN
2020-05-25,NaN,NaN,NaN,NaN,NaN,NaN,9509.12,9457.25,9535.62,9416.88,NaN,+0.56%,NaN,NaN,NaN,NaN,NaN
2020-05-26,2991.77,3004.08,3021.72,2988.17,NaN,+1.23%,9406.50,9396.25,9604.00,9373.00,486.55K,-1.08%,NaN,NaN,NaN,NaN,NaN
2020-05-27,3036.13,3015.65,3036.25,2969.75,NaN,+1.48%,9432.50,9409.00,9508.00,9172.50,560.52K,+0.28%,NaN,NaN,NaN,NaN,NaN
2020-05-28,3029.73,3046.61,3068.67,3023.40,NaN,-0.21%,9460.25,9436.50,9565.50,9320.50,510.62K,+0.29%,NaN,NaN,NaN,NaN,NaN
2020-05-29,3044.31,3025.17,3049.17,2998.61,NaN,+0.48%,9560.25,9453.50,9590.50,9372.00,529.70K,+1.06%,NaN,NaN,NaN,NaN,NaN

In [ ]:
def update_pickle(df, pkl_name):
    df_o = read_pickle(pkl_name)
    df_o = concat_df(df_o, df)
    
    make_pickle(df_o, pkl_name)

In [ ]:
def concat_df(df_o, df):
    df_o = pd.concat([df_o, df], ignore_index=True)
#     df_o.drop_duplicates(subset=['date'], keep='last', inplace=True)
    df_o.drop_duplicates(subset=['date'], keep='first', inplace=True)
    df_o.sort_values(by=[df_o.columns[0]], inplace=True)
    df_o.index = np.arange(0, len(df_o))  # 일련 번호 오름차순으로 재 설정
    return df_o

In [ ]:
def make_pickle(df, pkl_name):
    pkl_directory = 'data/pkl/'
    try:
        if not os.path.exists(pkl_directory):
            os.makedirs(pkl_directory)
    except OSError:
        print("Error: Failed to create the directory.")

    # 데이터 저장: ../data/spx.pkl
    df.to_pickle(pkl_directory+pkl_name)