In [1]:
from selenium import webdriver as wd
from bs4 import BeautifulSoup as bs
import requests
import datetime, time
from datetime import date

import pandas as pd
import re
import os, sys

In [ ]:
# !pip install chromedriver_autoinstaller

import chromedriver_autoinstaller

driver_name = chromedriver_autoinstaller.install()  # Check if the current version of chromedriver exists
                                      # and if it doesn't exist, download it automatically,
                                      # then add chromedriver to path
time.sleep(1)

driver = wd.Chrome(driver_name)

In [ ]:
# driver.set_window_position(-10000,0) # hide windows
main_url = 'https://kr.investing.com/'
driver.get(main_url)
time.sleep(1)

In [ ]:
driver.find_element_by_css_selector('#userAccount > div > a.login.bold').click() 
time.sleep(1)

In [ ]:
driver.find_element_by_id('loginForm_password').clear()
driver.find_element_by_id('loginFormUser_email').send_keys('kangeun@naver.com')
time.sleep(1)

In [ ]:
driver.find_element_by_id('loginForm_password').clear()
driver.find_element_by_id('loginForm_password').send_keys(os.environ['investing_pass'])
time.sleep(1)

In [ ]:
driver.find_element_by_css_selector('#signup > a.newButton.orange').click()  
time.sleep(2)

In [ ]:
cpi_url = 'https://kr.investing.com/economic-calendar/cpi-733'

In [ ]:
driver.get(cpi_url)

In [ ]:
for _ in range(3):
    driver.find_element_by_id('showMoreHistory733').click()

In [ ]:
df = pd.read_html(driver.page_source)[0] # cpi dataframe

In [ ]:
df.columns=  ['annouce_date', 'time', 'real_rate', 'anticipated_rate', 'prev_rate', 'none']

In [ ]:
for i, date in enumerate(df['annouce_date']):
    y_m_d = re.findall(r'\d+', date)
    time = datetime.date(int(y_m_d[0]), int(y_m_d[1]), int(y_m_d[2]))
    df.loc[i,'annouce_date'] = time

In [ ]:
for i, date in enumerate(df['time']):
    time = datetime.time(int(date.split(':')[0]), int(date.split(':')[1]))
    df.loc[i,'time'] = time

In [ ]:
df

In [ ]:
df.to_csv('data/cpi_index_20220610.csv')

In [ ]:
real_time_future_url = 'https://kr.investing.com/indices/indices-futures'

In [ ]:
driver.get(real_time_future_url)

In [ ]:
'''
driver.find_element_by_css_selector('#widgetFieldDateRange').click()

driver.find_element_by_id('startDate').clear()
driver.find_element_by_id('startDate').send_keys('2022/04/20')

driver.find_element_by_id('endDate').clear()
driver.find_element_by_id('endDate').send_keys('2022/05/19')

driver.find_element_by_css_selector('#applyBtn').click()

data_download_sec = '#column-content > div.float_lang_base_2.downloadDataWrap > div > a'
driver.find_element_by_css_selector(data_download_sec).click()
'''

In [ ]:
dji_url = 'https://kr.investing.com/indices/us-30-historical-data'
nas_url = 'https://kr.investing.com/indices/nasdaq-composite-historical-data'
spx_url = 'https://kr.investing.com/indices/us-spx-500-historical-data'
kospi_url = 'https://kr.investing.com/indices/kospi-historical-data'
kosdaq_url = 'https://kr.investing.com/indices/kosdaq-historical-data'
wti_url = 'https://kr.investing.com/commodities/crude-oil-historical-data'
urls = [dji_url, nas_url, spx_url, kospi_url, kosdaq_url, wti_url]

In [ ]:
# 검색하고자 하는 일정 기간 정의
start_date = ['2021/12/01', '2022/02/01', '2022/04/01']
end_date = ['2022/01/31', '2022/03/31', '2022/05/31']

In [ ]:
for url in urls:
    driver.get(url)
    time.sleep(1)
    get_index_historical_data(start_date, end_date)

In [ ]:
import re

In [ ]:
real_time_future_url = 'https://kr.investing.com/indices/indices-futures'
cpi_url = 'https://kr.investing.com/economic-calendar/cpi-733'
url_list = [ real_time_future_url, cpi_url]

In [ ]:
url_list

In [ ]:
url1 = url_list[0]
res = requests.get(url1)
soup = bs(res.text, 'html.parser')

In [ ]:
url1 = 'https://kr.investing.com/commodities/crude-oil-historical-data'
res = requests.get(url1)
soup = bs(res.text, 'html.parser')
wti = soup.select('#results_box tr')

wti_date_value = {}
for i, tr in enumerate(wti):
    if (i == 0) | (i == len(wti)-1) : continue
    tr_value = tr.select('td')
    wti_date_value[tr_value[0].text] = tr_value[1].text

In [ ]:
from datetime import date
import re
# date_list = []
# for i, (date1, val) in enumerate(wti_date_value.items()):
#     y_m_d = re.findall(r'\d+', date1)
#     time = datetime.date(int(y_m_d[0]), int(y_m_d[1]), int(y_m_d[2]))
#     date_list.append(time)
    
data_dict = {}
date_list = []
wti_list = []
for i, (date1, val) in enumerate(wti_date_value.items()):
    y_m_d = re.findall(r'\d+', date1)
    time = datetime.date(int(y_m_d[0]), int(y_m_d[1]), int(y_m_d[2]))
    date_list.append(time)
    wti_list.append(val)

data_dict['date'] = date_list
data_dict['wti'] = wti_list

df_wti = pd.DataFrame(data_dict) 
df_wti.tail()

In [ ]:
date_list

In [ ]:
nas_url = 'https://www.investing.com/indices/nasdaq-composite-chart'
res = requests.get(nas_url)
soup = bs(res.text, 'html.parser')
nas = soup.select('#last_last')[0].text
nas = float(nas.replace(",", ""))
nas

In [ ]:
dow_url = 'https://www.investing.com/indices/us-30'
res = requests.get(dow_url)
soup = bs(res.text, 'html.parser')
select_path = '#__next > div.desktop\:relative.desktop\:bg-background-default > div > div > div.grid.gap-4.tablet\:gap-6.grid-cols-4.tablet\:grid-cols-8.desktop\:grid-cols-12.grid-container--fixed-desktop.general-layout_main__3tg3t > main > div > div.instrument-header_instrument-header__1SRl8.mb-5.bg-background-surface.tablet\:grid.tablet\:grid-cols-2 > div:nth-child(2) > div.instrument-price_instrument-price__3uw25.flex.items-end.flex-wrap.font-bold > span'
dow = soup.select('span.text-2xl')[0].text
dow = float(dow.replace(",", ""))
dow

In [ ]:
snp_url = 'https://www.investing.com/indices/us-spx-500'
res = requests.get(snp_url)
soup = bs(res.text, 'html.parser')
snp = soup.select('span.text-2xl')[0].text
snp = float(snp.replace(",", ""))
snp

삼성전자 투자자별

In [ ]:
path = 'body > table:nth-child(4) > tbody > tr > td > p:nth-child(6) > table > tbody > tr:nth-child(3) > td:nth-child(2)'

In [2]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'
res = requests.get(ss_url)
soup = bs(res.text, 'html.parser')
tables = soup.select('table')

In [3]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930')

In [26]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005930')
len(df)

8

In [31]:
df[7]

,0,1,2,3,4,5,6,7,8,9,10
0,날짜,개인,외국인계,기관,기관,기관,기관,기관,기관,기관,기타
1,날짜,개인,외국인계,기관계,증권,투신,은행,종금,보험,기금,기타
2,2022/06/20,2122832,-4421258,2247165,2348239,-29504,3399,26299,-5224,-61619,38068
3,2022/06/17,6494723,-7355651,612667,1764379,-453608,54668,24249,-114845,-473784,209737
4,2022/06/16,685287,-552199,-223863,209601,14150,-29652,-48134,-14528,-346840,71295
5,2022/06/15,3730369,-4324395,526298,617784,-86095,2575,14655,-43153,-621588,61968
6,2022/06/14,588203,-1154038,390583,623213,71902,-50463,3000,-69691,-161545,158836
7,2022/06/13,3222323,-2813392,-511162,234735,-50997,-71790,4787,-210523,-130427,79304
8,2022/06/10,10428214,-9306686,-1133682,-925727,-256036,-11803,9920,29089,135388,-31101
9,2022/06/09,5858885,-6429047,448925,3507497,-986680,-17311,-467,-366707,-1467577,97635
10,2022/06/08,3436553,-3078301,-394294,31747,9813,-4963,1990,-65465,-262228,26328
11,2022/06/07,7873193,-4145083,-3831242,-2754730,-164776,39244,-1600,29356,-799106,79348
12,2022/06/03,-354907,-482688,855933,830383,-6137,977,2198,-57138,77900,-7021
13,2022/06/02,3617723,-563250,-3211366,-2794206,-121221,5126,-2689,-18287,-151544,141287
14,2022/05/31,2009351,1410395,-3504193,-2436183,-336502,1734,-3144,-76249,-388177,62380
15,2022/05/30,-2790604,1589435,1227540,1514907,99413,-10095,2826,-12091,-358826,3658
16,2022/05/27,-738811,-1523239,2272499,2161109,-40089,-1209,-2649,15719,110706,-16453
17,2022/05/26,3158014,-1244984,-1975909,-273740,-243295,7098,-462,-39649,-1279212,47451
18,2022/05/25,1367749,-2261361,883770,2076112,-56363,2000,-658,16478,-584730,6815
19,2022/05/24,3997412,-2402526,-1564764,-663564,-94479,9102,19002,-10280,-460907,-47068
20,2022/05/23,344533,-302930,-2489,1229066,-215357,-10902,17300,261,-261095,-45604
21,2022/05/20,-1007692,-1456744,2468619,2867562,51041,7300,-52655,-95986,8931,-8685
22,2022/05/19,1398156,14309,-1402888,-1534167,68083,11862,-22620,19741,131941,-6110
23,2022/05/18,-537095,1656817,-1138543,-1348534,285679,15114,-24539,17905,-169419,20708
24,2022/05/17,-3439268,180057,3262345,2212065,516282,-171,-17075,521,132017,22566
25,2022/05/16,304771,-98326,-285577,-712617,27185,3084,-52891,-56683,211184,70856
26,2022/05/13,-2470541,-1242156,3692002,2736462,117487,-4445,-28309,-63543,537948,24680
27,2022/05/12,2804774,-1824087,-1126520,-618719,-59620,11997,-23510,10317,-368414,128114
28,2022/05/11,1149197,-270031,-972900,-923569,109866,161,-6880,-26177,-109618,84020
29,2022/05/10,1932988,-2043787,107882,209913,-14474,-853,-57792,-30494,20421,2076
30,2022/05/09,1303916,-1014061,-333851,351379,222203,-14081,-4100,-66909,-814441,32845
31,2022/05/06,5081286,-4188980,-1022344,-775864,-57298,-14351,0,-49629,74066,92161
32,2022/05/04,549222,-306543,-262439,180944,21553,-20505,-45257,-1568,-463148,13825
33,2022/05/03,-383821,524651,-149467,-816823,369590,-2389,1903,34598,-181890,1723
34,2022/05/02,1170327,-831919,-377930,-456451,293471,-1486,-95394,-75493,-120934,45651
35,2022/04/29,-4267626,1523108,3071613,832719,696221,12473,2150,192733,705483,-327885
36,2022/04/28,4050337,-3783774,-430481,-358433,2582,-1166,2,-21117,-22132,148952
37,2022/04/27,6266748,-5192156,-1216735,-510098,-198731,-5188,-1630,-25127,-360177,128374
38,2022/04/26,3529697,-4535816,842180,671657,24186,1908,4200,-89042,243434,157480
39,2022/04/25,4419019,-3001889,-1531424,-905338,-65314,2096,-2988,642,-456107,99077
40,2022/04/22,3128990,-449462,-2734495,-2511703,-18784,3021,-1543,-87,-124675,49034
41,2022/04/21,-1173792,-712326,1997294,2004393,-165891,-13986,5841,-28998,197025,-103992
42,2022/04/20,3166949,-1934989,-1281505,-1201366,55256,4472,9929,72689,-103451,39039

In [ ]:
# 현대차 005830, 네이버 035420, KT&G 033780,

In [40]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005930')
df[7].to_csv('data/samsung_invester_from-420.csv')

In [41]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005830')
df[7].to_csv('data/hyuncar_invester_from-420.csv')

In [42]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=035420')
df[7].to_csv('data/naver_invester_from-420.csv')

In [43]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=033780')
df[7].to_csv('data/ktng_invester_from-420.csv')

In [61]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page=1')
df1 = df[10]

In [62]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page=2')
df1 = df1.append(df[10])

In [63]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page=3')
df1 = df1.append(df[10])

In [64]:
df1

             시간    현재가       등락  등락률(%)      체결량       거래량
0   06/20 15:50  58700  ▼ 1,100   -1.84     6340  33882616
1   06/20 15:40  58700  ▼ 1,100   -1.84    31386  33876276
2   06/20 15:30  58700  ▼ 1,100   -1.84   737827  33844890
3   06/20 15:10  58700  ▼ 1,100   -1.84   608550  33107063
4   06/20 15:00  58500  ▼ 1,300   -2.17  1193691  32498513
5   06/20 14:50  58400  ▼ 1,400   -2.34   750173  31304822
6   06/20 14:40  58300  ▼ 1,500   -2.51   406133  30554649
7   06/20 14:30  58200  ▼ 1,600   -2.68   660258  30148516
8   06/20 14:20  58200  ▼ 1,600   -2.68   503835  29488258
9   06/20 14:10  58200  ▼ 1,600   -2.68   419541  28984423
10  06/20 14:00  58300  ▼ 1,500   -2.51   540185  28564882
11  06/20 13:50  58100  ▼ 1,700   -2.84   288311  28024697
12  06/20 13:40  58100  ▼ 1,700   -2.84   160924  27736386
13  06/20 13:30  58200  ▼ 1,600   -2.68   409930  27575462
14  06/20 13:20  58200  ▼ 1,600   -2.68   774893  27165532
15  06/20 13:10  58200  ▼ 1,600   -2.68   340668  26390639
16  06/20 13:00  58300  ▼ 1,500   -2.51   737711  26049971
17  06/20 12:50  58300  ▼ 1,500   -2.51   540193  25312260
18  06/20 12:40  58300  ▼ 1,500   -2.51   239175  24772067
19  06/20 12:30  58500  ▼ 1,300   -2.17   693872  24532892
0   06/20 13:20  58200  ▼ 1,600   -2.68   774893  27165532
1   06/20 13:10  58200  ▼ 1,600   -2.68   340668  26390639
2   06/20 13:00  58300  ▼ 1,500   -2.51   737711  26049971
3   06/20 12:50  58300  ▼ 1,500   -2.51   540193  25312260
4   06/20 12:40  58300  ▼ 1,500   -2.51   239175  24772067
5   06/20 12:30  58500  ▼ 1,300   -2.17   693872  24532892
6   06/20 12:20  58300  ▼ 1,500   -2.51    97566  23839020
7   06/20 12:10  58200  ▼ 1,600   -2.68   265139  23741454
8   06/20 12:00  58400  ▼ 1,400   -2.34    89328  23476315
9   06/20 11:50  58300  ▼ 1,500   -2.51   464343  23386987
10  06/20 11:40  58300  ▼ 1,500   -2.51   509699  22922644
11  06/20 11:30  58200  ▼ 1,600   -2.68   578582  22412945
12  06/20 11:20  58200  ▼ 1,600   -2.68  1172837  21834363
13  06/20 11:10  58400  ▼ 1,400   -2.34   130007  20661526
14  06/20 11:00  58400  ▼ 1,400   -2.34   685869  20531519
15  06/20 10:50  58200  ▼ 1,600   -2.68   558057  19845650
16  06/20 10:40  58300  ▼ 1,500   -2.51   881677  19287593
17  06/20 10:30  58300  ▼ 1,500   -2.51   541082  18405916
18  06/20 10:20  58400  ▼ 1,400   -2.34   547902  17864834
19  06/20 10:10  58300  ▼ 1,500   -2.51  1058554  17316932
0   06/20 10:00  58400  ▼ 1,400   -2.34  2299470  16258378
1   06/20 09:50  58500  ▼ 1,300   -2.17  2232890  13958908
2   06/20 09:40  58700  ▼ 1,100   -1.84   932335  11726018
3   06/20 09:30  58800  ▼ 1,000   -1.67   976977  10793683
4   06/20 09:20  58700  ▼ 1,100   -1.84  1801707   9816706
5   06/20 09:10  58800  ▼ 1,000   -1.67  2681823   8014999
6   06/20 09:00  58900    ▼ 900   -1.51  5329376   5333176
7   06/20 08:30  59800        0    0.00     3800      3800

In [78]:
for i in range(3):
    print(i)
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page='+str1
    print(url)
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

0
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page=1
1
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page=2
2
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page=3

In [80]:
df1.to_csv('data/samsung_10min_price_from-420.csv')

In [81]:
for i in range(3):
    print(i)
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005830&p_page='+str1
    print(url)
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

0
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005830&p_page=1
1
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005830&p_page=2
2
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005830&p_page=3

In [83]:
df1.to_csv('data/hyuncar_10min_price_from-420.csv')

In [84]:
for i in range(3):
    print(i)
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=035420&p_page='+str1
    print(url)
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

0
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=035420&p_page=1
1
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=035420&p_page=2
2
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=035420&p_page=3

In [85]:
df1.to_csv('data/naver_10min_price_from-420.csv')

In [86]:
for i in range(3):
    print(i)
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=033780&p_page='+str1
    print(url)
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

0
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=033780&p_page=1
1
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=033780&p_page=2
2
https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=033780&p_page=3

In [87]:
df1.to_csv('data/ktng_10min_price_from-420.csv')

In [88]:
df1

             시간    현재가       등락  등락률(%)    체결량     거래량
0   06/20 15:50  82500    ▼ 900   -1.08     31  246682
1   06/20 15:40  82500    ▼ 900   -1.08     45  246651
2   06/20 15:30  82500    ▼ 900   -1.08   8234  246606
3   06/20 15:10  82500    ▼ 900   -1.08   7609  238372
4   06/20 15:00  82400  ▼ 1,000   -1.20   6358  230763
5   06/20 14:50  82400  ▼ 1,000   -1.20   7473  224405
6   06/20 14:40  82200  ▼ 1,200   -1.44   5089  216932
7   06/20 14:30  82500    ▼ 900   -1.08  13810  211843
8   06/20 14:20  82200  ▼ 1,200   -1.44   5655  198033
9   06/20 14:10  82300  ▼ 1,100   -1.32   6188  192378
10  06/20 14:00  82400  ▼ 1,000   -1.20   7204  186190
11  06/20 13:50  82400  ▼ 1,000   -1.20   3516  178986
12  06/20 13:40  82400  ▼ 1,000   -1.20   3706  175470
13  06/20 13:30  82500    ▼ 900   -1.08   3496  171764
14  06/20 13:20  82400  ▼ 1,000   -1.20   5518  168268
15  06/20 13:10  82400  ▼ 1,000   -1.20   4022  162750
16  06/20 13:00  82600    ▼ 800   -0.96   1830  158728
17  06/20 12:50  82600    ▼ 800   -0.96   5055  156898
18  06/20 12:40  82600    ▼ 800   -0.96   4378  151843
19  06/20 12:30  82700    ▼ 700   -0.84   2352  147465
0   06/20 13:20  82400  ▼ 1,000   -1.20   5518  168268
1   06/20 13:10  82400  ▼ 1,000   -1.20   4022  162750
2   06/20 13:00  82600    ▼ 800   -0.96   1830  158728
3   06/20 12:50  82600    ▼ 800   -0.96   5055  156898
4   06/20 12:40  82600    ▼ 800   -0.96   4378  151843
5   06/20 12:30  82700    ▼ 700   -0.84   2352  147465
6   06/20 12:20  82600    ▼ 800   -0.96   6874  145113
7   06/20 12:10  82500    ▼ 900   -1.08   1914  138239
8   06/20 12:00  82600    ▼ 800   -0.96   5208  136325
9   06/20 11:50  82500    ▼ 900   -1.08   1895  131117
10  06/20 11:40  82500    ▼ 900   -1.08   4937  129222
11  06/20 11:30  82600    ▼ 800   -0.96   2837  124285
12  06/20 11:20  82400  ▼ 1,000   -1.20   3553  121448
13  06/20 11:10  82500    ▼ 900   -1.08   4849  117895
14  06/20 11:00  82600    ▼ 800   -0.96   9500  113046
15  06/20 10:50  82200  ▼ 1,200   -1.44   4303  103546
16  06/20 10:40  82300  ▼ 1,100   -1.32   4856   99243
17  06/20 10:30  82600    ▼ 800   -0.96   3414   94387
18  06/20 10:20  82700    ▼ 700   -0.84  16478   90973
19  06/20 10:10  82700    ▼ 700   -0.84   6200   74495
0   06/20 10:00  82800    ▼ 600   -0.72   5582   68295
1   06/20 09:50  82900    ▼ 500   -0.60  19728   62713
2   06/20 09:40  82900    ▼ 500   -0.60   3056   42985
3   06/20 09:30  83100    ▼ 300   -0.36   5623   39929
4   06/20 09:20  83100    ▼ 300   -0.36   7833   34306
5   06/20 09:10  83300    ▼ 100   -0.12   6377   26473
6   06/20 09:00  83200    ▼ 200   -0.24  20096   20096

In [ ]:
df1.to_csv('data/samsung_10min_price_from-420.csv')

In [65]:
str1 = str(0+1)
str1

'1'

In [48]:
for i in range(df):
    i

TypeError: 'list' object cannot be interpreted as an integer

In [60]:
df1

             시간    현재가       등락  등락률(%)      체결량       거래량
0   06/20 15:50  58700  ▼ 1,100   -1.84     6340  33882616
1   06/20 15:40  58700  ▼ 1,100   -1.84    31386  33876276
2   06/20 15:30  58700  ▼ 1,100   -1.84   737827  33844890
3   06/20 15:10  58700  ▼ 1,100   -1.84   608550  33107063
4   06/20 15:00  58500  ▼ 1,300   -2.17  1193691  32498513
5   06/20 14:50  58400  ▼ 1,400   -2.34   750173  31304822
6   06/20 14:40  58300  ▼ 1,500   -2.51   406133  30554649
7   06/20 14:30  58200  ▼ 1,600   -2.68   660258  30148516
8   06/20 14:20  58200  ▼ 1,600   -2.68   503835  29488258
9   06/20 14:10  58200  ▼ 1,600   -2.68   419541  28984423
10  06/20 14:00  58300  ▼ 1,500   -2.51   540185  28564882
11  06/20 13:50  58100  ▼ 1,700   -2.84   288311  28024697
12  06/20 13:40  58100  ▼ 1,700   -2.84   160924  27736386
13  06/20 13:30  58200  ▼ 1,600   -2.68   409930  27575462
14  06/20 13:20  58200  ▼ 1,600   -2.68   774893  27165532
15  06/20 13:10  58200  ▼ 1,600   -2.68   340668  26390639
16  06/20 13:00  58300  ▼ 1,500   -2.51   737711  26049971
17  06/20 12:50  58300  ▼ 1,500   -2.51   540193  25312260
18  06/20 12:40  58300  ▼ 1,500   -2.51   239175  24772067
19  06/20 12:30  58500  ▼ 1,300   -2.17   693872  24532892

In [57]:
for i in range(len(df)):
    print(i, df[i])

0                                                   시간      현재가  \
                                                 종목명      현재가
0                                                코스피  2391.03
1                                                코스닥   769.92
2  삼성전자(005930)  코스피 200전기,전자  액면가 100원  06.20 15...      NaN

                                                  등락  등락률(%)  \
                                                 전일비     등락률
0                                             ▼ 49.9  -2.04%
1                                            ▼ 28.77  -3.60%
2  ID찾기 │ 회원가입 │ 서비스신청 아이디저장  06.20 15:59 실시간신청  ...     NaN

                 체결량                거래량
  Unnamed: 4_level_1 Unnamed: 5_level_1
0                NaN                NaN
1                NaN                NaN
2                NaN                NaN
1                                       0  \
0  삼성전자(005930)  코스피 200전기,전자  액면가 100원
1  삼성전자(005930)  코스피 200전기,전자  액면가 100원

                                                   1
0                                        06.20 15:59
1  58,700 (59,800)  [시가/고가/저가] 59,800 / 59,900 / ...
2                         0
0            삼성전자(005930)
1  코스피 200전기,전자  액면가 100원
3     0            1
0 NaN  06.20 15:59
4                                                    0  \
0                                                NaN
1                                    58,700 (59,800)
2  전일비/등락률  ▼ 1,100 (-1.84%)  매도호가/호가잔량  58,800 /...

                                                   1  \
0                                                NaN
1                                                NaN
2  전일비/등락률  ▼ 1,100 (-1.84%)  매도호가/호가잔량  58,800 /...

                                                   2
0                                                NaN
1                [시가/고가/저가] 59,800 / 59,900 / 58,100
2  전일비/등락률  ▼ 1,100 (-1.84%)  매도호가/호가잔량  58,800 /...
5     0   1   2
0 NaN NaN NaN
6     0   1   2
0 NaN NaN NaN
7              0                        1          2                    3
0      전일비/등락률         ▼ 1,100 (-1.84%)  매도호가/호가잔량     58,800 / 104,451
1  거래량/전일동시간대비  33,882,616 /▲ 5,088,352  매수호가/호가잔량      58,700 / 72,988
2      상한가/하한가          77,700 / 41,900  총매도/총매수잔량  680,322 / 1,900,474
3          NaN                      NaN        NaN                  NaN
8                     0   1                         2   3            4   5   \
0  호가및체결가  거래원동향  종목속보 NaN  시간대별시세  투자자별매매동향  증권사리포트 NaN  일자별시세  기업정보 NaN
1                  NaN NaN                       NaN NaN          NaN NaN
2                  NaN NaN                       NaN NaN          NaN NaN

           6   7           8   9                10  11
0  지표추이  재무제표 NaN  차트  시간외단일가 NaN  외국인지분율  공시/전자공시 NaN
1         NaN NaN         NaN NaN              NaN NaN
2         NaN NaN         NaN NaN              NaN NaN
9     0             1
0 NaN  10분단위 / 1분단위
10              시간    현재가       등락  등락률(%)      체결량       거래량
0   06/20 15:50  58700  ▼ 1,100   -1.84     6340  33882616
1   06/20 15:40  58700  ▼ 1,100   -1.84    31386  33876276
2   06/20 15:30  58700  ▼ 1,100   -1.84   737827  33844890
3   06/20 15:10  58700  ▼ 1,100   -1.84   608550  33107063
4   06/20 15:00  58500  ▼ 1,300   -2.17  1193691  32498513
5   06/20 14:50  58400  ▼ 1,400   -2.34   750173  31304822
6   06/20 14:40  58300  ▼ 1,500   -2.51   406133  30554649
7   06/20 14:30  58200  ▼ 1,600   -2.68   660258  30148516
8   06/20 14:20  58200  ▼ 1,600   -2.68   503835  29488258
9   06/20 14:10  58200  ▼ 1,600   -2.68   419541  28984423
10  06/20 14:00  58300  ▼ 1,500   -2.51   540185  28564882
11  06/20 13:50  58100  ▼ 1,700   -2.84   288311  28024697
12  06/20 13:40  58100  ▼ 1,700   -2.84   160924  27736386
13  06/20 13:30  58200  ▼ 1,600   -2.68   409930  27575462
14  06/20 13:20  58200  ▼ 1,600   -2.68   774893  27165532
15  06/20 13:10  58200  ▼ 1,600   -2.68   340668  26390639
16  06/20 13:00  58300  ▼ 1,500   -2.51   737711  26049971
17  06/20 12:50  58300  ▼ 1,500   -2.51   540193  25312260
18  06/20 12:40  58300  ▼ 1,500   -2.51   239175  24772067
19  06/20 12:30  58500  ▼ 1,300   -2.17   693872  24532892
11     0   1   2
0 NaN NaN NaN
1 NaN NaN NaN
2 NaN NaN NaN
3 NaN NaN NaN
12                                                  종목명      현재가      전일비     등락률
0                                                코스피  2391.03   ▼ 49.9  -2.04%
1                                                코스닥   769.92  ▼ 28.77  -3.60%
2                                                NaN      NaN      NaN     NaN
3                                                NaN      NaN      NaN     NaN
4  06.20 15:59 실시간신청  최근조회삭제  종목명  현재가  전일비  등락률 ...      NaN      NaN     NaN
13                            0
0  06.20 15:59 실시간신청  최근조회삭제
14     0                          1   2
0 NaN  06.20 15:59 실시간신청  최근조회삭제 NaN
15    종목명      현재가      전일비     등락률
0  코스피  2391.03   ▼ 49.9  -2.04%
1  코스닥   769.92  ▼ 28.77  -3.60%
16     0   1
0 NaN NaN
17           0   1
0  핫이슈 선정기준 NaN
1       NaN NaN
18                                                    0
0  (주)매경닷컴 매경증권센터의 모든 내용은 정보를 제공하기 위한 것이며, 투자권유 또...

In [ ]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930', header=0)[0]
df.head()

In [ ]:
tables[0]

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'
res = requests.get(ss_url)
soup = bs(res.text, 'html.parser')
tables = soup.select('tbody')

# 현재 페이지에서 table 태그 모두 선택하기
# tables = soup.select('table')

# 하나의 테이블 태그 선택하기
table = tables[0]

In [ ]:
tables[0]

In [ ]:


# 테이블 html 정보를 문자열로 변경하기
table_html = str(table)

# 판다스의 read_html 로 테이블 정보 읽기
table_df_list = pd.read_html(table_html, header=0, encoding='utf-8')

# 데이터프레임 선택하기
table_df = table_df_list[0]

In [ ]:
table_df.head()

In [ ]:
df = pd.read_html('<table>' + str(table) + '</table>', encoding='euc-kr')[0]

In [ ]:
df.head()

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'
res = requests.get(ss_url)
soup = bs(res.text, 'html.parser')
tables = soup.select('tbody')

# 현재 페이지에서 table 태그 모두 선택하기
# tables = soup.select('table')

# 하나의 테이블 태그 선택하기
table = tables[0]

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'

In [ ]:
res = requests.get(ss_url)

In [ ]:
print(res.encoding)

In [ ]:
res.raise_for_status()

In [ ]:
res.encoding = 'euc-kr'

In [ ]:
res.text

In [ ]:
soup = bs(res.text, 'html.parser')

In [ ]:
print(soup.prettify())

In [ ]:
tables = soup.select('table.content1')

# 현재 페이지에서 table 태그 모두 선택하기
# tables = soup.select('table')

In [ ]:
tables

In [ ]:
# 하나의 테이블 태그 선택하기
table = tables[0]

In [ ]:
df = pd.read_html('<table>' + str(table) + '</table>')
# df = pd.read_html(str(table))

In [ ]:
df

In [ ]:
from urllib.parse import urlparse
from urllib.parse import parse_qs

In [ ]:
url = 'https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005930'

In [ ]:
parsed_url = urlparse(url)

In [ ]:
captured_value = parse_qs(parsed_url.query)['code'][0]

In [ ]:
print(captured_value)

In [ ]:
payload = {"code":"005380"}
page = requests.get("https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?", params=payload).text

print(page)

In [ ]:
driver.quit()
driver.close()