In [1]:
import requests
from bs4 import BeautifulSoup as bs

import pandas as pd

import datetime
from datetime import date

In [2]:
data_url = 'https://raw.githubusercontent.com/fasthill/factors_affecting_stock_price/main/data/data.csv'
df = pd.read_csv(data_url)
df.head()

,date,ixic,ixic_cr,ixic_f,ixic_f_cr,dji,dji_cr,dji_f,dji_f_cr,spx_cr,...,fu_date,op_date,open,high,high_time,low,low_time,close,vol,vol_cr
0,NaN,1,2,3,4,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.drop([0], inplace=True) # inplace가 없으면 전체 index를 삭제할 수 없음.
df.head()

Empty DataFrame
Columns: [date, ixic, ixic_cr, ixic_f, ixic_f_cr, dji, dji_cr, dji_f, dji_f_cr, spx_cr, spx_cr.1, spx_f, spx_f_cr, kospi, kospi_cr, kosdaq, kosdaq_cr, wti, dxy, krw, 10_bond, 2_bond, 3_m_bond, vix, vix_cr, f_g_index, sox, pp, pp_cr, pp_con_num, fp, fp_cr, fp_con_num, itp, itp_cr, itp_con_num, penp, penp_cr, penp_con_num, pep, pep_cr, pep_con_num, gold, gold_cr, rc1_pcr, rc2_pcr, rc3_pcr, rc4_pcr, fed_rate, fed_rate_ann, fed_rate-imp, bok_rate, bok_rate_ann, bok_rate-imp, fu_date, op_date, open, high, high_time, low, low_time, close, vol, vol_cr]
Index: []

[0 rows x 64 columns]

In [4]:
url1 = 'https://kr.investing.com/commodities/crude-oil-historical-data'
res = requests.get(url1)
soup = bs(res.text, 'html.parser')
wti = soup.select('#results_box tr')

wti_date_value = {}
for i, tr in enumerate(wti):
    if (i == 0) | (i == len(wti)-1) : continue
    tr_value = tr.select('td')
    wti_date_value[tr_value[0].text] = tr_value[1].text

In [7]:
from datetime import date
date_list = []
for i, (date, val) in enumerate(wti_date_value.items()):
    date_split = date.split()
    yr = date_split[0]
    mon = date_split[1]
    day = date_split[2]
    yr = int(yr[:-1])
    mon = int(mon[:-1])
    day = int(day[:-1])
    time = datetime.date(yr,mon,day)
    date_list.append(time)

In [6]:
date_list

[datetime.date(2022, 6, 14),
 datetime.date(2022, 6, 13),
 datetime.date(2022, 6, 12),
 datetime.date(2022, 6, 10),
 datetime.date(2022, 6, 9),
 datetime.date(2022, 6, 8),
 datetime.date(2022, 6, 7),
 datetime.date(2022, 6, 6),
 datetime.date(2022, 6, 3),
 datetime.date(2022, 6, 2),
 datetime.date(2022, 6, 1),
 datetime.date(2022, 5, 31),
 datetime.date(2022, 5, 30),
 datetime.date(2022, 5, 29),
 datetime.date(2022, 5, 27),
 datetime.date(2022, 5, 26),
 datetime.date(2022, 5, 25),
 datetime.date(2022, 5, 24),
 datetime.date(2022, 5, 23),
 datetime.date(2022, 5, 20),
 datetime.date(2022, 5, 19),
 datetime.date(2022, 5, 18),
 datetime.date(2022, 5, 17),
 datetime.date(2022, 5, 16)]

In [ ]:
nas_url = 'https://www.investing.com/indices/nasdaq-composite-chart'
res = requests.get(nas_url)
soup = bs(res.text, 'html.parser')
nas = soup.select('#last_last')[0].text
nas = float(nas.replace(",", ""))
nas

In [ ]:
dow_url = 'https://www.investing.com/indices/us-30'
res = requests.get(dow_url)
soup = bs(res.text, 'html.parser')
select_path = '#__next > div.desktop\:relative.desktop\:bg-background-default > div > div > div.grid.gap-4.tablet\:gap-6.grid-cols-4.tablet\:grid-cols-8.desktop\:grid-cols-12.grid-container--fixed-desktop.general-layout_main__3tg3t > main > div > div.instrument-header_instrument-header__1SRl8.mb-5.bg-background-surface.tablet\:grid.tablet\:grid-cols-2 > div:nth-child(2) > div.instrument-price_instrument-price__3uw25.flex.items-end.flex-wrap.font-bold > span'
dow = soup.select('span.text-2xl')[0].text
dow = float(dow.replace(",", ""))
dow

In [ ]:
snp_url = 'https://www.investing.com/indices/us-spx-500'
res = requests.get(snp_url)
soup = bs(res.text, 'html.parser')
snp = soup.select('span.text-2xl')[0].text
snp = float(snp.replace(",", ""))
snp

삼성전자 투자자별

In [ ]:
path = 'body > table:nth-child(4) > tbody > tr > td > p:nth-child(6) > table > tbody > tr:nth-child(3) > td:nth-child(2)'

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'
res = requests.get(ss_url)
soup = bs(res.text, 'html.parser')
tables = soup.select('table')

In [ ]:
body > table:nth-child(4) > tbody > tr > td > p:nth-child(6) > table > tbody > tr:nth-child(4) > td:nth-child(1) > font

In [ ]:
res.text

In [ ]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930', header=0)[0]
df.head()

In [ ]:
tables[0]

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'
res = requests.get(ss_url)
soup = bs(res.text, 'html.parser')
tables = soup.select('tbody')

# 현재 페이지에서 table 태그 모두 선택하기
# tables = soup.select('table')

# 하나의 테이블 태그 선택하기
table = tables[0]

In [ ]:
tables[0]

In [ ]:


# 테이블 html 정보를 문자열로 변경하기
table_html = str(table)

# 판다스의 read_html 로 테이블 정보 읽기
table_df_list = pd.read_html(table_html, header=0, encoding='utf-8')

# 데이터프레임 선택하기
table_df = table_df_list[0]

In [ ]:
table_df.head()

In [ ]:
df = pd.read_html('<table>' + str(table) + '</table>', encoding='euc-kr')[0]

In [ ]:
df.head()

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'
res = requests.get(ss_url)
soup = bs(res.text, 'html.parser')
tables = soup.select('tbody')

# 현재 페이지에서 table 태그 모두 선택하기
# tables = soup.select('table')

# 하나의 테이블 태그 선택하기
table = tables[0]

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'

In [ ]:
res = requests.get(ss_url)

In [ ]:
print(res.encoding)

In [ ]:
res.raise_for_status()

In [ ]:
res.encoding = 'euc-kr'

In [ ]:
res.text

In [ ]:
soup = bs(res.text, 'html.parser')

In [ ]:
print(soup.prettify())

In [ ]:
tables = soup.select('table.content1')

# 현재 페이지에서 table 태그 모두 선택하기
# tables = soup.select('table')

In [ ]:
tables

In [ ]:
# 하나의 테이블 태그 선택하기
table = tables[0]

In [ ]:
df = pd.read_html('<table>' + str(table) + '</table>')
# df = pd.read_html(str(table))

In [ ]:
df