In [1]:
from selenium import webdriver as wd
from bs4 import BeautifulSoup as bs
import requests
import datetime, time
from datetime import date

import pandas as pd
import numpy as np
import re
import os, sys

In [ ]:
# !pip install chromedriver_autoinstaller

import chromedriver_autoinstaller

driver_name = chromedriver_autoinstaller.install()  # Check if the current version of chromedriver exists
                                      # and if it doesn't exist, download it automatically,
                                      # then add chromedriver to path
time.sleep(1)

driver = wd.Chrome(driver_name)

In [ ]:
# driver.set_window_position(-10000,0) # hide windows
main_url = 'https://kr.investing.com/'
driver.get(main_url)
time.sleep(1)

In [ ]:
driver.find_element_by_css_selector('#userAccount > div > a.login.bold').click() 
time.sleep(1)

In [ ]:
driver.find_element_by_id('loginForm_password').clear()
driver.find_element_by_id('loginFormUser_email').send_keys('kangeun@naver.com')
time.sleep(1)

In [ ]:
driver.find_element_by_id('loginForm_password').clear()
driver.find_element_by_id('loginForm_password').send_keys(os.environ['investing_pass'])
time.sleep(1)

In [ ]:
driver.find_element_by_css_selector('#signup > a.newButton.orange').click()  
time.sleep(2)

In [ ]:
cpi_url = 'https://kr.investing.com/economic-calendar/cpi-733'

In [ ]:
driver.get(cpi_url)

In [ ]:
for _ in range(3):  # 최근 데이터 3 pages
    driver.find_element_by_id('showMoreHistory733').click()

In [ ]:
df = pd.read_html(driver.page_source)[0] # cpi dataframe

In [ ]:
df.columns=  ['annouce_date', 'time', 'real_rate', 'anticipated_rate', 'prev_rate', 'none']

In [ ]:
for i, date in enumerate(df['annouce_date']):
    y_m_d = re.findall(r'\d+', date)
    time = datetime.date(int(y_m_d[0]), int(y_m_d[1]), int(y_m_d[2]))
    df.loc[i,'annouce_date'] = time

In [ ]:
for i, date in enumerate(df['time']):
    time = datetime.time(int(date.split(':')[0]), int(date.split(':')[1]))
    df.loc[i,'time'] = time

In [ ]:
df.to_csv('data/cpi_index_20220610.csv')

In [ ]:
# real_time_future_url = 'https://kr.investing.com/indices/indices-futures' # do not need
# driver.get(real_time_future_url) # do not need

삼성전자 투자자별

In [ ]:
path = 'body > table:nth-child(4) > tbody > tr > td > p:nth-child(6) > table > tbody > tr:nth-child(3) > td:nth-child(2)'

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'
res = requests.get(ss_url)
soup = bs(res.text, 'html.parser')
tables = soup.select('table')

In [12]:
url = 'https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005930'
df = pd.read_html(url,attrs={"class": "content1"})[0]
df.columns = df.iloc[1] # column 명 변경
df = df.drop([0,1]) # 필요없는 row 제거

In [13]:
column_eng = ['date', 'retail', 'foreigner', 'institutional', 
               'security', 'investment_trust', 'bank', 'investment_bank', 'insurance', 'pension', 'others' ]

In [14]:
column_kor = ['날짜', '개인', '외국인계', '기관계', '증권', '투신', '은행', '종금', '보험', '기금', '기타']

In [15]:
df.columns = column_eng # replace with english column name
df['date'] = df["date"].apply(lambda x: datetime.datetime.strptime(x, "%Y/%m/%d").date())
reindex = np.arange(1,len(df)+1) # index를 일련번호로 대체하기 위하여 index 생성
df.index = reindex # 새로운 인덱스로 대체
df.head()

,date,retail,foreigner,institutional,security,investment_trust,bank,investment_bank,insurance,pension,others
1,2022-06-23,-785554,-3928383,4836938,4976273,151143,-24565,-20473,67197,-346152,-118522
2,2022-06-22,1480399,-971531,-598567,-240082,-109552,-7126,-6347,-14555,-346018,84263
3,2022-06-21,1663413,-3696524,1928480,2405748,-140461,8387,301,-29463,-282837,111750
4,2022-06-20,2139454,-4429640,2236709,2336239,-28152,3399,26298,-5224,-61619,40158
5,2022-06-17,6494723,-7355651,612667,1764379,-453608,54668,24249,-114845,-473784,209737

In [ ]:
reindex = np.arange(1,len(df)+1) # index를 일련번호로 대체하기 위하여 index 생성
df.index = reindex # 새로운 인덱스로 대체
df.head()

In [ ]:
def convert_to_datetime(date):
    time = datetime.date(int(date.split('/')[0]), int(date.split('/')[1] int(date.split('/')[2]))

In [ ]:
time = datetime.date(int(y_m_d[0]), int(y_m_d[1]), int(y_m_d[2]))

In [11]:
df["date"].apply(lambda x: datetime.datetime.strptime(x, "%Y/%m/%d").date())

1     2022-06-23
2     2022-06-22
3     2022-06-21
4     2022-06-20
5     2022-06-17
6     2022-06-16
7     2022-06-15
8     2022-06-14
9     2022-06-13
10    2022-06-10
11    2022-06-09
12    2022-06-08
13    2022-06-07
14    2022-06-03
15    2022-06-02
16    2022-05-31
17    2022-05-30
18    2022-05-27
19    2022-05-26
20    2022-05-25
21    2022-05-24
22    2022-05-23
23    2022-05-20
24    2022-05-19
25    2022-05-18
26    2022-05-17
27    2022-05-16
28    2022-05-13
29    2022-05-12
30    2022-05-11
31    2022-05-10
32    2022-05-09
33    2022-05-06
34    2022-05-04
35    2022-05-03
36    2022-05-02
37    2022-04-29
38    2022-04-28
39    2022-04-27
40    2022-04-26
41    2022-04-25
Name: date, dtype: object

In [10]:
print(datetime.datetime.strptime('2022/06/07', "%Y/%m/%d").date())

2022-06-07

In [ ]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930', attrs={"class": "content1"}, flavor=["lxml", "bs4"])

In [ ]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005930')
len(df)

In [ ]:
df[7]

In [ ]:
# 현대차 005830, 네이버 035420, KT&G 033780,

In [ ]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005930')
df[7].to_csv('data/samsung_invester_from-420.csv')

In [ ]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005830')
df[7].to_csv('data/hyuncar_invester_from-420.csv')

In [ ]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=035420')
df[7].to_csv('data/naver_invester_from-420.csv')

In [ ]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=033780')
df[7].to_csv('data/ktng_invester_from-420.csv')

In [ ]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page=1')
df1 = df[10]

In [ ]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page=2')
df1 = df1.append(df[10])

In [ ]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page=3')
df1 = df1.append(df[10])

In [ ]:
df1

In [ ]:
for i in range(3):
    print(i)
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page='+str1
    print(url)
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

In [ ]:
df1.to_csv('data/samsung_10min_price_from-420.csv')

In [ ]:
for i in range(3):
    print(i)
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005830&p_page='+str1
    print(url)
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

In [ ]:
df1.to_csv('data/hyuncar_10min_price_from-420.csv')

In [ ]:
for i in range(3):
    print(i)
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=035420&p_page='+str1
    print(url)
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

In [ ]:
df1.to_csv('data/naver_10min_price_from-420.csv')

In [ ]:
for i in range(3):
    print(i)
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=033780&p_page='+str1
    print(url)
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

In [ ]:
df1.to_csv('data/ktng_10min_price_from-420.csv')

In [ ]:
df1

In [ ]:
df1.to_csv('data/samsung_10min_price_from-420.csv')

In [ ]:
str1 = str(0+1)
str1

In [ ]:
for i in range(df):
    i

In [ ]:
df1

In [ ]:
for i in range(len(df)):
    print(i, df[i])

In [ ]:
df = pd.read_html('https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930', header=0)[0]
df.head()

In [ ]:
tables[0]

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'
res = requests.get(ss_url)
soup = bs(res.text, 'html.parser')
tables = soup.select('tbody')

# 현재 페이지에서 table 태그 모두 선택하기
# tables = soup.select('table')

# 하나의 테이블 태그 선택하기
table = tables[0]

In [ ]:
tables[0]

In [ ]:


# 테이블 html 정보를 문자열로 변경하기
table_html = str(table)

# 판다스의 read_html 로 테이블 정보 읽기
table_df_list = pd.read_html(table_html, header=0, encoding='utf-8')

# 데이터프레임 선택하기
table_df = table_df_list[0]

In [ ]:
table_df.head()

In [ ]:
df = pd.read_html('<table>' + str(table) + '</table>', encoding='euc-kr')[0]

In [ ]:
df.head()

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'
res = requests.get(ss_url)
soup = bs(res.text, 'html.parser')
tables = soup.select('tbody')

# 현재 페이지에서 table 태그 모두 선택하기
# tables = soup.select('table')

# 하나의 테이블 태그 선택하기
table = tables[0]

In [ ]:
ss_url = 'https://vip.mk.co.kr/newSt/price/trade.php?stCode=005930'

In [ ]:
res = requests.get(ss_url)

In [ ]:
print(res.encoding)

In [ ]:
res.raise_for_status()

In [ ]:
res.encoding = 'euc-kr'

In [ ]:
res.text

In [ ]:
soup = bs(res.text, 'html.parser')

In [ ]:
print(soup.prettify())

In [ ]:
tables = soup.select('table.content1')

# 현재 페이지에서 table 태그 모두 선택하기
# tables = soup.select('table')

In [ ]:
tables

In [ ]:
# 하나의 테이블 태그 선택하기
table = tables[0]

In [ ]:
df = pd.read_html('<table>' + str(table) + '</table>')
# df = pd.read_html(str(table))

In [ ]:
df

In [ ]:
from urllib.parse import urlparse
from urllib.parse import parse_qs

In [ ]:
url = 'https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005930'

In [ ]:
parsed_url = urlparse(url)

In [ ]:
captured_value = parse_qs(parsed_url.query)['code'][0]

In [ ]:
print(captured_value)

In [ ]:
payload = {"code":"005380"}
page = requests.get("https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?", params=payload).text

print(page)

In [ ]:
driver.quit()
driver.close()