In [1]:
from bs4 import BeautifulSoup as bs
import requests
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

In [5]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) \
           AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

In [6]:
gold_url = 'https://www.usagold.com/daily-gold-price-history/'

In [20]:
dir_name = 'data/gold_material/'
start_ix = 'gg'
file_name = 'gold'
i = 1

In [21]:
today = datetime.date.today()
today = today.strftime('%Y%m%d')

In [36]:
res = requests.get(gold_url, headers=headers)
df = pd.read_html(res.text, flavor=["lxml", "bs4"])
df = df[0].drop(0) # delete empty first row
df.columns = ['date', 'price']
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x, "%d %b %Y"))

In [37]:
# calculate change_rate
df_shift_m1 = df['price'].shift(-1)
df['price_cr'] = (df['price'] - df_shift_m1)/df_shift_m1

In [39]:
filename = '{}{}{}_{}_{}.csv'.format(dir_name, start_ix,i,file_name, today)
df.to_csv(filename, index=False)

In [40]:
df.head()

        date    price  price_cr
1 2022-06-28  1824.82  0.000664
2 2022-06-27  1823.61 -0.002150
3 2022-06-24  1827.54  0.001556
4 2022-06-23  1824.70 -0.006517
5 2022-06-22  1836.67  0.002883