In [1]:
from selenium import webdriver as wd
from bs4 import BeautifulSoup as bs
import requests
import datetime, time
from datetime import date

import pandas as pd
import re
import os, sys

In [2]:
# 삼성전자 005930, 현대차 005380, 네이버 035420, KT&G 033780, 
# code = {'sec': '005930', 'hyunmotor': '005380', 'naver': '035420', 'ktng': '033780'}
code = {'sec': 'KR7005930003', 'hyunmotor': 'KR7005380001', 'naver': 'KR7035420009', 'ktng': 'KR7033780008'}
# code = {'sec': 'KR7005930003'}

In [3]:
today_o = datetime.date.today()
today = today_o.strftime('%Y%m%d')
today_stock = today_o.strftime('%Y-%m-%d')

In [23]:
def get_data(ticker, today):
    url_base = 'https://stock.mk.co.kr/price/hourly?stock_code='
#     url_base = 'https://stock.mk.co.kr/price/hourly?stock_code=KR7005930003&day=2023-01-25&page=2'
    for i in range(8):
        str1 = str(i+1)
        url = '{}{}{}{}{}{}'.format(url_base, ticker, '&day=', today, '&page=', str1)
        df1 = pd.read_html(url, attrs={"class": "table-stock line"}, flavor=["lxml", "bs4"])[0]
        if i == 0 :
            df = df1
        else:
#             df = df.append(df1) # append will be depreciated
            df=pd.concat([df,df1], ignore_index=True)
    return df

In [5]:
column_eng = ['date', 'price', 'change', 'change(%)', 'amount', 'volume']
column_kor = ['날짜', '현재가', '등락', '등락률(%)', '체결량', '거래량']

In [6]:
dir_name = 'data/company_daily_price_pkl/'
f_name = '_10min_price_'

In [24]:
for key, val in code.items():
    df = get_data(val, today_stock)
    df.columns = column_eng
    df_temp = df['date']
    yr = today[:4]
    df['date'] = df_temp.apply(lambda x : datetime.datetime.strptime(yr+x[:5], "%Y%m/%d"))
    df.insert(1, 'time', df_temp.apply(lambda x : datetime.datetime.strptime(x[-5:], "%H:%M").time()))
    filename = '{}{}{}{}.pkl'.format(dir_name, key, f_name, today) # code만 기입
    df.to_pickle(filename)

In [35]:
aa = pd.read_pickle(dir_name+'ktng_10min_price_20230203.pkl')

In [34]:
aa

          date      time  price  change change(%)  amount  volume
0   2023-02-01  15:30:00  92500       0     0.00%   31146  284905
1   2023-02-01  15:10:00  92400     500    -0.54%    9084  253759
2   2023-02-01  15:00:00  92400     300    -0.32%    9294  244675
3   2023-02-01  14:50:00  92400     500    -0.54%    9584  235381
4   2023-02-01  14:40:00  92300     300    -0.32%    8028  225797
5   2023-02-01  14:30:00  92400     400    -0.43%    6306  217769
6   2023-02-01  14:20:00  92400     400    -0.43%    9681  211463
7   2023-02-01  14:10:00  92300     400    -0.43%    8463  201782
8   2023-02-01  14:00:00  92300     500    -0.54%    6847  193319
9   2023-02-01  13:50:00  92100     500    -0.54%    4974  186472
10  2023-02-01  13:40:00  92100     700    -0.75%   10335  181498
11  2023-02-01  13:30:00  92100     700    -0.75%   13046  171163
12  2023-02-01  13:20:00  92100     500    -0.54%    4750  158117
13  2023-02-01  13:10:00  92100     500    -0.54%    4102  153367
14  2023-02-01  13:00:00  92100     500    -0.54%    1768  149265
15  2023-02-01  12:50:00  92300     500    -0.54%    5901  147497
16  2023-02-01  12:40:00  92300     500    -0.54%    6016  141596
17  2023-02-01  12:30:00  92300     500    -0.54%    6987  135580
18  2023-02-01  12:20:00  92300     500    -0.54%    2830  128593
19  2023-02-01  12:10:00  92500     400     0.00%    4559  125763
20  2023-02-01  12:00:00  92400     500    -0.54%    5685  121204
21  2023-02-01  11:50:00  92200     500    -0.54%    4788  115519
22  2023-02-01  11:40:00  92200     500    -0.54%    4442  110731
23  2023-02-01  11:30:00  92400     400    -0.43%    5229  106289
24  2023-02-01  11:20:00  92300     400    -0.43%    3909  101060
25  2023-02-01  11:10:00  92300     300    -0.32%    2347   97151
26  2023-02-01  11:00:00  92400     400    -0.43%    4176   94804
27  2023-02-01  10:50:00  92500     300     0.00%    5398   90628
28  2023-02-01  10:40:00  92400     300    -0.32%    3578   85230
29  2023-02-01  10:30:00  92500     300     0.00%    3221   81652
30  2023-02-01  10:20:00  92700     200     0.22%    4720   78431
31  2023-02-01  10:10:00  92700     200     0.22%    6431   73711
32  2023-02-01  10:00:00  92500     400     0.00%    4368   67280
33  2023-02-01  09:50:00  92200     500    -0.54%    3664   62912
34  2023-02-01  09:40:00  92500     500     0.00%    4250   59248
35  2023-02-01  09:30:00  92800     300     0.32%    5730   54998
36  2023-02-01  09:20:00  92800     500     0.54%   10711   49268
37  2023-02-01  09:10:00  92400     600    -0.65%    9575   38557
38  2023-02-01  09:00:00  92500     900    -0.96%   28982   28982