In [2]:
from selenium import webdriver as wd
from bs4 import BeautifulSoup as bs
import requests
import datetime, time
from datetime import date

import pandas as pd
import re
import os, sys

In [ ]:
# 삼성전자 005930, 현대차 005830, 네이버 035420, KT&G 033780,

In [3]:
for i in range(3):
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005930&p_page='+str1
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

In [4]:
df1.to_csv('data/samsung_10min_price_from-420.csv', index=False)

In [5]:
for i in range(3):
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=005830&p_page='+str1
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

In [6]:
df1.to_csv('data/hyuncar_10min_price_from-420.csv', index=False)

In [8]:
for i in range(3):
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=035420&p_page='+str1
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

In [9]:
df1.to_csv('data/naver_10min_price_from-420.csv', index=False)

In [10]:
for i in range(3):
    str1 = str(i+1)
    url = 'https://vip.mk.co.kr/newSt/price/minprice.php?type=10&stCode=033780&p_page='+str1
    df = pd.read_html(url)
    if i == 0 :
        df1 = df[10]
    else:
        df1 = df1.append(df[10])

In [11]:
df1.to_csv('data/ktng_10min_price_from-420.csv', index=False)