In [2]:
from selenium import webdriver as wd
from bs4 import BeautifulSoup as bs
import requests
import datetime, time
from datetime import date

import pandas as pd
import re
import os, sys

In [ ]:
# 삼성전자 005930, 현대차 005830, 네이버 035420, KT&G 033780,

In [ ]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005930')
df[7].columns = df[7].iloc[1] # column 명 변경
df[7] = df[7].drop([0,1]) # 필요없는 row 제거
df[7].to_csv('data/samsung_invester_from-420.csv', index=False)

In [ ]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=005830')
df[7].columns = df[7].iloc[1] # column 명 변경
df[7] = df[7].drop([0,1]) # 필요없는 row 제거
df[7].to_csv('data/hyuncar_invester_from-420.csv', index=False)

In [ ]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=035420')
df[7].columns = df[7].iloc[1] # column 명 변경
df[7] = df[7].drop([0,1]) # 필요없는 row 제거
df[7].to_csv('data/naver_invester_from-420.csv', index=False)

In [ ]:
df = pd.read_html('https://open.shinhaninvest.com/goodicyber/mk/1206.jsp?code=033780')
df[7].columns = df[7].iloc[1] # column 명 변경
df[7] = df[7].drop([0,1]) # 필요없는 row 제거
df[7].to_csv('data/ktng_invester_from-420.csv', index=False)

In [ ]:
reindex = np.arange(1,len(df_inv)+1) # index를 일련번호로 대체하기 위하여 index 생성
reindex

In [ ]:
df[7].index = reindex # 새로운 인덱스로 대체
df_inv.head()

In [3]:
df = pd.read_csv('data/ktng_invester_from-420.csv')

In [4]:
df

,날짜,개인,외국인계,기관계,증권,투신,은행,종금,보험,기금,기타
0,2022/06/20,-67905,42417,26054,49913,-12088,121,2000,-1261,-14219,-499
1,2022/06/17,-43399,81545,-37862,30170,-2716,694,-822,-9975,-53384,-196
2,2022/06/16,-6188,34057,-28397,-7177,-55,-140,111,23891,-42642,526
3,2022/06/15,-29303,10598,18649,8442,2241,-629,-1405,8468,1759,58
4,2022/06/14,-129441,63667,65101,24233,-1744,0,-196,23837,13308,1046
5,2022/06/13,-59610,57234,4754,11365,-3588,-552,-527,64,-1949,-2159
6,2022/06/10,42190,5132,-47525,-22923,-27197,406,708,-4466,12525,163
7,2022/06/09,-2843,14860,-7601,39240,-30271,-52,1,-16424,9978,-4154
8,2022/06/08,23731,18737,-39391,-2329,-1782,0,0,2222,-34918,-3043
9,2022/06/07,-378917,476673,-60402,-60907,4859,-2,0,7441,-19972,-37082
10,2022/06/03,-3040,42560,-38347,16390,884,-38,0,-1404,-57678,-1159
11,2022/06/02,-205519,248229,-39642,-63819,-511,-31,-45,1058,22274,-2848
12,2022/05/31,-42613,136419,-91252,-60711,-19202,-974,2937,-657,2552,-2403
13,2022/05/30,50269,30382,-1997,32748,-10163,-782,2000,-5518,-5601,-78624
14,2022/05/27,-99788,84195,27760,45880,-14084,-51,4825,-9683,6479,-11861
15,2022/05/26,-102599,91651,11137,-6888,9046,437,3703,-2292,7703,-173
16,2022/05/25,-29408,-6953,37462,48098,-2906,-27,-30,-786,-6317,-46
17,2022/05/24,-247347,187989,75827,33,20523,359,4559,13244,35155,-16280
18,2022/05/23,-76614,69640,7223,19843,-6243,-116,5555,-448,-8597,21
19,2022/05/20,-135221,58471,77652,45648,11208,-216,-74,-1398,23817,-474
20,2022/05/19,-226427,246029,-13754,-50252,4043,-57,1368,-1546,18293,-5135
21,2022/05/18,-96404,147328,-39506,-41762,-11774,28,2990,13899,-6981,-11327
22,2022/05/17,-140675,106698,53903,30687,6691,-105,-30,14205,1438,-19766
23,2022/05/16,-57231,140612,-81546,-80142,-7175,-88,4964,6778,-12131,-1721
24,2022/05/13,-180723,134293,60898,45592,5338,-25,-35133,4150,28731,-14434
25,2022/05/12,-275240,164554,112699,-4581,23909,-5627,-108,21861,65284,-996
26,2022/05/11,17042,-38348,21095,38655,4990,-133,-218,-5600,-15052,361
27,2022/05/10,-84019,33149,51067,-8980,18222,5600,4,6977,30721,206
28,2022/05/09,-45023,25928,18478,-1274,15239,-31,-70,7140,-11935,636
29,2022/05/06,-24047,28954,3810,-1756,8537,-358,-3,-728,-1778,-8401
30,2022/05/04,-89520,82153,7737,16269,-161,558,-892,139,-5118,-356
31,2022/05/03,-37920,64142,-28690,-26980,10141,-200,2,3935,-16962,1594
32,2022/05/02,-6634,-20503,26116,19520,3256,12036,-100,-3113,-5545,-43
33,2022/04/29,-127264,114539,15543,27504,7682,10,1599,-261,-19260,-1410
34,2022/04/28,-34886,26297,8577,-944,7512,32,0,-1681,-1545,-207
35,2022/04/27,-7587,24435,-17124,-4942,13347,-213,-704,14,-27867,287
36,2022/04/26,-43730,-22779,66114,18022,28130,5945,0,1921,12404,580
37,2022/04/25,-195247,27010,169079,-3224,29345,1149,55,23461,100560,-939
38,2022/04/22,-276675,177700,106459,-50842,29620,-41,0,25918,72897,-6748
39,2022/04/21,-105272,24788,81737,44665,8749,-9,0,7553,3690,-1114
40,2022/04/20,-40653,42545,-2479,-40502,3698,79,0,3111,9161,133