In [1]:
# from bs4 import BeautifulSoup as bs
import requests
import datetime, time

import pandas as pd
# import numpy as np

import os
import shutil

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) \
           AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

In [3]:
df_org = pd.read_csv('data/{}'.format('data_common.csv'))
df_org['date'] = df_org['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
df_org.set_index('date', inplace=True)

### fed 금리 get append

In [ ]:
interest_url = 'https://www.investing.com/economic-calendar/interest-rate-decision-168/'

In [ ]:
res = requests.get(interest_url, headers=headers)
df = pd.read_html(res.text, flavor=["lxml", "bs4"])[0]
# df.head()

In [ ]:
df.columns = ['date', 'time', 'fed_rate', 'fed_rate_fore', 'fed_rate_prev', 'none']

In [ ]:
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x[:12], "%b %d, %Y"))
df['time'] = df['time'].apply(lambda x : datetime.datetime.strptime(x, "%H:%M").time())

In [ ]:
df_select = df[['date', 'fed_rate', 'fed_rate_fore', 'fed_rate_prev']]
df_select.set_index('date', inplace=True)

df_org.update(df_select, overwrite=False)

### 한국은행 금리 get append

In [4]:
kor_url = 'https://www.bok.or.kr/portal/singl/baseRate/list.do?dataSeCd=01&menuNo=200643'

In [5]:
df = pd.read_html(kor_url, attrs = {'class': 'fixed'}, flavor=["lxml", "bs4"])[0]

In [6]:
df.columns=  ['release_yr', 'release_date', 'bok_rate']
df_date_temp = df['release_yr'].astype('str')+df['release_date']
df['date'] = df_date_temp.apply(lambda x : datetime.datetime.strptime(x, "%Y%m월 %d일"))

In [7]:
df_select = df[['date', 'bok_rate']] # leave only valid columns
df_select.set_index('date', inplace=True)

df_org.update(df_select, overwrite=False)

In [10]:
df_org[['bok_rate']][140:170]

            bok_rate
date
2022-05-21       NaN
2022-05-22       NaN
2022-05-23       NaN
2022-05-24       NaN
2022-05-25       NaN
2022-05-26      1.75
2022-05-27       NaN
2022-05-28       NaN
2022-05-29       NaN
2022-05-30       NaN
2022-05-31       NaN
2022-06-01       NaN
2022-06-02       NaN
2022-06-03       NaN
2022-06-04       NaN
2022-06-05       NaN
2022-06-06       NaN
2022-06-07       NaN
2022-06-08       NaN
2022-06-09       NaN
2022-06-10       NaN
2022-06-11       NaN
2022-06-12       NaN
2022-06-13       NaN
2022-06-14       NaN
2022-06-15       NaN
2022-06-16       NaN
2022-06-17       NaN
2022-06-18       NaN
2022-06-19       NaN

In [ ]:
df_org[[ 'fed_rate', 'fed_rate_fore', 'fed_rate_prev']][160:170]

In [ ]:
df_select.head()

In [ ]:
today = datetime.date.today()
today = today.strftime('%Y%m%d')

In [ ]:
df_org[['gold']][170:180]

In [ ]:
fed daa

In [ ]:
df_org = pd.read_csv('data/{}'.format('data_common.csv'))
df_org['date'] = df_org['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
df_org.set_index('date', inplace=True)

In [ ]:
df = pd.read_csv('data/interest_rate/{}'.format('rr1_fed_20220628.csv'))
df.columns = ['date', 'time', 'fed_rate', 'fed_rate_fore', 'fed_rate_prev', 'none']
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
# df의 index를 모두 'date'로 설정
df_select = df[['date', 'fed_rate', 'fed_rate_fore', 'fed_rate_prev']]
df_select.set_index('date', inplace=True)

df_org.update(df_select) # done fed rate before 22020628

In [ ]:
df_org.reset_index(inplace=True)
df_org.to_csv('data/data_common.csv', index=False)

### 한국은행 금리 붙이기

In [ ]:
df = pd.read_csv('data/interest_rate/{}'.format('rr2_bok_20220628.csv'))
df.columns = ['date', 'bok_rate']
df['date'] = df['date'].apply(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d"))
# df의 index를 모두 'date'로 설정
df_select = df[['date', 'bok_rate']]
df_select.set_index('date', inplace=True)

df_org.update(df_select) # done bok rate before 22020628

In [ ]:
df_org.reset_index(inplace=True)
df_org.to_csv('data/data_common.csv', index=False)

In [ ]:
df.set_index('date', inplace=True)
df_org.update(df)

In [ ]:
df_org.reset_index(inplace=True)
df_org.to_csv('data/data_common.csv', index=False)