<a href="https://colab.research.google.com/github/fasthill/ML-DL-study-alone/blob/main/5-1%20%EA%B2%B0%EC%A0%95%20%ED%8A%B8%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Analyse from LightGBM

### train, val, test data로 분류

<table align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/rickiepark/hg-mldl/blob/master/5-1.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />구글 코랩에서 실행하기</a>
  </td>
</table>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from functools import reduce
import datetime
import os, re

In [2]:
from xgboost import XGBClassifier
import xgboost
from lightgbm import LGBMClassifier
import lightgbm
import joblib

In [3]:
from skopt import BayesSearchCV
# parameter ranges are specified by one of below
from skopt.space import Real, Categorical, Integer

In [4]:
from sklearn.linear_model import LogisticRegression, SGDClassifier, SGDRegressor
from sklearn.model_selection import cross_validate, train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import make_scorer

from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Flatten, Dropout
from tensorflow.keras.models import load_model
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping

In [5]:
import pickle

# write list, dictionary to pickle
def save_to_pickle(path, filename):
    open_file = open(path, "wb")
    pickle.dump(filename, open_file)
    open_file.close()

# read list, dictionary from pickle
def load_from_pickle(path):
    open_file = open(path, "rb")
    loaded_file = pickle.load(open_file)
    open_file.close()
    return loaded_file

In [6]:
import csv

# write list, dictionary to csv
# path = './xxx/', my_dict = filename

def save_dict_to_csv(path, my_dict):
    fields=my_dict.keys()
    values = my_dict.values()
    pd.DataFrame([fields, values], index=['parameter','value']).T.to_csv(path)
#     df = pd.DataFrame.from_dict(my_dict, orient='index') 
#     df.to_csv (path, index=False, header=True)  
    
def save_list_to_csv(path, my_list):
    df = pd.DataFrame(my_list, columns=['columns'])
    df.to_csv (path, index=False, header=True) 
    
# def load_dict_from_csv(path):
#     df = pd.read_csv(path, header=None)
#     my_dict = df.to_dict()
#     return my_dict

In [7]:
def predict_p(test_target, y_predict_list): 
    ps = precision_score(test_target, y_predict_list)
    rs = recall_score(test_target, y_predict_list)
    fs = f1_score(test_target, y_predict_list)
    roc = roc_auc_score(test_target, y_predict_list)
    collect_list = [ps, rs, fs, roc]
    return collect_list

In [8]:
def make_df_from_estimator(estimator, num):
    df_t = pd.DataFrame.from_dict(estimator, orient='index')
    df_t.columns = [f'iter_{num}']
    df_t.index.name = 'parameter'
    return df_t

In [9]:
def calc_results(lgbm, model, train_scaled, val_scaled, test_scaled, train_target, val_target, test_target):
# model = lgbmgs.best_estimator_  # 최적의 파라미터로 모델 생성
    y_predict_train = model.predict(train_scaled)
    y_predict_val = model.predict(val_scaled)
    y_predict_test = model.predict(test_scaled)
    result_dict= {}
    result_dict['best_score'] = lgbm.best_score_ 
    result_dict['best_index'] = lgbm.best_index_
    result_dict['acc_train'] = model.score(train_scaled, train_target)
    result_dict['acc_val'] = model.score(val_scaled, val_target)
    result_dict['acc_test'] = model.score(test_scaled, test_target)
    result_dict['train_precision'] = precision_score(train_target, y_predict_train)
    cm = confusion_matrix(train_target, y_predict_train)
    result_dict['train_tn'] = cm[0,0]
    result_dict['train_fp'] = cm[0,1]
    result_dict['train_fn'] = cm[1,0]
    result_dict['train_tp'] = cm[1,1]
    result_dict['val_precision'] = precision_score(val_target, y_predict_val)
    cm = confusion_matrix(val_target, y_predict_val)
    result_dict['val_tn'] = cm[0,0]
    result_dict['val_fp'] = cm[0,1]
    result_dict['val_fn'] = cm[1,0]
    result_dict['val_tp'] = cm[1,1]
    result_dict['test_precision'] = precision_score(test_target, y_predict_test)
    result_dict['recall'] = recall_score(test_target, y_predict_test)
    result_dict['f1score'] = f1_score(test_target, y_predict_test)
    result_dict['roc'] = roc_auc_score(test_target, y_predict_test)
    cm = confusion_matrix(test_target, y_predict_test)
    result_dict['test_tn'] = cm[0,0]
    result_dict['test_fp'] = cm[0,1]
    result_dict['test_fn'] = cm[1,0]
    result_dict['test_tp'] = cm[1,1]
#     result_dict['precision_neg'] = cm[0,0] / (cm[0,0] + cm[1,0])
    return result_dict

In [10]:
def save_best_results(com_name, model, scaler, columns, df_base):
    joblib.dump(model, f'{directory_for_model}{com_name}/best_model.pkl') # estimaor 저장
    joblib.dump(scaler, f'{directory_for_model}{com_name}/best_scaler.pkl') # scaler 저장
    save_to_pickle(f'{directory_for_model}{com_name}/best_model_p.pkl', model)
    save_to_pickle(f'{directory_for_model}{com_name}/best_scaler_p.pkl', scaler)
    save_to_pickle(f'{directory_for_model}{com_name}/best_columns.pkl', new_col)
    save_list_to_csv(f'{directory_for_model}{com_name}/best_columns.csv', new_col)
    df_base.to_pickle(f'{directory_for_model}{com_name}/best_result.pkl')
    return

In [11]:
def add_dict(*dicts):
    dsum = {}
    d_k = []
    d_v = []
    for dic in dicts:
        d_k.extend(list(dic.keys()))  # sum keys list
        d_v.extend(list(dic.values()))  # sum values list
    for i in range(len(d_k)):
        dsum[d_k[i]] = d_v[i]
    return dsum

In [12]:
def df_combine_sorted(df_base_l, df_params_l):
    o_num = list(df_base_l.index).index('best_score')
    df1 = df_base.iloc[:o_num, :]
    df2 = df_base.iloc[o_num:, :]
    df3 = pd.concat([df1, df_params_l], axis=0)
    df3.sort_index(axis=0, inplace=True)
    df_sorted = pd.concat([df3, df2], axis=0)
    return df_sorted

In [13]:
import sys, os

module_path = os.path.abspath(os.path.join('../..')) # 현재 폴더로 이동
if module_path+"\\data\\base_data\\common_data" not in sys.path:
    sys.path.append(module_path+"\\data\\base_data\\common_data") #  공통으로 사용하는 각종 리스트, 코드 등 
    
import common_data as cd

In [14]:
def df_style(df_s, row_index_l):
#     xin = [list(df_s.index).index(x) for x in row_index_l]
    xin = []
    for x in list(df_s.index):
        try:
            if x in row_index_l:
                xin.append(list(df_s.index).index(x))
        except:
            pass
    return df_s.reset_index('parameter').style.apply(
        lambda x: ['background-color: yellow' if row in xin else '' for row in range(len(df_s.index))], axis=0)

In [15]:
code = cd.code_all # 전체 회사 코드
code =  {'036570': ['엔씨소프트', 'ncsoft']}

In [16]:
col_inv1 = ['retail_1', 'foreigner_1', 'institution_1', 'financial_1', 'invtrust_1', 'pension_1', 
#             'privequity_1', 'bank_1', 'insurance_1', 'financeetc_1', 'corporateetc_1', 
            'privequity_1',  'insurance_1', 'corporateetc_1', # bank_1, 'financeetc_1 제외
            'foreigneretc_1']
col_inv2 = ['retail_2', 'foreigner_2', 'institution_2', 'financial_2', 'invtrust_2', 'pension_2',
#             'privequity_2', 'bank_2', 'insurance_2', 'financeetc_2', 'corporateetc_2', 
            'privequity_2', 'insurance_2', 'corporateetc_2', # bank_2, 'financeetc_2 제외
            'foreigneretc_2']
col_his1 = ['open_1', 'high_1', 'low_1', 'close_1', 'vol_1']
col_his2 = ['open_2', 'high_2', 'low_2', 'close_2', 'vol_2']
col_cr = ['weekday', 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20']
col_common1 = ["dji_cr", "dji_f_cr", "dxy_cr", "ixic_f_cr", "bond_kor_10_cr", "bond_kor_2_cr", "kosdaq_cr", "kospi_cr", 
         "krw_cr", "ixic_cr", "spx_f_cr", "sox_cr", "spx_cr", "bond_usa_10_cr", "bond_usa_2_cr", "bond_usa_3m_cr", 
         "vix_cr", "wti_cr", "spsy_cr", "spny_cr", "spxhc_cr", "splrcd_cr", "splrci_cr", "splrcu_cr", "splrcs_cr",
         "splrct_cr", "splrcl_cr", "splrcm_cr", "ixbk_cr", "ixfn_cr", "ixid_cr", "ixis_cr", "ixk_cr", "ixtr_cr",
         "ixut_cr", "nbi_cr", "bkx_cr"]
col_common2 = ["dji_cr_2", "dji_f_cr_2", "dxy_cr_2", "ixic_f_cr_2", "bond_kor_10_cr_2", "bond_kor_2_cr_2", "kosdaq_cr_2", "kospi_cr_2",
         "krw_cr_2", "ixic_cr_2", "spx_f_cr_2", "sox_cr_2", "spx_cr_2", "bond_usa_10_cr_2", "bond_usa_2_cr_2", "bond_usa_3m_cr_2",
         "vix_cr_2", "wti_cr_2", "spsy_cr_2", "spny_cr_2", "spxhc_cr_2", "splrcd_cr_2", "splrci_cr_2", "splrcu_cr_2",
         "splrcs_cr_2", "splrct_cr_2", "splrcl_cr_2", "splrcm_cr_2", "ixbk_cr_2", "ixfn_cr_2", "ixid_cr_2",
         "ixis_cr_2", "ixk_cr_2", "ixtr_cr_2", "ixut_cr_2", "nbi_cr_2", "bkx_cr_2"]
col_futures = ['ixic_f_cr', 'ixic_f_cr_2', 'spx_f_cr', 'spx_f_cr_2', 'dji_f_cr', 'dji_f_cr_2',
           'wti_cr','wti_cr_2', 'dxy_cr', 'dxy_cr_2', 'bond_usa_10_cr', 'bond_usa_10_cr_2' ]
column_o = col_inv1 + col_common1 + col_his1 + col_inv2 + col_common2 + col_his2 + col_cr

col_except_futures = [item for item in column_o if item not in col_futures]

new_col = col_except_futures.copy()

# bank, financeetc는 결측치가 많아서 사용하지 않음.
# df.drop(['bank_1', 'bank_2', 'financeetc_1', 'financeetc_2'], axis=1, inplace=True)   

# col_futures : futures는 당일 종료가 되지 않는 data이므로 제외

In [17]:
# 최초의 empty df 생성
df_base = pd.DataFrame(pd.Series([],dtype=pd.StringDtype(), name='parameter')).set_index('parameter')
df_params = pd.DataFrame(pd.Series([],dtype=pd.StringDtype(), name='parameter')).set_index('parameter')
iter = 0

In [18]:
#### 신규 분석 데이터는 아래 것으로 사용

com_name = list(code.values())[0][1]

directory_for_ml = '../../data/data_for_ml/predict/'
fname = f'df_{com_name}_combine.pkl'
f_name = directory_for_ml + fname
df_o = pd.read_pickle(f_name) 
df_o = df_o.iloc[:-1] # /predict/를 사용할 경우 마지막 prediction data 제외

In [19]:
len(df_o)

326

In [20]:
train_start_index = list(df_o.index).index(datetime.date(2022, 3, 2))
train_end_index = list(df_o.index).index(datetime.date(2023, 3, 31))
val_end_index = list(df_o.index).index(datetime.date(2023, 4, 28))

In [21]:
df_o_train = df_o.iloc[train_start_index:train_end_index+1]
df_o_val = df_o.iloc[train_end_index+1:val_end_index+1]
df_o_test = df_o.iloc[val_end_index+1:]

In [125]:
# 반복 작업시 여기서 부터 진행 (feature importance로 선정된 새로운 column으로)

df = df_o_train[new_col]
train_input = df.iloc[:, :-5]
train_target = df.iloc[:, -5]

df = df_o_val[new_col]
val_input = df.iloc[:, :-5]
val_target = df.iloc[:, -5]

df = df_o_test[new_col]
test_input = df.iloc[:, :-5]
test_target = df.iloc[:, -5]

In [126]:
scaler = None
scaler = StandardScaler()
scaler.fit(train_input)
train_scaled = scaler.transform(train_input)
val_scaled = scaler.transform(val_input)
test_scaled = scaler.transform(test_input)

In [127]:
'''
# 반복 작업시 여기서 부터 진행 (feature importance로 선정된 새로운 column으로)

df = df_o[new_col]  # 새롭게 선정된 column으로 진행

# train, val,: 8, test: 2
split_ratio = 0.8
split_n = int(len(df)*split_ratio)

test_interval = int((len(df) - split_n)/3)
data = df.iloc[:split_n, :-5]
target = df.iloc[:split_n, -5]
test_input = df.iloc[split_n:, :-5]
test_target = df.iloc[split_n:, -5]
test_input1 = df.iloc[split_n:split_n+test_interval, :-5]
test_input2 = df.iloc[split_n+test_interval: split_n+test_interval*2, :-5]
test_input3 = df.iloc[split_n+test_interval*2:, :-5]
test_target1 = df.iloc[split_n:split_n+test_interval, -5]
test_target2 = df.iloc[split_n+test_interval: split_n+test_interval*2, -5]
test_target3 = df.iloc[split_n+test_interval*2:, -5]

train_input, val_input, train_target, val_target = \
     train_test_split(data, target, random_state=42, test_size=0.2, stratify=target)

scaler = None
scaler = StandardScaler()
scaler.fit(train_input)
train_scaled = scaler.transform(train_input)
val_scaled = scaler.transform(val_input)
test_scaled = scaler.transform(test_input)
test_scaled1 = scaler.transform(test_input1)
test_scaled2 = scaler.transform(test_input2)
test_scaled3 = scaler.transform(test_input3)
'''

'\n# 반복 작업시 여기서 부터 진행 (feature importance로 선정된 새로운 column으로)\n\ndf = df_o[new_col]  # 새롭게 선정된 column으로 진행\n\n# train, val,: 8, test: 2\nsplit_ratio = 0.8\nsplit_n = int(len(df)*split_ratio)\n\ntest_interval = int((len(df) - split_n)/3)\ndata = df.iloc[:split_n, :-5]\ntarget = df.iloc[:split_n, -5]\ntest_input = df.iloc[split_n:, :-5]\ntest_target = df.iloc[split_n:, -5]\ntest_input1 = df.iloc[split_n:split_n+test_interval, :-5]\ntest_input2 = df.iloc[split_n+test_interval: split_n+test_interval*2, :-5]\ntest_input3 = df.iloc[split_n+test_interval*2:, :-5]\ntest_target1 = df.iloc[split_n:split_n+test_interval, -5]\ntest_target2 = df.iloc[split_n+test_interval: split_n+test_interval*2, -5]\ntest_target3 = df.iloc[split_n+test_interval*2:, -5]\n\ntrain_input, val_input, train_target, val_target =      train_test_split(data, target, random_state=42, test_size=0.2, stratify=target)\n\nscaler = None\nscaler = StandardScaler()\nscaler.fit(train_input)\ntrain_scaled = scaler.transform(train_input)\nval_scaled = scaler.transform(val_input)\ntest_scaled = scaler.transform(test_input)\ntest_scaled1 = scaler.transform(test_input1)\ntest_scaled2 = scaler.transform(test_input2)\ntest_scaled3 = scaler.transform(test_input3)\n'

In [128]:
search_space = {
    'boosting_type' : ['gbdt', 'dart', ],# ['gbdt', 'dart', 'goss'],
    'learning_rate': (0.0001, 0.004, 'log-uniform'),
    'num_leaves': (3, 20),      
    'max_depth': (0, 50), #[-1], #(0, 50),
    'min_child_samples': (5, 40),
    'min_child_weight': (3., 7.0), # 값을 변동시 같은 값이 최적값으로 선정되더라고 precision이 틀림. 반드시 값을 바꾸면서 진행해야 함.
#     'min_split_loss': (0, 5), 
    'max_bin': (100, 1000), # 사용시 0.75%로 올라감 default: 255
#     'max_cat_threshold' : (1, 100),
    'subsample': (0.005, 1.0, 'uniform'), # == bagging_fraction
#     'subsample_freq': (1, 10), # mobis에서 적용시 값이 많이 올라감. default:0
    'colsample_bytree': (0.5, 1.0, 'uniform'),
    'subsample_for_bin': (100000, 500000),
    'scale_pos_weight' : (0.2, 2.0, 'uniform'),
#     'scale_pos_weight': np.arange(0.2, 2, 0.1) ,
    'n_estimators': (700, 5000),
    'reg_alpha' : (0.0, 2.0, 'uniform'), # =='lambda_l1': [0, 5], # default 0
    'reg_lambda' : (0.0, 4.0, 'uniform'), # == lambda_l2': [0, 5], #default 0    
#     'reg_alpha' : np.arange(0, 4, 0.1),
#     'reg_lambda' : np.arange(0, 4, 0.1),
    'force_col_wise': ['true'], 
    'importance_type': ['split'], # ['gain'], default: split
    'boost_from_average' : [True, False],
    'objective': ['binary'],
    'metric': ['binary_logloss'],
}

params_space = search_space.copy() # for Bayesian Optimization

## BayesSearchCV

In [129]:
param_grid = {
    'cv' : 5,  # usually 5 or 10, default: 3
#     'cv' : None,
#     'scoring' : None,
#     'scoring' : 'f1',
#     'scoring' : 'roc_auc',
    'scoring' : 'precision',
#     'scoring' : 'average_precision',
#     'scoring' : 'accuracy',
    'num_col' : len(new_col),
    'iterations' : 50,  # default : 50, number of parameter settings.
    # The number of parameter settings that are tried is given by n_iter.
             }

In [130]:
# directory_for_model = '../../data/data_for_ml/model/model/0. test/'
directory_for_model = '../../data/data_for_ml/model/model/'

In [131]:
# directory가 없으면 만드는 과정
# if not os.path.exists(com_name):
#     os.makedirs(com_name)
if not os.path.exists(directory_for_model+com_name):
    os.makedirs(directory_for_model+com_name)

iter = iter + 1

lgbm = None
lgbmBS = None
gsbs = 'bs'

lgbmBS = BayesSearchCV( estimator = lightgbm.LGBMClassifier(verbose=0, random_state=42),
                       search_spaces = params_space,
                       scoring = param_grid['scoring'],
                       cv = StratifiedKFold( n_splits=param_grid['cv'],
                                             shuffle=True,
                                             random_state=42 ),
                       n_jobs = -1, # 자동 검색 적용
                       n_iter = param_grid['iterations'],   
                       verbose = 0, refit = True, random_state = 42 
                      )

print("*** after lgbm BS ******")
lgbmBS.fit(train_scaled, train_target, eval_metric = 'logloss') 

# save model
stamp = datetime.datetime.today().isoformat() # 파일명 끝에 생성날짜 시간 추가
dt = re.sub(r'[-:T]', '', stamp[5:16])
dt = f'{dt[:4]}_{dt[4:]}'

df_estimator = make_df_from_estimator(lgbmBS.best_estimator_.get_params(), iter)
df_estimator.sort_index(inplace=True) # alphabet 순으로 보기 편하게

# metrics accuracy,,,, 3단계 precision 등까지. dictionary
result_dict = calc_results(lgbmBS, lgbmBS.best_estimator_, 
                           train_scaled, val_scaled, test_scaled,  
                           train_target, val_target, test_target,
                          )

df_grid = make_df_from_estimator(param_grid, iter) # gridcv parameter
df_grid.sort_index(inplace=True) # alphabet 순으로 보기 편하게
df_result = make_df_from_estimator(result_dict, iter)  # dict 를 df로
df_concat = pd.concat([df_grid, df_estimator, df_result])

df_base = pd.merge(df_base,df_concat, how='outer', left_index=True, right_index=True)

# val_test = df_concat.loc['acc_val'].iloc[0]
# acc_test = df_concat.loc['acc_test'].iloc[0]
# precision = df_concat.loc['test_precision'].iloc[0]
# f1score = df_concat.loc['f1score'].iloc[0]

params_search = add_dict(param_grid, search_space)
df_params_search = make_df_from_estimator(params_search, iter)
df_params = pd.merge(df_params,df_params_search, how='outer', left_index=True, right_index=True)
  
print("******* No.{} BS Process is Done! ********".format(iter))
    
print("**** End of BayesSearchCV Process ****")

*** after lgbm BS ******
******* No.10 BS Process is Done! ********
**** End of BayesSearchCV Process ****

C:\Users\user\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [132]:
df_one = df_combine_sorted(df_base, df_params)

In [133]:
row_index =  ['train_precision', 'val_precision', 'test_precision']
df_style(df_one.iloc[52:80, :], row_index)

In [134]:
row_index = ['n_estimators', 'reg_alpha', 'max_bin', 'subsample_for_bin']
df_style(df_one.head(60), row_index)

In [135]:
# parameter 조합별 측정치 비교
df_result =  pd.DataFrame(lgbmBS.cv_results_)
df_result.loc[:, ['mean_test_score', 'std_test_score', 'rank_test_score']].sort_values(by='mean_test_score', ascending=False)

    mean_test_score  std_test_score  rank_test_score
23         0.742398        0.142852                1
15         0.733701        0.090763                2
29         0.714286        0.147542                3
28         0.699786        0.097732                4
26         0.692222        0.098231                5
34         0.690556        0.158889                6
9          0.688248        0.105799                7
39         0.668460        0.054163                8
46         0.663207        0.058557                9
17         0.659885        0.073993               10
16         0.658462        0.087925               11
11         0.658294        0.078423               12
45         0.652421        0.087167               13
21         0.652273        0.071313               14
36         0.650997        0.091944               15
38         0.650660        0.106016               16
25         0.638406        0.107778               17
35         0.636881        0.075623               18
14         0.634091        0.128645               19
30         0.630952        0.101295               20
32         0.630702        0.081461               21
42         0.625710        0.046689               22
6          0.624868        0.113613               23
47         0.619828        0.102323               24
3          0.618599        0.100148               25
20         0.610233        0.075437               26
7          0.609583        0.089223               27
22         0.605245        0.043804               28
41         0.601783        0.091732               29
18         0.601024        0.078261               30
43         0.597685        0.030039               31
31         0.597139        0.048338               32
5          0.596893        0.052824               33
8          0.591640        0.039658               34
40         0.584653        0.040437               35
48         0.577732        0.058590               36
10         0.576615        0.039476               37
0          0.570989        0.042019               38
37         0.570437        0.023176               39
19         0.563476        0.034103               40
24         0.559490        0.039007               41
2          0.555900        0.027769               42
4          0.533333        0.452155               43
44         0.485000        0.413401               44
33         0.150000        0.300000               45
27         0.000000        0.000000               46
1          0.000000        0.000000               46
13         0.000000        0.000000               46
12         0.000000        0.000000               46
49         0.000000        0.000000               46

In [110]:
df_result.columns

Index(['mean_fit_time', 'std_fit_time', 'mean_score_time', 'std_score_time',
       'param_boost_from_average', 'param_boosting_type',
       'param_colsample_bytree', 'param_force_col_wise',
       'param_importance_type', 'param_learning_rate', 'param_max_bin',
       'param_max_depth', 'param_metric', 'param_min_child_samples',
       'param_min_child_weight', 'param_n_estimators', 'param_num_leaves',
       'param_objective', 'param_reg_alpha', 'param_reg_lambda',
       'param_scale_pos_weight', 'param_subsample', 'param_subsample_for_bin',
       'params', 'split0_test_score', 'split1_test_score', 'split2_test_score',
       'split3_test_score', 'split4_test_score', 'mean_test_score',
       'std_test_score', 'rank_test_score'],
      dtype='object')

In [111]:
# parameter 조합별 측정치 비교
df_result =  pd.DataFrame(lgbmBS.cv_results_)
df_result.loc[:, ['mean_test_score', 'std_test_score', 'rank_test_score']].sort_values(by='mean_test_score', ascending=False)

    mean_test_score  std_test_score  rank_test_score
14         0.824286        0.162355                1
20         0.816667        0.152753                2
22         0.772747        0.140354                3
28         0.746190        0.136490                4
37         0.741948        0.115736                5
18         0.733333        0.388730                6
24         0.731667        0.068394                7
25         0.708221        0.097463                8
36         0.690476        0.282522                9
49         0.689382        0.089183               10
9          0.684326        0.106884               11
33         0.674359        0.083701               12
27         0.672634        0.092632               13
31         0.667842        0.101915               14
46         0.666734        0.089399               15
39         0.665501        0.082165               16
41         0.662271        0.124384               17
29         0.657529        0.060157               18
43         0.654181        0.062528               19
13         0.652907        0.090825               20
45         0.641558        0.103444               21
38         0.634541        0.114824               22
17         0.634024        0.067089               23
11         0.629836        0.068228               24
48         0.625414        0.104141               25
44         0.616890        0.078593               26
3          0.613043        0.091566               27
7          0.609583        0.089223               28
6          0.599444        0.101488               29
47         0.597161        0.027785               30
5          0.594036        0.057402               31
8          0.592236        0.045902               32
12         0.588814        0.034238               33
10         0.586847        0.038940               34
34         0.581783        0.030855               35
0          0.576483        0.043972               36
32         0.573733        0.060783               37
35         0.562513        0.041270               38
42         0.557603        0.044814               39
2          0.544672        0.023949               40
4          0.533333        0.452155               41
26         0.288636        0.358746               42
19         0.137500        0.275000               43
15         0.100000        0.200000               44
40         0.000000        0.000000               45
1          0.000000        0.000000               45
23         0.000000        0.000000               45
21         0.000000        0.000000               45
16         0.000000        0.000000               45
30         0.000000        0.000000               45

In [112]:
# search_space, parameters and results save
df_one.to_csv(f'{directory_for_model}{com_name}/params_results_{gsbs}_df_{dt}.csv')
df_one.to_pickle(f'{directory_for_model}{com_name}/params_results_{gsbs}_df_{dt}.pkl')

In [113]:

# 아래 내용은 위의 df_one을 대체함.
# parameter and results save
df_base.to_csv(f'{directory_for_model}{com_name}/lgbm_{gsbs}_df_{dt}.csv')
df_base.to_pickle(f'{directory_for_model}{com_name}/lgbm_{gsbs}_df_{dt}.pkl')

# search_space, parameters save
df_params.to_csv(f'{directory_for_model}{com_name}/params_{gsbs}_df_{dt}.csv')
df_params.to_pickle(f'{directory_for_model}{com_name}/params_{gsbs}_df_{dt}.pkl')

In [114]:

'''
# save model
# 필요시 저장. 가장 좋은 결과만 저장하고자할 때는 밑의 save_best_results만 진행하면 됨.
joblib.dump(lgbmBS.best_estimator_, f'{directory_for_model}{com_name}/estimator_{gsbs}_{dt}_v{iter}.pkl') # bayessearchcv 저장
save_to_pickle(f'{directory_for_model}{com_name}/model_{gsbs}_{dt}_v{iter}_p.pkl', lgbmBS.best_estimator_)
joblib.dump(scaler, f'{directory_for_model}{com_name}/scaler_{gsbs}_{dt}_v{iter}.pkl') # scaler 저장
save_to_pickle(f'{directory_for_model}{com_name}/columns_{gsbs}_{dt}_{len(new_col)}_{round(precision*100):2d}%_{round(f1score*100):2d}%_ver{iter}.pkl', new_col)
save_list_to_csv(f'{directory_for_model}{com_name}/columns_{gsbs}_{dt}_{len(new_col)}_{round(precision*100):2d}%_{round(f1score*100):2d}%_ver{iter}.csv', new_col)
'''

"\n# save model\n# 필요시 저장. 가장 좋은 결과만 저장하고자할 때는 밑의 save_best_results만 진행하면 됨.\njoblib.dump(lgbmBS.best_estimator_, f'{directory_for_model}{com_name}/estimator_{gsbs}_{dt}_v{iter}.pkl') # bayessearchcv 저장\nsave_to_pickle(f'{directory_for_model}{com_name}/model_{gsbs}_{dt}_v{iter}_p.pkl', lgbmBS.best_estimator_)\njoblib.dump(scaler, f'{directory_for_model}{com_name}/scaler_{gsbs}_{dt}_v{iter}.pkl') # scaler 저장\nsave_to_pickle(f'{directory_for_model}{com_name}/columns_{gsbs}_{dt}_{len(new_col)}_{round(precision*100):2d}%_{round(f1score*100):2d}%_ver{iter}.pkl', new_col)\nsave_list_to_csv(f'{directory_for_model}{com_name}/columns_{gsbs}_{dt}_{len(new_col)}_{round(precision*100):2d}%_{round(f1score*100):2d}%_ver{iter}.csv', new_col)\n"

In [115]:
# 최종 가장 좋은 결과 저장
save_best_results(com_name, lgbmBS.best_estimator_, scaler, new_col, df_base)

In [116]:
print(lgbmBS.best_estimator_)

LGBMClassifier(boost_from_average=True, boosting_type='dart',
               colsample_bytree=0.6147024908894766, force_col_wise='true',
               learning_rate=0.00013317807850535537, max_bin=945, max_depth=11,
               metric='binary_logloss', min_child_samples=19,
               min_child_weight=3.6699874737057443, n_estimators=1777,
               num_leaves=9, objective='binary', random_state=42,
               reg_lambda=0.5802290740739937,
               scale_pos_weight=0.34917878571385685,
               subsample=0.7564617660521454, subsample_for_bin=100000,
               verbose=0)

In [118]:
model = lgbmBS.best_estimator_
feature_df = pd.DataFrame(model.booster_.feature_importance(importance_type='gain'), 
                      index=train_input.columns, columns=['importance']).sort_values(by='importance', 
                                                                              ascending=False)

In [119]:
len(feature_df)

93

In [123]:
feature_df.tail(20)

                importance
privequity_2       0.28053
low_2              0.00000
bkx_cr_2           0.00000
ixut_cr_2          0.00000
institution_1      0.00000
open_2             0.00000
foreigner_1        0.00000
ixbk_cr_2          0.00000
splrcl_cr_2        0.00000
corporateetc_1     0.00000
splrcs_cr_2        0.00000
foreigneretc_1     0.00000
bond_kor_10_cr     0.00000
spsy_cr_2          0.00000
spx_cr_2           0.00000
ixis_cr            0.00000
dji_cr_2           0.00000
foreigneretc_2     0.00000
invtrust_2         0.00000
retail_1           0.00000

In [124]:
new_col = list(feature_df.index[:74]) +  ['cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20']