### feature합치기
#### investors, historical(매일 거래량 등) and 분류항목 합치기

In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [6]:
# index column : date
def find_previous_date(df_inv, df_his, date_current):
    i = 0
    date2 = 0
    while True:
        i += 1
        date2 = date_current - datetime.timedelta(days = i)
        if (df_inv.loc[date2]['retail'] != 0) & (df_his.loc[date2]['vol'] != '') :  
            # investors와 historical 두 개 데이터에 같이 없어야 함
            break
        if i >= 30:
            break
    return date2

In [7]:
def find_ratio(df_o, date_current):
    df_o_trans = df_o.transpose()
    df_o_trans.columns = ['before', 'after']
    df_o_trans[date_current] = (df_o_trans['after'] - df_o_trans['before']) / df_o_trans['before']
    return df_o_trans.transpose()

In [95]:
def combine_data(df_o, df_inv, df_his):
    investor_rate = pd.DataFrame()
    historical_rate = pd.DataFrame()
    date_weekday = pd.DataFrame()
    for date_current in df_o.index:
        date_previous = find_previous_date(df_inv, df_his, date_current)
        # 거래 전날 요일 구하기
        date_temp = {'date': date_current, 'weekday' : date_previous.weekday()}
        df_temp = pd.DataFrame(date_temp, index=[0]).set_index('date')
        date_weekday = pd.concat([date_weekday, df_temp], axis=0)
        date_previous_1 = find_previous_date(df_inv, df_his, date_previous)
        # 거래 전날, 전전날을 확인하고 변화정도 계산하기(find_ratio)
        df_inv_comp = df_inv.loc[[date_previous_1, date_previous]]
        df_his_comp = df_his.loc[[date_previous_1, date_previous]]
        investor_rate = pd.concat([investor_rate, find_ratio(df_inv_comp, date_current).iloc[[-1]]], axis=0)
        historical_rate = pd.concat([historical_rate, find_ratio(df_his_comp, date_current).iloc[[-1]]], axis=0)
    total = pd.concat([investor_rate, historical_rate, date_weekday, df_o ], axis=1)
    return total

In [2]:
code = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'],
                 '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}
# code = {'005930': ['삼성전자', 'sec']}

In [3]:
pkl_directory = '../data/company_daily_price_pkl'
pkl_directory = './'
pkl_directory = '../data/company_pkl/'

In [4]:
hist_column = [ 'date', 'open', 'high', 'low', 'close', 'close_cr', 'vol']
hist_column_m = [ 'date', 'open', 'high', 'low', 'close', 'vol']
inv_column = ['date', 'retail', 'foreigner', 'institution', 'financial', 'invtrust', 'pension', 'privequity',
              'bank', 'insurance', 'financeetc', 'corporateetc', 'foreigneretc']

In [102]:
# investor.pkl, historical.pkl. 읽기
for key, val in code.items():
    pkl_name= '{}.pkl'.format(val[1])
    globals()['df_{}'.format(val[1])] = pd.read_pickle('./' + pkl_name)
    globals()['df_{}'.format(val[1])]['date'] = pd.to_datetime(globals()['df_{}'.format(val[1])]['date']) #change to timestamp
    globals()['df_{}'.format(val[1])]['date'] = globals()['df_{}'.format(val[1])]['date'].dt.date  # change to datetime
    pkl_name= '{}_historical.pkl'.format(val[1])
    globals()['df_{}_{}'.format(val[1], 'historical')] = pd.read_pickle(pkl_directory + pkl_name)
    globals()['df_{}_{}'.format(val[1], 'historical')] = globals()['df_{}_{}'.format(val[1], 'historical')][hist_column_m]
    # close_cr 행을 없앰(변동이 없는 경우가 빌생하여 divided zero error 발생)
    globals()['df_{}_{}'.format(val[1], 'historical')]['date'] = globals()['df_{}_{}'.format(val[1], 'historical')]['date'].dt.date # change to datetime
    pkl_name= '{}_investors.pkl'.format(val[1])
    globals()['df_{}_{}'.format(val[1], 'investors')] = pd.read_pickle(pkl_directory + pkl_name)
    globals()['df_{}_{}'.format(val[1], 'investors')]['date'] = globals()['df_{}_{}'.format(val[1], 'investors')]['date'].dt.date # change to datetime
    
    # get combined data (eg. df_sec_combined, df_ktng_combined...)
    globals()['df_{}_{}'.format(val[1], 'combined')] = combine_data(globals()['df_{}'.format(val[1])].set_index('date'),
                            globals()['df_{}_{}'.format(val[1], 'investors')].set_index('date'),
                            globals()['df_{}_{}'.format(val[1], 'historical')].set_index('date')
                            )

In [104]:
column_selected = ['retail', 'foreigner', 'institution', 'financial', 'invtrust', 'pension', 'privequity',
              'open', 'high', 'low', 'close',  'vol', 'weekday', 'value']

In [106]:
dd = df_ktng_combined[column_selected]
dd

,retail,foreigner,institution,financial,invtrust,pension,privequity,open,high,low,close,vol,weekday,value
2022-06-20,5.957611,1.382777,0.326582,-5.192308,43.800000,0.244039,-0.226131,-0.006002,-0.003576,-0.004813,0.0,0.639612,4,2
2022-06-21,0.555802,-0.482667,-1.686069,0.642601,3.437500,-0.736189,-1.850649,0.008454,0.001196,-0.007255,-0.010791,-0.423148,0,3
2022-06-22,0.085084,-0.499857,1.037552,0.003643,-0.730382,-0.917094,-0.022901,-0.00479,-0.003584,0.00609,0.007273,-0.158932,1,2
2022-06-23,-0.655512,0.301026,-1.034130,-0.965884,-0.839552,3.865979,-0.593750,0.002407,0.003597,-0.006053,-0.01083,0.322923,2,1
2022-06-24,3.798095,-0.383436,-62.020000,54.368794,-17.558140,-0.783898,35.788462,-0.004802,-0.004779,0.001218,0.004866,0.227933,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-06,-2.487371,-0.349324,-0.808428,-0.546407,-0.537390,-0.629674,-5.015306,-0.015054,0.001074,-0.005464,0.008696,-0.240714,4,3
2023-02-07,-1.235220,-0.282157,1.394554,4.132013,-0.493661,-1.631922,-1.927573,0.010917,-0.006438,0.001099,-0.012931,-0.174638,0,2
2023-02-08,4.421123,0.718383,1.275585,-0.562272,2.456964,-4.628007,1.839726,-0.016199,-0.0054,-0.007684,-0.007642,0.164638,1,3
2023-02-09,-1.260666,-0.451439,-0.763081,-1.144466,-0.642825,-0.585129,-0.926676,-0.008782,-0.006515,-0.001106,0.006601,-0.382764,2,2
2023-02-10,-8.907285,-0.807592,2.567825,-6.769492,0.057034,1.875000,0.282895,0.007752,0.001093,-0.011074,-0.016393,1.289747,3,3

## 여기까지 완료

In [8]:
# date column을 index로 옮김
df_inv = df_sec_investors.set_index('date')
df_his = df_sec_historical.set_index('date')
df_o = df_sec.set_index('date')

In [9]:
type(df_o.index[0]), type(df_inv.index[0]), type(df_his.index[0])

(datetime.date, datetime.date, datetime.date)

In [96]:
tt = combine_data(df_o, df_inv, df_his)

In [97]:
tt

,retail,foreigner,institution,financial,invtrust,pension,privequity,bank,insurance,financeetc,corporateetc,foreigneretc,open,high,low,close,vol,weekday,value
2022-06-20,8.195577,11.920678,-3.647354,7.363196,-30.591457,0.344811,23.893570,-2.813541,6.893887,-1.491670,1.854798,0.914929,-0.030995,-0.030744,-0.018182,-0.018062,0.210613,4,2
2022-06-21,-0.674957,-0.407361,2.593047,0.295068,-0.938927,-0.883900,-0.821502,-0.937576,-0.955874,0.062932,-0.814356,-0.661150,0.006734,0.0,-0.021886,-0.018395,0.152747,0,3
2022-06-22,-0.226413,-0.166064,-0.135501,0.034853,3.990909,4.034743,-0.044910,1.406863,4.635762,-0.988289,1.836559,-1.530848,-0.018395,-0.011686,0.001721,-0.003407,-0.261422,1,2
2022-06-23,-0.115765,-0.743679,-1.316192,-1.102356,-0.227930,0.236304,-4.804075,-1.851324,-0.502350,-21.944444,-0.254890,-1.760291,0.005111,-0.001689,-0.010309,-0.015385,-0.077913,2,2
2022-06-24,-1.523278,3.064922,-8.766880,-20.769609,-2.370714,-0.040771,-0.727922,2.363636,-5.573790,2.116711,-2.381156,-1.818471,-0.022034,-0.018613,-0.013889,-0.003472,0.196271,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-06,-0.635452,-0.254523,0.645057,0.252732,3.124629,0.597621,0.821393,66.172414,-0.145471,-0.963989,-1.054321,-0.835429,0.011076,0.001565,0.00639,0.004724,-0.344014,4,2
2023-02-07,-3.234200,-1.582361,-0.141131,0.833977,-0.886691,-2.654234,-0.752389,1.544148,-1.088161,-0.269231,-2.209475,-7.215278,-0.017214,-0.015625,-0.022222,-0.034483,0.000573,0,2
2023-02-08,-0.875136,-1.248176,-0.422927,-0.533907,-0.642540,-1.424225,-0.885376,-1.037732,-1.509524,-1.684211,-1.557954,-1.039106,-0.014331,-0.007937,0.0,0.00487,-0.071571,1,3
2023-02-09,-5.506210,4.372431,-0.326232,-0.168002,0.358792,-1.294586,-2.716667,-13.898396,-2.752336,-19.230769,1.841929,9.057143,0.01454,0.0128,0.012987,0.019386,-0.142601,2,3
2023-02-10,-0.915176,-0.480742,0.886229,0.697890,-2.069281,-7.806827,4.597573,-0.970564,-1.872000,-1.628692,-0.157453,-1.224432,0.003185,0.0,-0.001603,-0.001585,-0.007206,3,1

In [92]:
total = pd.concat([investor_rate, historical_rate, date_weekday, df_o ], axis=1)
total

,retail,foreigner,institution,financial,invtrust,pension,privequity,bank,insurance,financeetc,corporateetc,foreigneretc,open,high,low,close,vol,weekday,value
2022-06-20,8.195577,11.920678,-3.647354,7.363196,-30.591457,0.344811,23.893570,-2.813541,6.893887,-1.491670,1.854798,0.914929,-0.030995,-0.030744,-0.018182,-0.018062,0.210613,4,2
2022-06-21,-0.674957,-0.407361,2.593047,0.295068,-0.938927,-0.883900,-0.821502,-0.937576,-0.955874,0.062932,-0.814356,-0.661150,0.006734,0.0,-0.021886,-0.018395,0.152747,0,3
2022-06-22,-0.226413,-0.166064,-0.135501,0.034853,3.990909,4.034743,-0.044910,1.406863,4.635762,-0.988289,1.836559,-1.530848,-0.018395,-0.011686,0.001721,-0.003407,-0.261422,1,2
2022-06-23,-0.115765,-0.743679,-1.316192,-1.102356,-0.227930,0.236304,-4.804075,-1.851324,-0.502350,-21.944444,-0.254890,-1.760291,0.005111,-0.001689,-0.010309,-0.015385,-0.077913,2,2
2022-06-24,-1.523278,3.064922,-8.766880,-20.769609,-2.370714,-0.040771,-0.727922,2.363636,-5.573790,2.116711,-2.381156,-1.818471,-0.022034,-0.018613,-0.013889,-0.003472,0.196271,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-06,-0.635452,-0.254523,0.645057,0.252732,3.124629,0.597621,0.821393,66.172414,-0.145471,-0.963989,-1.054321,-0.835429,0.011076,0.001565,0.00639,0.004724,-0.344014,4,2
2023-02-07,-3.234200,-1.582361,-0.141131,0.833977,-0.886691,-2.654234,-0.752389,1.544148,-1.088161,-0.269231,-2.209475,-7.215278,-0.017214,-0.015625,-0.022222,-0.034483,0.000573,0,2
2023-02-08,-0.875136,-1.248176,-0.422927,-0.533907,-0.642540,-1.424225,-0.885376,-1.037732,-1.509524,-1.684211,-1.557954,-1.039106,-0.014331,-0.007937,0.0,0.00487,-0.071571,1,3
2023-02-09,-5.506210,4.372431,-0.326232,-0.168002,0.358792,-1.294586,-2.716667,-13.898396,-2.752336,-19.230769,1.841929,9.057143,0.01454,0.0128,0.012987,0.019386,-0.142601,2,3
2023-02-10,-0.915176,-0.480742,0.886229,0.697890,-2.069281,-7.806827,4.597573,-0.970564,-1.872000,-1.628692,-0.157453,-1.224432,0.003185,0.0,-0.001603,-0.001585,-0.007206,3,1

In [108]:
common_pkl = ["bok_rate.pkl", "cpi.pkl", "dji.pkl", "dji_future.pkl", "dxy_future.pkl", 
              "fear_greed.pkl", "fed_rate.pkl", "gold.pkl", "ixic_future.pkl", "kor_10yr_bond.pkl",
              "kor_2yr_bond.pkl", "kosdaq.pkl", "kospi.pkl", "krw_rate.pkl", "nas.pkl",
              "snp_future.pkl", "sox.pkl", "spx.pkl", "us_10yr_bond.pkl", "us_2yr_bond.pkl",
              "us_3mon_bond.pkl", "vix.pkl", "wti_future.pkl"]

In [110]:
common_pkl[0][:-4]

'bok_rate'

In [112]:
pkl_common_directory = '../data/common_pkl/'
for index_name in common_pkl:
    globals()['df_{}'.format(index[:-4])] = pd.read_pickle(pkl_common_directory + index_name)
    combine_data(globals()['df_{}'.format(val[1])].set_index('date'),
                            globals()['df_{}_{}'.format(val[1], 'investors')].set_index('date'),
                            globals()['df_{}_{}'.format(val[1], 'historical')].set_index('date')
                            )

In [119]:
df_kospi

          date    kospi     open     high      low   volume kospi_cr
0   2020-01-02  2175.17  2201.21  2202.32  2171.84  494.68M   -1.02%
1   2020-01-03  2176.46  2192.58  2203.38  2165.39  631.56M   +0.06%
2   2020-01-06  2155.07  2154.97  2164.42  2149.95  592.67M   -0.98%
3   2020-01-07  2175.54  2166.60  2181.62  2164.27  568.24M   +0.95%
4   2020-01-08  2151.31  2156.27  2162.32  2137.72  913.83M   -1.11%
..         ...      ...      ...      ...      ...      ...      ...
769 2023-02-10  2469.73  2470.65  2473.80  2454.74  662.37M   -0.48%
770 2023-02-13  2452.70  2461.96  2462.58  2440.86  486.40M   -0.69%
771 2023-02-14  2465.64  2471.33  2480.34  2459.83  349.43M   +0.53%
772 2023-02-15  2427.90  2473.09  2473.44  2424.16  387.07K   -1.53%
773 2023-02-16  2471.40  2444.06  2475.99  2442.07  365.18K   +1.79%

[774 rows x 7 columns]