### feature합치기
#### investors, historical(매일 거래량 등) and 분류항목 합치기

In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [2]:
code = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'],
                 '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}
# code = {'005930': ['삼성전자', 'sec']}

In [3]:
pkl_directory = '../data/company_daily_price_pkl'
pkl_directory = './'
pkl_directory = '../data/company_pkl/'

In [4]:
# investor.pkl, historical.pkl. 읽기
for key, val in code.items():
    pkl_name= '{}.pkl'.format(val[1])
    globals()['df_{}'.format(val[1])] = pd.read_pickle('./' + pkl_name)
    pkl_name= '{}_historical.pkl'.format(val[1])
    globals()['df_{}_{}'.format(val[1], 'historical')] = pd.read_pickle(pkl_directory + pkl_name)
    pkl_name= '{}_investors.pkl'.format(val[1])
    globals()['df_{}_{}'.format(val[1], 'investors')] = pd.read_pickle(pkl_directory + pkl_name)

In [5]:
# index column : date
def find_previous_date(df_inv, df_his, date_current):
    i = 0
    date2 = 0
    while True:
        i += 1
        date2 = date_current - datetime.timedelta(days = i)
        if (df_inv.loc[date2]['retail'] != 0) & (df_his.loc[date2]['vol'] != '') :
            break
        if i >= 30:
            break
    return date2

In [6]:
df_inv = df_sec_investors.set_index('date')
df_his = df_sec_historical.set_index('date')

In [7]:
date_currrent = datetime.datetime.strptime(df_sec.loc[0, 'date'], '%Y-%m-%d')
date_previous = find_previous_date(df_inv, df_his, date_currrent)
df_inv_comp = df_inv.loc[[date_previous, date_currrent]]
df_his_comp = df_his.loc[[date_previous, date_currrent]]

In [8]:
df_inv_comp

,retail,foreigner,institution,financial,invtrust,pension,privequity,bank,insurance,financeetc,corporateetc,foreigneretc
date,,,,,,,,,,,,
2022-06-17,387097.0,-438334.0,36417.0,105301.0,-27017.0,-28510.0,-11227.0,3268.0,-6844.0,1446.0,12524.0,2296.0
2022-06-20,125823.0,-259774.0,130848.0,136372.0,-1650.0,-3310.0,-2004.0,204.0,-302.0,1537.0,2325.0,778.0

In [ ]:
df_inv_trans = pd.DataFrame(df_inv_comp.values.T)
df_inv_trans.columns = ['before', 'after']

In [ ]:
def calc_percent(x, y) :
    return (y - x) / x

In [ ]:
del df_nn
df_nn = df_inv_trans

In [ ]:
df_nn ['perc'] = (df_nn['after'] - df_nn['before']) / df_nn['before']

In [ ]:
df_nn

In [ ]:
df_inv_trans.columns = ['before', 'after']

In [ ]:
df_inv_comp.apply()

In [ ]:
def calc_increment_percent(df_inv, df_his, date_current):
    date_previous = find_previous_date(df_inv, df_his, date_current)
    df_inv_comp = df_inv.loc[[date_previous, date_current]]
    df_his_comp = df_his.loc[[date_previous, date_current]]
    return inc

In [ ]:
date1 = datetime.datetime.strptime(df_sec.loc[0, 'date'], '%Y-%m-%d')
# date1 = datetime.datetime.strptime('2022-06-16', '%Y-%m-%d')
aa = find_previous_date(df_inv, df_his, date1)

In [ ]:
aa

In [ ]:
date1 = datetime.datetime.strptime('2022-06-17', '%Y-%m-%d')
bb = find_previous_date(df_inv, df_his, date1)
bb