### feature합치기
#### investors, historical(매일 거래량 등) and 분류항목 합치기

In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [2]:
# index column : date
def find_previous_date(df_inv, df_his, date_current): # 현재일에서 바로 직전 1~3거래일을 찾음.
    i = 0
    date2 = 0
    while True:
        i += 1
        date2 = date_current - datetime.timedelta(days = i)

        if (df_inv.loc[date2]['retail'] != 0) & (df_his.loc[date2]['vol'] != '') :  
            # investors와 historical 두 개 데이터에 같이 없어야 함
            break
        if i >= 30:  # 현재일 대비 최대 30일전까지 거래가 있을 경우 계산 (현실적으로 최대 10일 이상 폐장되는 경우 없음)
            break
            
    return date2

In [3]:
# 거래일과 거래일 바로 이전일의 변화율을 계산함.
def find_ratio(df_o, date_current):
    df_o_trans = df_o.transpose()
    df_o_trans.columns = ['before', 'after']
    df_o_trans[date_current] = (df_o_trans['after'] - df_o_trans['before']) / df_o_trans['before']
    return df_o_trans.transpose()

In [4]:
# 변화율(historical, investors), weekday를 계산하고 합하여 return함
def combine_data(df_o, df_inv, df_his):
    # df_inv : df_investor, df_his: df_historical
    investor_rate = pd.DataFrame()
    historical_rate = pd.DataFrame()
    date_weekday = pd.DataFrame()
    current_previous_date = {}
    
    # 최초의 0이 아닌(최초 거래가 이루어진 일자) 날짜로 부터 일주일 후부터 기준.
    # 최초 2일전까지의 날짜를 확보하기 위함. 현재일의 전날과 전전날의 이틀간 데이터 변화율 계산
    for k, i in enumerate(df_inv.iloc[:, 1]):  
        if i != 0: 
            skip_num = k + 10 # 8: 전일, 9: 전전일, 10: -3일까지 확보 
            break

    for date_current in df_o.index[skip_num:]: 
        # 최초 2일전까지의 날짜를 확보하기 위함. 현재일의 전날과 전전날의 이틀간 데이터 변화율 계산
        # 거래 전일(-1일) 날짜구하기

        # 거래가 없는날 (개인의 거래가 없는 날) 은 skip
        if df_investors_temp.set_index('date').loc[date_current].iloc[0] == 0: 
            continue
            
        date_previous_c = find_previous_date(df_inv, df_his, date_current)
        current_previous_date[date_current] = date_previous_c

        # 거래 전날 요일 구하기
        date_temp = {'date': date_current, 'weekday' : date_previous_c.weekday()}
        df_temp = pd.DataFrame(date_temp, index=[0]).set_index('date')
        date_weekday = pd.concat([date_weekday, df_temp], axis=0)
        date_previous_1 = find_previous_date(df_inv, df_his, date_previous_c)
        # 거래 전날, 전전날을 확인하고 변화정도 계산하기(find_ratio)
        df_inv_comp_1 = df_inv.loc[[date_previous_1, date_previous_c]]
        df_his_comp_1 = df_his.loc[[date_previous_1, date_previous_c]]
    
    
        # 거래 전전일(-2일) 날짜 구하기
        date_previous_2 = find_previous_date(df_inv, df_his, date_previous_1)
        # 거래 전전날(-2일째) 요일 구하기  -- 2일전 요일은 의미 없을 것 같아서 추가하지 않음.
#         date_temp_2 = {'date': date_current, 'weekday' : date_previous_2.weekday()}
#         df_temp_2 = pd.DataFrame(date_temp_2, index=[0]).set_index('date')
#         date_weekday = pd.concat([date_weekday, df_temp_2], axis=0)
        # 거래 전날(-1일), 전전날(-3일)을 확인하고 변화정도 계산하기(find_ratio)
        df_inv_comp_2 = df_inv.loc[[date_previous_2, date_previous_c]]
        df_his_comp_2 = df_his.loc[[date_previous_2, date_previous_c]]
            
        # 전날 -전전날 ratio, 전날 - 전전전날 ratio, column확대
        df_inv_concat_2 = pd.concat([find_ratio(df_inv_comp_1, date_current).iloc[[-1]],
                                 find_ratio(df_inv_comp_2, date_current).iloc[[-1]]], axis=1)
        df_his_concat_2 = pd.concat([find_ratio(df_his_comp_1, date_current).iloc[[-1]],
                                 find_ratio(df_his_comp_2, date_current).iloc[[-1]]], axis=1)
        
        investor_rate = pd.concat([investor_rate,  df_inv_concat_2], axis=0)
        historical_rate = pd.concat([historical_rate, df_his_concat_2], axis=0)

    total = pd.concat([investor_rate, historical_rate, date_weekday, df_o ], axis=1)

    return total, current_previous_date

In [5]:
code = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'],
                 '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}
# code = {'005930': ['삼성전자', 'sec']}

code = {'005930' : ['삼성전자', 'sec'], '373220' : ['LG에너지솔루션', 'lgenergy'], 
        '000660' : ['SK하이닉스', 'skhinix'], '207940' : ['삼성바이오로직스', 'ssbio'],
        '006400' : ['삼성SDI', 'sdi'], '051910' : ['LG화학', 'lgchemical'],
        '005935' : ['삼성전자우', 'secpre'], '005380' : ['현대차', 'hyunmotor'],
        '035420' : ['NAVER', 'naver'], '000270' : ['기아','kia'],
        '035720' : ['카카오', 'kakao'], '005490' : ['POSCO홀딩스', 'poscoholding'],
        '105560' : ['KB금융', 'kbbank'], '028260' : ['삼성물산', 'sscnt'],
        '068270' : ['셀트리온', 'celltrion'], '012330' : ['현대모비스', 'mobis'],
        '055550' : ['신한지주', 'shgroup'], '066570' : ['LG전자', 'lgelec'],
        '003670' : ['포스코케미칼', 'poscochemical'], '096770' : ['SK이노베이션', 'skinnovation'],
        '033780' : ['KT&G', 'ktng']}
code = {'005380' : ['현대차', 'hyunmotor']}

In [6]:
# hist_column = [ 'date', 'open', 'high', 'low', 'close', 'close_cr', 'vol']
hist_column_m = [ 'date', 'open', 'high', 'low', 'close', 'vol'] # close_cr 제외하고 사용. divided by zero 회피용
inv_column = ['date', 'retail', 'foreigner', 'institution', 'financial', 'invtrust', 'pension', 'privequity',
              'bank', 'insurance', 'financeetc', 'corporateetc', 'foreigneretc']

In [7]:
# investor.pkl, historical.pkl. 읽기

# ****************************************************************************************************
## 주요: 오늘날짜로 데이터를 분석하고자 하면 pkl directory 내의 .pkl 데이터가 오늘 날짜로 모두 update시켜 놓아야 함.
##   C:\jupyter연습\factors_affecting_stock_price' 디렉토리에 있는
#    'get_company_daily_price_since_last_update_to_pickle.ipynb' 과 (historical.pkl과 investors.pkl update 프로그램)
#     'get_common_data_since_last_update_to_pickle (미국, 한국 주요 지표 등 update용)
# ****************************************************************************************************
directory_for_ml_ex = '../data/data_for_ml/expand_date/'
directory_for_ml_ex_update = '../data/data_for_ml/expand_date/update/'
pkl_directory = '../data/company_pkl/'

for key, val in code.items():
#     pkl_name= '{}{}_4class.pkl'.format(directory_for_ml, val[1])
#     df_class_temp = pd.read_pickle(pkl_name)
#     df_class_temp['date'] = pd.to_datetime(df_class_temp['date']) #change to timestamp
#     df_class_temp['date'] = df_class_temp['date'].dt.date  # change to datetime
 
    pkl_name= '{}_historical.pkl'.format(val[1])
    df_historical_temp = pd.read_pickle(pkl_directory + pkl_name)
    df_historical_temp = df_historical_temp[hist_column_m]
    # close_cr 행을 없앰(변동이 없는 경우가 빌생하여 divided zero error 발생), close_cr은 target column에서 재 계산하여사용
    df_historical_temp['date'] = df_historical_temp['date'].dt.date # change to datetime
    
    pkl_name= '{}_investors.pkl'.format(val[1])
    df_investors_temp = pd.read_pickle(pkl_directory + pkl_name)
    df_investors_temp['date'] = df_investors_temp['date'].dt.date # change to datetime
    
    # ******** 시작 일자, 마지막 일자  지정 ***********
    start_date = datetime.date(2022, 1, 1) # 2022년 01월 01일 자료 있음. 추후 이전날짜 추가시 수정 필요
    end_date = df_investors_temp['date'].iloc[-1]  # 투자자별 자료가 있는 마지막 날짜
    
    date_range_ts = pd.date_range(start=start_date, end=end_date)
    df_base = pd.DataFrame(pd.Series(date_range_ts, name='date'))
    df_base['date'] = df_base['date'].dt.date
    
# get combined data (eg. df_sec_combined, df_ktng_combined...)
#     df_combined_temp = combine_data(df_class_temp.set_index('date'), df_investors_temp.set_index('date'),
#                                     df_historical_temp.set_index('date'))

    df_combined_temp, cp_date = combine_data(df_base.set_index('date'), 
                                    df_investors_temp.set_index('date'), df_historical_temp.set_index('date'))
    
    # column nama change according to the newly added columns
    column_name_change = ['retail_1', 'foreigner_1', 'institution_1', 'financial_1', 'invtrust_1', 'pension_1', 
          'privequity_1', 'bank_1', 'insurance_1', 'financeetc_1', 'corporateetc_1', 'foreigneretc_1', 
          'retail_2', 'foreigner_2', 'institution_2', 'financial_2', 'invtrust_2', 'pension_2', 
          'privequity_2', 'bank_2', 'insurance_2', 'financeetc_2', 'corporateetc_2', 'foreigneretc_2', 
          'open_1', 'high_1', 'low_1', 'close_1', 'vol_1', 
          'open_2', 'high_2', 'low_2', 'close_2', 'vol_2', 'weekday' ]
    
    df_combined_temp.columns = column_name_change
    
    df_combined_temp['temp'] = df_combined_temp['close_1'].shift(-1) # 현재날짜 증감을 확인하기 위하여 임시 컬럼 추가
    min_rate = 0.0 # +로 끝난 상황을 알기 위함
    df_combined_temp['cr_00'] = df_combined_temp['temp'].map(lambda x : 0 if x <= min_rate else ( 1 if x > min_rate  else  "" ))
    min_rate = 0.005 # 수수료등 비용 0.2672% 이상 확인하기 위함, 0.5% 상승 마감
    df_combined_temp['cr_05'] = df_combined_temp['temp'].map(lambda x : 0 if x <= min_rate else ( 1 if x > min_rate  else  "" ))
    min_rate = 0.010 # 1.0% 상승 마감
    df_combined_temp['cr_10'] = df_combined_temp['temp'].map(lambda x : 0 if x <= min_rate else ( 1 if x > min_rate  else  "" ))
    min_rate = 0.015 # 1.5% 상승 마감
    df_combined_temp['cr_15'] = df_combined_temp['temp'].map(lambda x : 0 if x <= min_rate else ( 1 if x > min_rate  else  "" ))
    min_rate = 0.020 # 2.0% 상승 마감
    df_combined_temp['cr_20'] = df_combined_temp['temp'].map(lambda x : 0 if x <= min_rate else ( 1 if x > min_rate  else  "" ))
    
    df_combined_temp.drop(columns='temp', inplace=True) # 사용후 삭제
    
    column_selected = column_name_change
    column_selected.extend(['cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20'])  # 아래 class column 이 변경에 따라 수정해야 함
    
    globals()['df_{}_{}'.format(val[1], 'combined')] = df_combined_temp.copy()
    globals()['df_{}_{}'.format(val[1], 'sel')] = df_combined_temp[column_selected]

In [8]:
df_combined_temp.iloc[:, 25:].head(10)

,high_1,low_1,close_1,vol_1,open_2,high_2,low_2,close_2,vol_2,weekday,cr_00,cr_05,cr_10,cr_15,cr_20
2022-01-12,-0.016279,0.0,0.004773,-0.355456,-0.02331,-0.023095,-0.021077,-0.02093,-0.184782,1.0,1,0,0,0,0
2022-01-13,0.007092,0.007177,0.004751,-0.017698,-0.011682,-0.009302,0.007177,0.009547,-0.366863,2.0,0,0,0,0,0
2022-01-14,0.0,-0.002375,-0.007092,0.057818,0.009547,0.007092,0.004785,-0.002375,0.039097,3.0,0,0,0,0,0
2022-01-17,-0.00939,-0.009524,-0.004762,-0.192091,-0.009456,-0.00939,-0.011876,-0.01182,-0.145379,4.0,0,0,0,0,0
2022-01-18,-0.009479,-0.026442,-0.019139,0.73891,-0.014184,-0.018779,-0.035714,-0.02381,0.404881,0.0,0,0,0,0,0
2022-01-19,-0.014354,-0.004938,-0.012195,-0.203217,-0.016706,-0.023697,-0.03125,-0.0311,0.385533,1.0,0,0,0,0,0
2022-01-20,-0.012136,-0.007444,-0.009877,-0.103097,-0.038369,-0.026316,-0.012346,-0.021951,-0.285363,2.0,1,1,0,0,0
2022-01-21,-0.004914,-0.0025,0.007481,-0.141439,-0.026699,-0.01699,-0.009926,-0.002469,-0.229954,3.0,0,0,0,0,0
2022-01-24,-0.007407,-0.005013,-0.009901,0.129685,-0.004988,-0.012285,-0.0075,-0.002494,-0.030097,4.0,0,0,0,0,0
2022-01-25,-0.004975,-0.017632,-0.015,0.263835,-0.014963,-0.012346,-0.022556,-0.024752,0.427735,0.0,0,0,0,0,0

In [9]:
'''
# 전체 column을 선정하여, 분석시에 선별하여 사용하도록 함.
column_selected = ['retail', 'foreigner', 'institution', 'financial', 'invtrust', 'pension', 'privequity',
              'bank', 'insurance', 'financeetc', 'corporateetc', 'foreigneretc',
              'open', 'high', 'low', 'close', 'vol','weekday']
'''

"\n# 전체 column을 선정하여, 분석시에 선별하여 사용하도록 함.\ncolumn_selected = ['retail', 'foreigner', 'institution', 'financial', 'invtrust', 'pension', 'privequity',\n              'bank', 'insurance', 'financeetc', 'corporateetc', 'foreigneretc',\n              'open', 'high', 'low', 'close', 'vol','weekday']\n"

## 주요 지표 읽기

### Read and Combine data

In [10]:
# common_pkl = ["bok_rate.pkl", "cpi.pkl", "dji.pkl", "dji_future.pkl", "dxy_future.pkl", 
#               "fear_greed.pkl", "fed_rate.pkl", "gold.pkl", "ixic_future.pkl", "kor_10yr_bond.pkl",
#               "kor_2yr_bond.pkl", "kosdaq.pkl", "kospi.pkl", "krw_rate.pkl", "nas.pkl",
#               "snp_future.pkl", "sox.pkl", "spx.pkl", "us_10yr_bond.pkl", "us_2yr_bond.pkl",
#               "us_3mon_bond.pkl", "vix.pkl", "wti_future.pkl"]

In [11]:
# 매일 변화가 있는 항목 추출; 금리변동과 같이 주기적을 발생하는 항목들(cpi, bok_rate, fed_rate 등)은 제외
common_pkl = [ "dji.pkl", "dji_future.pkl", "dxy_future.pkl", 
               "ixic_future.pkl", "kor_10yr_bond.pkl",
              "kor_2yr_bond.pkl", "kosdaq.pkl", "kospi.pkl", "krw_rate.pkl", "nas.pkl",
              "snp_future.pkl", "sox.pkl", "spx.pkl", "us_10yr_bond.pkl", "us_2yr_bond.pkl",
              "us_3mon_bond.pkl", "vix.pkl", "wti_future.pkl"]

In [12]:
common_col_name = {'dji.pkl':'dji', 'dji_future.pkl':'dji_f', 'dxy_future.pkl':'dxy', 
                   'ixic_future.pkl':'ixic_f', 'kor_10yr_bond.pkl':'bond_kor_10',
                   'kor_2yr_bond.pkl':'bond_kor_2', 'kosdaq.pkl':'kosdaq', 'kospi.pkl':'kospi',
                   'krw_rate.pkl':'krw', 'nas.pkl':'ixic', 'snp_future.pkl':'spx_f',
                   'sox.pkl':'sox', 'spx.pkl':'spx', 'us_10yr_bond.pkl':'bond_usa_10',
                   'us_2yr_bond.pkl':'bond_usa_2', 'us_3mon_bond.pkl':'bond_usa_3m',
                   'vix.pkl':'vix', 'wti_future.pkl':'wti' }

In [13]:
end_date = datetime.datetime.today().date()
start_date = '20220101'  # 2022년 01월 01일 자료 있음. 추후 이전날짜 추가시 수정 필요
date_range_ts = pd.date_range(start=start_date, end=end_date)

In [14]:
# pkl_common_directory = '../data/common_pkl/'
# df_base = pd.DataFrame(pd.Series(date_range_ts, name='date')).set_index('date')
# # for index_name in major_index:
# for index_name in common_pkl:
#     key_name = index_name[:-4]
# #     globals()['df_{}'.format(key_name)] = pd.read_pickle(pkl_common_directory + index_name)
# #     df_base = df_base.merge(globals()['df_{}'.format(key_name)].set_index('date').iloc[:, [-1]], \
# #                             how='left', left_index=True, right_index=True)
#     df_temp = pd.read_pickle(pkl_common_directory + index_name)
#     df_temp['date'] = df_temp['date'] + datetime.timedelta(days = 1) # 하루전 데이터와 일치시키기 위하여 하루 shift
#     df_base = df_base.merge(df_temp.set_index('date').iloc[:, [-1]], \
#                             how='left', left_index=True, right_index=True)

In [35]:
pkl_common_directory = '../data/common_pkl/'
# df_base_t = pd.DataFrame(pd.Series(date_range_ts, name='date'))['date'].dt.date
# df_base = df_base_t.set_index('date', inplace=True)

for index_name in common_pkl:
    key_name = index_name[:-4]
    col_name = common_col_name[index_name]
    df_temp = pd.read_pickle(pkl_common_directory + index_name)
    df_temp['date'] = df_temp['date'].dt.date # date type으로 변환
    df_temp['temp'] = df_temp[col_name].shift(2)  # 2일전 데이터와 비교하기 위하여 shift
    df_temp[f'{col_name}_cr_2'] = (df_temp[col_name] - df_temp['temp'])/df_temp['temp']*100 # 하루전 데이터는 "_cr"
#     df_temp['date'] = df_temp['date'] + datetime.timedelta(days = 1) # 하루전 데이터와 일치시키기 위하여 하루 shift
    
#     df_temp.iloc[[1],:]
#     df_temp.iloc[:, -3] 
#     for key, value in cp_date.items():
#         if df_base.index
#     df_base = df_base.merge(df_temp.set_index('date').iloc[:, [-3, -1]], \
#                             how='left', left_index=True, right_index=True)
    
# for date_current in df_o.index[skip_num:]: 
#     # 최초 2일전까지의 날짜를 확보하기 위함. 현재일의 전날과 전전날의 이틀간 데이터 변화율 계산
#     # 거래 전일(-1일) 날짜구하기

#     # 거래가 없는날 (개인의 거래가 없는 날) 은 skip
#     if df_investors_temp.set_index('date').loc[date_current].iloc[0] == 0: 
#         continue
# df_combined_temp = combine_data(df_base.set_index('date'), 
#                                     df_investors_temp.set_index('date'), df_historical_temp.set_index('date'))
#     date_previous_c = find_previous_date(df_inv, df_his, date_current)

In [45]:
df_base = pd.DataFrame(pd.Series(date_range_ts, name='date')).set_index('date')

In [46]:
df_base

Empty DataFrame
Columns: []
Index: [2022-01-01 00:00:00, 2022-01-02 00:00:00, 2022-01-03 00:00:00, 2022-01-04 00:00:00, 2022-01-05 00:00:00, 2022-01-06 00:00:00, 2022-01-07 00:00:00, 2022-01-08 00:00:00, 2022-01-09 00:00:00, 2022-01-10 00:00:00, 2022-01-11 00:00:00, 2022-01-12 00:00:00, 2022-01-13 00:00:00, 2022-01-14 00:00:00, 2022-01-15 00:00:00, 2022-01-16 00:00:00, 2022-01-17 00:00:00, 2022-01-18 00:00:00, 2022-01-19 00:00:00, 2022-01-20 00:00:00, 2022-01-21 00:00:00, 2022-01-22 00:00:00, 2022-01-23 00:00:00, 2022-01-24 00:00:00, 2022-01-25 00:00:00, 2022-01-26 00:00:00, 2022-01-27 00:00:00, 2022-01-28 00:00:00, 2022-01-29 00:00:00, 2022-01-30 00:00:00, 2022-01-31 00:00:00, 2022-02-01 00:00:00, 2022-02-02 00:00:00, 2022-02-03 00:00:00, 2022-02-04 00:00:00, 2022-02-05 00:00:00, 2022-02-06 00:00:00, 2022-02-07 00:00:00, 2022-02-08 00:00:00, 2022-02-09 00:00:00, 2022-02-10 00:00:00, 2022-02-11 00:00:00, 2022-02-12 00:00:00, 2022-02-13 00:00:00, 2022-02-14 00:00:00, 2022-02-15 00:00:00, 2022-02-16 00:00:00, 2022-02-17 00:00:00, 2022-02-18 00:00:00, 2022-02-19 00:00:00, 2022-02-20 00:00:00, 2022-02-21 00:00:00, 2022-02-22 00:00:00, 2022-02-23 00:00:00, 2022-02-24 00:00:00, 2022-02-25 00:00:00, 2022-02-26 00:00:00, 2022-02-27 00:00:00, 2022-02-28 00:00:00, 2022-03-01 00:00:00, 2022-03-02 00:00:00, 2022-03-03 00:00:00, 2022-03-04 00:00:00, 2022-03-05 00:00:00, 2022-03-06 00:00:00, 2022-03-07 00:00:00, 2022-03-08 00:00:00, 2022-03-09 00:00:00, 2022-03-10 00:00:00, 2022-03-11 00:00:00, 2022-03-12 00:00:00, 2022-03-13 00:00:00, 2022-03-14 00:00:00, 2022-03-15 00:00:00, 2022-03-16 00:00:00, 2022-03-17 00:00:00, 2022-03-18 00:00:00, 2022-03-19 00:00:00, 2022-03-20 00:00:00, 2022-03-21 00:00:00, 2022-03-22 00:00:00, 2022-03-23 00:00:00, 2022-03-24 00:00:00, 2022-03-25 00:00:00, 2022-03-26 00:00:00, 2022-03-27 00:00:00, 2022-03-28 00:00:00, 2022-03-29 00:00:00, 2022-03-30 00:00:00, 2022-03-31 00:00:00, 2022-04-01 00:00:00, 2022-04-02 00:00:00, 2022-04-03 00:00:00, 2022-04-04 00:00:00, 2022-04-05 00:00:00, 2022-04-06 00:00:00, 2022-04-07 00:00:00, 2022-04-08 00:00:00, 2022-04-09 00:00:00, 2022-04-10 00:00:00, ...]

[439 rows x 0 columns]

In [ ]:
df_base_t = pd.DataFrame(pd.Series(date_range_ts, name='date'))['date'].dt.date
df_base = df_base.set_index('date', inplace=True)

In [59]:
for i, date_t in enumerate(df_base.index):
#     print(date_t.date())
    dd =  df_temp[df_temp['date']  == date_t.date()]
    print(dd)

Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
527  2022-01-03  76.08  75.69  76.46  74.27  317.63K  +1.16%  76.99 -1.181972
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
528  2022-01-04  76.99  76.02  77.64  75.7  372.85K  +1.20%  75.21  2.366707
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
529  2022-01-05  77.85  77.18  78.58  76.51  397.90K  +1.12%  76.08  2.326498
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
530  2022-01-06  79.46  77.24  80.24  76.73  476.67K  +2.07%  76.99  3.208209
           date   wti   open   high    low   volume  wti_cr   temp  wti_cr_2
531  2022-01-07  78.9  79.62  80.47  78.52  414.43K  -0.70%  77.85  1.348748
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
532  2022-01-10  78.23  78.88  79.45  77.83  389.96K  -0.85%  79.46 -1.547949
           date    wti   open   high    low   volume  wti_cr  temp  wti_cr_2
533  2022-01-11  81.22  78.42  81.59  78.36  481.82K  +3.82%  78.9  2.940431
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
534  2022-01-12  82.64  81.38  83.1  81.17  420.62K  +1.75%  78.23  5.637224
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
535  2022-01-13  82.12  82.82  82.94  81.39  364.77K  -0.63%  81.22  1.108101
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
536  2022-01-14  83.82  81.73  84.45  81.58  364.44K  +2.07%  82.64   1.42788
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
537  2022-01-16  83.83  83.78  84.09  83.68    NaN  +0.01%  82.12  2.082319
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
538  2022-01-17  83.69  83.84  83.95  82.94    NaN  -0.17%  83.82 -0.155094
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
539  2022-01-18  85.43  84.32  86.63  83.5  163.64K  +2.08%  83.83  1.908625
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
540  2022-01-19  86.96  86.61  87.91  85.77  113.15K  +1.79%  83.69  3.907277
           date   wti   open   high   low  volume  wti_cr   temp  wti_cr_2
541  2022-01-20  86.9  86.23  87.82  86.0  30.39K  -0.07%  85.43  1.720707
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
542  2022-01-21  85.14  84.57  85.56  82.78  509.10K  -2.03%  86.96 -2.092916
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high   low   volume  wti_cr  temp  wti_cr_2
543  2022-01-24  83.31  84.91  86.09  81.9  511.70K  -2.15%  86.9 -4.131185
           date   wti   open   high    low   volume  wti_cr   temp  wti_cr_2
544  2022-01-25  85.6  84.15  85.71  82.99  507.22K  +2.75%  85.14  0.540287
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
545  2022-01-26  87.35  85.26  87.95  85.01  459.64K  +2.04%  83.31  4.849358
           date    wti   open   high   low   volume  wti_cr  temp  wti_cr_2
546  2022-01-27  86.61  87.15  88.54  86.2  427.80K  -0.85%  85.6  1.179907
           date    wti  open   high    low   volume  wti_cr   temp  wti_cr_2
547  2022-01-28  86.82  87.5  88.84  86.44  436.17K  +0.24%  87.35 -0.606754
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
548  2022-01-31  88.15  87.45  88.39  86.34  359.08K  +1.53%  86.61  1.778086
           date   wti   open   high    low   volume  wti_cr   temp  wti_cr_2
549  2022-02-01  88.2  88.15  88.87  86.55  376.84K  +0.06%  86.82  1.589496
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
550  2022-02-02  88.26  88.35  89.72  87.1  456.86K  +0.07%  88.15  0.124787
           date    wti   open   high    low   volume  wti_cr  temp  wti_cr_2
551  2022-02-03  90.27  87.98  90.45  86.75  465.77K  +2.28%  88.2  2.346939
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
552  2022-02-04  92.31  90.19  93.17  90.07  410.93K  +2.26%  88.26  4.588715
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
553  2022-02-07  91.32  91.82  92.73  90.73  497.75K  -1.07%  90.27  1.163177
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
554  2022-02-08  89.36  91.64  91.68  88.51  467.39K  -2.15%  92.31 -3.195753
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
555  2022-02-09  89.66  89.86  90.58  88.41  445.62K  +0.34%  91.32 -1.817784
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
556  2022-02-10  89.88  90.01  91.74  89.03  492.09K  +0.25%  89.36  0.581916
           date   wti  open   high    low   volume  wti_cr   temp  wti_cr_2
557  2022-02-11  93.1  90.0  94.66  89.19  554.42K  +3.58%  89.66  3.836716
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
558  2022-02-14  95.46  93.91  95.82  92.09  467.07K  +2.53%  89.88  6.208278
           date    wti   open   high    low   volume  wti_cr  temp  wti_cr_2
559  2022-02-15  92.07  94.83  95.17  90.66  442.64K  -3.55%  93.1 -1.106337
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
560  2022-02-16  93.66  92.21  95.01  90.0  401.45K  +1.73%  95.46 -1.885607
           date    wti  open   high    low   volume  wti_cr   temp  wti_cr_2
561  2022-02-17  91.76  90.9  93.36  90.62  212.55K  -2.03%  92.07   -0.3367
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
562  2022-02-18  91.07  91.63  92.66  89.03  150.38K  -0.75%  93.66 -2.765321
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
563  2022-02-20  91.62  91.22  91.74  91.08    NaN  +0.60%  91.76 -0.152572
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
564  2022-02-21  92.65  91.62  93.91  89.08    NaN  +1.12%  91.07  1.734929
           date    wti   open  high    low  volume  wti_cr   temp  wti_cr_2
565  2022-02-22  92.35  91.75  96.0  90.35  40.75K  -0.32%  91.62  0.796769
           date   wti   open  high    low   volume  wti_cr   temp  wti_cr_2
566  2022-02-23  92.1  91.74  93.9  90.64  440.57K  -0.27%  92.65 -0.593632
           date    wti   open    high    low   volume  wti_cr   temp  wti_cr_2
567  2022-02-24  92.81  92.52  100.54  91.45  872.24K  +0.77%  92.35  0.498105
           date    wti   open   high    low   volume  wti_cr  temp  wti_cr_2
568  2022-02-25  91.59  93.32  95.64  90.06  523.79K  -1.31%  92.1 -0.553746
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
569  2022-02-28  95.72  94.99  99.1  94.43  490.80K  +4.51%  92.81  3.135438
           date     wti   open    high    low   volume  wti_cr   temp  \
570  2022-03-01  103.41  96.09  106.78  95.32  698.81K  +8.03%  91.59

      wti_cr_2
570  12.905339
           date    wti    open    high     low   volume  wti_cr   temp  \
571  2022-03-02  110.6  107.12  112.51  105.18  651.85K  +6.95%  95.72

      wti_cr_2
571  15.545341
           date     wti    open    high     low   volume  wti_cr    temp  \
572  2022-03-03  107.67  111.33  116.57  106.43  592.03K  -2.65%  103.41

     wti_cr_2
572  4.119524
           date     wti    open    high     low   volume  wti_cr   temp  \
573  2022-03-04  115.68  107.96  116.02  107.25  493.88K  +7.44%  110.6

     wti_cr_2
573  4.593128
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti    open   high     low   volume  wti_cr    temp  \
574  2022-03-07  119.4  121.33  130.5  115.54  576.02K  +3.22%  107.67

     wti_cr_2
574   10.8944
           date    wti    open    high     low   volume  wti_cr    temp  \
575  2022-03-08  123.7  120.67  129.44  117.07  583.11K  +3.60%  115.68

     wti_cr_2
575  6.932918
           date    wti    open    high     low   volume   wti_cr   temp  \
576  2022-03-09  108.7  124.66  126.84  103.63  594.77K  -12.13%  119.4

     wti_cr_2
576 -8.961474
           date     wti    open    high     low   volume  wti_cr   temp  \
577  2022-03-10  106.02  110.41  114.88  105.53  437.92K  -2.47%  123.7

      wti_cr_2
577 -14.292643
           date     wti    open    high     low   volume  wti_cr   temp  \
578  2022-03-11  109.33  105.99  110.29  104.48  368.19K  +3.12%  108.7

     wti_cr_2
578  0.579577
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date     wti    open    high    low   volume  wti_cr    temp  \
579  2022-03-14  103.01  109.42  109.72  99.76  344.18K  -5.78%  106.02

     wti_cr_2
579 -2.839087
           date    wti    open    high    low   volume  wti_cr    temp  \
580  2022-03-15  96.44  102.28  102.58  93.53  401.69K  -6.38%  109.33

      wti_cr_2
580 -11.789994
           date    wti   open   high    low   volume  wti_cr    temp  wti_cr_2
581  2022-03-16  95.04  95.23  99.22  94.07  293.95K  -1.45%  103.01 -7.737113
           date     wti   open    high    low   volume  wti_cr   temp  \
582  2022-03-17  102.98  95.34  104.24  94.85  210.76K  +8.35%  96.44

     wti_cr_2
582  6.781418
           date    wti    open    high    low  volume  wti_cr   temp  \
583  2022-03-18  104.7  103.62  106.28  102.3  74.25K  +1.67%  95.04

      wti_cr_2
583  10.164141
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date     wti    open    high     low  volume  wti_cr    temp  \
584  2022-03-21  112.12  105.13  112.69  104.08  77.22K  +7.09%  102.98

     wti_cr_2
584   8.87551
           date     wti   open    high    low  volume  wti_cr   temp  wti_cr_2
585  2022-03-22  111.76  112.9  115.01  109.3  22.94K  -0.32%  104.7  6.743075
           date     wti    open   high     low   volume  wti_cr    temp  \
586  2022-03-23  114.93  108.85  115.4  108.38  289.18K  +2.84%  112.12

     wti_cr_2
586  2.506243
           date     wti    open    high     low   volume  wti_cr    temp  \
587  2022-03-24  112.34  114.47  116.64  110.61  307.24K  -2.25%  111.76

     wti_cr_2
587  0.518969
           date    wti    open    high     low   volume  wti_cr    temp  \
588  2022-03-25  113.9  111.75  114.12  108.68  320.30K  +1.39%  114.93

     wti_cr_2
588 -0.896198
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date     wti    open    high     low   volume  wti_cr    temp  \
589  2022-03-28  105.96  112.92  112.93  102.83  372.25K  -6.97%  112.34

     wti_cr_2
589 -5.679188
           date     wti    open    high    low   volume  wti_cr   temp  \
590  2022-03-29  104.24  103.47  107.84  98.44  387.20K  -1.62%  113.9

     wti_cr_2
590 -8.481124
           date     wti    open    high     low   volume  wti_cr    temp  \
591  2022-03-30  107.82  105.24  108.75  104.55  284.54K  +3.43%  105.96

     wti_cr_2
591  1.755379
           date     wti    open   high    low   volume  wti_cr    temp  \
592  2022-03-31  100.28  107.45  107.8  99.66  450.85K  -6.99%  104.24

     wti_cr_2
592 -3.798926
           date    wti    open    high    low   volume  wti_cr    temp  \
593  2022-04-01  99.27  101.23  101.75  97.78  324.78K  -1.01%  107.82

     wti_cr_2
593 -7.929883
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date     wti   open    high    low   volume  wti_cr    temp  \
594  2022-04-04  103.28  98.95  103.94  98.05  288.13K  +4.04%  100.28

     wti_cr_2
594  2.991623
           date     wti    open    high    low   volume  wti_cr   temp  \
595  2022-04-05  101.96  103.66  105.59  99.88  280.28K  -1.28%  99.27

     wti_cr_2
595  2.709781
           date    wti    open    high    low   volume  wti_cr    temp  \
596  2022-04-06  96.23  101.24  104.02  95.73  366.04K  -5.62%  103.28

     wti_cr_2
596 -6.826104
           date    wti   open   high    low   volume  wti_cr    temp  wti_cr_2
597  2022-04-07  96.03  97.16  98.82  93.81  367.32K  -0.21%  101.96 -5.816006
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
598  2022-04-08  98.26  97.17  98.76  95.29  310.08K  +2.32%  96.23  2.109529
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti  open   high    low   volume  wti_cr   temp  wti_cr_2
599  2022-04-11  94.29  98.4  98.52  92.93  315.87K  -4.04%  96.03 -1.811934
           date    wti   open    high    low   volume  wti_cr   temp  wti_cr_2
600  2022-04-12  100.6  95.17  101.35  94.84  329.04K  +6.69%  98.26  2.381437
           date     wti    open    high    low   volume  wti_cr   temp  \
601  2022-04-13  104.25  100.91  104.47  99.87  312.50K  +3.63%  94.29

      wti_cr_2
601  10.563156
           date     wti   open    high     low   volume  wti_cr   temp  \
602  2022-04-14  106.95  104.2  107.64  102.12  244.95K  +2.59%  100.6

     wti_cr_2
602  6.312127
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date     wti    open    high    low  volume  wti_cr    temp  \
603  2022-04-18  108.21  107.03  109.81  106.0  68.49K  +1.18%  104.25

     wti_cr_2
603  3.798561
           date     wti    open    high    low  volume  wti_cr    temp  \
604  2022-04-19  102.56  107.75  108.92  102.1  71.79K  -5.22%  106.95

     wti_cr_2
604 -4.104722
           date     wti    open    high    low  volume  wti_cr    temp  \
605  2022-04-20  102.75  103.05  104.16  100.7  17.02K  +0.19%  108.21

     wti_cr_2
605 -5.045744
           date     wti   open    high     low   volume  wti_cr    temp  \
606  2022-04-21  103.79  102.5  105.42  102.01  280.32K  +1.01%  102.56

     wti_cr_2
606  1.199298
           date     wti    open    high     low   volume  wti_cr    temp  \
607  2022-04-22  102.07  104.07  104.22  101.06  246.12K  -1.66%  102.75

     wti_cr_2
607   -0.6618
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti    open    high    low   volume  wti_cr    temp  \
608  2022-04-25  98.54  101.38  101.55  95.28  328.15K  -3.46%  103.79

     wti_cr_2
608 -5.058291
           date    wti   open    high    low   volume  wti_cr    temp  \
609  2022-04-26  101.7  98.64  102.78  97.06  351.85K  +3.21%  102.07

     wti_cr_2
609 -0.362496
           date     wti    open    high   low   volume  wti_cr   temp  \
610  2022-04-27  102.02  101.76  102.99  99.8  278.78K  +0.31%  98.54

     wti_cr_2
610  3.531561
           date     wti    open    high     low   volume  wti_cr   temp  \
611  2022-04-28  105.36  102.11  105.68  100.13  312.06K  +3.27%  101.7

     wti_cr_2
611   3.59882
           date     wti    open    high     low   volume  wti_cr    temp  \
612  2022-04-29  104.69  105.17  107.99  103.78  294.39K  -0.64%  102.02

     wti_cr_2
612  2.617134
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date     wti   open    high     low   volume  wti_cr    temp  \
613  2022-05-02  105.17  104.0  105.94  100.28  261.88K  +0.46%  105.36

     wti_cr_2
613 -0.180334
           date     wti    open   high    low   volume  wti_cr    temp  \
614  2022-05-03  102.41  105.08  105.8  102.1  239.27K  -2.62%  104.69

     wti_cr_2
614 -2.177858
           date     wti   open    high     low   volume  wti_cr    temp  \
615  2022-05-04  107.81  103.5  108.61  102.95  272.91K  +5.27%  105.17

     wti_cr_2
615  2.510222
           date     wti    open    high     low   volume  wti_cr    temp  \
616  2022-05-05  108.26  107.58  111.37  106.45  286.92K  +0.42%  102.41

     wti_cr_2
616  5.712333
           date     wti   open    high     low   volume  wti_cr    temp  \
617  2022-05-06  109.77  108.7  111.18  107.24  294.28K  +1.39%  107.81

     wti_cr_2
617  1.818013
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date     wti    open    high     low   volume  wti_cr    temp  \
618  2022-05-09  103.09  110.43  110.49  102.13  368.18K  -6.09%  108.26

     wti_cr_2
618  -4.77554
           date    wti    open    high    low   volume  wti_cr    temp  \
619  2022-05-10  99.76  102.65  104.16  98.86  389.75K  -3.23%  109.77

     wti_cr_2
619 -9.119067
           date     wti  open    high   low   volume  wti_cr    temp  wti_cr_2
620  2022-05-11  105.71  99.0  106.44  98.2  382.70K  +5.96%  103.09  2.541469
           date     wti    open    high     low   volume  wti_cr   temp  \
621  2022-05-12  106.13  105.63  107.37  102.66  323.55K  +0.40%  99.76

     wti_cr_2
621  6.385325
           date     wti    open    high     low   volume  wti_cr    temp  \
622  2022-05-13  110.49  106.65  110.64  106.29  240.99K  +4.11%  105.71

     wti_cr_2
622  4.521805
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti    open   high     low   volume  wti_cr    temp  \
623  2022-05-16  114.2  110.98  114.9  108.11  289.13K  +3.36%  106.13

     wti_cr_2
623  7.603882
           date    wti    open    high     low   volume  wti_cr    temp  \
624  2022-05-17  112.4  113.87  115.56  111.75  252.63K  -1.58%  110.49

     wti_cr_2
624  1.728663
           date     wti    open    high     low   volume  wti_cr   temp  \

           date     wti   open    high    low   volume  wti_cr  temp  wti_cr_2
664  2022-07-07  102.73  98.22  104.48  96.57  379.86K  +4.26%  99.5  3.246231
           date     wti    open    high     low   volume  wti_cr   temp  \
665  2022-07-08  104.79  102.22  105.24  101.51  327.46K  +2.01%  98.53

     wti_cr_2
665  6.353395
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date     wti    open    high     low   volume  wti_cr    temp  \
666  2022-07-11  104.09  104.79  105.05  100.89  348.57K  -0.67%  102.73

     wti_cr_2
666  1.323859
           date    wti    open    high    low   volume  wti_cr    temp  \
667  2022-07-12  95.84  103.46  103.49  95.35  398.55K  -7.93%  104.79

     wti_cr_2
667 -8.540891
           date   wti   open   high    low   volume  wti_cr    temp  wti_cr_2
668  2022-07-13  96.3  95.89  97.96  93.67  347.19K  +0.48%  104.09 -7.483908
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
669  2022-07-14  95.78  96.57  97.0  90.56  387.53K  -0.54%  95.84 -0.062604
           date    wti   open   high    low   volume  wti_cr  temp  wti_cr_2
670  2022-07-15  97.59  96.39  99.03  94.57  240.77K  +1.89%  96.3  1.339564
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low  volume  wti_cr   temp  wti_cr_2
671  2022-07-18  102.6  97.27  102.8  95.85  84.67K  +5.13%  95.78  7.120484
           date     wti   open    high    low  volume  wti_cr   temp  wti_cr_2
672  2022-07-19  104.22  102.0  104.46  99.85  63.15K  +1.58%  97.59  6.793729
           date     wti   open    high     low  volume  wti_cr   temp  \
673  2022-07-20  102.26  103.6  104.39  101.51  28.96K  -1.88%  102.6

     wti_cr_2
673 -0.331384
           date    wti   open   high    low   volume  wti_cr    temp  wti_cr_2
674  2022-07-21  96.35  99.91  99.99  94.59  318.91K  -5.78%  104.22 -7.551334
           date   wti   open   high    low   volume  wti_cr    temp  wti_cr_2
675  2022-07-22  94.7  96.51  97.95  94.23  307.57K  -1.71%  102.26  -7.39292
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date   wti  open   high    low   volume  wti_cr   temp  wti_cr_2
676  2022-07-25  96.7  95.1  96.94  93.01  279.00K  +2.11%  96.35  0.363259
           date    wti   open  high    low   volume  wti_cr  temp  wti_cr_2
677  2022-07-26  94.98  96.33  99.0  94.76  310.04K  -1.78%  94.7  0.295671
           date    wti  open   high   low   volume  wti_cr  temp  wti_cr_2
678  2022-07-27  97.26  95.6  98.59  94.3  321.90K  +2.40%  96.7  0.579111
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
679  2022-07-28  96.42  98.17  99.84  96.04  318.40K  -0.86%  94.98  1.516109
           date    wti  open    high    low   volume  wti_cr   temp  wti_cr_2
680  2022-07-29  98.62  97.3  101.88  96.41  349.37K  +2.28%  97.26  1.398314
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
681  2022-08-01  93.89  98.46  98.65  92.42  365.29K  -4.80%  96.42 -2.623937
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
682  2022-08-02  94.42  93.75  96.47  92.59  328.54K  +0.56%  98.62 -4.258771
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
683  2022-08-03  90.66  93.83  96.57  90.38  395.10K  -3.98%  93.89 -3.440196
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
684  2022-08-04  88.54  90.95  91.9  87.55  334.93K  -2.34%  94.42 -6.227494
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
685  2022-08-05  89.01  88.06  90.76  87.01  350.02K  +0.53%  90.66 -1.819987
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
686  2022-08-08  90.76  88.46  90.89  87.22  340.16K  +1.97%  88.54  2.507341
           date   wti   open   high    low   volume  wti_cr   temp  wti_cr_2
687  2022-08-09  90.5  90.69  92.65  89.05  347.05K  -0.29%  89.01  1.673969
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
688  2022-08-10  91.93  90.51  92.43  87.66  383.77K  +1.58%  90.76  1.289114
           date    wti   open   high    low   volume  wti_cr  temp  wti_cr_2
689  2022-08-11  94.34  91.55  95.05  91.24  341.23K  +2.62%  90.5  4.243094
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
690  2022-08-12  92.09  94.09  94.81  91.16  264.95K  -2.38%  91.93  0.174045
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
691  2022-08-15  89.41  91.94  92.1  86.82  275.44K  -2.91%  94.34 -5.225779
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
692  2022-08-16  86.53  87.93  90.65  85.73  305.37K  -3.22%  92.09 -6.037572
           date    wti  open   high    low   volume  wti_cr   temp  wti_cr_2
693  2022-08-17  88.11  87.1  89.16  85.88  230.35K  +1.83%  89.41 -1.453976
           date   wti   open   high    low  volume  wti_cr   temp  wti_cr_2
694  2022-08-18  90.5  87.39  91.46  87.32  80.03K  +2.71%  86.53  4.588004
           date    wti   open   high    low  volume  wti_cr   temp  wti_cr_2
695  2022-08-19  90.77  90.39  92.09  88.38  58.71K  +0.30%  88.11  3.018954
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high   low  volume  wti_cr  temp  wti_cr_2
696  2022-08-22  90.23  89.65  91.26  86.6  24.87K  -0.59%  90.5 -0.298343
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
697  2022-08-23  93.74  90.55  94.22  90.42  285.61K  +3.89%  90.77  3.272006
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
698  2022-08-24  94.89  93.78  95.4  92.79  320.39K  +1.23%  90.23  5.164579
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
699  2022-08-25  92.52  95.35  95.76  92.29  279.88K  -2.50%  93.74 -1.301472
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
700  2022-08-26  93.06  93.06  94.02  91.08  288.39K  +0.58%  94.89 -1.928549
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
701  2022-08-29  97.01  92.96  97.37  92.29  283.46K  +4.24%  92.52  4.853005
           date    wti  open   high    low   volume  wti_cr   temp  wti_cr_2
702  2022-08-30  91.64  96.9  97.66  90.54  386.27K  -5.54%  93.06 -1.525897
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
703  2022-08-31  89.55  92.31  92.73  88.27  344.15K  -2.28%  97.01 -7.689929
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
704  2022-09-01  86.61  88.83  89.63  85.98  305.11K  -3.28%  91.64 -5.488869
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
705  2022-09-02  86.87  86.56  89.66  86.35  277.53K  +0.30%  89.55 -2.992741
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
706  2022-09-04  88.25  86.91  88.28  86.91    NaN  +1.59%  86.61  1.893546
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
707  2022-09-05  88.96  88.27  90.37  87.98    NaN  +0.80%  86.87  2.405894
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
708  2022-09-06  86.88  86.84  90.39  86.18  420.26K  -2.34%  88.25 -1.552408
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
709  2022-09-07  81.94  86.93  87.76  81.5  380.78K  -5.69%  88.96 -7.891187
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
710  2022-09-08  83.54  81.91  84.25  81.2  342.76K  +1.95%  86.88 -3.844383
           date    wti  open  high    low   volume  wti_cr   temp  wti_cr_2
711  2022-09-09  86.79  82.8  87.2  82.71  305.19K  +3.89%  81.94  5.918965
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
712  2022-09-12  87.78  86.25  89.1  85.16  275.10K  +1.14%  83.54  5.075413
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
713  2022-09-13  87.31  88.09  89.31  85.06  348.00K  -0.54%  86.79  0.599147
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
714  2022-09-14  88.48  87.94  90.19  86.18  335.38K  +1.34%  87.78  0.797448
           date   wti   open   high    low   volume  wti_cr   temp  wti_cr_2
715  2022-09-15  85.1  88.91  89.15  84.53  235.36K  -3.82%  87.31 -2.531211
           date    wti   open   high    low  volume  wti_cr   temp  wti_cr_2
716  2022-09-16  85.11  85.16  86.59  84.27  87.83K  +0.01%  88.48  -3.80877
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high   low  volume  wti_cr  temp  wti_cr_2
717  2022-09-19  85.73  85.21  86.22  82.1  59.63K  +0.73%  85.1  0.740306
           date    wti   open   high    low  volume  wti_cr   temp  wti_cr_2
718  2022-09-20  84.45  85.61  86.45  83.52  26.23K  -1.49%  85.11 -0.775467
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
719  2022-09-21  82.94  84.25  86.68  82.49  339.68K  -1.79%  85.73 -3.254403
           date    wti   open  high   low   volume  wti_cr   temp  wti_cr_2
720  2022-09-22  83.49  83.07  86.0  82.4  303.49K  +0.66%  84.45 -1.136767
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
721  2022-09-23  78.74  83.54  83.92  78.04  334.27K  -5.69%  82.94 -5.063902
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
722  2022-09-26  76.71  79.23  80.31  76.25  280.93K  -2.58%  83.49 -8.120733
           date   wti   open   high    low   volume  wti_cr   temp  wti_cr_2
723  2022-09-27  78.5  76.47  79.51  76.42  283.61K  +2.33%  78.74 -0.304801
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
724  2022-09-28  82.15  78.08  82.34  76.55  324.68K  +4.65%  76.71  7.091644
           date    wti  open   high    low   volume  wti_cr  temp  wti_cr_2
725  2022-09-29  81.23  81.9  82.94  80.34  286.13K  -1.12%  78.5  3.477707
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
726  2022-09-30  79.49  81.74  82.56  79.14  253.15K  -2.14%  82.15 -3.237979
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
727  2022-10-03  83.63  81.02  84.56  80.87  287.17K  +5.21%  81.23  2.954573
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
728  2022-10-04  86.52  83.22  86.98  83.22  302.55K  +3.46%  79.49   8.84388
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
729  2022-10-05  87.76  86.37  88.42  85.42  329.79K  +1.43%  83.63  4.938419
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
730  2022-10-06  88.45  88.08  89.07  87.04  235.30K  +0.79%  86.52  2.230698
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
731  2022-10-07  92.64  88.93  93.31  88.0  429.16K  +4.74%  87.76   5.56062
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
732  2022-10-10  91.13  93.48  93.64  90.54  289.51K  -1.63%  88.45   3.02996
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
733  2022-10-11  89.35  91.14  91.35  87.91  333.16K  -1.95%  92.64 -3.551382
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
734  2022-10-12  87.27  88.67  90.07  86.28  332.27K  -2.33%  91.13 -4.235707
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
735  2022-10-13  89.11  87.08  89.66  85.56  298.03K  +2.11%  89.35 -0.268607
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
736  2022-10-14  85.61  89.27  89.73  85.2  237.03K  -3.93%  87.27 -1.902143
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
737  2022-10-17  85.46  85.59  87.12  84.61  172.02K  -0.18%  89.11 -4.096061
           date    wti  open   high    low  volume  wti_cr   temp  wti_cr_2
738  2022-10-18  82.82  85.7  86.51  82.09  97.30K  -3.09%  85.61 -3.258965
           date    wti   open  high    low  volume  wti_cr   temp  wti_cr_2
739  2022-10-19  85.55  83.69  86.2  82.59  71.31K  +3.30%  85.46  0.105312
           date    wti   open   high    low  volume  wti_cr   temp  wti_cr_2
740  2022-10-20  85.98  85.94  88.17  85.22  18.18K  +0.50%  82.82  3.815504
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
741  2022-10-21  85.05  85.07  85.9  83.15  272.80K  -1.08%  85.55 -0.584454
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
742  2022-10-24  84.58  85.24  85.92  82.63  250.73K  -0.55%  85.98 -1.628286
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
743  2022-10-25  85.32  84.88  86.03  83.06  240.44K  +0.87%  85.05   0.31746
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
744  2022-10-26  87.91  85.07  88.41  84.14  287.18K  +3.04%  84.58  3.937101
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
745  2022-10-27  89.08  88.26  89.79  87.33  292.56K  +1.33%  85.32  4.406939
           date   wti   open   high    low   volume  wti_cr   temp  wti_cr_2
746  2022-10-28  87.9  88.67  88.76  87.08  263.40K  -1.32%  87.91 -0.011375
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
747  2022-10-31  86.53  88.39  88.65  85.3  285.34K  -1.56%  89.08 -2.862595
           date    wti   open   high    low   volume  wti_cr  temp  wti_cr_2
748  2022-11-01  88.37  86.43  89.45  85.92  274.32K  +2.13%  87.9  0.534699
           date   wti   open   high    low   volume  wti_cr   temp  wti_cr_2
749  2022-11-02  90.0  88.62  90.36  87.72  280.96K  +1.84%  86.53   4.01017
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
750  2022-11-03  88.17  89.35  89.67  87.6  239.82K  -2.03%  88.37 -0.226321
           date    wti  open   high    low   volume  wti_cr  temp  wti_cr_2
751  2022-11-04  92.61  87.9  92.87  87.82  354.06K  +5.04%  90.0       2.9
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti  open   high   low   volume  wti_cr   temp  wti_cr_2
752  2022-11-07  91.79  91.0  93.74  90.4  322.42K  -0.89%  88.17  4.105705
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
753  2022-11-08  88.91  91.87  92.17  88.52  344.22K  -3.14%  92.61 -3.995249
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
754  2022-11-09  85.83  88.57  89.24  85.5  388.30K  -3.46%  91.79 -6.493082
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
755  2022-11-10  86.47  85.85  87.35  84.7  340.01K  +0.75%  88.91 -2.744348
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
756  2022-11-11  88.96  86.27  90.1  86.18  301.66K  +2.88%  85.83  3.646744
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
757  2022-11-14  85.87  89.02  89.84  85.15  315.45K  -3.47%  86.47 -0.693882
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
758  2022-11-15  86.92  85.25  88.68  84.06  331.71K  +1.22%  88.96 -2.293165
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
759  2022-11-16  85.59  86.89  87.51  84.2  225.67K  -1.53%  85.87 -0.326074
           date    wti   open   high   low   volume  wti_cr   temp  wti_cr_2
760  2022-11-17  81.64  85.22  85.45  81.4  138.48K  -4.62%  86.92 -6.074551
           date    wti   open   high    low  volume  wti_cr   temp  wti_cr_2
761  2022-11-18  80.08  82.09  82.64  77.24  96.58K  -1.91%  85.59 -6.437668
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti  open  high    low  volume  wti_cr   temp  wti_cr_2
762  2022-11-21  79.73  80.3  80.3  75.08  21.98K  -0.44%  81.64 -2.339539
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
763  2022-11-22  80.95  80.22  82.36  79.85  269.62K  +1.53%  80.08  1.086414
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
764  2022-11-23  77.94  81.08  81.95  76.83  379.15K  -3.72%  79.73 -2.245077
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
765  2022-11-24  77.95  77.53  78.19  76.92    NaN  +0.01%  80.95 -3.705991
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
766  2022-11-25  76.28  77.51  79.9  76.22  266.45K  -2.14%  77.94 -2.129843
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []

           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
814  2023-01-25  80.15  80.26  81.23  79.45  297.23K  +0.02%  81.62 -1.801029
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
815  2023-01-26  81.01  80.48  82.14  79.92  291.06K  +1.07%  80.13  1.098215
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
816  2023-01-27  79.68  81.22  82.48  79.04  367.59K  -1.64%  80.15   -0.5864
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
817  2023-01-29  80.33  79.98  80.49  79.88    NaN  +0.82%  81.01 -0.839403
           date   wti   open   high    low   volume  wti_cr   temp  wti_cr_2
818  2023-01-30  77.9  80.04  80.49  77.66  327.43K  -3.03%  79.68 -2.233936
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
819  2023-01-31  78.87  77.91  79.25  76.55  312.73K  +1.25%  80.33 -1.817503
           date    wti   open   high    low   volume  wti_cr  temp  wti_cr_2
820  2023-02-01  76.41  79.06  79.73  76.05  360.86K  -3.12%  77.9 -1.912709
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
821  2023-02-02  75.88  76.79  77.24  74.97  339.76K  -0.69%  78.87 -3.791049
           date    wti   open  high   low   volume  wti_cr   temp  wti_cr_2
822  2023-02-03  73.39  75.92  78.0  73.1  413.41K  -3.28%  76.41 -3.952362
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
823  2023-02-05  73.47  73.23  73.69  73.23    NaN  +0.11%  75.88 -3.176067
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
824  2023-02-06  74.11  73.23  74.51  72.25  380.03K  +0.98%  73.39   0.98106
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
825  2023-02-07  77.14  74.57  77.6  74.35  408.28K  +4.09%  73.47  4.995236
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
826  2023-02-08  78.47  77.49  78.57  77.08  353.47K  +1.72%  74.11  5.883147
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
827  2023-02-09  78.06  78.45  78.84  76.52  324.16K  -0.52%  77.14  1.192637
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
828  2023-02-10  79.72  77.68  80.33  77.47  356.06K  +2.13%  78.47  1.592965
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
829  2023-02-12  79.37  79.94  79.97  79.23    NaN  -0.44%  78.06  1.678196
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
830  2023-02-13  80.14  79.94  80.62  78.45  301.30K  +0.53%  79.72  0.526844
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
831  2023-02-14  79.06  79.06  79.61  77.46  299.94K  -1.35%  79.37 -0.390576
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
832  2023-02-15  78.59  78.83  79.15  77.25  264.49K  -0.59%  80.14 -1.934115
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
833  2023-02-16  78.49  78.54  79.54  77.92  117.60K  -0.13%  79.06 -0.720971
           date    wti   open   high    low  volume  wti_cr   temp  wti_cr_2
834  2023-02-17  76.34  78.07  78.25  75.06  93.27K  -2.74%  78.59  -2.86296
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
835  2023-02-19  76.67  76.69  76.82  76.53    NaN  +0.43%  78.49 -2.318767
           date   wti   open   high    low volume  wti_cr   temp  wti_cr_2
836  2023-02-20  77.3  76.69  77.74  76.33    NaN  +0.82%  76.34  1.257532
           date    wti   open   high    low  volume  wti_cr   temp  wti_cr_2
837  2023-02-21  76.16  76.53  77.51  75.69  35.48K  -1.47%  76.67 -0.665188
           date    wti   open   high   low   volume  wti_cr  temp  wti_cr_2
838  2023-02-22  73.95  76.11  76.55  73.8  332.02K  -2.90%  77.3 -4.333765
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
839  2023-02-23  75.39  73.92  75.99  73.83  333.84K  +1.95%  76.16 -1.011029
           date    wti  open   high    low   volume  wti_cr   temp  wti_cr_2
840  2023-02-24  76.32  75.6  76.63  74.09  313.04K  +1.23%  73.95  3.204868
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
841  2023-02-26  76.65  76.53  76.75  76.52    NaN  +0.43%  75.39  1.671309
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
842  2023-02-27  75.68  76.42  76.82  74.99  266.09K  -0.84%  76.32 -0.838574
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
843  2023-02-28  77.05  75.76  77.83  75.55  300.09K  +1.81%  76.65  0.521853
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
844  2023-03-01  77.69  76.85  77.85  76.12  342.12K  +0.83%  75.68   2.65592
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
845  2023-03-02  78.16  77.74  78.59  77.23  260.33K  +0.60%  77.05  1.440623
           date    wti   open  high    low   volume  wti_cr   temp  wti_cr_2
846  2023-03-03  79.68  77.89  79.9  75.83  374.20K  +1.94%  77.69  2.561462
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
           date   wti  open   high    low volume  wti_cr   temp  wti_cr_2
847  2023-03-05  79.4  79.7  79.73  79.33    NaN  -0.35%  78.16  1.586489
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
848  2023-03-06  80.46  79.92  80.63  78.32  292.35K  +1.34%  79.68  0.978916
           date    wti  open   high    low   volume  wti_cr  temp  wti_cr_2
849  2023-03-07  77.58  80.5  80.94  77.06  398.24K  -3.58%  79.4 -2.292191
           date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
850  2023-03-08  76.66  77.32  77.73  76.11  335.93K  -1.19%  80.46 -4.722844
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
851  2023-03-09  75.45  76.56  78.05  75.36    NaN  -1.58%  77.58 -2.745553
           date    wti   open   high    low volume  wti_cr   temp  wti_cr_2
852  2023-03-10  75.59  75.45  75.61  75.42    NaN  +0.19%  76.66 -1.395774
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []
Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []

In [58]:
dd

Empty DataFrame
Columns: [date, wti, open, high, low, volume, wti_cr, temp, wti_cr_2]
Index: []

In [38]:
df_temp['date'] == datetime.date(2023, 3, 8)

0      False
1      False
2      False
3      False
4      False
       ...
848    False
849    False
850     True
851    False
852    False
Name: date, Length: 853, dtype: bool

In [23]:
df_temp.tail()

          date    wti   open   high    low   volume  wti_cr   temp  wti_cr_2
848 2023-03-06  80.46  79.92  80.63  78.32  292.35K  +1.34%  79.68  0.978916
849 2023-03-07  77.58  80.50  80.94  77.06  398.24K  -3.58%  79.40 -2.292191
850 2023-03-08  76.66  77.32  77.73  76.11  335.93K  -1.19%  80.46 -4.722844
851 2023-03-09  75.45  76.56  78.05  75.36      NaN  -1.58%  77.58 -2.745553
852 2023-03-10  75.59  75.45  75.61  75.42      NaN  +0.19%  76.66 -1.395774

In [24]:
datetime.date(2023, 3, 8)

datetime.date(2023, 3, 8)

In [37]:
df_temp['date'] = df_temp['date'].dt.date

In [32]:
df_temp

0      2020-01-01
1      2020-01-02
2      2020-01-03
3      2020-01-06
4      2020-01-07
          ...
848    2023-03-06
849    2023-03-07
850    2023-03-08
851    2023-03-09
852    2023-03-10
Name: date, Length: 853, dtype: object

In [27]:
cp_date

{datetime.date(2022, 1, 12): datetime.date(2022, 1, 11),
 datetime.date(2022, 1, 13): datetime.date(2022, 1, 12),
 datetime.date(2022, 1, 14): datetime.date(2022, 1, 13),
 datetime.date(2022, 1, 17): datetime.date(2022, 1, 14),
 datetime.date(2022, 1, 18): datetime.date(2022, 1, 17),
 datetime.date(2022, 1, 19): datetime.date(2022, 1, 18),
 datetime.date(2022, 1, 20): datetime.date(2022, 1, 19),
 datetime.date(2022, 1, 21): datetime.date(2022, 1, 20),
 datetime.date(2022, 1, 24): datetime.date(2022, 1, 21),
 datetime.date(2022, 1, 25): datetime.date(2022, 1, 24),
 datetime.date(2022, 1, 26): datetime.date(2022, 1, 25),
 datetime.date(2022, 1, 27): datetime.date(2022, 1, 26),
 datetime.date(2022, 1, 28): datetime.date(2022, 1, 27),
 datetime.date(2022, 2, 3): datetime.date(2022, 1, 28),
 datetime.date(2022, 2, 4): datetime.date(2022, 2, 3),
 datetime.date(2022, 2, 7): datetime.date(2022, 2, 4),
 datetime.date(2022, 2, 8): datetime.date(2022, 2, 7),
 datetime.date(2022, 2, 9): datetime.date(2022, 2, 8),
 datetime.date(2022, 2, 10): datetime.date(2022, 2, 9),
 datetime.date(2022, 2, 11): datetime.date(2022, 2, 10),
 datetime.date(2022, 2, 14): datetime.date(2022, 2, 11),
 datetime.date(2022, 2, 15): datetime.date(2022, 2, 14),
 datetime.date(2022, 2, 16): datetime.date(2022, 2, 15),
 datetime.date(2022, 2, 17): datetime.date(2022, 2, 16),
 datetime.date(2022, 2, 18): datetime.date(2022, 2, 17),
 datetime.date(2022, 2, 21): datetime.date(2022, 2, 18),
 datetime.date(2022, 2, 22): datetime.date(2022, 2, 21),
 datetime.date(2022, 2, 23): datetime.date(2022, 2, 22),
 datetime.date(2022, 2, 24): datetime.date(2022, 2, 23),
 datetime.date(2022, 2, 25): datetime.date(2022, 2, 24),
 datetime.date(2022, 2, 28): datetime.date(2022, 2, 25),
 datetime.date(2022, 3, 2): datetime.date(2022, 2, 28),
 datetime.date(2022, 3, 3): datetime.date(2022, 3, 2),
 datetime.date(2022, 3, 4): datetime.date(2022, 3, 3),
 datetime.date(2022, 3, 7): datetime.date(2022, 3, 4),
 datetime.date(2022, 3, 8): datetime.date(2022, 3, 7),
 datetime.date(2022, 3, 10): datetime.date(2022, 3, 8),
 datetime.date(2022, 3, 11): datetime.date(2022, 3, 10),
 datetime.date(2022, 3, 14): datetime.date(2022, 3, 11),
 datetime.date(2022, 3, 15): datetime.date(2022, 3, 14),
 datetime.date(2022, 3, 16): datetime.date(2022, 3, 15),
 datetime.date(2022, 3, 17): datetime.date(2022, 3, 16),
 datetime.date(2022, 3, 18): datetime.date(2022, 3, 17),
 datetime.date(2022, 3, 21): datetime.date(2022, 3, 18),
 datetime.date(2022, 3, 22): datetime.date(2022, 3, 21),
 datetime.date(2022, 3, 23): datetime.date(2022, 3, 22),
 datetime.date(2022, 3, 24): datetime.date(2022, 3, 23),
 datetime.date(2022, 3, 25): datetime.date(2022, 3, 24),
 datetime.date(2022, 3, 28): datetime.date(2022, 3, 25),
 datetime.date(2022, 3, 29): datetime.date(2022, 3, 28),
 datetime.date(2022, 3, 30): datetime.date(2022, 3, 29),
 datetime.date(2022, 3, 31): datetime.date(2022, 3, 30),
 datetime.date(2022, 4, 1): datetime.date(2022, 3, 31),
 datetime.date(2022, 4, 4): datetime.date(2022, 4, 1),
 datetime.date(2022, 4, 5): datetime.date(2022, 4, 4),
 datetime.date(2022, 4, 6): datetime.date(2022, 4, 5),
 datetime.date(2022, 4, 7): datetime.date(2022, 4, 6),
 datetime.date(2022, 4, 8): datetime.date(2022, 4, 7),
 datetime.date(2022, 4, 11): datetime.date(2022, 4, 8),
 datetime.date(2022, 4, 12): datetime.date(2022, 4, 11),
 datetime.date(2022, 4, 13): datetime.date(2022, 4, 12),
 datetime.date(2022, 4, 14): datetime.date(2022, 4, 13),
 datetime.date(2022, 4, 15): datetime.date(2022, 4, 14),
 datetime.date(2022, 4, 18): datetime.date(2022, 4, 15),
 datetime.date(2022, 4, 19): datetime.date(2022, 4, 18),
 datetime.date(2022, 4, 20): datetime.date(2022, 4, 19),
 datetime.date(2022, 4, 21): datetime.date(2022, 4, 20),
 datetime.date(2022, 4, 22): datetime.date(2022, 4, 21),
 datetime.date(2022, 4, 25): datetime.date(2022, 4, 22),
 datetime.date(2022, 4, 26): datetime.date(2022, 4, 25),
 datetime.date(2022, 4, 27): datetime.date(2022, 4, 26),
 datetime.date(2022, 4, 28): datetime.date(2022, 4, 27),
 datetime.date(2022, 4, 29): datetime.date(2022, 4, 28),
 datetime.date(2022, 5, 2): datetime.date(2022, 4, 29),
 datetime.date(2022, 5, 3): datetime.date(2022, 5, 2),
 datetime.date(2022, 5, 4): datetime.date(2022, 5, 3),
 datetime.date(2022, 5, 6): datetime.date(2022, 5, 4),
 datetime.date(2022, 5, 9): datetime.date(2022, 5, 6),
 datetime.date(2022, 5, 10): datetime.date(2022, 5, 9),
 datetime.date(2022, 5, 11): datetime.date(2022, 5, 10),
 datetime.date(2022, 5, 12): datetime.date(2022, 5, 11),
 datetime.date(2022, 5, 13): datetime.date(2022, 5, 12),
 datetime.date(2022, 5, 16): datetime.date(2022, 5, 13),
 datetime.date(2022, 5, 17): datetime.date(2022, 5, 16),
 datetime.date(2022, 5, 18): datetime.date(2022, 5, 17),
 datetime.date(2022, 5, 19): datetime.date(2022, 5, 18),
 datetime.date(2022, 5, 20): datetime.date(2022, 5, 19),
 datetime.date(2022, 5, 23): datetime.date(2022, 5, 20),
 datetime.date(2022, 5, 24): datetime.date(2022, 5, 23),
 datetime.date(2022, 5, 25): datetime.date(2022, 5, 24),
 datetime.date(2022, 5, 26): datetime.date(2022, 5, 25),
 datetime.date(2022, 5, 27): datetime.date(2022, 5, 26),
 datetime.date(2022, 5, 30): datetime.date(2022, 5, 27),
 datetime.date(2022, 5, 31): datetime.date(2022, 5, 30),
 datetime.date(2022, 6, 2): datetime.date(2022, 5, 31),
 datetime.date(2022, 6, 3): datetime.date(2022, 6, 2),
 datetime.date(2022, 6, 7): datetime.date(2022, 6, 3),
 datetime.date(2022, 6, 8): datetime.date(2022, 6, 7),
 datetime.date(2022, 6, 9): datetime.date(2022, 6, 8),
 datetime.date(2022, 6, 10): datetime.date(2022, 6, 9),
 datetime.date(2022, 6, 13): datetime.date(2022, 6, 10),
 datetime.date(2022, 6, 14): datetime.date(2022, 6, 13),
 datetime.date(2022, 6, 15): datetime.date(2022, 6, 14),
 datetime.date(2022, 6, 16): datetime.date(2022, 6, 15),
 datetime.date(2022, 6, 17): datetime.date(2022, 6, 16),
 datetime.date(2022, 6, 20): datetime.date(2022, 6, 17),
 datetime.date(2022, 6, 21): datetime.date(2022, 6, 20),
 datetime.date(2022, 6, 22): datetime.date(2022, 6, 21),
 datetime.date(2022, 6, 23): datetime.date(2022, 6, 22),
 datetime.date(2022, 6, 24): datetime.date(2022, 6, 23),
 datetime.date(2022, 6, 27): datetime.date(2022, 6, 24),
 datetime.date(2022, 6, 28): datetime.date(2022, 6, 27),
 datetime.date(2022, 6, 29): datetime.date(2022, 6, 28),
 datetime.date(2022, 6, 30): datetime.date(2022, 6, 29),
 datetime.date(2022, 7, 1): datetime.date(2022, 6, 30),
 datetime.date(2022, 7, 4): datetime.date(2022, 7, 1),
 datetime.date(2022, 7, 5): datetime.date(2022, 7, 4),
 datetime.date(2022, 7, 6): datetime.date(2022, 7, 5),
 datetime.date(2022, 7, 7): datetime.date(2022, 7, 6),
 datetime.date(2022, 7, 8): datetime.date(2022, 7, 7),
 datetime.date(2022, 7, 11): datetime.date(2022, 7, 8),
 datetime.date(2022, 7, 12): datetime.date(2022, 7, 11),
 datetime.date(2022, 7, 13): datetime.date(2022, 7, 12),
 datetime.date(2022, 7, 14): datetime.date(2022, 7, 13),
 datetime.date(2022, 7, 15): datetime.date(2022, 7, 14),
 datetime.date(2022, 7, 18): datetime.date(2022, 7, 15),
 datetime.date(2022, 7, 19): datetime.date(2022, 7, 18),
 datetime.date(2022, 7, 20): datetime.date(2022, 7, 19),
 datetime.date(2022, 7, 21): datetime.date(2022, 7, 20),
 datetime.date(2022, 7, 22): datetime.date(2022, 7, 21),
 datetime.date(2022, 7, 25): datetime.date(2022, 7, 22),
 datetime.date(2022, 7, 26): datetime.date(2022, 7, 25),
 datetime.date(2022, 7, 27): datetime.date(2022, 7, 26),
 datetime.date(2022, 7, 28): datetime.date(2022, 7, 27),
 datetime.date(2022, 7, 29): datetime.date(2022, 7, 28),
 datetime.date(2022, 8, 1): datetime.date(2022, 7, 29),
 datetime.date(2022, 8, 2): datetime.date(2022, 8, 1),
 datetime.date(2022, 8, 3): datetime.date(2022, 8, 2),
 datetime.date(2022, 8, 4): datetime.date(2022, 8, 3),
 datetime.date(2022, 8, 5): datetime.date(2022, 8, 4),
 datetime.date(2022, 8, 8): datetime.date(2022, 8, 5),
 datetime.date(2022, 8, 9): datetime.date(2022, 8, 8),
 datetime.date(2022, 8, 10): datetime.date(2022, 8, 9),
 datetime.date(2022, 8, 11): datetime.date(2022, 8, 10),
 datetime.date(2022, 8, 12): datetime.date(2022, 8, 11),
 datetime.date(2022, 8, 16): datetime.date(2022, 8, 12),
 datetime.date(2022, 8, 17): datetime.date(2022, 8, 16),
 datetime.date(2022, 8, 18): datetime.date(2022, 8, 17),
 datetime.date(2022, 8, 19): datetime.date(2022, 8, 18),
 datetime.date(2022, 8, 22): datetime.date(2022, 8, 19),
 datetime.date(2022, 8, 23): datetime.date(2022, 8, 22),
 datetime.date(2022, 8, 24): datetime.date(2022, 8, 23),
 datetime.date(2022, 8, 25): datetime.date(2022, 8, 24),
 datetime.date(2022, 8, 26): datetime.date(2022, 8, 25),
 datetime.date(2022, 8, 29): datetime.date(2022, 8, 26),
 datetime.date(2022, 8, 30): datetime.date(2022, 8, 29),
 datetime.date(2022, 8, 31): datetime.date(2022, 8, 30),
 datetime.date(2022, 9, 1): datetime.date(2022, 8, 31),
 datetime.date(2022, 9, 2): datetime.date(2022, 9, 1),
 datetime.date(2022, 9, 5): datetime.date(2022, 9, 2),
 datetime.date(2022, 9, 6): datetime.date(2022, 9, 5),
 datetime.date(2022, 9, 7): datetime.date(2022, 9, 6),
 datetime.date(2022, 9, 8): datetime.date(2022, 9, 7),
 datetime.date(2022, 9, 13): datetime.date(2022, 9, 8),
 datetime.date(2022, 9, 14): datetime.date(2022, 9, 13),
 datetime.date(2022, 9, 15): datetime.date(2022, 9, 14),
 datetime.date(2022, 9, 16): datetime.date(2022, 9, 15),
 datetime.date(2022, 9, 19): datetime.date(2022, 9, 16),
 datetime.date(2022, 9, 20): datetime.date(2022, 9, 19),
 datetime.date(2022, 9, 21): datetime.date(2022, 9, 20),
 datetime.date(2022, 9, 22): datetime.date(2022, 9, 21),
 datetime.date(2022, 9, 23): datetime.date(2022, 9, 22),
 datetime.date(2022, 9, 26): datetime.date(2022, 9, 23),
 datetime.date(2022, 9, 27): datetime.date(2022, 9, 26),
 datetime.date(2022, 9, 28): datetime.date(2022, 9, 27),
 datetime.date(2022, 9, 29): datetime.date(2022, 9, 28),
 datetime.date(2022, 9, 30): datetime.date(2022, 9, 29),
 datetime.date(2022, 10, 4): datetime.date(2022, 9, 30),
 datetime.date(2022, 10, 5): datetime.date(2022, 10, 4),
 datetime.date(2022, 10, 6): datetime.date(2022, 10, 5),
 datetime.date(2022, 10, 7): datetime.date(2022, 10, 6),
 datetime.date(2022, 10, 11): datetime.date(2022, 10, 7),
 datetime.date(2022, 10, 12): datetime.date(2022, 10, 11),
 datetime.date(2022, 10, 13): datetime.date(2022, 10, 12),
 datetime.date(2022, 10, 14): datetime.date(2022, 10, 13),
 datetime.date(2022, 10, 17): datetime.date(2022, 10, 14),
 datetime.date(2022, 10, 18): datetime.date(2022, 10, 17),
 datetime.date(2022, 10, 19): datetime.date(2022, 10, 18),
 datetime.date(2022, 10, 20): datetime.date(2022, 10, 19),
 datetime.date(2022, 10, 21): datetime.date(2022, 10, 20),
 datetime.date(2022, 10, 24): datetime.date(2022, 10, 21),
 datetime.date(2022, 10, 25): datetime.date(2022, 10, 24),
 datetime.date(2022, 10, 26): datetime.date(2022, 10, 25),
 datetime.date(2022, 10, 27): datetime.date(2022, 10, 26),
 datetime.date(2022, 10, 28): datetime.date(2022, 10, 27),
 datetime.date(2022, 10, 31): datetime.date(2022, 10, 28),
 datetime.date(2022, 11, 1): datetime.date(2022, 10, 31),
 datetime.date(2022, 11, 2): datetime.date(2022, 11, 1),
 datetime.date(2022, 11, 3): datetime.date(2022, 11, 2),
 datetime.date(2022, 11, 4): datetime.date(2022, 11, 3),
 datetime.date(2022, 11, 7): datetime.date(2022, 11, 4),
 datetime.date(2022, 11, 8): datetime.date(2022, 11, 7),
 datetime.date(2022, 11, 9): datetime.date(2022, 11, 8),
 datetime.date(2022, 11, 10): datetime.date(2022, 11, 9),
 datetime.date(2022, 11, 11): datetime.date(2022, 11, 10),
 datetime.date(2022, 11, 14): datetime.date(2022, 11, 11),
 datetime.date(2022, 11, 15): datetime.date(2022, 11, 14),
 datetime.date(2022, 11, 16): datetime.date(2022, 11, 15),
 datetime.date(2022, 11, 17): datetime.date(2022, 11, 16),
 datetime.date(2022, 11, 18): datetime.date(2022, 11, 17),
 datetime.date(2022, 11, 21): datetime.date(2022, 11, 18),
 datetime.date(2022, 11, 22): datetime.date(2022, 11, 21),
 datetime.date(2022, 11, 23): datetime.date(2022, 11, 22),
 datetime.date(2022, 11, 24): datetime.date(2022, 11, 23),
 datetime.date(2022, 11, 25): datetime.date(2022, 11, 24),
 datetime.date(2022, 11, 28): datetime.date(2022, 11, 25),
 datetime.date(2022, 11, 29): datetime.date(2022, 11, 28),
 datetime.date(2022, 11, 30): datetime.date(2022, 11, 29),
 datetime.date(2022, 12, 1): datetime.date(2022, 11, 30),
 datetime.date(2022, 12, 2): datetime.date(2022, 12, 1),
 datetime.date(2022, 12, 5): datetime.date(2022, 12, 2),
 datetime.date(2022, 12, 6): datetime.date(2022, 12, 5),
 datetime.date(2022, 12, 7): datetime.date(2022, 12, 6),
 datetime.date(2022, 12, 8): datetime.date(2022, 12, 7),
 datetime.date(2022, 12, 9): datetime.date(2022, 12, 8),
 datetime.date(2022, 12, 12): datetime.date(2022, 12, 9),
 datetime.date(2022, 12, 13): datetime.date(2022, 12, 12),
 datetime.date(2022, 12, 14): datetime.date(2022, 12, 13),
 datetime.date(2022, 12, 15): datetime.date(2022, 12, 14),
 datetime.date(2022, 12, 16): datetime.date(2022, 12, 15),
 datetime.date(2022, 12, 19): datetime.date(2022, 12, 16),
 datetime.date(2022, 12, 20): datetime.date(2022, 12, 19),
 datetime.date(2022, 12, 21): datetime.date(2022, 12, 20),
 datetime.date(2022, 12, 22): datetime.date(2022, 12, 21),
 datetime.date(2022, 12, 23): datetime.date(2022, 12, 22),
 datetime.date(2022, 12, 26): datetime.date(2022, 12, 23),
 datetime.date(2022, 12, 27): datetime.date(2022, 12, 26),
 datetime.date(2022, 12, 28): datetime.date(2022, 12, 27),
 datetime.date(2022, 12, 29): datetime.date(2022, 12, 28),
 datetime.date(2023, 1, 2): datetime.date(2022, 12, 29),
 datetime.date(2023, 1, 3): datetime.date(2023, 1, 2),
 datetime.date(2023, 1, 4): datetime.date(2023, 1, 3),
 datetime.date(2023, 1, 5): datetime.date(2023, 1, 4),
 datetime.date(2023, 1, 6): datetime.date(2023, 1, 5),
 datetime.date(2023, 1, 9): datetime.date(2023, 1, 6),
 datetime.date(2023, 1, 10): datetime.date(2023, 1, 9),
 datetime.date(2023, 1, 11): datetime.date(2023, 1, 10),
 datetime.date(2023, 1, 12): datetime.date(2023, 1, 11),
 datetime.date(2023, 1, 13): datetime.date(2023, 1, 12),
 datetime.date(2023, 1, 16): datetime.date(2023, 1, 13),
 datetime.date(2023, 1, 17): datetime.date(2023, 1, 16),
 datetime.date(2023, 1, 18): datetime.date(2023, 1, 17),
 datetime.date(2023, 1, 19): datetime.date(2023, 1, 18),
 datetime.date(2023, 1, 20): datetime.date(2023, 1, 19),
 datetime.date(2023, 1, 25): datetime.date(2023, 1, 20),
 datetime.date(2023, 1, 26): datetime.date(2023, 1, 25),
 datetime.date(2023, 1, 27): datetime.date(2023, 1, 26),
 datetime.date(2023, 1, 30): datetime.date(2023, 1, 27),
 datetime.date(2023, 1, 31): datetime.date(2023, 1, 30),
 datetime.date(2023, 2, 1): datetime.date(2023, 1, 31),
 datetime.date(2023, 2, 2): datetime.date(2023, 2, 1),
 datetime.date(2023, 2, 3): datetime.date(2023, 2, 2),
 datetime.date(2023, 2, 6): datetime.date(2023, 2, 3),
 datetime.date(2023, 2, 7): datetime.date(2023, 2, 6),
 datetime.date(2023, 2, 8): datetime.date(2023, 2, 7),
 datetime.date(2023, 2, 9): datetime.date(2023, 2, 8),
 datetime.date(2023, 2, 10): datetime.date(2023, 2, 9),
 datetime.date(2023, 2, 13): datetime.date(2023, 2, 10),
 datetime.date(2023, 2, 14): datetime.date(2023, 2, 13),
 datetime.date(2023, 2, 15): datetime.date(2023, 2, 14),
 datetime.date(2023, 2, 16): datetime.date(2023, 2, 15),
 datetime.date(2023, 2, 17): datetime.date(2023, 2, 16),
 datetime.date(2023, 2, 20): datetime.date(2023, 2, 17),
 datetime.date(2023, 2, 21): datetime.date(2023, 2, 20),
 datetime.date(2023, 2, 22): datetime.date(2023, 2, 21),
 datetime.date(2023, 2, 23): datetime.date(2023, 2, 22),
 datetime.date(2023, 2, 24): datetime.date(2023, 2, 23),
 datetime.date(2023, 2, 27): datetime.date(2023, 2, 24),
 datetime.date(2023, 2, 28): datetime.date(2023, 2, 27),
 datetime.date(2023, 3, 2): datetime.date(2023, 2, 28),
 datetime.date(2023, 3, 3): datetime.date(2023, 3, 2),
 datetime.date(2023, 3, 6): datetime.date(2023, 3, 3),
 datetime.date(2023, 3, 7): datetime.date(2023, 3, 6),
 datetime.date(2023, 3, 8): datetime.date(2023, 3, 7),
 datetime.date(2023, 3, 9): datetime.date(2023, 3, 8)}

In [ ]:
def find_loc(df1, df2, val):
    df1[df1['date'] == val]]

In [ ]:
df_temp.set_index('date', inplace=True)

In [ ]:
df_temp.iloc[[1],:]

In [ ]:
df_base.head()

In [ ]:
df_base.loc[datetime.datetime(2022, 1, 4), :]

In [ ]:
'''
df_sec_sel = df_sec_combined[column_selected]
'''

In [ ]:
for key, val in code.items():
    globals()['df_{}_sel'.format(val[1])] \
    = globals()['df_{}_sel'.format(val[1])].merge(df_base, how='left', left_index=True, right_index=True)

In [ ]:
df_hyunmotor_sel.iloc[:, 10:20].head(20)

In [ ]:
'''
df_sec_sel = df_sec_sel.merge(df_base, how='left', left_index=True, right_index=True)
df_hyunmotor_sel = df_hyunmotor_sel.merge(df_base, how='left', left_index=True, right_index=True)
df_naver_sel = df_naver_sel.merge(df_base, how='left', left_index=True, right_index=True)
df_ktng_sel = df_ktng_sel.merge(df_base, how='left', left_index=True, right_index=True)
'''

In [ ]:
# 전체 column을 선정하여, 분석시에 선별하여 사용하도록 함.
# weekday, 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20' column을 마지막으로 이동 
new_columns = ['retail_1', 'foreigner_1', 'institution_1', 'financial_1', 'invtrust_1', 'pension_1', 
               'privequity_1', 'bank_1', 'insurance_1', 'financeetc_1', 'corporateetc_1', 'foreigneretc_1', 
               'dji_cr', 'dji_f_cr', 'ixic_cr', 'ixic_f_cr', 'spx_cr', 'spx_f_cr', 'bond_kor_10_cr',
               'bond_kor_2_cr', 'dxy_cr', 'bond_usa_10_cr','bond_usa_2_cr', 'bond_usa_3m_cr',
               'kosdaq_cr', 'kospi_cr', 'krw_cr', 'sox_cr', 'vix_cr', 'wti_cr',                
               'open_1', 'high_1', 'low_1', 'close_1', 'vol_1',      
               'retail_2', 'foreigner_2', 'institution_2', 'financial_2', 'invtrust_2', 'pension_2',
               'privequity_2', 'bank_2', 'insurance_2', 'financeetc_2', 'corporateetc_2', 'foreigneretc_2',
               'dji_cr_2', 'dji_f_cr_2', 'ixic_cr_2', 'ixic_f_cr_2', 'spx_cr_2', 'spx_f_cr_2',
               'bond_kor_10_cr_2', 'bond_kor_2_cr_2', 'dxy_cr_2', 'bond_usa_10_cr_2','bond_usa_2_cr_2', 
               'bond_usa_3m_cr_2', 'kosdaq_cr_2', 'kospi_cr_2', 'krw_cr_2', 'sox_cr_2', 'vix_cr_2', 'wti_cr_2', 
#                 'open', 'high', 'low', 'close', 'vol', 'weekday',  # close column 제거함 (class column 계산항목으로 사용됨)
                'open_2', 'high_2', 'low_2', 'close_2', 'vol_2', 'weekday', 
                'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20']

In [ ]:
# column 순서 변경 : weekday, 'cr_00', 'cr_05', 'cr_10', 'cr_15', 'cr_20' column을 마지막으로 이동 
for key, val in code.items():
    globals()['df_{}_sel'.format(val[1])] = globals()['df_{}_sel'.format(val[1])][new_columns]

In [ ]:
df_hyunmotor_sel.iloc[:, 10:20].head(20)

In [ ]:
'''
# drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고
# 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지
df_sec_sel.replace([np.inf, -np.inf], [1, -1], inplace=True)

.impute 사용하는 것을 고려할 필요 있음.
'''

In [ ]:
# # drop inf, -inf : replace inf to 1 or -1 . 데이터를 살리고
# # 변동률이 무한대가 되는 것을 방지하기 위해서, 나중에 발생하는 에러를 방지
# for key, val in code.items():
#     globals()['df_{}_sel'.format(val[1])].replace([np.inf, -np.inf], [1, -1], inplace=True)

# **** 데이터 전처리 from sklearn.impute import SimpleImputer, SimpleImputer 사용하기로 함.

In [ ]:
# # delete rows which include NaN : dji, spx, nasdaq 지수가 nan인 rows 제거
# df_sec_sel.dropna(inplace=True)

In [ ]:
# delete rows which include NaN : dji, spx, nasdaq 지수가 nan인 rows 제거
for key, val in code.items():
    globals()['df_{}_sel'.format(val[1])].dropna(inplace=True)

In [ ]:
df_hyunmotor_sel.head()

In [ ]:
# string column을 numeric으로 전환
def string_to_num(df):
    df.replace('%', '', regex=True, inplace=True)
    return df.apply(pd.to_numeric)
'''
df_sec_sel = string_to_num(df_sec_sel)
'''

for key, val in code.items():
    globals()['df_{}_sel'.format(val[1])] = string_to_num(globals()['df_{}_sel'.format(val[1])])

In [ ]:
# pickle로 데이터 저장
'''
directory_for_ml_ex_update = '../data/data_for_ml/expand_date/update/'
df_sec_sel.to_pickle(directory_for_ml_ex_update + 'df_sec_sel.pkl')
df_sec_sel.to_csv(directory_for_ml_ex_update + 'df_sec_sel.csv')
'''

for key, val in code.items():
    globals()['df_{}_sel'.format(val[1])].to_pickle(directory_for_ml_ex + 'df_{}_sel.pkl'.format(val[1]))
    globals()['df_{}_sel'.format(val[1])].to_csv(directory_for_ml_ex + 'df_{}_sel.csv'.format(val[1]))