### feature 이름 설명
#### feature에 사용된 column name 설명

In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [2]:
df_feature_name_abbr = pd.read_csv('../data/feature_name_abbr.csv')

In [3]:
standforK = lambda x : df_feature_name_abbr['Korean'][df_feature_name_abbr['abbr'] == x].values[0]
standforE = lambda x : df_feature_name_abbr['English'][df_feature_name_abbr['abbr'] == x].values[0]
standforexp = lambda x : df_feature_name_abbr['exp1'][df_feature_name_abbr['abbr'] == x].values[0]

In [4]:
# financial이 무엇인지 알기 위한 명령
c_name = 'dxy_cr'
standforK(c_name), standforE(c_name), standforexp(c_name)

('미국달러지수 변동률', 'Dollar_index_change_rate', nan)

In [5]:
c_name = 'cpi'
standforK(c_name), standforE(c_name), standforexp(c_name)

('소비자물가지수', 'Consumer Price Index', nan)

In [6]:
c_name = 'sox'
standforK(c_name), standforE(c_name), standforexp(c_name)

('필라델피아 반도체지수', 'SOX_INDEX', nan)

### 설명에서 feature name 찾기

In [7]:
find_col_nameK = lambda x : df_feature_name_abbr[['abbr', 'Korean']][df_feature_name_abbr['Korean'].str.contains(x)]
find_col_nameE = lambda x : df_feature_name_abbr[['abbr', 'English']][df_feature_name_abbr['English'].str.contains(x, na=False, case=False)]

In [8]:
e_word = 'INDEX' # English column에서 찾기
find_col_nameE(e_word)

               abbr                           English
68              dxy                      Dollar_index
69           dxy_cr          Dollar_index_change_rate
84        f_g_index                  FEAR_GREED_INDEX
85              sox                         SOX_INDEX
86           sox_cr             SOX_INDEX_change_rate
87              cpi              Consumer Price Index
88  cpi_anticipated  anticipated consumer price index
89     cpi_previous     previous consumer price index

In [9]:
k_word = '반도체' # Korean column에서 찾기
find_col_nameK(k_word)

      abbr           Korean
85     sox      필라델피아 반도체지수
86  sox_cr  필라델피아 반도체지수 변동률