In [4]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [33]:
d1= '../data/'
d2 = 'company_pkl/'
fname = 'sec_historical.pkl'
fn = d1+d2+fname
df = pd.read_pickle(fn)

In [25]:
df.tail(10)

           date     open     high      low    close close_cr       vol
1140 2023-02-14  63600.0  63900.0  63200.0  63200.0     0.48  579858.0
1141 2023-02-15  63900.0  63900.0  62000.0  62200.0    -1.58  826031.0
1142 2023-02-16  62500.0  63700.0  62400.0  63700.0     2.41  873760.0
1143 2023-02-17  62900.0  63300.0  62400.0  62600.0    -1.73  677810.0
1144 2023-02-18
1145 2023-02-19
1146 2023-02-20    62900    63000    61800    62700     0.16    806199
1147 2023-02-21    62700    62800    62000    62100    -0.96    476712
1148 2023-02-22    61500    61800    61000    61100    -1.61    732239
1149 2023-02-23    61700    62500    61500    62300     1.96    495086

In [34]:
d1= './'
fname = 'df_sec_sel.pkl'
fn = d1+fname
df1 = pd.read_pickle(fn)

In [29]:
df1.tail(10)

,retail,foreigner,institution,financial,invtrust,pension,privequity,open,high,low,close,vol,dji_cr,ixic_cr,spx_cr,kosdaq_cr,kospi_cr,weekday,value,close_cr
2023-02-08,-0.875136,-1.248176,-0.422927,-0.533907,-0.642540,-1.424225,-0.885376,-0.014331,-0.007937,0.000000,0.004870,-0.071571,-0.61,-1.68,-1.11,0.93,1.30,1,3,1
2023-02-09,-5.506210,4.372431,-0.326232,-0.168002,0.358792,-1.294586,-2.716667,0.014540,0.012800,0.012987,0.019386,-0.142601,-0.73,-1.02,-0.88,0.59,-0.09,2,3,0
2023-02-10,-0.915176,-0.480742,0.886229,0.697890,-2.069281,-7.806827,4.597573,0.003185,0.000000,-0.001603,-0.001585,-0.007206,0.50,-0.61,0.22,-1.55,-0.48,3,1,0
2023-02-13,-3.204293,0.130004,0.715503,0.463082,-4.784841,-0.860418,-3.203885,-0.006349,-0.004739,0.001605,-0.003175,-0.231427,1.11,1.48,1.14,0.01,-0.69,4,1,1
2023-02-14,-1.514587,0.286545,-0.174928,-0.218936,4.800711,-0.717726,-0.554205,0.004792,0.000000,-0.001603,0.001592,0.143486,-0.46,0.57,-0.03,0.91,0.53,0,2,1
2023-02-15,7.170830,-0.818627,-1.748476,-1.891887,-1.332702,-5.774825,-1.134345,0.011129,0.014286,0.014446,0.004769,-0.137441,0.11,0.92,0.28,-1.81,-1.53,1,2,0
2023-02-16,-2.172165,-0.099538,-2.782808,-2.837823,-2.689038,-1.231693,-3.394218,0.004717,0.000000,-0.018987,-0.015823,0.424540,-1.27,-1.78,-1.38,2.51,1.96,2,3,1
2023-02-17,-3.118015,3.400276,-2.130852,-2.412908,-0.078577,23.036662,-2.108946,-0.021909,-0.003130,0.006452,0.024116,0.057781,0.39,-0.58,-0.28,-1.16,-0.98,3,2,0
2023-02-21,-0.831800,-1.958766,-1.264665,-1.452862,-0.151197,-0.722080,-0.068162,0.000000,-0.004739,-0.009615,0.001597,0.189417,-2.06,-2.50,-2.00,0.57,0.16,0,2,0
2023-02-22,6.300366,-0.921356,-3.658527,-2.586873,-0.361257,2.233275,0.115514,-0.003180,-0.003175,0.003236,-0.009569,-0.408692,-0.25,0.13,-0.16,-1.88,-1.68,1,1,0