In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [12]:
pkl_directory = '../data/company_daily_price_pkl/'
# pkl_directory = './'
# pkl_directory = '../data/company_pkl/'

In [13]:
ff = 'hyunmotor_10min_price_20230222.pkl'

In [14]:
df = pd.read_pickle(pkl_directory+ff)

In [15]:
df.head()

        date      time   price  change change(%)  amount  volume
0 2023-02-22  15:30:00  174200    4000    -2.24%   34433  428968
1 2023-02-22  15:15:00  174400    4000    -2.24%    1103  394498
2 2023-02-22  15:10:00  174400    4000    -2.24%     576  388420
3 2023-02-22  15:05:00  174500    4000    -2.24%    1216  384897
4 2023-02-22  15:00:00  174500    4100    -2.30%     639  380477

In [9]:
df.tail()

           date  value
159  2023-02-13      1
160  2023-02-14      2
161  2023-02-15      2
162  2023-02-16      3
163  2023-02-17      2