### class 분류
#### 하루 주가 변동 분류
  - 1: 오전 max 오전 min, 2: 오전 max 오후 min, 3: 오전 min, 오후 max, 4: 오후 man,  오후 min

In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [2]:
def read_pickle(com_name, date_range_ts):
    class_val = []
    for f_date in date_range_ts :
        f_name = '{}/{}_10min_price_{}.pkl'.format(pkl_directory, com_name, f_date.strftime('%Y%m%d'))
        try : 
            df = pd.read_pickle(f_name)
            print("1", end=' ')
            class_num = classify_into_4(df)
            print("2", end=' ')
            d_c_temp = [f_date.strftime('%Y-%m-%d'), class_num]
            print("3", end=' ')
            class_val.append(d_c_temp)
            print("4")
        except :
            print("except date---", f_name)
            continue
    return class_val

In [3]:
def classify_into_4(df):
    df_new = df[(df['time'].astype(str) > '09:00:00') & (df['time'].astype(str) < '15:30:00')]
    #  9시 30분(미포함) 이전 제외, 오후 3시 30분(포함) 이후 제외 후 최고가 시간, 최저가 시간 비교
#     df_c = df_new['time'].astype(str).copy() #timestampe에서 str로 변환 (크기 비교를 하기 위하여)
#     df_new['time'] =  df_c
    time_max = str(df_new[df_new['price'] == df_new['price'].max()]['time'].iloc[0]) # str() change datetime.time to string
    time_min = str(df_new[df_new['price'] == df_new['price'].min()]['time'].iloc[0])
    time_criteria = '12:00:00'
    if (time_max <= time_criteria) & (time_min <= time_criteria):
        class_num = 1
    elif (time_max <= time_criteria) & (time_min >= time_criteria):
        class_num = 2
    elif (time_max >= time_criteria) & (time_min <= time_criteria):
        class_num = 3
    elif (time_max >= time_criteria) & (time_min >= time_criteria):
        class_num = 4
    # : 오전 max 오전 min, 2: 오전 max 오후 min, 3: 오전 min, 오후 max, 4: 오후 man,  오후 min
    return class_num

In [4]:
code = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'],
                 '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}
# code = {'005930': ['삼성전자', 'sec']}

In [5]:
start_date = '20220620'
end_date = datetime.date.today() - datetime.timedelta(days = 1) # 오늘날짜 하루전까지
date_range_ts = pd.date_range(start=start_date, end=end_date)
pkl_directory = '../data/company_daily_price_pkl'

In [ ]:
for key, val in code.items():
    class_val = read_pickle(val[1], date_range_ts)
    df = pd.DataFrame(class_val)
    df.columns = ['date', 'value']
    df.to_pickle(val[1]+'.pkl')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(df[0], df[1])

In [ ]:
df = []
for i, (key, val) in enumerate(code.items()):
    df.append(pd.read_pickle(val[1]+'.pkl'))

In [ ]:
df[3]['value'].value_counts()

In [ ]:
plt.scatter(df[3]['date'], df[3]['value'])

In [ ]:
df[1].head()

In [ ]:
fname = '../data/company_daily_price_pkl/sec_10min_price_20230207.pkl'
df = pd.read_pickle(fname)

In [ ]:
df.tail()

In [ ]:
def norm(x):
    _max = x.max()
    _min = x.min()
    _denom = _max - _min
    return (x - _min) / _denom

In [ ]:
pkl_directory = '../data/company_pkl/'
for key, val in code.items():
    com_name = "/".join([key, val[0]])
    pkl_name= '{}_historical.pkl'.format(val[1])
    globals()['df_{}_{}'.format(val[1], 'historical')] = pd.read_pickle(pkl_directory + pkl_name)
    pkl_name= '{}_investors.pkl'.format(val[1])
    globals()['df_{}_{}'.format(val[1], 'investors')] = pd.read_pickle(pkl_directory + pkl_name)

In [ ]:
df_sec_historical['date'] = df_sec_historical['date'] - datetime.timedelta(days = 1)

In [ ]:
df_sec_historical.tail()

In [ ]:
exec('a'+'b' = 10)

In [ ]:
globals()['aa'] = 1

In [ ]:
aa

In [9]:
for key, val in code.items():
    globals()['df_{}'.format(val[1])] = pd.read_pickle(val[1]+'.pkl')
    globals()['df_{}'.format(val[1])].to_csv(val[1]+'.csv')

In [8]:
df_sec.tail()

           date  value
154  2023-02-06      2
155  2023-02-07      2
156  2023-02-08      3
157  2023-02-09      3
158  2023-02-10      1

In [11]:
pkl_directory = '../data/company_pkl/'
for key, val in code.items():
    com_name = "/".join([key, val[0]])
    pkl_name= '{}_historical.pkl'.format(val[1])
    globals()['df_{}_{}'.format(val[1], 'historical')] = pd.read_pickle(pkl_directory + pkl_name)
    globals()['df_{}_{}'.format(val[1], 'historical')].to_csv('{}_historical.csv'.format(val[1]))
    pkl_name= '{}_investors.pkl'.format(val[1])
    globals()['df_{}_{}'.format(val[1], 'investors')] = pd.read_pickle(pkl_directory + pkl_name)
    globals()['df_{}_{}'.format(val[1], 'investors')].to_csv('{}_investors.csv'.format(val[1]))