In [1]:
from bs4 import BeautifulSoup as bs
import requests
import datetime, time
import pickle

import pandas as pd
import numpy as np

import os
import sys
import io
import shutil

import matplotlib.pyplot as plt

In [2]:
# !pip install cfscrape # 403 forbidden, cloudflare error을 해결하기 위한 모듈
import cloudscraper
scraper = cloudscraper.create_scraper()

In [3]:
# # !pip install cfscrape # 403 forbidden, cloudflare error을 해결하기 위한 모듈
# import cfscrape
# scraper = cfscrape.create_scraper()
# # 이후 403 error이 발생한 곳에는 requests 대신 scraper 사용

In [4]:
headers = {'Referer': 'https://kr.investing.com/',
           'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) \
           AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36 Edg/125.0.0.0'}

In [5]:
sys.path.append('../../data/constant')
from constants import COMPANY_CODE

In [6]:
def concat_df(df_o, df, dup_col, sort_col):
    df_o = pd.concat([df_o, df], ignore_index=True)
    df_o.drop_duplicates(subset=[dup_col], keep='last', inplace=True) # dup_col 중첩제거 기준 컬럼 이름: "time", "date" 등
#     df_o.drop_duplicates(subset=[dup_col], keep='first', inplace=True)
    df_o.sort_values(by=[df_o.columns[sort_col]], inplace=True) # sort_col 정렬 기준 컬럼 번호
    df_o.index = np.arange(0, len(df_o))  # 일련 번호 오름차순으로 재 설정
    return df_o

## 시간별 시세

In [7]:
# 특정일의 시간별 시세 취득을 위한 페이지별 table 데이터 취득. page는 날짜별로 약 40쪽. 09:00:00부터 1분간격으로 15:58:00 까지.
def get_piece_time_price(url_t):
    res = scraper.get(url_t, headers=headers)
    class_name = 'type2'
    df = pd.read_html(io.StringIO(str(res.text)), attrs={"class": class_name}, flavor=["lxml", "bs4"])[0]
    
    df = df.dropna(axis=0) # delete rows with nan values
    df.columns = ['time', 'price', 'change', 'sell', 'buy', 'volume', 'change_volumn'] # rename column in english from korean

    # convert character values to integer value : 보합= 0, 하락= -, 상승= +
    df['change'] = df['change'].apply(lambda x: int(x[2:]) if x[:2] == '보합' 
                                      else (-int(x[4:].replace(',','')) if x[:2] == '하락' 
                                            else int(x[4:].replace(',',''))))  # convert characters to int
    
    df = df[['time', 'price', 'change', 'volume']]  # delete unnecessary columns

    # define variable types
    df['time'] = df['time'].apply(lambda x : datetime.datetime.strptime(x, "%H:%M").time())  # convert characters to datetime objet
    df['price'] = df['price'].astype(int)
    df['volume'] = df['volume'].astype(int)

    return df

In [8]:
# 특정일의 시간대별 가격 40쪽을 한개의 df로 묶는 기능
def get_time_price(url_base_t, code_com, collect_date):
    
    page_num = 1
    
    # make first data frame
    collect_date_time = collect_date + '160000' # 장종료후 16시 00분 00초에 시간별 시세 추출
    page = str(page_num)
    
    url = url_base_t + '?code=' + code_com + '&thistime=' + collect_date_time + '&page=' + page
    df_base = get_piece_time_price(url)
    
    page_num = page_num + 1
    
    while True:
        page = str(page_num)
        
        url = url_base_t + '?code=' + code_com + '&thistime=' + collect_date_time + '&page=' + page
        df_p = get_piece_time_price(url)
    
        df_base = concat_df(df_base, df_p, 'time', 0)  # df concat후 'time' column을 기준으로 중복제거 후 0 column을 기준으로 정렬시킴.
        # print('page_num', page_num)
        
        if df_p['time'].iloc[-1] == datetime.time(9, 00):
            break
    
        page_num = page_num + 1
    
    df_base['date'] = datetime.datetime.strptime(collect_date, '%Y%m%d') # insert column with collecting date
    df_base = df_base[['date', 'time', 'price', 'change', 'volume']]  

    return df_base

In [9]:
def get_start_end_date(): # 오늘부터 1주일 전까지 휴일, 휴장일 제외된 일자 리스트 구성. 
    end_date = datetime.datetime.today().date()
    date_list = [end_date - datetime.timedelta(days=x) for x in range(8)] # day one week (8 days) before today
    start_date = date_list[-1]
    
    datelist = pd.date_range(start_date, end_date, freq='B') # 토, 일을 제외한 주중 일자만 선택
    # df_1 = pd.DataFrame(datelist, columns=['date']) # df로 구성

    return list(datelist.map(lambda x : x.strftime('%Y%m%d')))

In [10]:
# naver_dir = 'data/naver_finance/time_data'
naver_dir = 'time_data'

url_base = 'https://finance.naver.com/item/sise_time.naver'  # sise_date

code_dic = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'], 
        '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}

code_dic = COMPANY_CODE
# code_list = list(code_dic.items())
# code_company_name = code_list[0]
# code = code_company_name[0] # 취득을 원하는 회사 주식 코드
# code_dic = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'], }
# code_dic = {'035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}

c_date = ['20240619', '20240620', '20240621', '20240624', '20240625', '20240626'] # 취득이 필요한 날짜 리스트
c_date = get_start_end_date() # 취득이 필요한 날짜 리스트, naver는 오늘날짜부터 1주일전까지만 저장. c_date 시작일자는 20200101 부터 있음.
# 
# c_date = ['20240626', '20240620'] 
# c_date = ['20240619'] 
for i, (code, company_name) in enumerate(code_dic.items()):
    for collect_date in c_date:
        df_collect = get_time_price(url_base, code, collect_date)
        # add logic to save date for each date for each company
        f_name = f'{naver_dir}/{company_name[1]}_{collect_date}.csv'
        df_collect.to_csv(f_name)
        df_collect.to_pickle(f_name.replace('csv','pkl'))

## 일별시세

In [11]:
# 일자별 주식 데이터를 페이지별로 10개씩 취득
def get_piece_date_price(url_d):
    res = scraper.get(url_d, headers=headers)
    class_name = 'type2'
    df = pd.read_html(io.StringIO(str(res.text)), attrs={"class": class_name}, flavor=["lxml", "bs4"])[0]
    
    df = df.dropna(axis=0) # delete nan rows

    df.columns = ['date', 'close', 'close_change', 'open', 'high', 'low', 'volume'] # rename column
    df['date'] = df['date'].apply(lambda x: datetime.datetime.strptime(x, '%Y.%m.%d')) # convert character to datetime object
    
    # convert character values to integer value : 보합= 0, 하락= -, 상승= +
    df['close_change'] = df['close_change'].apply(lambda x: int(x[2:]) if x[:2] == '보합' 
                                  else (-int(x[4:].replace(',','')) if x[:2] == '하락' 
                                        else int(x[4:].replace(',',''))))  # convert characters to int
    # define variable types
    df['open'] = df['open'].astype(int)
    df['high'] = df['high'].astype(int)
    df['low'] = df['low'].astype(int)
    df['close'] = df['close'].astype(int)
    df['volume'] = df['volume'].astype(int)
    
    df = df[['date', 'open', 'high', 'low', 'close', 'close_change', 'volume']]  # rearrange columns

    return df

In [28]:
# 10개씩의 일자별 데이터를 원하는 일자부터 현재일자까지 합하어 취득
def get_date_price(url_base_d, code_com):
    
    page_num = 1
    
    # make first data frame
    page = str(page_num)
    url_date = url_base_d + '?code=' + code_com + '&page=' + page
    df_base = get_piece_date_price(url_date)
    
    page_num = page_num + 1

    startdate_str = '2020/1/2 00:00:00' # 데이터 수집 시작 일자, startdate_str
    startdate = datetime.datetime.strptime(startdate_str, '%Y/%m/%d %H:%M:%S')
    
    while True:
        page = str(page_num)
        
        url_date = url_base_d + '?code=' + code_com + '&page=' + page
        df_p = get_piece_date_price(url_date)
        # print("page_num", page_num, end=", ")
        # print("length", len(df_p))
        df_base = concat_df(df_base, df_p, 'date', 0)  # df concat후 'time' column을 기준으로 중복제거 후 0 column을 기준으로 정렬시킴.
        
        if len(df_p) < 10: # 10개 이하가 아니면 완료
            break
        if (startdate == df_base['date']).any(): # 시작일자와 일치하는 row가 있으면 더 이상 진행하지 않음.
            break

        page_num = page_num + 1

    return df_base

In [29]:
# naver_dir = 'data/naver_finance/date_data'
naver_dir = 'date_data'

url_base = 'https://finance.naver.com/item/sise_day.naver'  # sise_day

code_dic = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'], 
        '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}

code_dic = COMPANY_CODE
# code_dic = {'005930': ['삼성전자', 'sec'],}

for i, (code, company_name) in enumerate(code_dic.items()):
    df_collect = get_date_price(url_base, code)
    f_name = f'{naver_dir}/{company_name[1]}.csv'
    df_collect.to_csv(f_name)
    df_collect.to_pickle(f_name.replace('csv','pkl'))
    print(i, end=", ")

company_start ['삼성전자', 'sec']
company_end ['삼성전자', 'sec']
company_start ['LG에너지솔루션', 'lgenergy']
company_end ['LG에너지솔루션', 'lgenergy']
company_start ['SK하이닉스', 'skhynix']
company_end ['SK하이닉스', 'skhynix']
company_start ['삼성바이오로직스', 'ssbio']
company_end ['삼성바이오로직스', 'ssbio']
company_start ['삼성SDI', 'sdi']
company_end ['삼성SDI', 'sdi']
company_start ['LG화학', 'lgchemical']
company_end ['LG화학', 'lgchemical']
company_start ['삼성전자우', 'secpre']
company_end ['삼성전자우', 'secpre']
company_start ['현대차', 'hyunmotor']
company_end ['현대차', 'hyunmotor']
company_start ['NAVER', 'naver']
company_end ['NAVER', 'naver']
company_start ['기아', 'kia']
company_end ['기아', 'kia']
company_start ['카카오', 'kakao']
company_end ['카카오', 'kakao']
company_start ['POSCO홀딩스', 'poscoholding']
company_end ['POSCO홀딩스', 'poscoholding']
company_start ['KB금융', 'kbbank']
company_end ['KB금융', 'kbbank']
company_start ['삼성물산', 'sscnt']
company_end ['삼성물산', 'sscnt']
company_start ['셀트리온', 'celltrion']
company_end ['셀트리온', 'celltrion']
company_start ['현대모비스', 'mobis']
company_end ['현대모비스', 'mobis']
company_start ['신한지주', 'shgroup']
company_end ['신한지주', 'shgroup']
company_start ['LG전자', 'lgelec']
company_end ['LG전자', 'lgelec']
company_start ['포스코퓨처엠', 'poscochemical']
company_end ['포스코퓨처엠', 'poscochemical']
company_start ['SK이노베이션', 'skinnovation']
company_end ['SK이노베이션', 'skinnovation']
company_start ['KT&G', 'ktng']
company_end ['KT&G', 'ktng']
company_start ['KT', 'kt']
company_end ['KT', 'kt']
company_start ['LG', 'lg']
company_end ['LG', 'lg']
company_start ['SK', 'sk']
company_end ['SK', 'sk']
company_start ['삼성생명', 'sslife']
company_end ['삼성생명', 'sslife']
company_start ['하나금융지주', 'hana']
company_end ['하나금융지주', 'hana']
company_start ['삼성전기', 'sselec']
company_end ['삼성전기', 'sselec']
company_start ['한국전력', 'koreaelec']
company_end ['한국전력', 'koreaelec']
company_start ['두산에너빌리티', 'doosanener']
company_end ['두산에너빌리티', 'doosanener']
company_start ['고려아연', 'koreazinc']
company_end ['고려아연', 'koreazinc']
company_start ['SK텔레콤', 'sktelecom']
company_end ['SK텔레콤', 'sktelecom']
company_start ['HMM', 'hmm']
company_end ['HMM', 'hmm']
company_start ['삼성화재', 'ssfire']
company_end ['삼성화재', 'ssfire']
company_start ['LG생활건강', 'lglife']
company_end ['LG생활건강', 'lglife']
company_start ['S-Oil', 'soil']
company_end ['S-Oil', 'soil']
company_start ['크래프톤', 'crafton']
company_end ['크래프톤', 'crafton']
company_start ['삼성에스디에스', 'sds']
company_end ['삼성에스디에스', 'sds']
company_start ['현대중공업', 'hhi']
company_end ['현대중공업', 'hhi']
company_start ['대한항공', 'koreanair']
company_end ['대한항공', 'koreanair']
company_start ['엔씨소프트', 'ncsoft']
company_end ['엔씨소프트', 'ncsoft']
company_start ['한화솔루션', 'hanhwasol']
company_end ['한화솔루션', 'hanhwasol']
company_start ['우리금융지주', 'woorifg']
company_end ['우리금융지주', 'woorifg']
company_start ['아모레퍼시픽', 'amore']
company_end ['아모레퍼시픽', 'amore']
company_start ['롯데케미칼', 'lottechem']
company_end ['롯데케미칼', 'lottechem']
company_start ['기업은행', 'ibk']
company_end ['기업은행', 'ibk']
company_start ['메리츠금융지주', 'meritz']
company_end ['메리츠금융지주', 'meritz']
company_start ['카카오페이', 'kakaopay']
company_end ['카카오페이', 'kakaopay']
company_start ['LG이노텍', 'lginnotek']
company_end ['LG이노텍', 'lginnotek']
company_start ['삼성엔지니어링', 'ssengineering']
company_end ['삼성엔지니어링', 'ssengineering']
company_start ['SK아이이테크놀로지', 'skietech']
company_end ['SK아이이테크놀로지', 'skietech']
company_start ['현대글로비스', 'glovis']
company_end ['현대글로비스', 'glovis']
company_start ['SK바이오사이언스', 'skbio']
company_end ['SK바이오사이언스', 'skbio']

In [ ]:
df_collect.tail(10)

## 여기까지