### class 분류
#### 하루 주가 변동 분류
  - 0: no fluctuation, 1: 오전 high 오후 low, 2: 오전 low,  오후 high

In [1]:
import datetime, time
from datetime import date

import pandas as pd
import numpy as np

In [ ]:
code = {'005930': ['삼성전자', 'sec'], '005380': ['현대차', 'hyunmotor'],
                 '035420': ['NAVER', 'naver'], '033780': ['KT&G', 'ktng']}
# code = {'005930': ['삼성전자', 'sec']}

In [ ]:
columns = ['date', 'time', 'price', 'change', 'change(%)', 'amount', 'volume']

In [2]:
pkl_directory = '../data/company_daily_price_pkl'
start_date = '2022-06-20'

In [ ]:
end_date = datetime.date.today() - datetime.timedelta(days = 1) # 오늘날짜 하루전까지
start_date = '20220620'
date_range_ts = pd.date_range(start=start_date, end=end_date)

In [ ]:
def read_pickle(com_name, date_range_ts):
    for f_date in date_range_ts :
        f_name = '{}/{}_10min_price_{}.pkl'.format(pkl_directory, com_name, f_date.strftime('%Y%m%d'))
        try : 
            df = pd.read_pickle(f_name)
        except :
            continue
        print(df.head())

In [15]:
f_name = '{}/{}_10min_price_{}.pkl'.format(pkl_directory, 'sec', '20230207')
df = pd.read_pickle(f_name)

In [16]:
df_new = df[(df['time'].astype(str) >= '09:30:00') & (df['time'].astype(str) < '15:30:00')]
#  9시 30분(미포함) 이전 제외, 오후 3시 30분(포함) 이후 제외 후 최고가 시간, 최저가 시간 비교
time_max = df_new[df_new['price'] == df_new['price'].max()]['time'].iloc[0]
time_min = df_new[df_new['price'] == df_new['price'].min()]['time'].iloc[0]
time_criteria = '13:00:00'
if (time_max <= time_criteria) & (time_min <= time_criteria) :
    print("오전에 min, max 둘다")
elif (time_max <= time_criteria) & (time_min > time_criteria):
    print("오전에 max, 오후에 min") 
elif (time_max > time_criteria) & (time_min <= time_criteria):
    print("오전에 min, 오후에 max")
elif (time_max > time_criteria) & (time_min > time_criteria):
    print("오후에 min, max 둘다")

오전에 max, 오후에 min

In [ ]:
type(time_min)

In [ ]:
time = '15:50:00'
d_time = datetime.datetime.strptime(time,"%H:%M:%S")

In [ ]:
def classify_into_3(df):
    df_new = df[(df['time'].astype(str) >= '09:30:00') | (df['time'].astype(str) < '15:30:00')]
#  9시 30분(미포함) 이전 제외, 오후 3시 30분(포함) 이후 제외 후 최고가 시간, 최저가 시간 비교
    df_new['time'] == df_new['price'].max

In [ ]:
for key, val in code.items():
    read_pickle(val[1], date_range_ts)
#     print(f_name)
#     df_o = pd.read_pickle(f_name)
#     print(df_o.head(1), df_o.tail(1))
#     start_date = df_o['date'].iloc[len(df_o)-1]
#     end_date = datetime.date.today()
#     get_data_company(com_name, start_date, end_date)
#     df_get = get_data(start_date, end_date)
#     df_out = non_empty_index_df(df_get, start_date, end_date)
# #   NaN to null string. cause NaN does not replace original values in the original datafram    
#     df_o = concat_df(df_o, df_out) # append df to original df
#     df_o.replace(np.nan, '', inplace=True)
#     df_o.to_pickle(pkl_directory+pkl_name)