### 최초 한번 실행 과거 데이터 추출용

In [1]:
from selenium import webdriver as wd
from bs4 import BeautifulSoup as bs
import requests
import datetime, time
from datetime import date

import pandas as pd
import re
import os, sys

In [5]:
today = datetime.date.today()
today = today.strftime('%Y%m%d')

In [ ]:
# url = 'https://finance.yahoo.com/quote/%5EVIX/history?p=%5EVIX'
# # res = requests.get(url)

# headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) \
#            AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
# res = requests.get(url, headers=headers)
# soup = bs(res.text, 'html.parser')
# df = pd.read_html(res.text)

In [9]:
filename = '{}{}.csv'.format('data/vix_', today)

url = 'https://finance.yahoo.com/quote/%5EVIX/history?p=%5EVIX'
# res = requests.get(url)

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) \
           AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
res = requests.get(url, headers=headers)
df = pd.read_html(res.text)

# soup = bs(res.text, 'html.parser')
# tbl = soup.select("#Col1-1-HistoricalDataTable-Proxy > section > div.Pb\(10px\).Ovx\(a\).W\(100\%\) > table")
# # tbl = soup.find("table",{"class":"W(100%) M(0)", 'data-test':"historical-prices" })

# df = pd.read_html(str(tbl))

df[0].to_csv(filename, index=False)

In [8]:
df[0]

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jun 22, 2022",31.45,31.57,28.78,28.95,28.95,-
1,"Jun 21, 2022",30.63,30.65,29.33,30.19,30.19,-
2,"Jun 17, 2022",32.84,33.31,30.47,31.13,31.13,-
3,"Jun 16, 2022",30.35,34.82,30.35,32.95,32.95,-
4,"Jun 15, 2022",32.39,32.77,27.76,29.62,29.62,-
...,...,...,...,...,...,...,...
96,"Feb 02, 2022",21.56,22.73,20.46,22.09,22.09,-
97,"Feb 01, 2022",24.57,25.33,21.96,21.96,21.96,-
98,"Jan 31, 2022",28.36,29.41,24.71,24.83,24.83,-
99,"Jan 28, 2022",30.27,32.82,27.28,27.66,27.66,-
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [15]:
table_GDP = pd.read_html('https://en.wikipedia.org/wiki/Economy_of_the_United_States', match='Nominal GDP')

In [16]:
table_GDP[0]

,No.,Country/Economy,Nominal GDP,Agri.,Indus.,Serv.
0,1,United States,18624450,204868.95,3613143.3,14806437.75
1,*Percentages from CIA World Factbook[133],*Percentages from CIA World Factbook[133],*Percentages from CIA World Factbook[133],*Percentages from CIA World Factbook[133],*Percentages from CIA World Factbook[133],*Percentages from CIA World Factbook[133]

In [10]:
table_GDP = pd.read_html('https://en.wikipedia.org/wiki/Economy_of_the_United_States')