In [ ]:
code = {'005930' : ['삼성전자', 'sec'], '373220' : ['LG에너지솔루션', 'lgenergy'], 
        '000660' : ['SK하이닉스', 'skhinix'], '207940' : ['삼성바이오로직스', 'ssbio'],
        '006400' : ['삼성SDI', 'sdi'], '051910' : ['LG화학', 'lgchemical'],

In [ ]:
'003550' : ['LG', 'lg']
'034730' : ['SK', 'sk']
'032830' : ['삼성생명', 'sslife']
'086790' : ['하나금융지주', 'hana']
'009150' : ['삼성전기', 'sselec']
'015760' : ['한국전력', 'koreaelec']
'034020' : ['두산에너빌리티', 'doosanener']
'010130' : ['고려아연', 'koreazinc']
'017670' : ['SK텔레콤', 'sktelecom']
'011200' : ['HMM', 'hmm']
'000810' : ['삼성화재', 'ssfire']
'051900' : ['LG생활건강', 'lglife']
'010950' : ['S-Oil', 'soil']
'259960' : ['크래프톤', 'crafton']
'018260' : ['삼성에스디에스', 'sdi']
'329180' : ['현대중공업', 'hhi']
'003490' : ['대한항공', 'koreanair']
'036570' : ['엔씨소프트', 'ncsoft']
'009830' : ['한화솔루션', 'hanhwasol']
'316140' : ['우리금융지주', 'woorifg']
'090430' : ['아모레퍼시픽', 'amore']
'011170' : ['롯데케미칼', 'lottechem']
'024110' : ['기업은행', 'ibk']
'138040' : ['메리츠금융지주', 'meritz']
'377300' : ['카카오페이', 'kakaopay']
'011070' : ['LG이노텍', 'lginnotek']
'028050' : ['삼성엔지니어링', 'ssengineering']
'361610' : ['SK아이이테크놀로지', 'skietech']
'086280' : ['현대글로비스', 'glovis']
'302440' : ['SK바이오사이언스', 'skbio']

In [3]:
code_sec = {'003550' : ['LG', 'lg'], '034730' : ['SK', 'sk'], 
        '032830' : ['삼성생명', 'sslife'], '086790' : ['하나금융지주', 'hana'], 
        '009150' : ['삼성전기', 'sselec'], '015760' : ['한국전력', 'koreaelec'],
        '034020' : ['두산에너빌리티', 'doosanener'], '010130' : ['고려아연', 'koreazinc'],
        '017670' : ['SK텔레콤', 'sktelecom'], '011200' : ['HMM', 'hmm'],
        '000810' : ['삼성화재', 'ssfire'], '051900' : ['LG생활건강', 'lglife'],
        '010950' : ['S-Oil', 'soil'], '259960' : ['크래프톤', 'crafton'],
        '018260' : ['삼성에스디에스', 'sds'], '329180' : ['현대중공업', 'hhi'],
        '003490' : ['대한항공', 'koreanair'], '036570' : ['엔씨소프트', 'ncsoft'],
        '009830' : ['한화솔루션', 'hanhwasol'], '316140' : ['우리금융지주', 'woorifg'],
        '090430' : ['아모레퍼시픽', 'amore'], '011170' : ['롯데케미칼', 'lottechem'], 
        '024110' : ['기업은행', 'ibk'], '138040' : ['메리츠금융지주', 'meritz'], 
        '377300' : ['카카오페이', 'kakaopay'], '011070' : ['LG이노텍', 'lginnotek'],
        '028050' : ['삼성엔지니어링', 'ssengineering'], '361610' : ['SK아이이테크놀로지', 'skietech'],
        '086280' : ['현대글로비스', 'glovis'], '302440' : ['SK바이오사이언스', 'skbio'],
       }

In [4]:
code_sec

{'003550': ['LG', 'lg'],
 '034730': ['SK', 'sk'],
 '032830': ['삼성생명', 'sslife'],
 '086790': ['하나금융지주', 'hana'],
 '009150': ['삼성전기', 'sselec'],
 '015760': ['한국전력', 'koreaelec'],
 '034020': ['두산에너빌리티', 'doosanener'],
 '010130': ['고려아연', 'koreazinc'],
 '017670': ['SK텔레콤', 'sktelecom'],
 '011200': ['HMM', 'hmm'],
 '000810': ['삼성화재', 'ssfire'],
 '051900': ['LG생활건강', 'lglife'],
 '010950': ['S-Oil', 'soil'],
 '259960': ['크래프톤', 'crafton'],
 '018260': ['삼성에스디에스', 'sdi'],
 '329180': ['현대중공업', 'hhi'],
 '003490': ['대한항공', 'koreanair'],
 '036570': ['엔씨소프트', 'ncsoft'],
 '009830': ['한화솔루션', 'hanhwasol'],
 '316140': ['우리금융지주', 'woorifg'],
 '090430': ['아모레퍼시픽', 'amore'],
 '011170': ['롯데케미칼', 'lottechem'],
 '024110': ['기업은행', 'ibk'],
 '138040': ['메리츠금융지주', 'meritz'],
 '377300': ['카카오페이', 'kakaopay'],
 '011070': ['LG이노텍', 'lginnotek'],
 '028050': ['삼성엔지니어링', 'ssengineering'],
 '361610': ['SK아이이테크놀로지', 'skietech'],
 '086280': ['현대글로비스', 'glovis'],
 '302440': ['SK바이오사이언스', 'skbio']}

In [27]:
import datetime
from pandas_datareader import data as pdr
# from datetime import datetime
import yfinance as yf
yf.pdr_override()
import pandas_datareader

In [22]:
startdate = datetime.datetime(2022,12,25).date()
# enddate = datetime.datetime(2023,3,23)
enddate = datetime.date.today()

In [28]:
df = pdr.DataReader('005930.KS', 'yahoo', startdate,enddate)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 005930.KS: ValueError("time data 'yahoo' does not match format '%Y-%m-%d'")

In [23]:
startdate, enddate

(datetime.date(2022, 12, 25), datetime.date(2023, 4, 5))

In [26]:
kospi = pdr.get_data_yahoo('005930.KS')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 005930.KS: No data found for this date range, symbol may be delisted

In [24]:
kospi = pdr.get_data_yahoo('005930.KS', start=startdate, end=enddate)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 005930.KS: No data found for this date range, symbol may be delisted

In [10]:
kospi.head()

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [25]:
dji = pdr.get_data_yahoo('^DJI', start=startdate, end=enddate)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^DJI: No data found for this date range, symbol may be delisted

In [29]:
datetime.datetime.today()

datetime.datetime(2023, 4, 5, 17, 16, 40, 692520)

In [30]:
sd = datetime.datetime(2022,12,25)

In [31]:
sd

datetime.datetime(2022, 12, 25, 0, 0)