In [1]:
import datetime
import time
from datetime import date

import pandas as pd
import numpy as np

import os, sys

In [2]:
base_data_directory = './data/base_data/stock_market_holydays/'
opening_days_kor = pd.read_pickle(base_data_directory+'opening_days_kor.pkl') # 한국 개장일 데이터 
def is_opening_day(date): # 개장일 확인
    date = datetime.datetime.strptime(date, "%Y%m%d").date()
    if date in list(opening_days_kor):
        return True
    else:
        return False

In [4]:
opening_days_kor

datetime.date(2020, 1, 2)

In [9]:
today = datetime.datetime.today().date()

In [10]:
today

datetime.date(2023, 5, 31)

In [11]:
today in list(opening_days_kor)

True

In [8]:
opening_days_kor[0] in list(opening_days_kor)

True

In [17]:
pkl_directory = 'data/common_pkl/'
df_o = pd.read_pickle(pkl_directory + 'kosdaq.pkl')

In [24]:
df_o['kosdaq']

0      1037.83
1      1031.66
2      1009.62
3        980.3
4       995.16
        ...
345     843.23
346
347
348
349      851.5
Name: kosdaq, Length: 350, dtype: object

In [28]:
pd.isnull(df_o['kosdaq'])

0      False
1      False
2      False
3      False
4      False
       ...
345    False
346    False
347    False
348    False
349    False
Name: kosdaq, Length: 350, dtype: bool

In [33]:
df_o['kosdaq'] == ''

0      False
1      False
2      False
3      False
4      False
       ...
345    False
346     True
347     True
348     True
349    False
Name: kosdaq, Length: 350, dtype: bool

In [37]:
dff = df_o[~(df_o['kosdaq'] == '')]

In [43]:
dff.reset_index(drop=True, inplace=True)

In [44]:
dff

           date   kosdaq     open     high      low     volume kosdaq_cr
0    2022-01-03  1037.83  1038.97  1039.67  1030.57  1054530.0      0.37
1    2022-01-04  1031.66  1041.07  1041.29  1025.23  1324121.0     -0.59
2    2022-01-05  1009.62  1029.12  1029.12  1007.84  1500451.0     -2.14
3    2022-01-06    980.3    993.6  1003.01   979.83  1461245.0      -2.9
4    2022-01-07   995.16   986.18   997.02   986.18  1470713.0      1.52
..          ...      ...      ...      ...      ...        ...       ...
342  2023-05-23   859.16   853.57    861.3   853.57    1270087      0.84
343  2023-05-24   855.46   856.25   857.84    853.0    1150653     -0.43
344  2023-05-25   847.72    857.3   860.01   845.84    1253501      -0.9
345  2023-05-26   843.23    849.8   853.06   842.17  1181355.0     -0.53
346  2023-05-30    851.5    850.0   851.53   844.48  1205648.0      0.98

[347 rows x 7 columns]

In [49]:
df_tf = df_o['date'].apply(lambda x: True if x in list(opening_days_kor) else False)

In [50]:
dff1 = df_o[df_tf]

In [52]:
dff1.reset_index(drop=True, inplace=True)

In [53]:
dff1

           date   kosdaq     open     high      low     volume kosdaq_cr
0    2022-01-03  1037.83  1038.97  1039.67  1030.57  1054530.0      0.37
1    2022-01-04  1031.66  1041.07  1041.29  1025.23  1324121.0     -0.59
2    2022-01-05  1009.62  1029.12  1029.12  1007.84  1500451.0     -2.14
3    2022-01-06    980.3    993.6  1003.01   979.83  1461245.0      -2.9
4    2022-01-07   995.16   986.18   997.02   986.18  1470713.0      1.52
..          ...      ...      ...      ...      ...        ...       ...
340  2023-05-23   859.16   853.57    861.3   853.57    1270087      0.84
341  2023-05-24   855.46   856.25   857.84    853.0    1150653     -0.43
342  2023-05-25   847.72    857.3   860.01   845.84    1253501      -0.9
343  2023-05-26   843.23    849.8   853.06   842.17  1181355.0     -0.53
344  2023-05-30    851.5    850.0   851.53   844.48  1205648.0      0.98

[345 rows x 7 columns]

In [71]:
base_data_directory = './data/base_data/stock_market_holydays/'
opening_days_kor = pd.read_pickle(base_data_directory+'opening_days_kor.pkl') # 한국 개장일 데이터 


# df_in : common data, opening_days : Series from oprning_days_xxx.pkl
def select_openingdays(df_in, opening_days):
    df_sel = df_in['date'].apply(lambda x: True if x in list(opening_days) else False)
    df_out = df_in[df_sel].reset_index(drop=True)
    return df_out

In [72]:
pkl_directory = 'data/common_pkl/'
df_o = pd.read_pickle(pkl_directory + 'kosdaq.pkl')

In [73]:
df_new = select_openingdays(df_o, opening_days_kor)

In [74]:
df_new

           date   kosdaq     open     high      low     volume kosdaq_cr
0    2022-01-03  1037.83  1038.97  1039.67  1030.57  1054530.0      0.37
1    2022-01-04  1031.66  1041.07  1041.29  1025.23  1324121.0     -0.59
2    2022-01-05  1009.62  1029.12  1029.12  1007.84  1500451.0     -2.14
3    2022-01-06    980.3    993.6  1003.01   979.83  1461245.0      -2.9
4    2022-01-07   995.16   986.18   997.02   986.18  1470713.0      1.52
..          ...      ...      ...      ...      ...        ...       ...
340  2023-05-23   859.16   853.57    861.3   853.57    1270087      0.84
341  2023-05-24   855.46   856.25   857.84    853.0    1150653     -0.43
342  2023-05-25   847.72    857.3   860.01   845.84    1253501      -0.9
343  2023-05-26   843.23    849.8   853.06   842.17  1181355.0     -0.53
344  2023-05-30    851.5    850.0   851.53   844.48  1205648.0      0.98

[345 rows x 7 columns]

In [65]:
df_sel = df_o['date'].apply(lambda x: True if x in list(opening_days_kor) else False)

In [67]:
df_out = df_o[df_sel].reset_index(drop=True, inplace=True)

In [70]:
df_o[df_sel].reset_index(drop=True)

           date   kosdaq     open     high      low     volume kosdaq_cr
0    2022-01-03  1037.83  1038.97  1039.67  1030.57  1054530.0      0.37
1    2022-01-04  1031.66  1041.07  1041.29  1025.23  1324121.0     -0.59
2    2022-01-05  1009.62  1029.12  1029.12  1007.84  1500451.0     -2.14
3    2022-01-06    980.3    993.6  1003.01   979.83  1461245.0      -2.9
4    2022-01-07   995.16   986.18   997.02   986.18  1470713.0      1.52
..          ...      ...      ...      ...      ...        ...       ...
340  2023-05-23   859.16   853.57    861.3   853.57    1270087      0.84
341  2023-05-24   855.46   856.25   857.84    853.0    1150653     -0.43
342  2023-05-25   847.72    857.3   860.01   845.84    1253501      -0.9
343  2023-05-26   843.23    849.8   853.06   842.17  1181355.0     -0.53
344  2023-05-30    851.5    850.0   851.53   844.48  1205648.0      0.98

[345 rows x 7 columns]