In [1]:
import datetime
import time
from datetime import date

import pandas as pd
import numpy as np

import os, sys

In [7]:
base_data_directory = '../data/base_data/stock_market_holydays/'
opening_days_kor = pd.read_pickle(base_data_directory+'opening_days_kor.pkl') # 한국 개장일 데이터 
def is_opening_day(date): # 개장일 확인
    date = datetime.datetime.strptime(date, "%Y%m%d").date()
    if date in list(opening_days_kor):
        return True
    else:
        return False

In [3]:
base_data_directory = '../data/base_data/stock_market_holydays/'
opening_days_kor = pd.read_pickle(base_data_directory+'opening_days_kor.pkl') # 한국 개장일 데이터 


# df_in : common data, opening_days : Series from oprning_days_xxx.pkl
def select_openingdays(df_in, opening_days):
    df_sel = df_in['date'].apply(lambda x: True if x in list(opening_days) else False)
    df_out = df_in[df_sel].reset_index(drop=True)
    return df_out

In [38]:
pkl_directory = '../data/company_pkl/'
df_o = pd.read_pickle(pkl_directory + 'sec_investors.pkl')

In [12]:
df_sel = df_o['date'].apply(lambda x: True if x in list(opening_days_kor) else False)

In [13]:
df_out = df_o[df_sel].reset_index(drop=True, inplace=True)

In [14]:
today = datetime.datetime.today()
today

datetime.datetime(2023, 5, 31, 18, 47, 48, 906409)

In [15]:
datetime.datetime.date(today)

datetime.date(2023, 5, 31)

In [36]:
pkl_directory = '../data/data_for_ml/predict/'
df_o = pd.read_pickle(pkl_directory + 'df_amore_company.pkl')

In [41]:
df_o['date'][300]

Timestamp('2020-10-27 00:00:00')

In [42]:
datetime.date.today()

datetime.date(2023, 5, 31)

In [44]:
datetime.datetime.today().date()

datetime.date(2023, 5, 31)

In [5]:
opening_days_kor.

0      2020-01-02
1      2020-01-03
2      2020-01-06
3      2020-01-07
4      2020-01-08
          ...
981    2023-12-21
982    2023-12-22
983    2023-12-26
984    2023-12-27
985    2023-12-28
Name: date, Length: 986, dtype: object

In [15]:
# get stock market opening days
base_data_directory = '../data/base_data/stock_market_holydays/'
OPENING_DAYS_KOR = pd.read_pickle(base_data_directory+'opening_days_kor.pkl') # 한국 개장일 데이터 
OPENING_DAYS_USA = pd.read_pickle(base_data_directory+'opening_days_usa.pkl') # 미국 개장일 데이터

In [12]:
TRAIN_START_DATE = datetime.date(2022, 3, 2)
TRAIN_END_DATE = datetime.date(2023, 3, 31)
test = datetime.date(2023, 4, 30)

In [16]:
sttn = list(OPENING_DAYS_KOR).index(TRAIN_START_DATE)
endn = list(OPENING_DAYS_KOR).index(TRAIN_END_DATE)
endn - sttn

267

In [ ]:
def find_next_date(current_date):
    current_index = list(OPENING_DAYS_KOR).index(current_date)
    next_date =  OPENING_DAYS_KOR.iloc[current_index+1]
    return next_date

In [17]:
len(OPENING_DAYS_KOR), len(OPENING_DAYS_USA)

(986, 1004)

In [62]:
# 개장일중 겹치지 않는 일자 찾기
opening_days_combined = list(set(list(OPENING_DAYS_KOR)).union(set(list(OPENING_DAYS_USA))))
opening_days_combined.sort()
df_date = pd.DataFrame(opening_days_combined, columns=['date_all'])
df_date['date_kor'] = df_date['date_all'][df_date['date_all'].isin(OPENING_DAYS_KOR)]
df_date['date_usa'] = df_date['date_all'][df_date['date_all'].isin(OPENING_DAYS_USA)]

In [51]:
opening_days_combined.sort()

In [52]:
open_date_dict = {}
open_date_dict['date_all'] = opening_days_combined

In [53]:
df_date = pd.DataFrame(open_date_dict)

In [54]:
df_date['date_kor'] = df_date['date_all'][df_date['date_all'].isin(OPENING_DAYS_KOR)]

In [56]:
df_date['date_usa'] = df_date['date_all'][df_date['date_all'].isin(OPENING_DAYS_USA)]

In [63]:
df_date[840:900]

       date_all    date_kor    date_usa
840  2023-03-27  2023-03-27  2023-03-27
841  2023-03-28  2023-03-28  2023-03-28
842  2023-03-29  2023-03-29  2023-03-29
843  2023-03-30  2023-03-30  2023-03-30
844  2023-03-31  2023-03-31  2023-03-31
845  2023-04-03  2023-04-03  2023-04-03
846  2023-04-04  2023-04-04  2023-04-04
847  2023-04-05  2023-04-05  2023-04-05
848  2023-04-06  2023-04-06  2023-04-06
849  2023-04-07  2023-04-07         NaN
850  2023-04-10  2023-04-10  2023-04-10
851  2023-04-11  2023-04-11  2023-04-11
852  2023-04-12  2023-04-12  2023-04-12
853  2023-04-13  2023-04-13  2023-04-13
854  2023-04-14  2023-04-14  2023-04-14
855  2023-04-17  2023-04-17  2023-04-17
856  2023-04-18  2023-04-18  2023-04-18
857  2023-04-19  2023-04-19  2023-04-19
858  2023-04-20  2023-04-20  2023-04-20
859  2023-04-21  2023-04-21  2023-04-21
860  2023-04-24  2023-04-24  2023-04-24
861  2023-04-25  2023-04-25  2023-04-25
862  2023-04-26  2023-04-26  2023-04-26
863  2023-04-27  2023-04-27  2023-04-27
864  2023-04-28  2023-04-28  2023-04-28
865  2023-05-01         NaN  2023-05-01
866  2023-05-02  2023-05-02  2023-05-02
867  2023-05-03  2023-05-03  2023-05-03
868  2023-05-04  2023-05-04  2023-05-04
869  2023-05-05         NaN  2023-05-05
870  2023-05-08  2023-05-08  2023-05-08
871  2023-05-09  2023-05-09  2023-05-09
872  2023-05-10  2023-05-10  2023-05-10
873  2023-05-11  2023-05-11  2023-05-11
874  2023-05-12  2023-05-12  2023-05-12
875  2023-05-15  2023-05-15  2023-05-15
876  2023-05-16  2023-05-16  2023-05-16
877  2023-05-17  2023-05-17  2023-05-17
878  2023-05-18  2023-05-18  2023-05-18
879  2023-05-19  2023-05-19  2023-05-19
880  2023-05-22  2023-05-22  2023-05-22
881  2023-05-23  2023-05-23  2023-05-23
882  2023-05-24  2023-05-24  2023-05-24
883  2023-05-25  2023-05-25  2023-05-25
884  2023-05-26  2023-05-26  2023-05-26
885  2023-05-30  2023-05-30  2023-05-30
886  2023-05-31  2023-05-31  2023-05-31
887  2023-06-01  2023-06-01  2023-06-01
888  2023-06-02  2023-06-02  2023-06-02
889  2023-06-05  2023-06-05  2023-06-05
890  2023-06-06         NaN  2023-06-06
891  2023-06-07  2023-06-07  2023-06-07
892  2023-06-08  2023-06-08  2023-06-08
893  2023-06-09  2023-06-09  2023-06-09
894  2023-06-12  2023-06-12  2023-06-12
895  2023-06-13  2023-06-13  2023-06-13
896  2023-06-14  2023-06-14  2023-06-14
897  2023-06-15  2023-06-15  2023-06-15
898  2023-06-16  2023-06-16  2023-06-16
899  2023-06-19  2023-06-19         NaN

In [61]:
pd.DataFrame(opening_days_combined, columns=['date_all'])

        date_all
0     2020-01-02
1     2020-01-03
2     2020-01-06
3     2020-01-07
4     2020-01-08
...          ...
1033  2023-12-22
1034  2023-12-26
1035  2023-12-27
1036  2023-12-28
1037  2023-12-29

[1038 rows x 1 columns]

In [14]:
OPENING_DAYS_USA

0       2020-01-02
1       2020-01-03
2       2020-01-06
3       2020-01-07
4       2020-01-08
           ...
999     2023-12-22
1000    2023-12-26
1001    2023-12-27
1002    2023-12-28
1003    2023-12-29
Name: date, Length: 1004, dtype: object

In [38]:
OPENING_DAYS_KOR.columns

AttributeError: 'Series' object has no attribute 'columns'