!pip install pandas_datareader
!pip install yfinance

In [ ]:
!pip uninstall yfinance
!pip uninstall pandas-datareader
!pip install yfinance --upgrade --no-cache-dir
!pip install pandas-datareader

In [ ]:
from datetime import datetime
import pandas_datareader.data as web
import os

In [ ]:


spy = pdr.get_data_yahoo('SPY',start='2022-10-23',end='2022-12-24')

In [ ]:
import pandas as pd
import datetime as dt

In [4]:
from pandas_datareader import data as pdr
from datetime import datetime
import yfinance as yf
yf.pdr_override()

In [15]:
from pandas_datareader import data as pdr
from datetime import datetime
import yfinance as yf
yf.pdr_override()
y_symbols = ['SCHAND.NS', 'TATAPOWER.NS', 'ITC.NS']
y_symbols = ['^GSPE']
startdate = datetime(2022,1,1)
enddate = datetime(2023,3,23)
data = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)

[*********************100%***********************]  1 of 1 completed

In [16]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,422.739990,436.320007,422.739990,435.829987,435.829987,180887400
2022-01-04,435.829987,452.540009,435.829987,450.899994,450.899994,255425500
2022-01-05,450.899994,460.109985,450.070007,450.570007,450.570007,231818400
2022-01-06,450.570007,463.269989,450.570007,460.890015,460.890015,201806300
2022-01-07,460.890015,468.769989,459.709991,467.579987,467.579987,197983400
...,...,...,...,...,...,...
2023-03-16,588.200012,595.349976,572.549988,593.719971,593.719971,250687000
2023-03-17,593.719971,595.400024,579.940002,584.640015,584.640015,394949700
2023-03-20,584.640015,599.760010,584.530029,596.979980,596.979980,184689400
2023-03-21,596.979980,619.500000,596.979980,617.599976,617.599976,199715100
2023-03-22,617.599976,620.840027,604.340027,604.559998,604.559998,153120600

In [ ]:
# from pandas_datareader import data as pdr
import pandas_datareader as pdr
from datetime import datetime
import yfinance as yf
yf.pdr_override()

In [ ]:
y_symbols = ['AAPL']

In [ ]:
startdate = datetime(2022,1,1)
enddate = datetime(2023,3,5)

In [ ]:
type(startdate)

In [ ]:
# import pandas_datareader.data as data

# data = data.DataReader('AAPL', 'yahoo', startdate, enddate)

In [ ]:
data = pdr.get_data_yahoo('AAPL', startdate, enddate)