!pip install pandas_datareader
!pip install yfinance

In [1]:
from pandas_datareader import data as pdr
from datetime import datetime
import yfinance as yf
yf.pdr_override()
# y_symbols = ['SCHAND.NS', 'TATAPOWER.NS', 'ITC.NS']
y_symbols = ['AAPL', 'MSFT']
from datetime import datetime
startdate = datetime(2022,1,1)
enddate = datetime(2023,3,5)
data = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)

[*********************100%***********************]  2 of 2 completed

In [2]:
data

             Adj Close                   Close                    High  \
                  AAPL        MSFT        AAPL        MSFT        AAPL
Date
2022-01-03  180.683853  330.813843  182.009995  334.750000  182.880005
2022-01-04  178.390701  325.141357  179.699997  329.010010  182.940002
2022-01-05  173.645538  312.659882  174.919998  316.380005  180.169998
2022-01-06  170.746796  310.189270  172.000000  313.880005  175.300003
2022-01-07  170.915573  310.347382  172.169998  314.040009  174.139999
...                ...         ...         ...         ...         ...
2023-02-27  147.919998  250.160004  147.919998  250.160004  149.169998
2023-02-28  147.410004  249.419998  147.410004  249.419998  149.080002
2023-03-01  145.309998  246.270004  145.309998  246.270004  147.229996
2023-03-02  145.910004  251.110001  145.910004  251.110001  146.710007
2023-03-03  151.029999  255.289993  151.029999  255.289993  151.110001

                               Low                    Open              \
                  MSFT        AAPL        MSFT        AAPL        MSFT
Date
2022-01-03  338.000000  177.710007  329.779999  177.830002  335.350006
2022-01-04  335.200012  179.119995  326.119995  182.630005  334.829987
2022-01-05  326.070007  174.639999  315.980011  179.610001  325.859985
2022-01-06  318.700012  171.639999  311.489990  172.699997  313.149994
2022-01-07  316.500000  171.029999  310.089996  172.889999  314.149994
...                ...         ...         ...         ...         ...
2023-02-27  252.820007  147.449997  249.389999  147.710007  252.460007
2023-02-28  251.490005  146.830002  248.729996  147.050003  249.070007
2023-03-01  250.929993  145.009995  245.789993  146.830002  250.759995
2023-03-02  251.399994  143.899994  245.610001  144.380005  246.550003
2023-03-03  255.619995  147.330002  251.389999  148.039993  252.190002

               Volume
                 AAPL      MSFT
Date
2022-01-03  104487900  28865100
2022-01-04   99310400  32674300
2022-01-05   94537600  40054300
2022-01-06   96904000  39646100
2022-01-07   86709100  32720000
...               ...       ...
2023-02-27   44998500  21190000
2023-02-28   50547000  22491000
2023-03-01   55479000  27565300
2023-03-02   52238100  24808200
2023-03-03   70668500  30741300

[293 rows x 12 columns]