<a href="https://colab.research.google.com/github/fasthill/ML-DL-study-alone/blob/main/5-1%20%EA%B2%B0%EC%A0%95%20%ED%8A%B8%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import pandas as pd
import datetime
import os, re

In [15]:
directory_for_predict = '../data/data_for_ml/predict/'
pkl_directory = '../data/company_pkl/'
 
pkl_name= 'sec_historical.pkl'
df= pd.read_pickle(pkl_directory + pkl_name)

In [17]:
df['close'] = df['close'].shift(-1)

In [19]:
df.tail()

          date     open     high      low    close close_cr         vol
328 2023-04-23                             65200.0
329 2023-04-24  65300.0  65700.0  64800.0  63600.0    -0.76  12986581.0
330 2023-04-25  65300.0  65400.0  63400.0  64100.0    -2.45  16193271.0
331 2023-04-26  63600.0  64300.0  63300.0    64600     0.79  12664541.0
332 2023-04-27    64100    65000    63300     None     0.78    14771621

In [25]:
df.iloc[-1, 4] == None

True

In [8]:
# file creation timestamp in float
c_time = os.path.getctime(pkl_directory + pkl_name)
# convert creation timestamp into DateTime object
dt_c = datetime.datetime.fromtimestamp(c_time)

In [9]:
dt_c

datetime.datetime(2023, 3, 3, 14, 49, 27, 756315)

In [14]:
# file creation timestamp in float
m_time = os.path.getmtime(pkl_directory + pkl_name)
# convert creation timestamp into DateTime object
dt_m = datetime.datetime.fromtimestamp(m_time)

In [15]:
dt_m

datetime.datetime(2023, 4, 27, 9, 4, 43, 510912)

In [16]:
dt_m.hour

9

In [17]:
dt_m.minute

4

In [18]:
m_time

1682553883.5109117

In [5]:
a = None

In [6]:
a

In [8]:
b = 10

In [9]:
l = [a, b]

In [10]:
l

[None, 10]

In [13]:
l[0] == None

True

In [12]:
a[0]

TypeError: 'NoneType' object is not subscriptable

In [ ]:
directory_for_predict = './data/data_for_ml/predict/'
pkl_directory = './data/company_pkl/'
pkl_name= 'sec_historical.pkl'
df_historical_temp = pd.read_pickle(pkl_directory + pkl_name)