<a href="https://colab.research.google.com/github/fasthill/ML-DL-study-alone/blob/main/5-1%20%EA%B2%B0%EC%A0%95%20%ED%8A%B8%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime
import os, re

In [ ]:
directory_for_predict = '../data/data_for_ml/predict/'
pkl_directory = '../data/company_pkl/'
 
pkl_name= 'sec_historical.pkl'
df= pd.read_pickle(pkl_directory + pkl_name)

In [ ]:
df['close'] = df['close'].shift(-1)

In [ ]:
df.tail()

In [ ]:
df.iloc[-1, 4] == None

In [ ]:
# file creation timestamp in float
c_time = os.path.getctime(pkl_directory + pkl_name)
# convert creation timestamp into DateTime object
dt_c = datetime.datetime.fromtimestamp(c_time)

In [ ]:
dt_c

In [ ]:
# file creation timestamp in float
m_time = os.path.getmtime(pkl_directory + pkl_name)
# convert creation timestamp into DateTime object
dt_m = datetime.datetime.fromtimestamp(m_time)

In [ ]:
dt_m

In [ ]:
dt_m.hour

In [ ]:
dt_m.minute

In [ ]:
m_time

In [ ]:
a = None

In [ ]:
a

In [ ]:
b = 10

In [ ]:
l = [a, b]

In [ ]:
l

In [ ]:
l[0] == None

In [2]:
dk = datetime.datetime.today()
dk

datetime.datetime(2023, 8, 22, 16, 20, 48, 883111)

In [3]:
dk = datetime.datetime.now()
dk

datetime.datetime(2023, 8, 22, 16, 21, 10, 842169)

In [ ]:
du = dk + datetime.timedelta(hours=-13)
du

In [ ]:
directory_for_predict = './data/data_for_ml/predict/'
pkl_directory = './data/company_pkl/'
pkl_name= 'sec_historical.pkl'
df_historical_temp = pd.read_pickle(pkl_directory + pkl_name)

In [ ]:
import csv
import numpy as np

ndict=[{'name':'Andrew','rollno.':1,'marks':19},
       {'name':'John','rollno.':2,'marks':18},
       {'name':'Roger','rollno.':3,'marks':16}]



ndict = {
    'boosting_type' : ['gbdt', 'dart', ],# ['gbdt', 'dart', 'goss'],
    'learning_rate': (0.0001, 0.004, 'log-uniform'),
    'num_leaves': (3, 15),      
    'max_depth': (0, 50), #[-1], #(0, 50),
    'min_child_samples': (5, 40),
#     'min_child_weight': (0, 5), # 값을 변동시 같은 값이 최적값으로 선정되더라고 precision이 틀림. 반드시 값을 바꾸면서 진행해야 함.
    'max_bin': (100, 1200), # 사용시 0.75%로 올라감 default: 255
#     'max_cat_threshold' : (1, 100),
    'subsample': (0.005, 1.0, 'uniform'), # == bagging_fraction
#     'subsample_freq': (1, 10), # mobis에서 적용시 값이 많이 올라감. default:0
    'colsample_bytree': (0.005, 1.0, 'uniform'),
    'subsample_for_bin': (100000, 1000000),
    'scale_pos_weight': np.arange(0.2, 2, 0.1) ,
    'n_estimators': (700, 12000),
#     'reg_alpha' : (0, 4.0, 'uniform'), # =='lambda_l1': [0, 5], # default 0
#     'reg_lambda' : (0, 4.0, 'uniform'), # == lambda_l2': [0, 5], #default 0    
    'reg_alpha' : np.arange(0, 3, 0.1),
    'reg_lambda' : np.arange(0, 3, 0.1),
    'force_col_wise': ['true'], 
    'boost_from_average' : [True, False],
    'objective': ['binary'],
    'metric': ['binary_logloss'],
}

#define fields
fields=['rollno.','name','marks'] # == fileds=ndict[0].keys()
fields=ndict.keys()
values = ndict.values()

with open('dictnew.csv',mode='w') as file:
    writer=csv.DictWriter(file,fieldnames=fields)#create writer object
    writer.writeheader() #writing field names(headings)
    writer.writerows(ndict) #writing the data

In [2]:
ndict = {
    'boosting_type' : ['gbdt', 'dart', ],# ['gbdt', 'dart', 'goss'],
    'learning_rate': (0.0001, 0.004, 'log-uniform'),
    'num_leaves': (3, 15),      
    'max_depth': (0, 50), #[-1], #(0, 50),
    'min_child_samples': (5, 40),
#     'min_child_weight': (0, 5), # 값을 변동시 같은 값이 최적값으로 선정되더라고 precision이 틀림. 반드시 값을 바꾸면서 진행해야 함.
    'max_bin': (100, 1200), # 사용시 0.75%로 올라감 default: 255
#     'max_cat_threshold' : (1, 100),
    'subsample': (0.005, 1.0, 'uniform'), # == bagging_fraction
#     'subsample_freq': (1, 10), # mobis에서 적용시 값이 많이 올라감. default:0
    'colsample_bytree': (0.005, 1.0, 'uniform'),
    'subsample_for_bin': (100000, 1000000),
    'scale_pos_weight': np.arange(0.2, 2, 0.1) ,
    'n_estimators': (700, 12000),
#     'reg_alpha' : (0, 4.0, 'uniform'), # =='lambda_l1': [0, 5], # default 0
#     'reg_lambda' : (0, 4.0, 'uniform'), # == lambda_l2': [0, 5], #default 0    
    'reg_alpha' : np.arange(0, 3, 0.1),
    'reg_lambda' : np.arange(0, 3, 0.1),
    'force_col_wise': ['true'], 
    'boost_from_average' : [True, False],
    'objective': ['binary'],
    'metric': ['binary_logloss'],
}
fields=ndict.keys()
values = ndict.values()
pd.DataFrame([fields, values], index=['parameter','value']).T.to_csv("dictt.csv")

In [ ]:
values = ndict[0].values()

In [ ]:
values

In [1]:
ndict = {
    'boosting_type' : ['gbdt', 'dart', ],# ['gbdt', 'dart', 'goss'],
    'learning_rate': (0.0001, 0.004, 'log-uniform'),}
ndict2 = {
        'boost_from_average' : [True, False],
    'objective': ['binary'],
    'metric': ['binary_logloss'],
}

In [2]:
ndict, ndict2

({'boosting_type': ['gbdt', 'dart'],
  'learning_rate': (0.0001, 0.004, 'log-uniform')},
 {'boost_from_average': [True, False],
  'objective': ['binary'],
  'metric': ['binary_logloss']})

In [3]:
ndict+ndict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [4]:
from collections import Counter

x = {'both1':1, 'both2':2, 'only_x': 100 }
y = {'both1':10, 'both2': 20, 'only_y':200 }

z = dict(Counter(x)+Counter(y))

In [5]:
z

{'both1': 11, 'both2': 22, 'only_x': 100, 'only_y': 200}

In [27]:
dsum = {}

In [28]:
dsumk = list(ndict.keys()) + list(ndict2.keys())

In [29]:
dsumv = list(ndict.values()) + list(ndict2.values())

In [32]:
for i in range(len(ndict)+len(ndict2)):
    print(i)
    dsum[dsumk[i]] = dsumv[i]

0
1
2
3
4

In [43]:
def add_dict(dict1, dict2):
    dsum = {}
    d_k = list(dict1.keys()) + list(dict2.keys())  # sum keys list
    d_v = list(dict1.values()) + list(dict2.values())  # sum values list
    for i in range(len(d_k)):
        dsum[d_k[i]] = d_v[i]
    return dsum

In [45]:
dsum = add_dict(ndict2, ndict)
dsum

{'boost_from_average': [True, False],
 'objective': ['binary'],
 'metric': ['binary_logloss'],
 'boosting_type': ['gbdt', 'dart'],
 'learning_rate': (0.0001, 0.004, 'log-uniform')}

In [33]:
dsum

{'boosting_type': ['gbdt', 'dart'],
 'learning_rate': (0.0001, 0.004, 'log-uniform'),
 'boost_from_average': [True, False],
 'objective': ['binary'],
 'metric': ['binary_logloss']}

In [7]:
dica.app = [ndict+ndict2]
dica

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [9]:
A = {'A': [0.25, 0.25, 0.25], 'B': [0.3, 0.3, 0.3], 'C': [0.5, 0.5, 0.5], 'D': [0.7, 0.7, 0.7]}

df = pd.DataFrame(A)

m = {'A': 'AB', 'B': 'AB', 'C': 'CD', 'D': 'CD'}
m = {'A': 'AB', 'B': 'AB'}
pd.concat(dict((*df.groupby(m, 1),)), axis=1)

     AB
      A    B
0  0.25  0.3
1  0.25  0.3
2  0.25  0.3

In [10]:
aa = df.    groupby(by=m,     axis=1)

In [11]:
bb= iter(aa)

In [12]:
for i in bb:
    print(i)

('AB',       A    B
0  0.25  0.3
1  0.25  0.3
2  0.25  0.3)

In [17]:
list(dict((*df.groupby(m,1),)).values())[0]

      A    B
0  0.25  0.3
1  0.25  0.3
2  0.25  0.3

In [33]:
for i in iter(df.groupby(by=m, axis=1)):
    print(i)

('AB',       A    B
0  0.25  0.3
1  0.25  0.3
2  0.25  0.3)
('CD',      C    D
0  0.5  0.7
1  0.5  0.7
2  0.5  0.7)

In [41]:
ad = dict(iter(df.groupby(by=m, axis=1)))

In [47]:
pd.DataFrame(data=ad)

ValueError: If using all scalar values, you must pass an index

In [44]:
list(ad.values())[0]

      A    B
0  0.25  0.3
1  0.25  0.3
2  0.25  0.3

In [50]:
df1 = pd.concat(ad, axis=1)

In [51]:
df1.columns

MultiIndex([('AB', 'A'),
            ('AB', 'B'),
            ('CD', 'C'),
            ('CD', 'D')],
           )

In [52]:
df1

     AB        CD
      A    B    C    D
0  0.25  0.3  0.5  0.7
1  0.25  0.3  0.5  0.7
2  0.25  0.3  0.5  0.7

In [53]:
df2 = pd.concat(ad, axis=1)

In [54]:
pd.concat([df1, df2], axis=1)

     AB        CD         AB        CD
      A    B    C    D     A    B    C    D
0  0.25  0.3  0.5  0.7  0.25  0.3  0.5  0.7
1  0.25  0.3  0.5  0.7  0.25  0.3  0.5  0.7
2  0.25  0.3  0.5  0.7  0.25  0.3  0.5  0.7

In [1]:
import datetime

In [2]:
datetime_object = datetime.datetime(2022, 1, 5)

In [3]:
datetime_object

datetime.datetime(2022, 1, 5, 0, 0)

In [4]:
date_time = datetime_object.strftime("%m/%d/%Y, %H:%M:%S")  # datetime to string
print("date and time:",date_time)

date and time: 01/05/2022, 00:00:00