In [2]:
import pandas as pd
import datetime

In [5]:
df = pd.read_csv('stock_market_holidays.csv') # 휴장일 데이터
df.columns = ['date', 'u_date'] # 한국휴장일, 미국휴장일
df['date']= pd.to_datetime(df['date']) # 한국 휴장일만 datetime.date로

In [6]:
df_u = pd.to_datetime(df['u_date'].dropna()) # 미국 휴장일. datetime.date

In [7]:
start_date = datetime.date(2020,1,1)
end_date = datetime.date(2025,12,31) # 마지막 년도 마지막 날짜 기록

datelist = pd.date_range(start_date, end_date, freq='B') # 토, 일을 제외한 주중 일자만 선택
df_1 = pd.DataFrame(datelist, columns=['date']) # df로 구성

In [8]:
k_days = [item for item in list(df_1['date']) if item not in list(df['date'])] # should use list not df. 한국
u_days = [item for item in list(df_1['date']) if item not in list(df_u)] # should use list not df. 미국

In [9]:
df_date_k = pd.DataFrame(k_days, columns=['date']) # 한국 개장일 df로 구성
df_date_u = pd.DataFrame(u_days, columns=['date']) # 미국 개장일 df로 구성

In [10]:
opening_days_kor = pd.to_datetime(df_date_k['date']).dt.date  # convert timestamp to datetime.date
opening_days_usa = pd.to_datetime(df_date_u['date']).dt.date  # convert timestamp to datetime.date

In [11]:
opening_days_kor.to_pickle('opening_days_kor.pkl') # save 개장일 데이터
opening_days_usa.to_pickle('opening_days_usa.pkl') # save 개장일 데이터

## 다음은 테스트로 진행함.

In [12]:
opening_days_kor = pd.read_pickle('opening_days_kor.pkl')

In [32]:
test_date = datetime.date(2024, 8, 4)
if opening_days_kor.isin([test_date]).any():
    print("The date is a stock market opening day in KOREA")
else:
    print("The date is a stock market holyday in KOREA")

The date is a stock market holyday in KOREA

In [29]:
test_date

datetime.date(2024, 8, 4)

In [24]:
opening_days_kor[-350:-300]

1126    2024-07-25
1127    2024-07-26
1128    2024-07-29
1129    2024-07-30
1130    2024-07-31
1131    2024-08-01
1132    2024-08-02
1133    2024-08-05
1134    2024-08-06
1135    2024-08-07
1136    2024-08-08
1137    2024-08-09
1138    2024-08-12
1139    2024-08-13
1140    2024-08-14
1141    2024-08-16
1142    2024-08-19
1143    2024-08-20
1144    2024-08-21
1145    2024-08-22
1146    2024-08-23
1147    2024-08-26
1148    2024-08-27
1149    2024-08-28
1150    2024-08-29
1151    2024-08-30
1152    2024-09-02
1153    2024-09-03
1154    2024-09-04
1155    2024-09-05
1156    2024-09-06
1157    2024-09-09
1158    2024-09-10
1159    2024-09-11
1160    2024-09-12
1161    2024-09-13
1162    2024-09-19
1163    2024-09-20
1164    2024-09-23
1165    2024-09-24
1166    2024-09-25
1167    2024-09-26
1168    2024-09-27
1169    2024-09-30
1170    2024-10-01
1171    2024-10-02
1172    2024-10-04
1173    2024-10-07
1174    2024-10-08
1175    2024-10-10
Name: date, dtype: object

In [28]:
list(df_date_k['date'])[-350:-300]

[Timestamp('2024-07-25 00:00:00'),
 Timestamp('2024-07-26 00:00:00'),
 Timestamp('2024-07-29 00:00:00'),
 Timestamp('2024-07-30 00:00:00'),
 Timestamp('2024-07-31 00:00:00'),
 Timestamp('2024-08-01 00:00:00'),
 Timestamp('2024-08-02 00:00:00'),
 Timestamp('2024-08-05 00:00:00'),
 Timestamp('2024-08-06 00:00:00'),
 Timestamp('2024-08-07 00:00:00'),
 Timestamp('2024-08-08 00:00:00'),
 Timestamp('2024-08-09 00:00:00'),
 Timestamp('2024-08-12 00:00:00'),
 Timestamp('2024-08-13 00:00:00'),
 Timestamp('2024-08-14 00:00:00'),
 Timestamp('2024-08-16 00:00:00'),
 Timestamp('2024-08-19 00:00:00'),
 Timestamp('2024-08-20 00:00:00'),
 Timestamp('2024-08-21 00:00:00'),
 Timestamp('2024-08-22 00:00:00'),
 Timestamp('2024-08-23 00:00:00'),
 Timestamp('2024-08-26 00:00:00'),
 Timestamp('2024-08-27 00:00:00'),
 Timestamp('2024-08-28 00:00:00'),
 Timestamp('2024-08-29 00:00:00'),
 Timestamp('2024-08-30 00:00:00'),
 Timestamp('2024-09-02 00:00:00'),
 Timestamp('2024-09-03 00:00:00'),
 Timestamp('2024-09-04 00:00:00'),
 Timestamp('2024-09-05 00:00:00'),
 Timestamp('2024-09-06 00:00:00'),
 Timestamp('2024-09-09 00:00:00'),
 Timestamp('2024-09-10 00:00:00'),
 Timestamp('2024-09-11 00:00:00'),
 Timestamp('2024-09-12 00:00:00'),
 Timestamp('2024-09-13 00:00:00'),
 Timestamp('2024-09-19 00:00:00'),
 Timestamp('2024-09-20 00:00:00'),
 Timestamp('2024-09-23 00:00:00'),
 Timestamp('2024-09-24 00:00:00'),
 Timestamp('2024-09-25 00:00:00'),
 Timestamp('2024-09-26 00:00:00'),
 Timestamp('2024-09-27 00:00:00'),
 Timestamp('2024-09-30 00:00:00'),
 Timestamp('2024-10-01 00:00:00'),
 Timestamp('2024-10-02 00:00:00'),
 Timestamp('2024-10-04 00:00:00'),
 Timestamp('2024-10-07 00:00:00'),
 Timestamp('2024-10-08 00:00:00'),
 Timestamp('2024-10-10 00:00:00')]